{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block pagetitle %}Chinese tea delivered to your door in the UK{% endblock %}

{% block metadescription %}We sell great quality Chinese tea and deliver it to your home in the UK. Our oolong and green teas are organic, sourced directly from farms in China, and hand-picked. {% endblock %}


{% block extracss %}
<style type="text/css">

div#top {
  height: 180px;
  padding: 10px 0 0px;
  margin: 30px 0 10px;
  float: left;
  width: 860px;
}

div#top h3 {
	margin-bottom: 0;	
}

div#top h3 a {
  font-weight: bold;
  font-size: 67px;
  color: #439249;

}

div#top p {
    font-size: 13px;
    margin: 0;
    width: 300px;
}

div#top div.left span.link, div#top div.right span.link {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

div#top div.left {
  width: 410px;
  float: left;
  text-align: right;
  margin-right: 30px;
  padding-right: 20px;
  border-right: 1px solid #53a172;	
  position: relative;
}

div#top div.left:hover h3 a, div#top div.right:hover h3 a {
  color: #ff8585;	
  cursor: pointer;
}

div#top div.left p a, div#top div.right p a {
  z-index: 4;
  position: relative;	
}

div#top div.left p {
  float: right;	
}

div#top div.right {
  width: 380px;
  float: left;
  text-align: left;	
  position: relative;
}

div#feature {
    height: 360px;
    float: left;
    width: 860px;
    background: url("{% staticfile '/images/feature2.jpg' %}") no-repeat;
    margin: 20px 0;
    position: relative;
    border-bottom: 3px dotted #e1e1e1;
    padding-bottom: 20px;
}

div#feature div.top {
    background-color: #FFFFFF;
    float: right;
    padding-bottom: 10px;
    padding-right: 30px;
    position: relative;
    top: 60px;
    width: 300px;
}

div#feature div.top h1 {
    color: #666666;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

div#feature div.top p {
  text-align: left;
  margin: 0;	
  float: left;
  padding: 0 0 0 0px;
  color: #333;
}

div#feature div.top div.button a {
  width: 214px;
  height: 50px;
  background: url('{% staticfile "/images/find-your-tea.png" %}') no-repeat top left;	
  float: left;
  margin-top: 20px;
  margin-left: -5px;
}

div#feature div.top div.button a:hover {
  background-position: center left;	
  cursor: pointer;
}

div#feature div.top div.button a:active {
  background-position: bottom left;	
  cursor: pointer;
}

div#feature span.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:2;	
}


div#home-extra div.box {
  width: 185px;
  height: 160px;
  float: left;
  background-color: #f1f1f1;	
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 0 1px 2px #c1c1c1;
}

div#home-extra div.box.last {
  margin-right: 0;	
}

div#home-extra div.box h4 {
  font-size: 14px;	
  border-bottom: none;
}



div#customers {
    border-left: 1px solid #E1E1E1;
    float: right;
    margin: 20px 0 0 30px;
    padding-left: 30px;
    width: 350px;
}

div.user-photos div.left {
  float: left;
  width: 370px;
  margin-right: 20px;	
}

div.user-photos div.right {
  float: right;
}

div#customers h3 {
  margin-bottom: 0px;
  padding-bottom: 0px;	
  font-size: 1.2em;
  font-weight: ;
}



img.leaf {
    float: left;
    margin: -2px 5px 0 -8px;
}	

p.name {
  padding-left: 10px;
  color: #BE373A;
  font-size: 14px;	
}

div#learn {
  float: left;
  width: 330px;	
  margin: 20px 0 0 30px;
}

div#learn h3 {
  margin-bottom: 10px;	
}

div#learn img {
  margin-right: 20px;
  float: left;	
}

div#learn p {
  font-size: 14px;	
  margin-bottom: 5px;
  margin-top: 0px;
}

p.testimonial {
  float: left;
  margin: 0px 0 10px 0;
  font-size: 14px;
}

span.red {
  color:#BE373A;	
}

div#customers div.photo {
  float: left; 
  margin-right: 10px;	
  margin-bottom: 10px;
}

div.user-photos p span.small {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 0.8em;
}


div#home-bottom {
  padding: 20px 0 20px 0px;
  float: left;	
}

div#home-bottom div.did-you-know {
  width: 400px;	
  margin-top: 0px;
}

div#home-bottom div.did-you-know h3 {
  width: 260px;
  float: left;
  padding-top: 10px;	
}

div#home-bottom div.did-you-know h3 span {
  padding-left: 0;	
  font-size: 13px;
  line-height: 1.3em;
}

div#home-bottom div.right {
  width: 380px;
  float: right;	
}

div#home-bottom div.left {
  width: 450px;
  float: left;	
  margin-right: 20px;
}

div#home-bottom div.left div.box img {
  float: left;
  width: 280px;	
}

div#home-bottom div.left div.box h4 {
  color: #555;
  margin: 0;
  font-size: 14px;
  float: left;
  margin-top: 10px;
  width: 150px;
  font-weight: bold;
  font-family: "helveticaneue","helvetica neue","helveticaneueroman","helveticaneue-roman","helvetica neue roman","helvetica","arial",'texgyreherosregular',"tahoma","geneva",sans-serif;	
}

div#home-bottom div.left div.box h4 span.small {
 font-weight: normal;
 font-size: 12px;
 position: relative;
 top: 3px;	
}

div#home-bottom div.left div.box {
    float: left;
    margin-right: 0px;
    margin-top: 20px;
}


div#home-bottom a.reviews {
  float: right;
  width: 300px;	
  position: relative;
  top: 5px;
  text-align: right;
}

div#home-bottom h3 {
  color: #333;
}

div#products {
  float: left;
  margin-top: 10px;	
  width: 860px;
  border-top: 3px dotted #e1e1e1;
  padding-top: 30px;
}

div#products div.tea-promo {
  width: 200px;
  margin-right: 15px;
  border-bottom: none;
  border-right: 1px solid #e1e1e1;
  padding: 0 15px 10px 0;
}

div#products div.tea-promo.last {
  margin-right: 0;
  padding-right: 0;
  border-right: none;	
}

div#products div.tea-promo h4 {
  font-size: 18px;	
}

div#products div.tea-promo div.price {
  font-size: 16px;	
}

div#products div.tea-promo div.image {
  width: 180px;	
}

div#products img.tea-promo {
  border-radius: 10px;	
}

div#text {
  float: left;
  width: 600px;	
  margin-top: 40px;
}

div#text h1 {
  color: #439249;
  font-weight: bold;
  font-size: 20px;	
  margin: 0;
  line-height: 1.2em;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
}

div#text p {
  margin: 10px 0 0 0;	
  font-size: 12px;
}

h1 {
   margin-bottom: 30px;	
   font-size: 24px;
}

</style>
{% endblock %}

{% block content %}


<div id="feature">
	<div class="top">
		<h1>Fresh and organic loose leaf teas, direct from China.</h1>
		<p>We only sell teas that are picked at their freshest, and deliver them quickly to your door. Fresh, clean and pure - just the way you expect it.</p>
		<div class="button"><a href="{% url teas %}"></a></div>
	</div>
</div>
		
<div id="home-bottom">
	<div class="right">
		<h3>What our customers say... 
			<span class="small"><a title="Click to see customer testimonials of our Chinese tea" href="{% url reviews %}">(see more)</a></span>
		</h3>

		{% for r in review %}
		<div class="box">
			<p><em>&ldquo;{{ r.short_text }}&rdquo;</em><br/><span class="red">{{ r.first_name }} {{ r.last_name }}</span></p>
		</div>
		{% endfor %}
	</div>
	
	<div class="left">
		<div class="did-you-know">
			<a title="Try samples of our three main teas in a simple taster pack" href="/teas/chinese-tea-sampler-pack/"><span class="link"></span></a>
			<h3><a href="/teas/chinese-tea-sampler-pack/">First time trying Chinese tea? <span class="grey">Try out our taster pack of 3 Chinese teas to find your favourite &raquo;</span></a></h3>
			<img style="float:right; margin-top: 0px;" src="{% staticfile '/images/taster-promo.png' %}">
		</div>
		<div class="box">
			<img src="{% staticfile '/images/brew-promo.png' %}">
			<h4><a title="Short and simple guides to brewing Chinese tea" href="/learn/how-to-brew-chinese-tea/">Learn how to brew the perfect cup</a><br/><span class="small">A simple guide &raquo;</span></h4>
		</div>
	</div>
</div>





{% endblock %}
