{% extends base_template %}
{% load django_static %}

{% block pagetitle %}Admin Home{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready( function() {
    $('.trans form').bind('submit', function() {
       
       var id = $(this).attr('id');
       $('form#'+id).replaceWith('<img id="'+id+'" src="{% staticfile "/images/loading.gif" %}" />');
       
       $.ajax({
           url: $(this).attr('action'),
           data: $(this).serialize(),
           type: 'POST',
           dataType: 'html',
           success: function(data) {
                $('#'+id).replaceWith(data)
           },
       }); 
       return false;
    });
});

</script>
{% endblock %}

{% block extracss %}
<style type="text/css">

.section {
  width:100%;   
  float: left;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

</style>
{% endblock %}


{% block content %}

    <div class="section">

        {% if packages %}
            <h2>Incomplete orders ({{ packages.count }})</h2>
            
            <table id="orders-table">
         		<thead>
         			<tr>
         			<td>Order ID</td>
         			<td>Owner</td>
         			<td>Items</td>
         			<td>Value</td>
         			<td>Status</td>
         			<td>Postage</td>
         			</tr>
         		</thead>
            	{% for x in packages %}
            	   {% with x.order as order %}
            	       {% include 'my_admin/snippets/table_row.html' %}
            	   {% endwith %}
            	{% endfor %}
            </table>
            
      	{% else %}
           	<p><strong>No unfulfilled orders</strong> - well done my minions!</p>
      	{% endif %}

    </div>

{% endblock %}
