{% extends base_template %}
{% load thumbnail %}

{% block pagetitle %}Admin Home{% endblock %}

{% block extracss %}
<style type="text/css">

.section {
  width:100%;   
  float: left;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

</style>
{% endblock %}


{% block content %}

    <div class="section">

        {% if packages %}
            <h2>Unshipped orders ({{ packages.count }})</h2>
            <ul>
            {% for x in packages %}
                <li>{{ x }}</li>
            {% endfor %}
            </ul>
      	{% else %}
           	<p><strong>No unfulfilled orders</strong> - well done my minions!</p>
      	{% endif %}

    </div>

<h3>Email subscribers ({{ subscriber_count }})</h3>

<ul>
{% for s in subscribers %}
	<li>{{ s.email }}</li>
{% endfor %}
</ul>


{% endblock %}
