{% extends base_template %}
{% load thumbnail django_static %}

{% block pagetitle %}Admin Home{% endblock %}

{% block extracss %}
<style type="text/css">

.section {
  width:100%;   
  float: left;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

</style>
{% endblock %}


{% block content %}

    <div class="section">

        {% if orders %}
            <h3>Unshipped orders ({{ orders.count }})</h3>
            {% include 'my_admin/snippets/order_table.html' %}
      	{% else %}
           	<p><strong>No unfulfilled orders</strong> - well done my minions!</p>
      	{% endif %}

    </div>

<h3>Email subscribers ({{ subscriber_count }})</h3>

<ul>
{% for s in subscribers %}
	<li>{{ s.email }}</li>
{% endfor %}
</ul>


{% endblock %}
