
<html>
<head>
<title>Link to CMS Page</title>

<script  language="JavaScript">
<!-- 
function AddLink(txtLink) 
{
    var dialog = window.opener.CKEDITOR.dialog.getCurrent();
        dialog.setValueOf('info','url',txtLink);  // Populates the URL field in the Links dialogue.
        dialog.setValueOf('info','protocol','');  // This sets the Link's Protocol to Other which loads the file from the same folder the link is on
        window.close(); // closes the popup window
} 
-->
</script>

<style type="text/css">
ul {
  float: left;
  width: 200px;
  margin: 0 20px 0 0;   
}
</style>

</head>

<body>

<ul>
   <h3>Pages</h3>
{% for x in pages %}
    <li><a href="JavaScript:AddLink('{{ x.get_url_by_id }}')">{{ x }}</a></li>
{% endfor %}
</ul>

<ul>
   <h3>Products</h3>
{% for x in products %}
    <li><a href="JavaScript:AddLink('{{ x.get_url_by_id }}')">{{ x }}</a></li>
{% endfor %}
</ul>

<ul>  
<h3>Blog Entries</h3>
{% for x in blogs %}
    <li><a href="JavaScript:AddLink('{{ x.get_url_by_id }}')">{{ x }}</a></li>
{% endfor %}
</ul>

<ul>
<h3>Categories</h3>
{% for x in categories %}
    <li><a href="JavaScript:AddLink('{{ x.get_url_by_id }}')">{{ x }}</a></li>
{% endfor %}
</ul>

</body>
</html>

