{% extends base_template %}
{% load django_static %}

{% block extracss %}
  <style type="text/css">
  </style>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready( function() {
    $('.trans form').bind('submit', function() {
       
       var id = $(this).attr('id');
       $('form#'+id).replaceWith('<img id="'+id+'" src="{% staticfile "/images/loading.gif" %}" />');
       
       $.ajax({
           url: $(this).attr('action'),
           data: $(this).serialize(),
           type: 'POST',
           dataType: 'html',
           success: function(data) {
                $('#'+id).replaceWith(data)
           },
       }); 
       return false;
    });
});

</script>
{% endblock %}

{% block pagetitle %}Admin Stuff{% endblock %}

{% block content %}

<h2>Orders ({{ packages.count }})</h2>
         	
         	 <div id="filters">
                <a href="/admin-stuff/orders/?w=4">This Month</a> / 
                <a href="/admin-stuff/orders/?w=12">3 Months</a> / 
                <a href="/admin-stuff/orders/?w=24">6 Months</a> / 
                <a href="/admin-stuff/orders/?w=52">12 Months</a> / 
                <a href="/admin-stuff/orders/?w=1096">Forever</a>
            </div>
         	
            <table id="orders-table">
         		<thead>
         			<tr>
         			<td>Order ID</td>
         			<td>Owner</td>
         			<td>Items</td>
         			<td>Value</td>
         			<td>Status</td>
         			<td>Postage</td>
         			</tr>
         		</thead>
            	{% for x in packages %}
            	   {% with x.order as order %}
            	       {% include 'my_admin/snippets/table_row.html' %}
            	   {% endwith %}
            	{% endfor %}
            </table>
         	
         	
{% endblock %}
