{% extends 'print.html' %}
{% block extracss %}
<style type="text/css">
#printblock {
  width: 600px;
  padding: 10px 10px 10px 10px;
  font-size: 1.5em;
}

* {
	border: none;
}

h1 {
	font-size: 2em;
	font-weight: normal;
	border-bottom: 1px solid #000;
	width: 100%;
	padding-bottom: 0;
}

code {
	font-size: 1em;
}

p {
	margin: 0;
	padding: 0 0 0 10px;
}

.bigger { font-size: 1.3em; }
.right { margin-left: 4em; font-size:1.2em; }

table#items tr td:last-child {
  text-align: right;   
}

#items td {
  padding: 0 10px;   
}

#label {
  width: 800px;
}

table#label tr td.address {
  width: 500px;  
  padding: 50px 0 0 20px; 
}

table#label tr td.title {
  text-align: right;
  font-size: 15px;
  padding: 0 20px 0 0;
}

table#label tr td.title p {
  padding: 0;
  margin: 0; 
  font-size: 0.8em;  
}

table#label tr td.title h3 {
  margin-bottom: 0px;
  text-align: right;
}

#weburl {
  font-size: 11px;   
}

</style>
{% endblock %}

{% block main %}

<div id="printblock">
    <br/>
    <table id="label">
		<tr>
		  <td valign="top" class="address">
		      {% with package.order.address as address %}
		          {{ package.order.owner.first_name|capfirst }} {{ package.order.owner.last_name|capfirst }}<br/>
		          {% include 'shop/snippets/address.html' %}
		      {% endwith %}
		      
		      <br/><br/>
		      <img src="static/images/logo-new2.gif" height="80" width="156" />
		      <span id="weburl">Exceptional Chinese teas from www.minrivertea.com</span>
		  </td>
		  <td valign="top" class="title">
		      <p style="float: right;"></p>
		      <h3>Receipt - {{ package.order.invoice_id }}</h3>
		      <p>Thanks for your order! If you have any questions, problems or suggestions, please get in touch with us - email chris@minrivertea.com</p>
		  </td>
		</tr>
	</table>
	<br/>
	<br/><br/><br/>
    <h1>Your details</h1>
	<table>
		<tr>
			<td>
				<p><strong>Order shipped:</strong> {% now "jS F Y H:i" %}</p>
				<p><strong>Order ID:</strong> {{ package.order.invoice_id }}</p>
				<p>
				    <strong>Name/Email:</strong> 
				    {{ package.order.owner.first_name|capfirst }} {{ package.order.owner.last_name|capfirst }} ({{ package.order.owner.email }})</p>
			</td>
			<td>
                
            
            <!-- VERY IMPORTANT TO PUT WIDHT AND HEIGHT FOR pisa NOT TO BARF ON THE CSS ABOVE FOR THE IMAGE -->
				<p style="float: right;"><img src="barcode-{{ barcode_number }}.png" alt="{{ barcode_number }}" width="103" height="65"/></p>
			</td>
		</tr>
	</table>
	
	
    <h1>Your items</h1>
	<table id="items">
	   {% for x in package.get_items %}
		<tr>
		  <td>
	          {{ x.unique_product }}		      
		  </td>
		  <td>
		      {{ x.sale_price|floatformat:"2" }} {{ x.sale_currency.code }}
		  </td>
		</tr>
		{% endfor %}
		
		{% if package.discount_amount %}
		<tr>
		  <td>Discount</td>
		  <td>{{ package.discount_amount|floatformat:"2" }} {{ package.get_final_currency.code }}</td>
		</tr>
		{% endif %}
		
		
		<tr>
		  <td>Postage</td>
		  <td>
		      {{ package.postage_paid|floatformat:"2" }} {{ package.get_final_currency.code }}
	      </td>
		</tr>
		
		<tr>
		  <td><strong>Total</strong></td>
		  <td><strong>{{ package.get_final_value|floatformat:"2" }} {{ package.get_final_currency.code }}</strong></td>
		</tr>
	</table>

</div>
{% endblock %}
