{% extends base_template %}

{% block extracss %}
  <style type="text/css">
  </style>
{% endblock %}

{% block pagetitle %}Admin Stuff{% endblock %}

{% block content %}

<div id="mtw">
  <div class="sp">
  	<h1>{{ product.name }}</h1>

    <table>
        <tr>
            <td><strong>Sold total</strong></td>
            <td>{{ sold_items.count }} {% if total_weight > 0 %}({{ total_weight }}g){% endif %}</td>
        </tr>
        
        <tr>
            <td><strong>Sold this year</strong></td>
            <td>{{ sold_this_year.count }}</td>
        </tr>

        <tr>
            <td><strong>In stock</strong></td>
            <td>{{ in_stock.count }}</td>
        </tr>
    </table>


  </div>
</div>
{% endblock %}
