{% extends base_template %}
{% load thumbnail %}

{% block extracss %}
  <style type="text/css">
  </style>
{% endblock %}

{% block pagetitle %}Admin Stuff{% endblock %}

{% block content %}



            <h3>Stocks</h3>
<ul id="stocks">
{% for i in stocks %}
	<li class="{% if i.available_stock < 3 %}red{% endif %}">
	   {% thumbnail i.parent_product.image "120x120" crop="center" as im %}
	   <img src="{{ im.url }}"/>
	   {% endthumbnail %}
	   <p><strong>{{ i.available_stock }}</strong> x <a href="{% url admin_product i.parent_product.id %}">{{ i }}</a></p>
	</li>
{% endfor %}
</ul>

<p>{{ total_weight_sold }}g of tea sold so far</p>

{% endblock %}
