{% extends base_template %}

{% block extracss %}
  <style type="text/css">
  p.filter {font-size: 13px;}
  </style>
{% endblock %}

{% block pagetitle %}Admin Stuff{% endblock %}

{% block content %}


<h3>Stocks ({{ stocks.count }} items listed)</h3>

<p class="filter"><strong>FILTER BY:</strong> 
Location
Status
Product
Sold / Giveaway / Destroyed / Lost

<br/>
<a href="{% url stocks %}">Clear All</a></p>

<table id="stocks">
    <thead>
        <td>Product</td>
        <td>Weight</td>
        <td>Price</td>
        <td>Batch</td>
        <td>Created</td>
        <td>ID</td>
    </thead>
{% for i in stocks %}
    <tr>
	   <td><a href="?product={{ i.unique_product.parent_product.name }}">{{ i.unique_product.parent_product.name }}</a></td>
	   <td><a href="?weight={{ i.unique_product.weight }}">{{ i.unique_product.weight }}{{ i.unique_product.weight_unit }}</a></td>
	   <td>{{ i.unique_product.currency.symbol }}{{ i.unique_product.price }}</td>
	   <td>{{ i.batch }}</td>
       <td>{{ i.created|date:"d M Y" }}</td>
	   <td>{{ i.hashkey }}</td>
	</tr>
{% endfor %}
</table>

{% endblock %}
