{% load django_static %}


<div id="footer">
	<div class="image-top"></div>
		<ul class="footer-links">
	          <li><a title="Terms and Conditions" href="/terms-and-conditions/"><span class="fontface">Terms and Conditions</span></a>  /</li>
	          <li><a title="Read about the Min River Tea Farm" href="/about/"><span class="fontface">About Us</span></a>  /</li>
	          <li><a title="Read our Privacy Policy" href="/privacy/"><span class="fontface">Privacy Policy</span></a>  /</li>
	          <li>contact us: <a title="Send an email to the Min River Tea Farm" href="mailto:mail@minrivertea.com">mail@minrivertea.com</a></li>
	   </ul>
		
		<div class="payments">	
		<img title="We accept payment via Paypal, meaning you can pay with all major credit or debit cards, or using your Paypal account" alt="paypal payment methods logo" src="{% staticfile '/images/paypal-horz.gif' %}"/>
			<p>We accept payment via Paypal, meaning you can pay with all major credit or debit cards or using your Paypal account.</p>
		</div>
		
				 <div class="footer-box">
		    <h4>Returns policy</h4>
			<p>If you're not totally satisfied with your tea, you can return it to us at no charge and we'll refund the cost, no questions asked.</p>
		</div>
		
		 <div class="footer-box">
		    <h4>Useful info about teas!</h4>
			<ul>
				<li><a title="Read our short guide to brewing the best tasting tea" href="/brew/">How to brew great tasting tea</a></li>
				<li><a title="Loose-leaf tea isn't confusing - read our simple guide to tea weights and sizes" href="/weights-and-sizes/">Weights and sizes - a simple guide</a></li>
			</ul>
		</div>
		
    </div>