Django==1.11.28
django_static
Pillow
sorl-thumbnail
south
django-simple-captcha
django-rosetta
mysql-python
django-registration
pisa
reportlab
html5lib
premailer
dkimpy
dnspython
django-compressor
django-mathfilters
django-mobile
django-taggit
stripe
mailchimp