{% extends base_template %}
{% load django_static i18n %}

{% block extracss %}
<style type="text/css">

h1 {
  margin: 0 0 20px 0;   
}

#mtw div#left form p {
  margin: 0px 0 10px 0;	
}

form input {
  width: 430px;	
}

form textarea {
  float: left;	
  width: 430px;
}

form input.button {
  margin-left: 150px;
  float: left; 
    font-size: 16px;	
  margin-top: 15px;
  width: 300px;	
}


div#mtw div#left p.help-text {
  float: left;
  margin-left: 0px;
  font-size: 15px;
  width: 100%;
}

div#mtw div#left p.help-text.red {
  color: red;   
}

div.message {
    background-color: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 10px 10px 10px 10px;
    margin: 0 0 10px;
    padding: 20px 25px;
}

div#mtw div#left div.message h3 {
  margin: 0 0 10px 0;	
  color: #237A2A;
}

div#mtw div#left div.message p {
  margin: 0;	
}

div.top {
  float: left;
  width: 100%;
  margin-bottom: 30px;	
}

.white {
  background-color: #fff;
  padding: 20px 25px;
  float: left;	
  width: 650px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #e1e1e1;
  position: relative;
}

.white p {
  font-size: 16px;	
  margin: 0 0 10px 0;
}

.white p.nihao {
  font-size: 30px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;	
}

.white ul {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  margin: 0;	
  padding: 0;
}

/* this is the background of the arrow */
.white:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-bottom: 20px solid transparent;         
        border-left: 0;
        border-top: 20px solid transparent;
        border-right: 20px solid #d1d1d1;
        position: absolute;
        top: 20px;
        left: -21px;
        z-index: 1;
        margin-left: ;
}

/* this is the foreground of the arrow */
.white:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-right: 20px solid #fff;     
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 0;
        position: absolute;
        top: 20px;
        left: -19px;
        z-index: 2;
        margin-left: -1px;
}

#form form {
  width: 470px;	
  float: left;
}

#form {
  position: relative;
  float: left;
  width: 100%;	
}

img#loading-contact {
  display: none;
  position: absolute;
  left: 295px;
  top: 50px;	
}

</style>
{% endblock %}

{% block metadescription %}{% trans 'Contact the Min River Tea Farm - how you can get in touch with us.' %}{% endblock %}

{% block pagetitle%}{% trans 'Contact us' %}{% endblock %}



{% block content %}

{% include 'shop/snippets/page_sub_nav.html' %}

<div id="mtw">
  <div class="sp">	
        <h1>{% trans 'Contact us' %}</h1>			
		<div class="top">
		
			<img src="{% staticfile '/images/chris.jpg' %}" style="float:left;margin-right: 30px;">
		
			<div class="white">
				<p class="nihao"><strong>Nǐ hǎo {% blocktrans %}(that's <em>hello</em> in China!){% endblocktrans %}</strong></p>
				<p>{% trans "I'm Chris, the owner of the Min River Tea Farm. If you have questions about tea or about us, I will do everything I can to help you out. The best way to get in touch is to drop me an email - you'll always get a quick response." %}</p>
			
				<ul>
					<li><strong>{% trans 'Email' %}:</strong> <a href="mailto:chris@minrivertea.com">chris@minrivertea.com</a> </li>
				</ul>
				
	 		</div>
	 	</div>

        <div id="right">
            {% include 'shop/boxes/follow.html' %}
		 	<div class="info"> 		
			 	<h3>{% trans 'Returns' %}</h3>
			 	<p>{% trans "If you're unhappy with any aspect of your tea, we'll be happy to offer a full refund, no questions asked." %}</p>
			</div>
			<div class="info">
				<h3>{% trans "Personal shopping" %}</h3>
				<p>{% trans "We're based here in China, so if you have specific tea needs that can't be fulfilled anywhere else, just get in touch." %}</p>
			</div>
			<div class="info">		 	
			 	<h3>{% trans "Wholesale/trade" %}</h3>
			 	<p>{% trans "Regardless of your price and quality requirements, we're uniquely placed in some of the best tea areas in China - get in touch." %}</p>
			</div>        
        </div>
		
		<div id="left">
			<div id="form">	
				{% if message %}
					{% include 'shop/forms/contact_form_message_snippet.html' %}
				{% else %}
	
				<img id="loading-contact" src="{% staticfile '/images/loading.gif' %}"/>
				<form action="{% url contact_form_submit %}" method="post" id="contact-form">
					<h2>{% trans "Send us a message" %}</h2>
					<p>{% trans "Use our online contact form to send us a message. We respond to all messages within 12 hours." %}</p>			
					
					<input type="text" name="your_name" id="id_your_name" class="clearMeFocus{% if form.your_name.errors %} error{% endif %}" title="{% trans 'Your name' %}" value=""/>
					<input type="text" name="your_email" id="id_your_email" class="clearMeFocus{% if form.your_email.errors %} error{% endif %}" title="{% trans 'Your email address' %}" value=""/>
					<textarea id="id_your_message" name="your_message" title="{% trans 'Write your message here...' %}" class="clearMeFocus{% if form.your_message.errors %} error{% endif %}" cols="40" rows="10"></textarea>
					<p class="help-text {% if form.captcha.errors %} red{% endif %}">{% trans "Sorry, please fill in the captcha - it stops spam." %}</p>
					{{ form.captcha }}
					<input class="button" value="{% trans 'Submit' %}" type="submit"/>
					<p class="help-text">
						<img src="{% staticfile '/images/lock.gif' %}"> 
						{% trans "We will never share, sell or spam your email address" %} (<a target="_blank" title="{% trans 'Read our privacy policy (opens in a new window)' %}" href="/privacy/">{% trans 'Privacy' %}</a>)
					</p>			
				</form>
				{% endif %}
			</div>
	</div>
  </div>
</div>



		

    {% endblock %}
