{% extends "base.html" %}
{% load django_static %}

{% block extrajs %}
<script type="text/javascript">

	$('form#contact-form').submit(function() {
		$(this).css('opacity', '0.5');
		$('img#loading').toggle();
		$.ajax({  
    	    type: "POST",  
    	    data: $(this).serialize(), 
    	    url: "{% url contact_us 'xhr' %}",  
    	    cache: false,  
   		    dataType: "html",  
    	    success: function(data, textStatus) {
    	    	$('img#loading').toggle();
    	    	$('form#contact-form').replaceWith(data);
    	    },  
    	    error: function (XMLHttpRequest, textStatus, errorThrown) {  
    	       thisObject.replaceWith('Your comment could not be posted.');  
    	    }  
    	}); 
	return false;
	});



</script>
{% endblock %}


{% block extracss %}
<style type="text/css">

div#main-text-wide div#left {
  width: 100%;	
}


div#main-text-wide div#right {
  float: left;
  padding-right: 30px;
  padding-left: 0px;	
}

div.right-box label {
  margin-bottom: 5px;	
}

div.row {
  margin-top: 0px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  width: 600px;
  padding: 20px;
  border-top: 3px dotted #e1e1e1;	
}

div.row-box {
  margin-left: 0;	
}

div#main-text-wide div#left div.row-box p {
  margin: 0;
  float: left;
  	
}

form label {
  text-align: left;
  font-size: 14px;
  width: 120px;
  position: relative;
  top: 4px;	
}

#main-text-wide div#left form p {
  margin: 10px 0 0px 0;	
}

form input {
  width: 430px;	
}

form textarea {
  float: left;	
  width: 430px;
}

form input.button {
  margin-right: 100px;
  float: right; 
    font-size: 16px;	
  margin-top: 15px;
  width: 300px;	
}


div#main-text-wide div#left p.help-text {
    float: right;
    font-size: 0.7em;
    margin-right: 100px;
}

div.message {
    background-color: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 10px 10px 10px 10px;
    margin: 0 0 10px;
    padding: 20px 25px;
}

div#main-text-wide div#left div.message h3 {
  margin: 0 0 10px 0;	
  color: #237A2A;
}

div#main-text-wide div#left div.message p {
  margin: 0;	
}

div.top {
  float: left;
  width: 100%;
  margin-bottom: 30px;	
}

.white {
  background-color: #fff;
  padding: 20px 25px;
  float: left;	
  width: 650px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #e1e1e1;
  position: relative;
}

.white p {
  font-size: 16px;	
  margin: 0 0 10px 0;
}

.white p.nihao {
  font-size: 20px;	
}

.white ul {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  margin: 0;	
  padding: 0;
}

/* this is the background of the arrow */
.white:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-bottom: 20px solid transparent;         
        border-left: 0;
        border-top: 20px solid transparent;
        border-right: 20px solid #d1d1d1;
        position: absolute;
        top: 20px;
        left: -21px;
        z-index: 1;
        margin-left: ;
}

/* this is the foreground of the arrow */
.white:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-right: 20px solid #fff;     
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 0;
        position: absolute;
        top: 20px;
        left: -19px;
        z-index: 2;
        margin-left: -1px;
}

ul.follow {
  float: left;
  list-style-type: none;
  margin: 10px 0 0 20px;
  padding: 0;	
}

ul.follow li {
  display: inline;	
  margin-right: 5px;
  font-size: 12px;
}

ul.follow li img {
  position: relative;
  top: 10px;	
}

div.box {
  float: left;
  width: 270px;
  margin-right: 50px;	
}

div#main-text-wide div#left div.box h3 {
  color: #f37679;	
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

form {
  width: 600px;	
}

#form {
  position: relative;	
}

img#loading {
  display: none;
  position: absolute;
  left: 295px;
  top: 50px;	
}

</style>
{% endblock %}

{% block metadescription %}Contact the Min River Tea Farm - how you can get in touch with us.{% endblock %}

{% block pagetitle%}Contact us{% endblock %}



{% block content %}
  
<div id="banner">
  <div class="super">
  	
  </div>
</div>  

<div id="main-text-wide">
  <div class="super">				
		<div class="top">
		
			<img src="{% staticfile '/images/christopher.jpg' %}" style="float:left;margin-right: 30px;">
		
			<div class="white">
				<p class="nihao"><strong>Nǐ hǎo (that's <em>hello</em> in China!)</strong></p>
				<p>I'm Chris, the owner of the Min River Tea Farm. If you have questions about tea or about us, I will do everything I can to help you out. The best way to get in touch is to drop me an email - you'll always get a quick response.</p>
			
				<ul>
					<li><strong>Email:</strong> <a href="mailto:chris@minrivertea.com">chris@minrivertea.com</a> </li>
				</ul>
				
	 		</div>
	 		<ul class="follow">
	 		<li><a href="http://www.facebook.com/minrivertea/"><img src="{% staticfile '/images/facebook.png' %}"/></a></li>
			<li><a href="https://twitter.com/minrivertea"><img src="{% staticfile '/images/twitter.png' %}"/></a></li>
			<li><a href="http://www.flickr.com/photos/62180582@N04/"><img src="{% staticfile '/images/flickr.png' %}"/></a></li>
			<li><strong>&laquo; we're on Facebook, Twitter and Flickr too!</strong></li>
			</ul>
	 	</div>
	

		
	<div id="left">
	 	<div class="box"> 		
		 	<h3>Returns</h3>
		 	<p>If you're unhappy with any aspect of your tea, we'll be happy to offer a full refund, no questions asked.</p>
		</div>
		<div class="box">
			<h3>Personal shopping</h3>
			<p>We're based here in China, so if you have specific tea needs that can't be fulfilled anywhere else, just get in touch.</p>
		</div>
		<div class="box">		 	
		 	<h3>Wholesale/trade</h3>
		 	<p>Regardless of your price and quality requirements, we're uniquely placed in some of the best tea areas in China - get in touch.</p>
		</div>
		
		<br clear="all"/>
		
		<div id="form">	
		{% if message %}
			{% include 'shop/forms/contact_form_message_snippet.html' %}
		{% else %}
			
			<img id="loading" src="{% staticfile '/images/loading.gif' %}">
			<form action="{% url contact_us %}" method="post" id="contact-form">
			<h3>Send us a message</h3>
			<p>Use our online contact form to send us a message. We respond to all messages within 12 hours.</p>
				{{ form.as_p }}
				<input class="button" value="Submit" type="submit">
				<p class="help-text">
				<img src="{% staticfile '/images/lock.gif' %}"> 
				We will never share, sell or spam your email address (<a target="_blank" title="Read our privacy policy (opens in a new window)" href="/privacy/">Privacy</a>)
				</p>	
					
			</form>
		{% endif %}
		</div>
	</div>
  </div>
</div>



		

    {% endblock %}
