{% extends "base.html" %}
{% load django_static %}

{% block extracss %}
<style type="text/css">

div.left-box {
  width: 250px;
  float: left;
  margin-right: 30px;	
}

div.right-box {
    background-image: url("/static/images/gray-stripe.png");
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    margin-top: 0px;
    padding: 20px 30px;
    width: 440px;
    float: left;
}

div.right-box h3 {
  font-size: 2em;
  text-shadow: 1px 1px #FFFFFF;	
}

div.right-box input {
    border-color: #D1D1D1 #E1E1E1 #E1E1E1 #D1D1D1;
    border-radius: 7px 7px 7px 7px;
    border-style: solid;
    border-width: 1px 0 0 1px;
    color: #666666;
    float: left;
    font: 95% arial,helvetica,clean,sans-serif;
    height: 20px;
    margin: 0 0 20px 0px;
    padding: 10px 15px;
    width: 400px;
}

div.right-box textarea {
    border-color: #D1D1D1 #E1E1E1 #E1E1E1 #D1D1D1;
    border-radius: 7px 7px 7px 7px;
    border-style: solid;
    border-width: 1px 0 0 1px;
    color: #666666;
    float: left;
    font: 95% arial,helvetica,clean,sans-serif;
    margin: 0 0 20px 0px;
    padding: 10px 15px;
    width: 400px;
}

div.right-box label {
  margin-bottom: 5px;	
}

div.right-box input.submit-button {
    background: url("/static/images/submit.png") no-repeat scroll left top transparent;
    border: medium none;
    float: right;
    height: 55px;
    margin: 0 0 0 0;
    padding: 0;
    width: 236px;
}

div.right-box input.submit-button:hover {
    background: url("/static/images/submit.png") no-repeat scroll left bottom transparent;
}

div.right-box p.help-text {
    float: right;
    font-size: 0.7em;
    padding-right: 10px;
    position: relative;
    top: -15px;
}

</style>
{% endblock %}

{% block metadescription %}Contact the Min River Tea Farm - how you can get in touch with us.{% endblock %}

{% block banner %}
	    	<div id="home-banner">
	    	<h2 class="logo-assist">Contact Us</h2>
	    	<p class="normal">How you can get in touch with us.</p>
			</div>
{% endblock %}

{% block pagetitle%}Contact us{% endblock %}



{% block content %}
    
<div id="featured-small"></div>

	<div id="main-text-wide">

		<p class="introduction">If you want to get in touch, please do! We're happy to answer any questions you have about our tea, delivery, prices or this website.</p>
		
		<div class="left-box">
			<h3>Email us</h3>
		 	<p>You can email us directly using <a href="mailto:mail@minrivertea.com">mail@minrivertea.com</a> or use the contact form on this page. We aim to respond to all enquiries within 12 hours, but normally quicker.</p>
		 	<h3>Follow us</h3>
		 	<p>If you just want to keep in touch with what's going on, or chat generally about tea, why not follow us on Twitter: <a href="http://twitter.com/minrivertea">@minrivertea</a></p>
		 	<h3>Returns</h3>
		 	<p>If you're unhappy with any aspect of your tea, we'll be happy to offer a full refund, no questions asked.</p>
		</div>
		
		<div class="right-box">
			{% if message %}
				<h3>Thanks!</h3>
				<p>Your message has been sent to the Min River Tea Farm. We'll be in touch as soon as possible (normally within 12 hours).</p>
			{% else %}
				<h3>Send us a message</h3>
				<form action="." method="post">
				<label for="id_your_name">Your name:</label> 
				<input type="text" name="your_name" id="id_your_name" />
				<label for="id_your_email">Your email:</label> 
				<input type="text" name="your_email" id="id_your_email" />
				<p class="help-text">
					<img src="{% staticfile '/images/lock.gif' %}"> We will never share, sell or spam your email address (<a target="_blank" title="Read our privacy policy (opens in a new window)" href="/privacy/">Privacy</a>)
				</p>
				<label for="id_your_message">Your message:</label> 
				<textarea id="id_your_message" rows="10" cols="40" name="your_message"></textarea>
				<input class="submit-button" value="" type="submit">
				</form>
			{% endif %}
		</div>
	</div>
</div>
		
		<br clear="all"/>


		

    {% endblock %}
