{% extends base_template %}
{% load thumbnail i18n convert_weights %}

{% block pagetitle %}{% trans 'Order (Step 3 of 4) - Confirm Order' %}{% endblock %}

{% block extrajs %}
<script type="text/javascript">

$("#wishlist-link").click(function() {	
	$.getJSON("/order/make_wishlist/", {xhr: "true", order: {{ order.id }}},
  		function(data) {
	  		$(data).appendTo('#wishlist-full');
	  		$('#wishlist-link').unbind('click');
	  		$('a#wishlist-link').fancybox();
	  		$('#loading-wishlist').toggle();
  		});    	
	});


$(document).ready( function() {
	$('a#wishlist-link').fancybox();
});

</script>

<script type="application/javascript" src="{{ static_url }}js/lightbox/jquery.fancybox-1.3.4.pack.js"></script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ static_url }}css/fancybox/jquery.fancybox-1.3.4.css" />
<style type="text/css">

#items {
  float: left;
  width: auto;
  border-right: 1px solid #e1e1e1;
  padding-right: 50px;
  margin-right: 40px;	
}

#items h2, #address h2 {
  margin-bottom: 20px;	
}

table {
  font-size: 15px;
}

table td {
  padding: 0 0 0 15px;	
}

#address {
  float: left;	
  line-height: 1.6em;
}

#address p.address {
  padding-left: 15px;	
}

#checkout-button {
  margin: 30px 0 0;	
}

p.checkout {
    float: right;
    font-size: 14px;
    margin: 0 0 10px 0;
    text-align: right;
    width: 100%;
}

#ppicon {
  float:right;   
}

#wishlist {
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin: 5px 30px;
    text-align: right;
    width: 300px;
}

#wishlist img {
  position: relative;
  top: 9px;	
  right: -4px;
}

#mtw #wishlist-full {
  display: none;
  float: left;
  width: 500px;
  height: auto;
  position: relative;	
}

#loading-wishlist {
  position: absolute;
  left: 300px;	
  top: 200px;
}

#wishlist-full p.url {
  background-color: #f1f1f1;
  padding: 10px 15px;	
}

#wishlist-full strong {
  color: #333;	
}

table {
  background: none;   
}

table tr td:first-child {
  background: none;
  width: 300px;   
}

table td {
  border: none;   
}

p.skip {
  float: right;
  width: 100%;
  text-align: right;   
}

</style>

{% endblock %}

{% block currency %}
	{% include 'shop/snippets/currency.html' %}
{% endblock %}

{% block content %}

<div id="mtw">
  <div class="sp">
  
	   <h1>{% trans "Confirm your order" %}</h1>
	   
       <ul id="steps">
    		<li>
    			<a class="completed" href="{% url basket %}">1. {% trans 'Your basket' %} &#10003;</a>
    		</li>
    		<li>
    			<a class="completed" href="{% url order_step_one %}">2. {% trans 'Your details' %} &raquo;</a>
    		</li>
    		<li>
    			<a class="selected" href="">3. {% trans 'Confirm and pay ' %} &raquo;</a>
    		</li>
    		<li>
    			<a href="">4. {% trans 'Get your tea!' %}</a>
    		</li>
    	</ul>
   
	<div class="hr"></div>  
	<div id="basket">
				
	<div id="items">
		<h2>You're ordering...</h2>		
		<table>
			{% for thing in regular_items %}
				  <tr>				
			    	<td valign="top">
			    		{{ thing.item.parent_product.name }} 
			    		{% if thing.item.weight %}({% convert_weights request thing.item.weight %}{{ weight_unit }}){% endif %}
			    		x {{ thing.quantity }}
			    	</td>
			    	<td valign="top">{{ currency.symbol }}{{ thing.get_price|floatformat:"2" }}</td>		    				
				  </tr>
	        {% endfor %}
	        
	        {% if monthly_items %}
	        <tr>
	           <td valign="top">
	               <strong>Monthly Box</strong><br/>
	                    {% for thing in monthly_items %}
			    		&nbsp;&nbsp;{{ thing.item.parent_product.name }} 
			    		{% if thing.item.weight %}({% convert_weights request thing.item.weight %}{{ weight_unit }}){% endif %}
			    		x {{ thing.quantity }}<br/>
			    		{% endfor %}
			    	</td>
			    	<td valign="top">
			    	     &nbsp;<br/>
			    	     {% for thing in monthly_items %}
			    	     {{ currency.symbol }}{{ thing.get_price|floatformat:"2" }}	<br/>
			    	     {% endfor %}	    				
			    	 </td>
				  </tr>
	        {% endif %}
	        
	        
	    	{% if postage_discount %}
	    	  <tr>
	    	    <td colspan="2"><span class="small"><em>{% blocktrans with currency.symbol as symbol and currency.postage_discount_threshold as ptd %}There is no postage charge, because your order is over {{ symbol }}{{ ptd }}{% endblocktrans %}</em></span></td>
	    	  </tr>
	    	  {% else %}
	    	  <tr>
	    	  	<td>{% trans 'Postage' %}</td>
	    	  	<td>{{ currency.symbol }}{{ currency.postage_cost|floatformat:"2" }}</td>		  
	    	  </tr>
	        {% endif %}
	        {% if order.discount %}
	      	  <tr>
	      	  	<td>{% trans 'Discount' %}</td>
	      	  	<td>-{{ currency.symbol }}{{ discount|floatformat:"2" }}</td>
	      	  </tr>
	      	{% endif %}
			  <tr>
			  	<td><strong>{% trans 'TOTAL' %}</strong></td>
			  	<td><strong>{{ currency.symbol }}{{ total_price|floatformat:"2" }}</strong></td>		  
			  </tr>
		   </table>
	</div>

	<div id="address">

	   <h2>{% trans "…and we'll send your order to:" %}</h2>
		<p class="address">
  	   {% with order.address as address %}
  	      {% include "shop/snippets/address.html" %}
  	   {% endwith %}
  	   </p>
  	</div>

    {% include "shop/snippets/paypal_form.html" %}
</div>


<div id="wishlist">
	<a id="wishlist-link" href="#wishlist-full">{% trans 'Turn this basket into a wishlist!' %} <img src="{{ static_url }}images/gift_small.png"></a>
	<div id="wishlist-full" style="width: 650px; height: 400px; padding: 30px;">
		<img id="loading-wishlist" src="{{ static_url }}images/loading.gif"/>
	</div>
</div>
	
<div id="left">
	<h2>{% trans 'Problems or questions?' %}</h2>
    <p>{% blocktrans %}We aim to offer first class customer service - if you have ANY problems or questions, contact Chris West, the owner, directly on email at <a href="mailto:chris@minrivertea.com">chris@minrivertea.com</a> - I'll respond normally within a few hours to every email.{% endblocktrans %}</p>

</div>

</div>

	
	
	
  </div>
</div>
{% endblock %}
