{% extends base_template %}
{% load i18n %}

{% block pagetitle %}{% trans 'Checkout - enter your details' %}{% endblock %}

{% block extracss %}
<style type="text/css">

#tools {
  display: none;   
}

#basket {
  margin-top: 30px;   
}

h1 {
  position: relative;
  top: 15px;
}

fieldset {
 border: none;
 width: 500px;
 margin: 10px auto 0px; 
}

fieldset p {
  margin: 0; 
  position: relative;
  display: block;
  float: left;  
  width: 100%;
}

fieldset p:last-child input {
  margin-bottom: 0;   
}


span.mandatory {
  position: absolute;
  left: -25px;
  top: 15px;
  font-size: 30px;
  color: #FF6569;   
}




#checkout {
  float: right;
  margin: 20px 0 0;
  right: 0;   
  width: 200px;
  
}


#checkout input {
  width: 200px;
  float: right;
  margin: 0;   
}


p.help-text {
    float: left;
    font-size: 0.7em;
    padding-left: 130px;
    position: relative;
    top: -8px;
    width: 300px;
}

p.help-text img {
  position: relative;
  top: 3px;	
}


label {
  display: none;	
}

label.red {
  color: red;	
}

p.red {
  color: red;
  margin-top: 0;	
}

p.name input {
  width: 220px;
}

p.name input[id="id_first_name"] {
  margin-right: 20px;   
}

p.newsletter input[type="checkbox"] {
  float: left;
  width: 30px;
  top: 3px;
  position: relative;  
}

p.newsletter label {
    color: #777777;
    display: block;
    font-size: 13px;
    font-weight: normal;
    width: auto;
}


span.red {
  color: #d11010;	
}

input[type="email"] {
  box-shadow: none;   
}

.styled-select select {
   background: #fff;
   width: 340px;
   padding: 9px 10px 9px 15px;
   font-size: 13px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 36px;
   font-family: 'Roboto', Helvetica, Arial, sans-serif;
   color: #777;
}

.styled-select select:hover {
  cursor: pointer;   
}


.styled-select {
   width: 280px;
   height: 36px;
   overflow: hidden;
   background: url('{{ static_url }}images/select-down-arrow.png') no-repeat 250px #fff;
   border: 1px solid #ccc;
   border-radius: 5px;
   margin: 0 0 20px 0;
}

.styled-select:hover {
  border-color: #6ACC75; 
  cursor: pointer;  
}

</style>

{% endblock %}

{% block content %}


<div id="mtw">
  <div class="sp">
	
	   <h1>{% trans 'Enter your details' %}</h1>
	   
	   <div id="steps">
            <ul>
                <li class="completed">
                    <div class="icon"><a href="{% url basket %}"><span class="link"></span></a>&#10003;</div>
                    <div class="text">
                        <strong>{% trans 'Your basket' %} </strong>
                    </div>
                </li>
                <li class="current">
                    <div class="icon"><a href="{% url order_step_one %}"><span class="link"></span></a>2</div>
                    <div class="text">
                        <strong>{% trans 'Shipping details' %}</strong>
                    </div>
                </li>
                <li class="">
                    <div class="icon">3</div>
                    <div class="text">
                        <strong>{% trans 'Payment' %}</strong>
                    </div>
                </li>
            </ul>
            <div id="line"></div>                
        </div>
		    
   <div id="basket">

      <form method="post" action="."> 	  

		{% if shopper %}
	  		<h3>{% trans 'Are these your details? Please check carefully!' %}</h3>
			{{ shopper.first_name }} {{ shopper.last_name }} ({{ shopper.email }}) - <a href="{% url not_you %}">{% trans 'not you?' %}</a>
		
			{% for address in shopper.get_addresses %}
				{% if forloop.first %}
					<br/>
					{% include "shop/snippets/address.html" %}
 				{% else %}
 					<div class="address other">
 					{% include "shop/snippets/address.html" %}
 					</div>
 				{% endif %}
			{% endfor %}
				<div style="display:none;">
					<input type="text" name="first_name" id="id_first_name" value="{{ order.owner.first_name }}"/>
	    			<input type="text" name="last_name" id="id_last_name" value="{{ order.owner.last_name }}"/>
	    			<input type="text" name="email" id="id_email" value="{{ order.owner.email }}"/>
	    			<input type="text" name="house_name_number" id="id_house_name_number" value="{{ order.address.house_name_number }}"/>
	    			<input type="text" name="address_line_1" id="id_address_line_1" value="{{ order.address.address_line_1 }}"/>
	    			<input type="text" name="address_line_2" id="id_address_line_2" value="{{ order.address.address_line_2 }}"/>
	    			<input type="text" name="town_city" id="id_town_city" value="{{ order.address.town_city }}"/>
	    			<input type="text" name="postcode" id="id_postcode" value="{{ order.address.postcode }}"/>
	    			<input type="text" name="country" id="id_country" value="{{ order.address.country }}"/>
	 			</div>
	 			
		{% else %}

    		{% if form.first_name.errors or form.last_name.errors or form.email.errors %}
    		<ul class="errorlist"><li>* {% trans 'Please enter all the information in the mandatory fields (highlighted red) below' %}:</li></ul>
    		{% endif %}
        <fieldset>
    		
    		<h3>{% trans 'Your email address' %}</h3>
    		<p>
    			<span class="mandatory">*</span>
    			<label for="id_email"><span class="red">*</span> {% trans 'Email address' %}</label>
    			<input class="clearMeFocus {% if form.email.errors %}error{% endif %}" title="{% trans 'Email address' %}" type="email" name="email" id="id_email" value="{{ email }}"/>
    		</p>
    		
    		<p class="newsletter">
    		  <input type="checkbox" name="newsletter" id="id_newsletter" checked="checked" /> 
    		  <label>{% trans 'Yes I want to receive email newsletters' %}</label>
    		</p>
    		
    		<div class="hr"></div>
    		
    		<h3>{% trans "We'll ship your order to:" %}</h3>
    		
    		<p class="name">
    			<span class="mandatory">*</span>
    			<label for="id_first_name"><span class="red">*</span> {% trans 'First name' %}</label>
    			<input  class="clearMeFocus {% if form.first_name.errors %}error{% endif %}" type="text" title="{% trans 'First name' %}" name="first_name" id="id_first_name" value="{{ first_name }}"/>
    		
    			<label for="id_last_name"><span class="red">*</span> {% trans 'Surname' %}</label>
    			<input class="clearMeFocus {% if form.last_name.errors %}error{% endif %}" title="{% trans 'Last name' %}" type="text" name="last_name" id="id_last_name" value="{{ last_name }}"/>
    		</p>
    			
        </fieldset>

    	
    	<fieldset>
	
          <p>
          	<span class="mandatory">*</span>
          	<label for="id_house_name_number"><span class="red">*</span> {% trans 'House name number' %}:</label>
          	<input class="clearMeFocus {% if form.house_name_number.errors %}error{% endif %}" title="{% trans 'Your address...' %}" id="id_house_name_number" type="text" name="house_name_number" value="{{ house_name_number }}"/>
          </p>
	  
    	  <p>
    	  	<label for="id_address_line_1">{% trans 'Address line 1' %}:</label>
    	  	<input class="clearMeFocus {% if form.address_line_1.errors %}error{% endif %}" title="{% trans ' ...address continued (optional)' %}" id="id_address_line_1" type="text" name="address_line_1" value="{{ address_line_1 }}"/> 
    	  </p>
      	
          <p>
          	<label for="id_address_line_2">{% trans 'Address line 2' %}:</label>
          	<input class="clearMeFocus {% if form.address_line_2.errors %}error{% endif %}" title="{% trans ' ...address continued (optional)' %}" id="id_address_line_2" type="text" name="address_line_2"  value="{{ address_line_2 }}"/>
          	</p>
      
          <p>
          	<span class="mandatory">*</span>
          	<label for="id_town_city">{% trans 'Town / City' %}:</label>
          	<input class="clearMeFocus {% if form.town_city.errors %}error{% endif %}" title="{% trans 'Town or city' %}" id="id_town_city" type="text" name="town_city" value="{{ town_city }}"/> 
          </p>
          
          {% if region == 'US' %}
            <p class="styled-select">
               <label for="id_province_state">{% trans 'State' %}:</label>
            	{{ form.province_state }}
            </p>
          {% endif %}
          <p>
          	<span class="mandatory">*</span>
          	<label for="id_postcode"><span class="red">*</span> {% trans 'Post / ZIP code' %}:</label>
          	<input class="clearMeFocus {% if form.postcode.errors %}error{% endif %}" title="{% trans 'Post / ZIP code' %}" id="id_postcode" type="text" name="postcode" value="{{ postcode }}" /> 
          	</p>
      	
    	  <p class="styled-select">
    	    <label for="id_country"><span class="red">*</span> {% trans 'Country' %}:</label>
    	    <span class="country">
    	    {{ form.country }}
    	    </span>
    	  </p>
        </fieldset> 	  

	{% endif %}
	
	
	</div>
	
	<input id="checkout" type="submit" value="{% trans 'Continue' %} &raquo;" next="" class="button green"/>
            
		
	</form>

  </div>
</div>

{% endblock %}
