{% extends "base.html" %}
{% load django_static %}

{% block pagetitle %}Order (Step 1 of 3) - Your details{% endblock %}

{% block banner %}
	    	<div id="home-banner">
	    	<h2 class="logo-assist">{% if shopper %}Check{% else %}Provide{% endif %} your details</h2>
	    	<div id="steps">
	    		<div class="step first finished">1. Your basket</div>
	    		<div class="step selected">2. Your details</div>
	    		<div class="step last">3. Confirm and pay</div>
	    	</div>
			</div>
{% endblock %}

{% block extracss %}
<style type="text/css">
div#home-banner {
  margin-top:25px;	
}

div#steps {
    float: right;
    width: auto;
}

div#steps div.step {
    background-color: #F1F1F1;
    border: 1px solid #FFFFFF;
    color: #D1D1D1;
    float: left;
    font-size: 14px;
    padding: 7px 20px;
    text-align: center;
    width: auto;
}

div#steps div.step.first {
  -moz-border-radius: 10px 0px 0px 10px;	
}

div#steps div.step.selected {
    background-color: #ddeedf;
    color: #333;
}

div#steps div.step.last {
  -moz-border-radius: 0px 10px 10px 0px;	
}

div#steps div.step.finished {
  background-color: #e1e1e1;
  color: #19761C;	
}

input.checkbox {
    float: left;
    margin-bottom: 50px;
    margin-right: 12px;
    width: 20px;
}

p.checkbox {
  font-size: 12px;
  margin-bottom: 500px;	
}

p.help-text {
    float: left;
    font-size: 0.7em;
    padding-left: 130px;
    position: relative;
    top: -8px;
    width: 300px;
}

p.help-text img {
  position: relative;
  top: 3px;	
}

div.address-container {
    float: left;
    width: 530px;
}

div.address-container p {
  font-size: 15px;
  margin: 10px 0px 20px 0;	
}

div.address {
    float: left;
    margin: 0 10px 10px 0;
    padding: 0px 20px;
    width: 215px;
    -moz-border-radius: 10px;
    font-size: 12px;
}

div.address h3 {
  font-size: 1.4em;	
  margin-bottom: 15px;
}

div.address a {
  font-size: 13px;	
}

div.address.first {
    margin-right: 0;
    width: 480px;
    font-size: 16px;
}

div.address.other {
  background: #fff;
  width: 500px;
  padding: 0;
  display: none;
}

div.address label {
  width: 500px;
  font-size: 14px;	
}

p.hint {
    color: #999;
    font-family: "helveticaneue","helvetica neue","helveticaneueroman","helveticaneue-roman","helvetica neue roman","helvetica","arial",'texgyreherosregular',"tahoma","geneva",sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1em;
    margin: 0;
}	

div.checkout-button p.privacy {
  margin-top: 0;
  {% if shopper %}
    margin-bottom: 20px;
  {% else %}
    margin-bottom: 500px;
  {% endif %}	
}

label.red {
  color: red;	
}

p.red {
  color: red;
  margin-top: 0;	
}

span.red {
  color: #d11010;	
}

</style>

{% endblock %}

{% block content %}

<div id="featured-small"></div>

<div id="main-text-wide">


    <form method="post" action="">
		<div class="checkout-button">
		 {% if form.non_field_errors or form.first_name.errors or form.last_name.errors or form.email.errors %}
		 <p class="red">&laquo; there were some errors - please check and provide all required information.</p>
		 {% endif %}
		
		{% if shopper %}
		{% else %}
<img src="{% staticfile '/images/lock-large.png' %}" style="float:left; margin-right: 10px; margin-bottom: 20px;">
<p class="privacy">We will never share your details, nor will we send you email spam. <a target="_blank" title="Read our privacy policy (opens in a new window)" href="/privacy/">Privacy</a></p>
		{% endif %}
		
		<input type="submit" value="" next="" class="button-confirm-address"/>
		<p class="checkout"><strong>Next step:</strong> Confirm your order</p>

	</div>
	
	{% if shopper %}
		<div class="address-container">
		<div class="address first">
			<p><em>We've saved your details that you entered before - please check your name, email and delivery address are still all correct:</em></p>
			<div class="address first">{{ shopper.first_name }} {{ shopper.last_name }} ({{ shopper.email }}) - <a href="{% url not_you %}">not you?</a>
				
		{% for address in shopper.get_addresses %}
				{% if forloop.first %}
					<br/>
					{{ address.house_name_number }}<br/>
					{{ address.address_line_1 }}<br/>
					{{ address.address_line_2 }}<br/>
					{{ address.town_city }}<br/>
		 			{{ address.postcode }}<br/>
		 			{{ address.country }} - <a href="{% url not_you %}">Want to use a different address?</a>
		 			</div>
		 		{% else %}
		 			<div class="address other">
		 			{{ address.house_name_number }}, 
					{{ address.address_line_1 }}, 
					{{ address.address_line_2 }}, 
					{{ address.town_city }}, 
		 			{{ address.postcode }}
		 			</div>
		 		{% endif %}
		{% endfor %}
		</div>
		
		<div style="display:none;">
		<input type="text" name="first_name" id="id_first_name" value="{{ first_name }}"/>
    	<input type="text" name="last_name" id="id_last_name" value="{{ last_name }}"/>
    	<input type="text" name="email" id="id_email" value="{{ email }}"/>
    	<input type="text" name="house_name_number" id="id_house_name_number" value="{{ house_name_number }}"/>
    	<input type="text" name="address_line_1" id="id_address_line_1" value="{{ address_line_1 }}"/>
    	<input type="text" name="address_line_2" id="id_address_line_2" value="{{ address_line_2 }}"/>
    	<input type="text" name="town_city" id="id_town_city" value="{{ town_city }}"/>
    	<input type="text" name="postcode" id="id_postcode" value="{{ postcode }}"/>
    	<input type="text" name="country" id="id_country" value="{{ country }}"/>
 		</div>
	{% else %}

	<div class="row">
		<div class="row-label">
			<h3>Your details</h3>
		</div>
    	<div class="row-box">
    		{% if form.first_name.errors or form.last_name.errors or form.email.errors %}
    		<ul class="errorlist"><li>* you must provide all your details - thanks!</li></ul>
    		{% endif %}
    		<p class="intro">Please provide your name and your email address (so we can update you on the order process if there's a problem). </p>

    		<p><label for="id_first_name"><span class="red">*</span> First name</label><input  class="{% if form.first_name.errors %}red{% endif %}" type="text" name="first_name" id="id_first_name" value="{{ first_name }}"/></p>
    		<p><label for="id_last_name"><span class="red">*</span> Surname</label><input class="{% if form.last_name.errors %}red{% endif %}" type="text" name="last_name" id="id_last_name" value="{{ last_name }}"/></p>
    		<p><label for="id_email"><span class="red">*</span> Email address</label><input class="{% if form.email.errors %}red{% endif %}" type="text" name="email" id="id_email" value="{{ email }}"/></p>	
    	</div>
    </div>
    
	
	<div class="row">
		<div class="row-label">
			<h3>Your address</h3>
		</div>
    	<div class="row-box">
    	{{ form.non_field_errors }}
    		<p class="intro">Please confirm which address we should send your tea to. We only ship to the UK and Europe, so please make sure this is a valid UK/EU address.</p>
    		

      <p>
      	<label for="id_house_name_number"><span class="red">*</span> House name number:</label>
      	<input id="id_house_name_number" type="text" name="house_name_number" maxlength="200" value="{{ house_name_number }}"/></p>
	  	{{ form.address_line_1.error }}
	  
	  <p>
	    <label for="id_address_line_1">Address line 1:</label>
	  	<input id="id_address_line_1" type="text" name="address_line_1" maxlength="200" value="{{ address_line_1 }}"/> </p>
      	{{ form.address_line_2.errors }}
      	
      <p>
      	<label for="id_address_line_2">Address line 2:</label>
      	<input id="id_address_line_2" type="text" name="address_line_2" maxlength="200"  value="{{ address_line_2 }}"/></p>
      	{{ form.town_city.errors }}
      
      <p>
      	<label for="id_town_city">Town / City:</label>
      	<input id="id_town_city" type="text" name="town_city" maxlength="200" value="{{ town_city }}"/> </p>
      	{{ form.postcode.errors }}
      	
      <p>
      	<label for="id_postcode"><span class="red">*</span> Postcode:</label>
      	<input id="id_postcode" type="text" name="postcode" maxlength="200" value="{{ postcode }}" /> </p>
      	
	  <p>
	    <label for="id_country"><span class="red">*</span> Country:</label>
	    {{ confirm_form.country }}
	  </p>
 	  <br clear="all">
 	  
 	</div> 
	</div>

	{% endif %}

	
	
</form>

</div>
</div>
{% endblock %}
