{% extends base_template %}
{% load django_static thumbnail i18n %}

{% block pagetitle %}{% trans 'Order (Step 2 of 3) - Confirm Order' %}{% endblock %}

{% block extrajs %}
<script type="text/javascript">

$("#wishlist-link").click(function() {	
	$.getJSON("/order/make_wishlist/", {xhr: "true", order: {{ order.id }}},
  		function(data) {
	  		$(data).appendTo('#wishlist-full');
	  		$('#wishlist-link').unbind('click');
	  		$('a#wishlist-link').fancybox();
	  		$('#loading-wishlist').toggle();
  		});    	
	});


$(document).ready( function() {
	$('a#wishlist-link').fancybox();
});

</script>

<script type="application/javascript" src="{% staticfile '/js/lightbox/jquery.fancybox-1.3.4.pack.js' %}"></script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% staticfile '/css/fancybox/jquery.fancybox-1.3.4.css' %}" />
<style type="text/css">

table {
  margin: 0 0 40px 0;   
}

p.checkout {
    float: right;
    font-size: 14px;
    margin: 0 0 10px 0;
    text-align: right;
    width: 100%;
}

#ppicon {
  float:right;   
}

#wishlist {
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin: 5px 30px;
    text-align: right;
    width: 300px;
}

#wishlist img {
  position: relative;
  top: 9px;	
  right: -4px;
}

#mtw #wishlist-full {
  display: none;
  float: left;
  width: 500px;
  height: auto;
  position: relative;	
}

#loading-wishlist {
  position: absolute;
  left: 300px;	
  top: 200px;
}

#wishlist-full p.url {
  background-color: #f1f1f1;
  padding: 10px 15px;	
}

#wishlist-full strong {
  color: #333;	
}

</style>

{% endblock %}

{% block currency %}
	{% include 'shop/snippets/currency.html' %}
{% endblock %}

{% block content %}

<div id="subnav">
   <div class="sp">
       <ul>
    		<li>
    			<a class="completed" href="{% url basket %}">{% trans '1. Your basket' %} &#10003;</a>
    		</li>
    		<li>
    			<a class="completed" href="{% url order_step_one %}">{% trans '2. Your details' %} &#10003;</a>
    		</li>
    		<li>
    			<a href="" class="selected">{% trans '3. Confirm and pay' %} &raquo;</a>
    		</li>
    		<li>
    			<a href="">{% trans '4. Get your tea!' %}</a>
    		</li>
    	</ul>
    </div>
</div>

<div id="mtw">
  <div class="sp">
	<div id="basket">
				
	<h2>{% trans "You're ordering..." %}</h2>
			
	<table>
		{% for thing in order.items.all %}
			  <tr>				
		    	<td width="350px" valign="top">
		    		{{ thing.quantity }} X {{ thing.item.parent_product.name }} {% if not thing.item.weight %}
		    		{% else %}({{ thing.item.weight|floatformat }}{{ thing.item.weight_unit }}){% endif %}
		    	</td>
		    	<td width="150px" valign="top">
		    	</td>
		    	<td valign="top">{{ currency.symbol }}{{ thing.get_price }}</td>		    				
			  </tr>
        {% endfor %}
    	{% if postage_discount %}
    	  <tr>
    	    <td colspan="2"><span class="small"><em>{% blocktrans with currency.symbol as symbol and currency.postage_discount_threshold as ptd %}There is no postage charge, because your order is over {{ symbol }}{{ ptd }}{% endblocktrans %}</em></span></td>
    	  </tr>
    	  {% else %}
    	  <tr>
    	  	<td>{% trans 'Postage' %}</td>
    	  	<td>&nbsp;</td>
    	  	<td>{{ currency.symbol }}{{ currency.postage_cost|floatformat:"2" }}</td>		  
    	  </tr>
        {% endif %}
        {% if order.discount %}
      	  <tr>
      	  	<td>{% trans 'Discount' %}</td>
      	  	<td>&nbsp;</td>
      	  	<td>-{{ currency.symbol }}{{ value|floatformat:"2" }}</td>
      	  </tr>
      	{% endif %}
		  <tr>
		  	<td><strong>{% trans 'TOTAL' %}</strong></td>
		  	<td>&nbsp;</td>
		  	<td><strong>{{ currency.symbol }}{{ total_price|floatformat:"2" }}</strong></td>		  
		  </tr>
	   </table>

	   <h2>{% trans "…and we'll send your order to:" %}</h2>

  	   {% with order.address as address %}
  	      {% include "shop/snippets/address.html" %}
  	   {% endwith %}

    {% include "shop/snippets/paypal_form.html" %}
</div>


<div id="wishlist">
	<a id="wishlist-link" href="#wishlist-full">{% trans 'Turn this basket into a wishlist!' %} <img src="{% staticfile '/images/gift_small.png' %}"></a>
	<div id="wishlist-full" style="width: 650px; height: 400px; padding: 30px;">
		<img id="loading-wishlist" src="{% staticfile '/images/loading.gif' %}"/>
	</div>
</div>
	
<div id="left">
	<h2>{% trans 'Problems or questions?' %}</h2>
    <p>{% blocktrans %}We aim to offer first class customer service - if you have ANY problems or questions, contact Chris West, the owner, directly on email at <a href="mailto:chris@minrivertea.com">chris@minrivertea.com</a> - I'll respond normally within a few hours to every email.{% endblocktrans %}</p>

</div>

</div>

	
	
	
  </div>
</div>
{% endblock %}
