{% extends base_template %}
{% load i18n %}

{% block pagetitle %}{% trans 'Order (Step 2 of 4) - Your details' %}{% endblock %}

{% block extracss %}
<style type="text/css">

#tools {
  display: none;   
}

fieldset {
 border: none;
 width: 450px;  
 position: relative;
 border-right: 1px dashed #e1e1e1;
 margin: 10px 0 0px 20px; 
 float: left;
 padding-right: 30px;
}

fieldset p {
  margin: 0; 
  position: relative;
  display: block;
  float: left;  
}

fieldset p:last-child input {
  margin-bottom: 0;   
}

legend {
    display: block;
    float: right;
    position: absolute;
    right: -280px;
    width: 250px;
    text-align: left;
    font-weight: bold;
    font-size: 13px;
    color: #555;
}

span.mandatory {
  position: absolute;
  left: -25px;
  top: 15px;
  font-size: 30px;
  color: #FF6569;   
}

div#mtw div#left h3 {
    font-size: 18px;
    font-weight: 900;
    margin: 0 0 -10px;
}

div#basket div.security {
  float: right;
  width: 240px;	
  background-color: #f6f6f6;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 12px 12px;
}

div#basket div.security p {
  font-size: 16px;	
  text-align: right;
  margin: 0;
}

#basket .security img {
  float:right; 
  margin: 0 0 20px 10px;
}

#checkout-button {
    bottom: 10px;
    position: absolute;
    right: 30px;
    width: auto;
}


input.checkbox {
    float: left;
    margin-bottom: 50px;
    margin-right: 12px;
    width: 20px;
}

p.checkbox {
  font-size: 12px;
  margin-bottom: 500px;	
}

p.help-text {
    float: left;
    font-size: 0.7em;
    padding-left: 130px;
    position: relative;
    top: -8px;
    width: 300px;
}

p.help-text img {
  position: relative;
  top: 3px;	
}

div.address-container {
    float: left;
    margin-left: 20px;
    width: 500px;
    margin-bottom: 40px;
}

div.address-container p {
  font-size: 15px;
  margin: 10px 0px 20px 0;	
}

div.address {
    float: left;
    margin: 0 10px 10px 0;
    padding: 0px 0px;
    width: 215px;
    -moz-border-radius: 10px;
    font-size: 12px;
}

div.address h3 {
  font-size: 1.4em;	
  margin-bottom: 15px;
}

div.address a {
  font-size: 13px;	
}

div.address.first {
    margin-right: 0;
    width: 480px;
    font-size: 16px;
}

div.address.other {
  background: #fff;
  width: 500px;
  padding: 0;
  display: none;
}

div.address label {
  width: 500px;
  font-size: 14px;	
}

p.hint {
    color: #999;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1em;
    margin: 0;
}	

div#confirm-details-button {
  {% if shopper %}
    margin-top: 50px;
  {% else %}
    margin-top: 285px;
  {% endif %}	
}

label {
  display: none;	
}

label.red {
  color: red;	
}

p.red {
  color: red;
  margin-top: 0;	
}

span.red {
  color: #d11010;	
}

input[type="email"] {
  box-shadow: none;   
}

.styled-select select {
   background: transparent;
   width: 340px;
   padding: 9px 10px 9px 15px;
   font-size: 13px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 36px;
   font-family: Helvetica, Arial, sans-serif;
   color: #777;
}

.styled-select select:hover {
  cursor: pointer;   
}


.styled-select {
   width: 280px;
   height: 36px;
   overflow: hidden;
   background: url('{{ static_url }}images/select-down-arrow.png') no-repeat 250px #fff;
   border: 1px solid #ccc;
   border-radius: 5px;
   margin: 0 0 20px 0;
}

.styled-select:hover {
  border-color: #6ACC75; 
  cursor: pointer;  
}

</style>

{% endblock %}

{% block content %}


<div id="mtw">
  <div class="sp">
	
	   <h1>{% trans 'Your details' %}</h1>
	   
       <ul id="steps">
    		<li>
    			<a class="completed" href="{% url basket %}">1. {% trans 'Your basket' %} &#10003;</a>
    		</li>
    		<li>
    			<a class="selected" href="{% url order_step_one %}">2. {% trans 'Your details' %} &raquo;</a>
    		</li>
    		<li>
    			<a href="">3. {% trans 'Confirm and pay ' %} &raquo;</a>
    		</li>
    		<li>
    			<a href="">4. {% trans 'Tea time!' %}</a>
    		</li>
    	</ul>
      
   <div id="basket">

      <form method="post" action="."> 	 

		{% if shopper %}
	  		<h3>{% trans 'Are these your details? Please check carefully!' %}</h3>
			{{ shopper.first_name }} {{ shopper.last_name }} ({{ shopper.email }}) - <a href="{% url not_you %}">{% trans 'not you?' %}</a>
		
			{% for address in shopper.get_addresses %}
				{% if forloop.first %}
					<br/>
					{% include "shop/snippets/address.html" %}
 				{% else %}
 					<div class="address other">
 					{% include "shop/snippets/address.html" %}
 					</div>
 				{% endif %}
			{% endfor %}
				<div style="display:none;">
					<input type="text" name="first_name" id="id_first_name" value="{{ order.owner.first_name }}"/>
	    			<input type="text" name="last_name" id="id_last_name" value="{{ order.owner.last_name }}"/>
	    			<input type="text" name="email" id="id_email" value="{{ order.owner.email }}"/>
	    			<input type="text" name="house_name_number" id="id_house_name_number" value="{{ order.address.house_name_number }}"/>
	    			<input type="text" name="address_line_1" id="id_address_line_1" value="{{ order.address.address_line_1 }}"/>
	    			<input type="text" name="address_line_2" id="id_address_line_2" value="{{ order.address.address_line_2 }}"/>
	    			<input type="text" name="town_city" id="id_town_city" value="{{ order.address.town_city }}"/>
	    			<input type="text" name="postcode" id="id_postcode" value="{{ order.address.postcode }}"/>
	    			<input type="text" name="country" id="id_country" value="{{ order.address.country }}"/>
	 			</div>
	 			
		{% else %}

    		{% if form.first_name.errors or form.last_name.errors or form.email.errors %}
    		<ul class="errorlist"><li>* {% trans 'Please enter all the information in the mandatory fields (highlighted red) below' %}:</li></ul>
    		{% endif %}
        <fieldset>
            <legend>{% trans 'This just takes 1 minute - your name and email please!' %}</legend>
    		<p>
    			<span class="mandatory">*</span>
    			<label for="id_first_name"><span class="red">*</span> {% trans 'First name' %}</label>
    			<input  class="clearMeFocus {% if form.first_name.errors %}error{% endif %}" type="text" title="{% trans 'First name' %}" name="first_name" id="id_first_name" value="{{ first_name }}"/>
    		</p>
    		<p>
    			<span class="mandatory">*</span>
    			<label for="id_last_name"><span class="red">*</span> {% trans 'Surname' %}</label>
    			<input class="clearMeFocus {% if form.last_name.errors %}error{% endif %}" title="{% trans 'Last name' %}" type="text" name="last_name" id="id_last_name" value="{{ last_name }}"/>
    		</p>
    		<p>
    			<span class="mandatory">*</span>
    			<label for="id_email"><span class="red">*</span> {% trans 'Email address' %}</label>
    			<input class="clearMeFocus {% if form.email.errors %}error{% endif %}" title="{% trans 'Email address' %}" type="email" name="email" id="id_email" value="{{ email }}"/>
    		</p>	
        </fieldset>

    	
    	<fieldset>
    	   <legend>{% trans 'Where should we send your tea? Please provide the address we should send your tea to' %}</legend>	

          <p>
          	<span class="mandatory">*</span>
          	<label for="id_house_name_number"><span class="red">*</span> {% trans 'House name number' %}:</label>
          	<input class="clearMeFocus {% if form.house_name_number.errors %}error{% endif %}" title="{% trans 'Your address...' %}" id="id_house_name_number" type="text" name="house_name_number" value="{{ house_name_number }}"/>
          </p>
	  
    	  <p>
    	  	<label for="id_address_line_1">{% trans 'Address line 1' %}:</label>
    	  	<input class="clearMeFocus {% if form.address_line_1.errors %}error{% endif %}" title="{% trans ' ...address continued (optional)' %}" id="id_address_line_1" type="text" name="address_line_1" value="{{ address_line_1 }}"/> 
    	  </p>
      	
          <p>
          	<label for="id_address_line_2">{% trans 'Address line 2' %}:</label>
          	<input class="clearMeFocus {% if form.address_line_2.errors %}error{% endif %}" title="{% trans ' ...address continued (optional)' %}" id="id_address_line_2" type="text" name="address_line_2"  value="{{ address_line_2 }}"/>
          	</p>
      
          <p>
          	<span class="mandatory">*</span>
          	<label for="id_town_city">{% trans 'Town / City' %}:</label>
          	<input class="clearMeFocus {% if form.town_city.errors %}error{% endif %}" title="{% trans 'Town or city' %}" id="id_town_city" type="text" name="town_city" value="{{ town_city }}"/> 
          </p>
          
          {% if region == 'US' %}
            <p class="styled-select">
               <label for="id_province_state">{% trans 'State' %}:</label>
            	{{ form.province_state }}
            </p>
          {% endif %}
          <p>
          	<span class="mandatory">*</span>
          	<label for="id_postcode"><span class="red">*</span> {% trans 'Post / ZIP code' %}:</label>
          	<input class="clearMeFocus {% if form.postcode.errors %}error{% endif %}" title="{% trans 'Post / ZIP code' %}" id="id_postcode" type="text" name="postcode" value="{{ postcode }}" /> 
          	</p>
      	
    	  <p class="styled-select">
    	    <label for="id_country"><span class="red">*</span> {% trans 'Country' %}:</label>
    	    <span class="country">
    	    {{ form.country }}
    	    </span>
    	  </p>
        </fieldset> 	  

	{% endif %}

	<div id="checkout-button">
		<input type="submit" value="{% trans 'Continue' %} &raquo;" next="" class="button green"/>
	</div>
		
	</form>


	</div>

  </div>
</div>

{% endblock %}
