{% extends base_template %}
{% load thumbnail i18n convert_weights %}

{% block pagetitle %}{% trans 'Order (Step 3 of 4) - Confirm Order' %}{% endblock %}

{% block extrajs %}
<script type="text/javascript">

$("#wishlist-link").click(function() {	
	$.getJSON("/order/make_wishlist/", {xhr: "true", order: {{ order.id }}},
  		function(data) {
	  		$(data).appendTo('#wishlist-full');
	  		$('#wishlist-link').unbind('click');
	  		$('a#wishlist-link').fancybox();
	  		$('#loading-wishlist').toggle();
  		});    	
	});


$(document).ready( function() {
	$('a#wishlist-link').fancybox();
});

</script>

<script type="application/javascript" src="{{ static_url }}js/lightbox/jquery.fancybox-1.3.4.pack.js"></script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ static_url }}css/fancybox/jquery.fancybox-1.3.4.css" />
<style type="text/css">


#tools {
  display: none;   
}

#bottom {
  float: left;
  width: 100%;
  margin: 40px 0 0 0;   
}

#bottom .info {
  border-right: 1px dashed #e1e1e1;
  padding: 0 20px; 
  width: 220px  
}

#bottom .info:first-child {
}

#bottom .info:last-child {
  padding-right: 0;
  border-right: none; 
  width: 310px;  
}

#bottom .info input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  font-size: 13px;   
}

#bottom .info #order-url {
    font-family: Courier;
    font-size: 11px;
    margin-top: 5px;
    overflow: hidden;
    width: 90%;
    padding-left: 5px;
}

#bottom .info #order-url:hover {
  overflow: auto; 
  width: 100%;
  overflow: visible;
  background: #fff;
  position: relative;
  z-index: 20;
}

#bottom .info #order-url span {
  width: 550px;
  float: left;
  padding: 5px 0;
  background: #fff;    
}

#items {
  float: left;
  width: 450px;
  padding: 10px;
  margin-right: 50px;	
}



#items h2, #address h2 {
  margin-bottom: 20px;	
}

table td {
  padding: 0px;	
  border: none;
}

#items table td {
  border-bottom: 1px dashed #e1e1e1;
  padding: 5px 0;   
}

#items table tr:last-child td {
  border-bottom: none;
  padding-bottom: 0;   
}

#address {
  float: left;	
}

#address p.address {
  font-size: 13px;
  margin-left: 10px;
}

#address p.pay-on-behalf {
    float: left;
    font-size: 15px;
    width: 280px;
}

#checkout-button {
  position: absolute;
  bottom: 0px;
  right: 20px;	
}

p.checkout {
    float: left;
    font-size: 13px;
    margin: 0 0 10px 0;
    text-align: left;
    width: auto;
}

#wishlist {
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin: 5px 30px;
    text-align: right;
    width: 300px;
}

#wishlist img {
  position: relative;
  top: 9px;	
  right: -4px;
}

#mtw #wishlist-full {
  display: none;
  float: left;
  width: 500px;
  height: auto;
  position: relative;	
}

#loading-wishlist {
  position: absolute;
  left: 300px;	
  top: 200px;
}

#wishlist-full p.url {
  background-color: #f1f1f1;
  padding: 10px 15px;	
}

#wishlist-full strong {
  color: #333;	
}

table {
  background: none;   
}

table tr td:first-child {
  background: none;
  width: 320px;   
}

table tr td:last-child {
  width: 50px;
  text-align: right;   
}

p.skip {
  float: right;
  width: 100%;
  text-align: right;   
}

</style>

{% endblock %}

{% block currency %}
	{% include 'shop/snippets/currency.html' %}
{% endblock %}

{% block content %}

<div id="mtw">
  <div class="sp">
  
	   <h1>{% if friend %}{% trans 'Complete this order on behalf of' %} {{ order.owner.first_name }} {{ order.owner.last_name }}{% else %}{% trans "Confirm your order" %}{% endif %}</h1>
	   {% if not friend %}
       <ul id="steps">
    		<li>
    			<a class="completed" href="{% url basket %}">1. {% trans 'Your basket' %} &#10003;</a>
    		</li>
    		<li>
    			<a class="completed" href="{% url order_step_one %}">2. {% trans 'Your details' %} &raquo;</a>
    		</li>
    		<li>
    			<a class="selected" href="">3. {% trans 'Confirm and pay ' %} &raquo;</a>
    		</li>
    		<li>
    			<a href="">4. {% trans 'Get your tea!' %}</a>
    		</li>
    	</ul>
    	{% endif %}
   
	<div id="basket">
				
	<div id="items">
		<table>
			{% for thing in regular_items %}
				  <tr>				
			    	<td valign="top">
			    		<strong>{{ thing.item.parent_product.name }}
			    		{% if thing.item.weight %}({% convert_weights request thing.item.weight %}{{ weight_unit }}){% endif %}
			    		x {{ thing.quantity }}</strong>
			    	</td>
			    	<td valign="top">{{ currency.symbol }}{{ thing.get_price|floatformat:"2" }}</td>		    				
				  </tr>
	        {% endfor %}
	        
	        {% if monthly_items %}
	        <tr>
	           <td valign="top">
	               <strong>{% trans 'Monthly Box' %}</strong><br/>
	                    {% for thing in monthly_items %}
			    		&nbsp;&nbsp;&nbsp;&nbsp;{{ thing.item.parent_product.name }} 
			    		{% if thing.item.weight %}({% convert_weights request thing.item.weight %}{{ weight_unit }}){% endif %}
			    		x {{ thing.quantity }}<br/>
			    		{% endfor %}
			    	</td>
			    	<td valign="top">
			    	     &nbsp;<br/>
			    	     {% for thing in monthly_items %}
			    	     {{ currency.symbol }}{{ thing.get_price|floatformat:"2" }}	<br/>
			    	     {% endfor %}	    				
			    	 </td>
				  </tr>
	        {% endif %}
	        
	        
	    	{% if postage_discount %}
	    	  <tr>
	    	    <td colspan="2"><span class="small"><em>{% blocktrans with currency.symbol as symbol and currency.postage_discount_threshold as ptd %}There is no postage charge, because your order is over {{ symbol }}{{ ptd }}{% endblocktrans %}</em></span></td>
	    	  </tr>
	    	  {% else %}
	    	  <tr>
	    	  	<td>{% trans 'Postage' %}</td>
	    	  	<td>{{ currency.symbol }}{{ currency.postage_cost|floatformat:"2" }}</td>		  
	    	  </tr>
	        {% endif %}
	        {% if order.discount %}
	      	  <tr>
	      	  	<td>{% trans 'Discount' %}</td>
	      	  	<td>-{{ currency.symbol }}{{ discount|floatformat:"2" }}</td>
	      	  </tr>
	      	{% endif %}
			  <tr>
			  	<td><strong>{% trans 'TOTAL' %}</strong></td>
			  	<td><strong>{{ currency.symbol }}{{ total_price|floatformat:"2" }}</strong></td>		  
			  </tr>
		   </table>
	</div>

	<div id="address">

        {% if friend %}
        {% url page _('contact_us') as contact_url %}
        <p class="pay-on-behalf">{% blocktrans with order.owner.first_name as fn and order.owner.last_name as ln %}<strong>You are paying on behalf of <span style="text-decoration:underline">{{ fn }} {{ ln }}</span>.</strong> You are purchasing the items listed on the left, which will be sent to the address {{ fn }} provided. You will not receive any further email notifications from us, but you will receive a receipt from Paypal. If you have any questions before you purchase, please <a href="{{ contact_url }}">contact us</a>.{% endblocktrans %}</p>
        {% endif %}

        {% if not friend %}
            <p class="address">
            {% with order.address as address %}
                <strong>{{ order.owner.first_name }} {{ order.owner.last_name }}</strong><br/>
                {{ order.owner.email }}<br/>
                {% include "shop/snippets/address.html" %}
            {% endwith %}
            </p>
  	   {% endif %}
  	</div>

    {% include "shop/snippets/paypal_form.html" %}
    
</div>

<div id="bottom">

    <div class="info">
        <h3>{% trans 'Safe and secure payment' %}</h3>
      	<p>{% trans 'We accept all major credit and debit cards through Paypal' %}</p>
      	<div style="margin: 10px 0 0 0;background-image: url('/static/images/logo16.jpg');background-position: 0px -33px; height: 52px; width: 202px;"></div>
    </div>
    
    {% if not friend %}
    <div class="info">
        <h3>{% trans 'Ask a friend to pay' %}</h3>
        <p>{% trans 'Send a friend this link and they can pay for this order for you' %}</p>
        <div id="order-url"><span>{{ site_url }}{% url order_url_friend order.hashkey %}</span></div>
    </div>
    {% endif %}
    
    <div class="info">
        <h3>{% trans 'Problems or questions?' %}</h3>
        <p>{% blocktrans %}We aim to offer first class customer service - if you have ANY problems or questions, <a href="{{ contact_url }}">contact us</a> immediately. We'll respond as quickly as possible, usually within a few hours.{% endblocktrans %}</p>
    </div>


</div>

	
	
	
  </div>
</div>
{% endblock %}
