{% extends "base.html" %}
{% load django_static %}
{% load thumbnail %}

{% block extracss %}
<style type="text/css">

div#main-text-wide div#left, div#main-text-wide div#right {
  margin-top: 20px;	
}

div.other-reviews {
  margin-top: 0px;
  float: left;	
}

textarea {
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
    width: 500px;
}

div#submit-button {
position: relative;
top: 240px;	
}

</style>
{% endblock %}

{% block metadescription %}Write a review for {{ tea }} tea{% endblock %}

{% block pagetitle%}Write a review{% endblock %}



{% block content %}

	<div id="main-text-wide">
		<h1>Write a review for {{ tea }} tea</h1>
		<p class="subtitle">Thanks for taking the time to write a review. Quality is extremely important to us, so feel free to write down any thoughts, positive or negative, about your tea.</p>

	  <div id="basket">
	  	<form action="." method="post">
	  		<div id="submit-button">
			<p>* <em>we may publish this review on our website - by submitting your review, you give us permission to do so.</em></p>
			<input class="submit-button" value="" type="submit">
			</div>
		<div class="row">
		
			<div class="row-box">
			<textarea id="id_text" rows="10" cols="40" name="text" onclick="clearInput(this)">Add your review here</textarea>
			</div>
			
			<div class="row-box">
			<input type="text" name="first_name" id="id_first_name" />
			<label for="id_first_name">First name</label>
			
			<input type="text" name="last_name" id="id_last_name" />
			<label for="id_last_name">Last name</label>
			 
			<input type="text" name="email" id="id_email" />
			<label for="id_email">Email address</label>
			</div>
			

			
		</form>		
		</div>
		</div>
		
		<div id="left">
		

		
		{% if other_reviews %}
		<div class="other-reviews">
			<h3>What have other people said about our  {{ tea }}?</h3>
			{% for review in other_reviews %}
				<div class="review">
					<p><em>"{{ review.short_text }}"</em> <span>{{ review.first_name }} {{ review.last_name }}</span></p>
				</div>				
			{% endfor %}
		</div>
		{% endif %}

	</div>
</div>
		
		<br clear="all"/>


		

    {% endblock %}
