{% extends "base.html" %}
{% load django_static %}

{% block extracss %}
<style type="text/css">

#left form {
  padding: 30px 35px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 10px;	
  float: left;
  width: 550px;
}

#left form label {
  text-align: left;
  font-size: 14px;
  width: 100%;
  padding: 0 20px 5px 0;	
}

#left input.button {
  height: auto;
  padding: auto;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  float: ;	
}

p.help-text {
    float: left;
    font-size: 0.7em;
    padding-right: 35px;
    margin-top: 20px;
}

div.message {
    background-color: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 10px 10px 10px 10px;
    margin: 0 0 10px;
    padding: 20px 25px;
}

div#main-text-wide div#left div.message h3 {
  margin: 0 0 10px 0;	
  color: #237A2A;
}

div#main-text-wide div#left div.message p {
  margin: 0;	
}

</style>
{% endblock %}

{% block metadescription %}We deliver our fine Chinese teas to the UK and Europe.{% endblock %}

{% block pagetitle%}Shipping and delivery{% endblock %}



{% block content %}

<div id="banner">
  <div class="super">
  <h1>I want to be notified!</h1>
  </div>
</div>

<div id="main-text-wide">
  <div class="super">		
		<div id="right">

			<div class="info">
			<h3>Keep in touch!</h3>
		 	<p>If you just want to keep in touch, we tweet a lot, and also post tea related photos on flickr regularly.</p>
		 	<a href="http://www.facebook.com/minrivertea" title="Friend us on Facebook"><img src="{% staticfile '/images/facebook.png' %}"></a>
		 	<a title="Checkout our tea photos on flickr" target="_blank" href="http://www.flickr.com/photos/62180582@N04/"><img src="{% staticfile '/images/flickr.png' %}"></a>
			<a title="Tweet about this blog to your friends" target="_blank" href="http://twitter.com/home?status=http%3A%2F%2Fwww.minrivertea.com%2Fblog%2F"><img src="{% staticfile '/images/twitter-small.png' %}"></a>
			</div>
		</div>
		
		<div id="left">

			<p class="introduction">Do you want us to notify you when you can order fantastic Chinese tea in your country?</p>
			

		{% if message %}
		  <div class="message">
			<h3>Thanks!</h3>
			<p>We've received your request, and once shipping is available for your country, we'll let you know.</p>
			<ul><li>While you're here, <a href="/learn/how-to-brew-chinese-tea/">do you want to know the best way to brew Chinese tea?</a></li></ul>
		  </div>
		{% else %}

		<form action="." method="post">
		<p><strong>Just drop your email address below, and we'll email you when shipping is available in your country.</strong> Our promise is that you'll never receive more than 1 email from us letting you know you can order. No spam.</p>
			<input class="clearMeFocus" title="Your email address" name="email" id="id_name" type="text"/>
			<label for="id_country">Country:</label>
			<p>{{ form.country }}</p>
	
			<p class="help-text">
			<img src="{% staticfile '/images/lock.gif' %}"> We will never share, sell or spam your email address (<a target="_blank" title="Read our privacy policy (opens in a new window)" href="/privacy/">Privacy</a>)
			</p>					
			<input class="button" value="Get notified!" type="submit">
				
			</form>
		{% endif %}
		</div>
	</div>
</div>


		

    {% endblock %}
