{% extends "base.html" %}
{% load django_static thumbnail %}

{% block pagetitle %}{{ wishlist.owner.first_name }}'s Chinese tea wishlist - Confirm Order{% endblock %}


{% block extracss %}
<style type="text/css">
div#main-text-wide {
  margin-top: 30px;	
}

div#main-text-wide div#left {
  margin: 30px 0 0 20px;
}

ul#steps {
  margin-left: 110px;
  line-height: 2em;
  margin-bottom: 20px;	
}

ul#steps li.selected {
  font-size: 24px;	
}

ul#steps li.selected span.name {
  color: #333;
  text-decoration: underline;	
}

ul#steps li.selected span.grey {
  color: #999;	
  font-weight: bold;
  font-size: 18px;
}


div#main-text-wide div#left h2 {
    font-weight: normal;
}

div.row {
  background-image: none;	
  -moz-box-shadow: none;
}

div.row-box {
  width: 600px;	
}

.paypal {
  margin-bottom: 20px;	
}

#wishlist {
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin: 5px 30px;
    text-align: right;
    width: 300px;
}

#wishlist img {
  position: relative;
  top: 9px;	
  right: -4px;
}

#main-text-wide #wishlist-full {
  display: none;
  float: left;
  width: 500px;
  height: 200px;
  position: relative;	
}

#wishlist-full img#loading {
  position: relative;
  left: 230px;	
  top: 135px;
}

</style>

{% endblock %}

{% block content %}


<div id="main-text-wide">
  <div class="super">
	<ul id="steps">
		<li class="selected">
			<img src="{% staticfile '/images/gift.png' %}" style="float: left;margin-right:15px;position:relative;top:-20px;"/>
			You're looking at <span class="name">{{ wishlist.owner.first_name }} {{ wishlist.owner.last_name }}'s</span> Chinese tea wishlist<br/>
			<span class="grey">Are you ready to give the gift of tea?</span>
		</li>
	</ul>
	
	<div id="basket">
		
    <form method="post" action="{{ paypal_submit_url }}">
    
    	<div id="checkout-button">
			<img src="{% staticfile '/images/002.gif' %}" class="paypal">
			<input type="submit" value="Confirm and pay" next="" class="button"/>
			<p class="checkout"><strong>Next step:</strong> <em>pay securely via PayPal, using all major credit and debit cards or your linked Paypal account.</em></p>
			
		</div>	
    

		<input type="hidden" name="cmd" value="_cart"> 
		<input type="hidden" name="upload" value="1"> 
		<input type="hidden" name="business" value="{{ paypal_receiver_email }}">
		<input type="hidden" name="currency_code" value="GBP">
		<input type="hidden" name="address_override" value="1">
		
		<input type="hidden" name="address1" value="{{ wishlist.address.house_name_number }}, {{ wishlist.address.address_line_1 }}">		
		<input type="hidden" name="address2" value="{{ wishlist.address.address_line_2 }}">
		<input type="hidden" name="city" value="{{ wishlist.address.town_city }}">
		<input type="hidden" name="country" value="GB">
		<input type="hidden" name="zip" value="{{ wishlist.address.postcode }}">
		<input TYPE="hidden" NAME="return" value="{{ paypal_return_url }}">
		<input TYPE="hidden" NAME="cancel" value="{{ paypal_notify_url }}">
		<input TYPE="hidden" NAME="notify_url" value="{{ paypal_notify_url }}">
		<input type="hidden" id="id_no_shipping" value="1" name="no_shipping">
		<input type="hidden" id="id_charset" value="utf-8" name="charset">

		<input type="hidden" name="invoice" value="TEA-00{{ wishlist.id }}" id="id_invoice" />
		
		{% if wishlist.discount %}
		<input TYPE="hidden" NAME="discount_amount_cart" value="{{ value|floatformat:'2' }}">
		{% endif %}
		

		{% if postage_discount %}
		{% else %}
		<input type="hidden" name="item_name_1" value="Postage Standard Rate"> 
		<input type="hidden" name="quantity_1" value="1">
		<input type="hidden" name="amount_1" value="3.00">
		{% endif %}
		 
		 {% if postage_discount %}
	 		 {% for thing in wishlist.wishlist_items.all %}
				<input type="hidden" name="item_name_{{ forloop.counter }}" value="{{ thing.item.parent_product.name }} {{ thing.item.parent_product.category }} -  ({{ thing.item.weight|floatformat }}{{ thing.item.weight_unit }})"> 
				<input type="hidden" name="quantity_{{ forloop.counter }}" value="{{ thing.quantity }}">
				<input type="hidden" name="amount_{{ forloop.counter }}" value="{{ thing.item.price }}"> 
			 {% endfor %}
		{% else %}
			 {% for thing in wishlist.wishlist_items.all %}
				<input type="hidden" name="item_name_{{ forloop.counter|add:"1" }}" value="{{ thing.item.parent_product.name }} {{ thing.item.parent_product.category }} -  ({{ thing.item.weight|floatformat }}{{ thing.item.weight_unit }})"> 
				<input type="hidden" name="quantity_{{ forloop.counter|add:"1" }}" value="{{ thing.quantity }}">
				<input type="hidden" name="amount_{{ forloop.counter|add:"1" }}" value="{{ thing.item.price }}"> 
			 {% endfor %}
		{% endif %}
		
		<div class="row">
			<div class="row-label">
				<h2>You're purchasing these items for {{ wishlist.owner.first_name }}:</h2>
			</div>
			
			<div class="row-box">
				<table>
				{% for thing in wishlist.wishlist_items.all %}
				  <tr>				
			    	<td width="110px" valign="top">
			    		{% thumbnail thing.item.parent_product.image "100" as im %}
			    			<img src="{{ im.url }}"/>
			    		{% endthumbnail %}
			    	</td>
			    	<td width="350px" valign="">
			    		<strong>{{ thing.quantity }} X {{ thing.item.parent_product.name }} ({% if not thing.item.weight %}
			    		{% else %}{{ thing.item.weight|floatformat }}{{ thing.item.weight_unit }}{% endif %})</strong>
			    		<br/>
			    		{{ thing.item.parent_product.super_short_description }}
			    	</td>
			    	<td>£{{ thing.get_price }}</td>		    				
				  </tr>
			    {% endfor %}
			  {% if postage_discount %}
			  <tr>
			    <td><span class="small"><em>There is no postage charge, because the order is over £50</em></span></td>
			  </tr>
			  {% else %}
			  <tr>
			  	<td>&nbsp;</td>
			  	<td>Postage</td>
			  	<td>£3.00</td>		  
			  </tr>
		  	  {% endif %}
		  	  {% if wishlist.discount %}
			  <tr>
			  	<td>&nbsp;</td>
			  	<td>Discount</td>
			  	<td>-£{{ value|floatformat:"2" }}</td>
			  </tr>
			  {% endif %}
			  <tr>
			  	<td>&nbsp;</td>
			  	<td><strong>TOTAL</strong></td>
			  	<td><strong>£{{ total_price|floatformat:"2" }}</strong></td>		  
			  </tr>
			</table>
		</div>
	</div>

	</form> 


</div>

	
<div id="left">
	<h2>How does this work?</h2>
	<p>It's simple - {{ wishlist.owner.first_name }} has created a wishlist of Chinese tea items, and you can buy those items on their behalf. We'll send the items you purchase to {{ wishlist.owner.first_name }} and you'll get a big warm fuzzy feeling.</p>
	<h2>Where will we send the order?</h2>
    <p>{{ wishlist.owner.first_name }} has already provided their shipping address to us - we'll send the teas there. However, just to be sure, we will contact {{ wishlist.owner.first_name }} to confirm before we send the teas. For privacy reasons, we can't show you the address they provided.</p>
    
    <h2>Is it safe to order?</h2>
    <p>Yes! You and {{ wishlist.owner.first_name }} are protected by our standard <strong>no questions asked</strong> refund policy, fast and friendly customer services, and privacy of your data. If you ever have any questions about this order, you can contact us directly at <a href="mailto:chris@minrivertea.com">chris@minrivertea.com</a>.</p>
    
    <p>Similarly, because you pay via Paypal, your online payment is secured with industry standard technology and <strong>we never see or store your credit card details.</strong>. We take your data extremely seriously.</p>

</div>

</div>

	
	
	
  </div>
</div>
{% endblock %}
