{% extends "base.html" %}
{% load django_static thumbnail %}

{% block pagetitle %}{{ wishlist.owner.first_name }}'s Chinese tea wishlist - Confirm Order{% endblock %}

{% block extrajs %}
<script type="text/javascript">

function bindSubmitEmailHandler() {    
    $('#submit_email_form').submit(function() { 
    	if ($('#submit_email_form input#id_email').val() == "") {
    		$('#submit_email_form .error').prepend('<p style="color:red;">* You must provide an email address</p>');
    		return false;
    	}
    	else {
    		$('#loading').toggle();
        	$.ajax({  
        	    type: "POST",  
        	    data: $('#submit_email_form').serialize(),  
        	    url: "{% url wishlist_submit_email %}",  
        	    cache: false,  
        	    dataType: "html",  
        	    success: function(html, textStatus) {  
        	        $('#submit_email_form').replaceWith(html);
        	        $('#paypal').toggle();
        	        $('#loading').toggle();   
        	    },  
        	    error: function (XMLHttpRequest, textStatus, errorThrown) {  
        	        $('#comment_form form').replaceWith('Your comment was unable to be posted at this time.  We apologise for the inconvenience.');  
        	    }  
        	});  
        return false;
    	}
    });  
}  

function bindSelectItemsHandler() {    
    $('#select-items-form').submit(function() {
    	
    	if ($('#select-items-form :checkbox:not(:checked)').length > 0) {
    		$('.error').prepend('<p style="color:red;">* You must select at least one item (click to select an item)!</p>');
    		return false;
    	}
    	else { 	 
 	   		$('#loading').toggle();
        	$.ajax({  
        	    type: "POST",  
        	    data: $('#select-items-form').serialize(),  
        	    url: "{% url wishlist_select_items %}",  
        	    cache: false,  
        	    dataType: "html",  
        	    success: function(html, textStatus) {  
        	        $('#select-items-form').replaceWith(html);
        	        bindSubmitEmailHandler();
        	        $('#loading').toggle();   
        	    },  
        	    error: function (XMLHttpRequest, textStatus, errorThrown) {  
        	        $('#comment_form form').replaceWith('Your comment was unable to be posted at this time.  We apologise for the inconvenience.');  
        	    }  
        	});  
        	return false; 
    	}
    });  
} 

  
$(document).ready(function() {  
    bindSelectItemsHandler(); 
});  

</script>
<script type="application/javascript">
$(function(){
$('input').customInput();
}); 
</script>

{% endblock %}


{% block extracss %}
<script src="{% staticfile '/js/customInput.jquery.js' %}" type="text/javascript"></script>
<style type="text/css">
div#main-text-wide {
  margin-top: 30px;	
}

div#main-text-wide div#left {
  margin: 30px 0 0 20px;
}

ul#steps {
  margin-left: 110px;
  line-height: 2em;
  margin-bottom: 20px;	
}

ul#steps li.selected {
  font-size: 24px;	
}

ul#steps li.selected span.name {
  color: #333;
  text-decoration: underline;	
}

ul#steps li.selected span.grey {
  color: #999;	
  font-weight: bold;
  font-size: 18px;
}


div#main-text-wide div#left h2 {
    font-weight: normal;
}

div.row {
  background-image: none;	
  -moz-box-shadow: none;
}

div.row-box {
  width: 600px;	
}

.paypal {
  margin-bottom: 20px;	
}

#wishlist {
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin: 5px 30px;
    text-align: right;
    width: 300px;
}

#wishlist img {
  position: relative;
  top: 9px;	
  right: -4px;
}

#main-text-wide #wishlist-full {
  display: none;
  float: left;
  width: 500px;
  height: 200px;
  position: relative;	
}

#paypal {
  display: none;	
}

ul#items {
  list-style-type: none;
  float: left;
  width: 100%;
  padding: 0;
  margin: 20px 0;	
}

#items label {
  width: auto;
  font-weight: normal;
  padding: 20px;
  font-size:14px;
  margin-bottom: 5px;
  border-radius: 5px;	
}

#items label:hover {
  background-color: #f1f1f1;
  cursor: pointer;	
}

#items label span.price, span.price {
  font-weight: bold;
  color: #19761C;	
}

#items label div {
  float: left;
  width: 600px;	
}

#items label div.tick {
  float: left;
  height: 49px;
  width: 49px;
  background: url('{% staticfile "/images/large_tick2.png" %}') no-repeat top left;
  margin-right: 20px;
  position: relative;
  top: 30px;	
}

#items label.checked {
  background-color: #deedda;	
}

#items label.checked div.tick {
  background-position: top right;	
}

#items label div .image {
  float: left;
  margin-right: 20px;	
}

#items input {
  width: auto;
  float: left;
  margin-right: 20px;	
  display: none;
}

input.button {
  font-size: 16px;
  font-family: Helvetica, sans-serif;	
}

div#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.9;
  display: none;
  z-index: 15;	
}

div#loading img {
  float: left;
  position: relative;
  margin-left: 50%;
  top: 40%;
  z-index: 20;	
}

</style>

{% endblock %}

{% block content %}


<div id="main-text-wide">
  <div class="super">
	<ul id="steps">
		<li class="selected">
			<img src="{% staticfile '/images/gift.png' %}" style="float: left;margin-right:15px;position:relative;top:-20px;"/>
			You're looking at <span class="name">{{ wishlist.owner.first_name }} {{ wishlist.owner.last_name }}'s</span> Chinese tea wishlist<br/>
			<span class="grey">Are you ready to give the gift of tea?</span>
		</li>
	</ul>
	
	<div id="basket">
		<div id="loading">
			<img id="loading" src="{% staticfile '/images/loading.gif' %}"/>
		</div>
		
	<form id="select-items-form" method="post" action="{% url wishlist_select_items %}">
	<h2>Which items would you like to buy for {{ wishlist.owner.first_name }}?</h2>
	<p><strong>Click an item to select it:</strong></p>
	<div class="error"></div>
		<ul id="items">
			{% for item in wishlist.wishlist_items.all %}
			<li>
				
				<input type="checkbox" name="items" value="{{ item.id }}" id="id_items_{{ item.id }}" />
				<label for="id_items_{{ item.id }}">
					<div>
						<div class="tick">&nbsp;</div>
						
						{% thumbnail item.item.parent_product.image "150" crop="center" as im %}
							<img class="image" src="{{ im.url }}"/>
						{% endthumbnail %}
						<strong>{{ item.quantity }} X {{ item.item.parent_product.name }} ({% if not item.item.weight %}
			    		{% else %}{{ item.item.weight|floatformat }}{{ item.item.weight_unit }}{% endif %})</strong>
			    		 - <span class="price">{{ item.item.price_unit }}{{ item.item.price }}</span>
			    		
			    		<br/>
						{{ item.item.parent_product.description }}
					</div>
				</label>
			</li>
			{% endfor %}
		</ul>
		<input type="text" id="id_hashkey" name="hashkey" value="{{ wishlist.hashkey }}" style="display:none;"/>
		<div id="select-items">
			<input type="submit" class="button" value="Select these items"/>
		</div>	
	</form>
	
		
    

</div>

	
<div id="left">
	<h2>How does this work?</h2>
	<p>It's simple - {{ wishlist.owner.first_name }} has created a wishlist of Chinese tea items, and you can buy those items for them. We'll send the items you purchase to {{ wishlist.owner.first_name }} and you'll get a big warm fuzzy feeling.</p>
	<h2>Where will we send the order?</h2>
    <p>{{ wishlist.owner.first_name }} has already provided a shipping address to us - we'll send the teas there. However, just to be sure, we will contact {{ wishlist.owner.first_name }} to confirm before we send the teas. For privacy reasons, we can't show you the address they provided.</p>
    
    <h2>Is it safe to order?</h2>
    <p>Yes! You and {{ wishlist.owner.first_name }} are protected by our standard <strong>no questions asked</strong> refund policy, fast and friendly customer services, and privacy of your data. If you ever have any questions about this order, you can contact us directly at <a href="mailto:chris@minrivertea.com">chris@minrivertea.com</a>.</p>
    
    <p>Similarly, because you pay via Paypal, your online payment is secured with industry standard technology and <strong>we never see or store your credit card details.</strong>. We take your data extremely seriously.</p>

</div>

</div>

	
	
	
  </div>
</div>
{% endblock %}
