{% extends base_template %}

{% block pagetitle %}Login to continue{% endblock %}

{% block content %}



<div id="mtw">
	<div class="sp">
	
        <h1>Please login</h1>
		<p class="introduction">Please login to continue:</p>

		{% if form.errors %}
			<p>Your username and password didn't match. Please try again.</p>
		{% endif %}

		<form method="post" action="{% url django.contrib.auth.views.login %}">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Login" class="button" />
			<input type="hidden" name="next" value="{{ next }}" />
		</form>


  </div>
</div>
{% endblock %}
