



<span id="language">
	<img style="position:relative;top:3px; margin:0 4px 0 10px;" src="/images/germany.png"> 
	<span style="color:#3b69a4;" href="#"><strong>Español?</strong></span> 
</span>
	    		
<div id="language-block">
 	<h4>¡Hola! Bienvenido/a a Min River Tea Farm </h4>
	<p>Min River Tea Farm donde vendemos té chino de gran calidad al por mayor, y sí, entregamos en España. Lamentamos que nuestra página web aún no haya sido traducida al Español. Esperamos que pueda navegar por la versión en Inglés sin demasiados problemas. No dude en ponerse en contacto con nosotros si tiene alguna pregunta.
¡Gracias!</p>
	 <a href="#" id="close-language">X</a>	    	
</div>