{% load i18n thumbnail convert_weights %}

<div id="jasmine-special">
	
	<div class="four-teas">
	   
	   {% for x in jasmine_products %}
	   <div>
    	   {% thumbnail x.image "150x90" crop="center" as im %}
    	       <a href=""><img src="{{ im.url }}"/></a>
    	   {% endthumbnail %}
    	   <h3>{{ x.name }}</h3>
	   </div>
	   {% endfor %}
	   
	   
	</div>
	
	
	<div class="details">
    	<h2>{% trans "Four exceptional Jasmine teas" %}</h2>
    	<p>{% trans "Try our full range of unique and delicious Jasmine teas, all fresh from the 2013 harvest. " %}</p>
    	<a href="{{ jasmine_taster.get_absolute_url }}" class="button green">{% trans 'Find out more and buy' %} &raquo;</a>
    </div>
</div>


<script type="text/javascript">

</script>