{% load i18n thumbnail convert_weights %}

<style type="text/css">

.hr.xmas {
  margin: 15px 0 20px 0   
}

#xmas {
  padding: 0px 0 0 0; 
  float: left;
  width: 100%;  
}

#xmas .image {
  float: left;  
  margin: 0 40px 0 0; 
}

#xmas .text {
  float: left;
  margin: 0px 0 0 0;   
}

#xmas .text h2 {
  color: #c01212;
  font-size: 24px;
  margin: 0 0 10px 0;   
}

#xmas .text .deal {
  float: left;
  width: 220px;
  background: url('{{ static_url }}images/homepage/christmas-1.jpg') top left no-repeat #e1e1e1;
  height: 115px;
  margin: 0 15px 0 0;
  position: relative; 
  color: #fff;  
}

#xmas .text .deal.two {
  background: url('{{ static_url }}images/homepage/christmas-2.jpg') top left no-repeat #e1e1e1;    
}

#xmas .text .deal.three {
  background: url('{{ static_url }}images/homepage/christmas-3.jpg') top left no-repeat #e1e1e1;    
}

#xmas .text .deal:hover {
  background-position: 0 -115px;
  color: #333;  
  cursor: pointer;  
}

#xmas .text .deal .inner {
  padding: 20px;   
  text-align: center;
  
}


#xmas .text .deal .inner h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: -0.5px;
  margin: 0px 0 0px 0; 
  color: #fff;  
}

#xmas .text .deal .inner p {
  margin: 0;
  padding: 0; 
  font-size: 13px;  
}

#xmas .text .deal:hover .inner h3 {
  color: #2A8531;   
}

#xmas .text .deal:last-child {
  margin-right: 0;   
}

</style>


<div id="xmas">
	
	<div class="image">
	<img src="{{ static_url }}images/homepage/santa.jpg" />	
	</div>
	
	
	<div class="text">
	
	   <h2>{% trans 'Check out our Christmas deals' %}</h2>
    
        <div class="deal">
            <a href="{% url finder _('teas') %}"><span class="link"></span></a>
            <div class="inner">
            <h3>{% trans 'Three <br/>for two' %}</h3>
            <p>{% trans 'on all our teas' %}</p>
            </div>
        </div>
    
        <div class="deal two">
            <a href="{% url finder _('teaware') %}"><span class="link"></span></a>
            <div class="inner">
            <h3>{% trans 'Tea + Teaware' %}</h3>
            <p>{% trans '15% off any tea with teaware' %}</p>
            </div>
        </div>
        
        <div class="deal three">
            <a href="{% url monthly_tea_box %}"><span class="link"></span></a>
            <div class="inner">
            <h3>{% trans 'Monthly orders' %}</h3>
            <p>{% trans 'Special gift with each order' %}</p>
            </div>
        </div>
    
    </div>
    
</div>

<div class="hr xmas"></div>

