{% load i18n thumbnail convert_weights %}


<div id="jasmine-special">
	
	<div class="four-teas">
	   {% for x in jasmine_special_products %}
	   <div>
    	   <a href="{{ x.get_absolute_url }}"><span class="link"></span></a>
    	   {% thumbnail x.image "120x70" crop="center" as im %}
    	   <a href=""><img src="{{ im.url }}"/></a>
    	   {% endthumbnail %}
    	   <h3><a href="{{ x.get_absolute_url }}">{{ x.name }}</a></h3>
    	   <div class="price-weight"><span class="price">{{ currency.symbol }}{{ x.price.price }}</span>{% if x.price.weight %}<span class="weight"> / {% convert_weights request x.price.weight %}{{ weight_unit }}</span>{% endif %}</div>
	   </div>
	   {% endfor %}
	</div>
	
	
	<div class="details">
    	<h2>{% trans "We've gone a bit Jasmine crazy" %}</h2>
    	<p>{% trans 'The freshest Jasmine teas are available right now. Choose your favourite, order the full set or read more in our blog post' %}</p>
    </div>
</div>


<script type="text/javascript">

</script>