<!-- Begin MailChimp Signup Form -->
<style type="text/css">

</style>
<div id="mc_embed_signup">
<form action="http://minrivertea.us3.list-manage.com/subscribe/post?u=1c083db91f2693a14e899c9ac&amp;id={{ mailchimp_list_id }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	
	<input type="email" value="" name="EMAIL" class="email clearMeFocus" id="mce-EMAIL" placeholder="Your email address" required>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button green"></div>
</form>
</div>
<!--End mc_embed_signup-->