{% load i18n %}
<div id="footer">	


  <div class="sp">
    <a id="harvest" href="/blog/how-iron-buddha-tea-is-made-photos/">See our step-by-step photo guide to how Iron Buddha tea is made in Anxi &raquo;</a>
  </div>

  <div class="sp thin">
    

	<div class="footer-box">
	    <h4><a href="{% url blog_home %}">Read our Chinese tea blog &raquo;</a></h4>
	    <p>News, information and ideas about Chinese tea from the Min River Tea Farm</p>
	    <ul>
	    {% for blog in latestblogs %}
	      <li>
	      	<a href="{% url blog_entry blog.slug %}">{{ blog.title }}</a><br/>
	      </li>
		{% endfor %}
		</ul>
	</div>
		
	<div class="footer-box">
	    <h4><a href="/learn/">Learn more about Chinese tea &raquo;</a></h4>
	    <p>Get the most out of your Chinese teas with our guides and information.</p>
		<ul>
    		<li><a href="/how-to-brew-chinese-tea/">{% trans 'How to brew Chinese tea'%}</a></li>
            <li><a href="/tea-and-the-environment/">{% trans 'Tea and the environment'%}</a></li>
            <li><a href="/about-chinese-tea/">{% trans 'Tea culture in China'%}</a></li>
            <li><a href="/about-fujian-province/">{% trans 'Where does our tea come from?'%}</a></li>
            <li><a href="/harvesting-tea/">{% trans 'How is Chinese tea made?'%}</a></li>
		</ul>
	</div>
	
	<div class="footer-box about">
	  <h4>About Min River Tea (China)</h4>
	  <p>We have been selling exceptional Chinese teas in China and globally since 2010</p>
	  
	  
	  
	  <ul>
	    <li><a href="/about-china/">About us</a></li>
	  	<li><a href="/contact-us/">Contact Us</a></li>
	  	<li><a href="/shipping-china/">Where do we deliver?</a></li>
	  </ul>
	  
	</div>
	
	<div id="location-switcher">
   	   You're viewing our <strong>{{ region }}</strong> site, for customers living in China - 
   	   <a href="{% url international %}">click here to view the international site &raquo;</a>
   	</div>



  </div>	
</div>