{% load django_static %}



<div id="footer">	

  <div class="super">
    <a id="harvest" href="http://www.minrivertea.com/blog/spring-tea-harvest-2012-part-one/">We're live blogging from the 2012 Spring tea harvest - check out Part 1 here &raquo;</a>
  </div>
    
  <div class="super thin">
    

	<div class="footer-box">
	    <h4><a href="{% url blog_home %}">Read our Chinese tea blog &raquo;</a></h4>
	    <p>News, information and ideas about Chinese tea from the Min River Tea Farm</p>
	    <ul>
	    {% for blog in latestblogs %}
	      <li>
	      	<a href="{% url blog_entry blog.slug %}">{{ blog.title }}</a><br/>
	      </li>
		{% endfor %}
		</ul>
	</div>
		
	<div class="footer-box">
	    <h4><a href="/learn/">Learn more about Chinese tea &raquo;</a></h4>
	    <p>Get the most out of your Chinese teas with our guides and information.</p>
		<ul>
		  {% include 'shop/snippets/learn_pages_list.html' %}
		</ul>
	</div>
	
	<div class="footer-box about">
	  <h4>About the Min River Tea Farm</h4>
	  <p>We're a UK tea company selling fine quality Chinese teas.</p>
	  
	  
	  
	  <ul>
	    <li><a href="/about/">About us</a></li>
	  	<li><a href="/contact-us/">Contact Us</a></li>
	  	<li><a href="/where-do-we-deliver/">Where do we deliver?</a></li>
	  </ul>
	  
	</div>



  </div>	
</div>