{% load i18n %}

<div id="footer">	
    
  <div class="sp thin">
    
	<div class="footer-box about">
	  <h4><a href="{% url page _('about') %}">{% trans 'About the Min River Tea Farm &raquo;' %}</a></h4>
	  <p>{% trans "We're a UK tea company selling fine quality Chinese teas across the world." %}</p>
	  
	  <ul>
	    <li><a href="{% url page _('about') %}">{% trans 'About us' %}</a></li>
	  	<li><a href="{% url page _('shipping') %}">{% trans 'Shipping information' %}</a></li>
        <li><a href="{% url page _('about-fujian-province') %}">{% trans 'Where does our tea come from?' %}</a></li>
	  </ul>
	  
	</div>

	<div class="footer-box">
	    <h4><a href="{% url blog_home %}">{% trans 'Read our Chinese tea blog' %} &raquo;</a></h4>
	    <p>{% trans 'News, information and ideas about Chinese tea from the Min River Tea Farm' %}</p>
	    <ul>
	    {% for blog in latestblogs %}
	      <li>
	      	<a href="{% url blog_entry blog.slug %}">{{ blog.title }}</a><br/>
	      </li>
		{% endfor %}
		</ul>
	</div>
	
    <div class="footer-box learn">
		
		<form action="{% url email_signup %}" method="post">
	        <input type="text" name="email" id="id_email" title="{% trans 'Your email address' %}" class="clearMeFocus"/>
	        <input type="submit" class="submit button green" value="{% trans 'Signup' %}" />
        </form>
        <p>{% blocktrans %}Signup to get news and information about Chinese tea, tea culture and special offers from {{ site_name }}{% endblocktrans %}</p>
    </div>

    <p class="copyright">
        &copy; {{ site_name }} | 145 - 157 St John St, London, EC1V 4PW, UK | 
        <a href="{% url page _('contact-us') %}">{% trans 'Contact Us' %}</a> | 
        <a href="{% url page _('terms-and-conditions') %}">{% trans 'Terms & Conditions' %}</a> | 
        <a href="{% url page _('privacy') %}">{% trans 'Privacy' %}</a> | 
        <a href="{% url page _('imprint') %}">{% trans 'Imprint' %}</a> <br/>
        <span class="languages">
            <strong>{% trans 'Available languages' %}</strong>: 
            <a href="{% url changelang 'en' %}">{% trans 'English' %}</a> | 
            <a href="{% url changelang 'de' %}">{% trans 'German' %}</a>  
            {% if request.user.is_superuser %} | <a href="{% url changelang 'it' %}">{% trans 'Italian' %}</a>{% endif %}
        </span>
    </p>
    
    <ul id="social">
       <li><a title="{% trans 'Find us on Facebook' %}" href="http://www.facebook.com/minrivertea" id="facebook"></a></li>
       <li><a title="{% trans 'Follow us on Twitter' %}" href="http://www.twitter.com/minrivertea" id="twitter"></a></li>
       <li><a title="{% trans 'Check out our pins on Pinterest' %}" href="http://pinterest.com/minrivertea/" id="pinterest"></a></li>
       <li><a title="{% trans 'Join our Google+ Group' %}" href="https://plus.google.com/115218838272806349303" id="google"></a></li>
	</ul>
	


  </div>	
</div>