{% load django_static %}


<div id="footer">
  <div class="super">
		
	<div class="footer-box">
	    <h4><a href="{% url blog_home %}">Read our Chinese tea blog &raquo;</a></h4>
	    <p>News, information and ideas about Chinese tea from the Min River Tea Farm</p>
	    <ul>
	    {% for blog in latestblogs %}
	      <li>
	      	<a href="{% url blog_entry blog.slug %}">{{ blog.title }}</a><br/>
	      </li>
		{% endfor %}
		</ul>
	</div>
		
	<div class="footer-box">
	    <h4><a href="/learn/">Learn more about Chinese tea &raquo;</a></h4>
	    <p>Get the most out of your Chinese teas with our guides and information.</p>
		<ul>
		  {% include 'shop/snippets/learn_pages_list.html' %}
		</ul>
	</div>
	
	<div class="footer-box">
	  <h4><A href="/about/">About the Min River Tea Farm &raquo;</a></h4>
	  <p>We sell Chinese teas that will change your life - healthier, fresher, tastier. <a href="/about/">About us &raquo;</a></p>
	  
	  <form id="email-signup" action="{% url email_signup %}" method="post">
	  	<input type="text" name="email" id="id_name" onfocus="if(this.value == 'Your email address') { this.value = ''; }" value="Your email address" />
	  	<input type="submit" value="Signup!" class="button"/>
	  	<p>Regular TEAMails in your inbox.</p>
	  	<img id="loading" src="{% staticfile '/images/loading.gif' %}">
	  </form>
	  
	</div>



  </div>	
</div>