   {% load i18n %}
    
    <div id="special">    
        <a href="{% url sale %}"><span class="link"></span></a>
		<img src="{{ static_url }}images/homepage/home-promo-jan-2013.jpg"/>
		<span id="opener">{% trans 'Feeling the cold this winter?' %}</span>
		<h2>{% blocktrans %}<span>15&#37; off all our roasted teas</span></h2>
		<span id="punchline"><br/>That'll warm you up this winter.{% endblocktrans %}</span>
		<a class="button green" id="click" href="{% url sale %}">{% trans 'Start browsing our sale' %} &raquo;</a>
	</div>