   {% load django_static i18n %}
    
    <div id="special">
        <a href="" class="atb large">
            <strong>£20</strong> / 100g - add to your basket now &raquo;
            <span></span>
        </a>
    
        <a href="/teas/long-jing-green-tea/"><span class="link"></span></a>
		<img src="{% staticfile '/images/long-jing-promo.jpg' %}"/>
		<h2>{% blocktrans %}Fresh and natural <span>Dragon Well tea,</span> picked in April 2012, Hangzhou, China &raquo;{% endblocktrans %}</h2>
	</div>