{% load nav_selected i18n %}

<div id="navigation">
  <ul id="nav">
    
    <li>
      <a class="{% nav_selected request '^/oolong-tea/' %}" href="{% url oolong_tea %}" title="{% trans 'Buy oolong teas direct from farms in China' %}" alt="{% trans 'Buy oolong teas direct from farms in China' %}">{% trans 'Oolong tea' %}</a> 
    </li>
    
    <li>
      <a class="{% nav_selected request '^/red-tea/' %}" href="{% url red_tea %}" title="{% trans 'Buy red teas direct from farms in China' %}" alt="{% trans 'Buy red teas direct from farms in China' %}">{% trans 'Red tea' %}</a> 
    </li>

    <li>
      <a class="{% nav_selected request '^/green-tea/' %}" href="{% url green_tea %}" title="{% trans 'Buy green teas direct from farms in China' %}" alt="{% trans 'Buy green teas direct from farms in China' %}">{% trans 'Green tea' %}</a> 
    </li>

    <li>
      <a class="{% nav_selected request '^/white-tea/' %}" href="{% url white_tea %}" title="{% trans 'Buy white teas direct from farms in China' %}" alt="{% trans 'Buy white teas direct from farms in China' %}">{% trans 'White tea' %}</a> 
    </li>

    <li>
      <a class="{% nav_selected request '^/scented-tea/' %}" href="{% url scented_tea %}" title="{% trans 'Buy white teas direct from farms in China' %}" alt="{% trans 'Buy white teas direct from farms in China' %}">{% trans 'Scented tea' %}</a> 
    </li>
    
    <li>
      <a class="{% nav_selected request '^/teaware/' %}" href="{% url teaware %}" title="{% trans 'Teacups, teapots and accessories for your Chinese tea experience' %}" alt="{% trans 'Teacups, teapots and accessories for your Chinese tea experience' %}">{% trans 'TeaWare' %}</a>
    </li>

    {% if request.user.is_superuser %}
    <li>
      <a class="{% nav_selected request '^/tea-boxes/' %}" href="{% url tea_boxes %}" title="{% trans 'Get your tea delivered to your door regularly, with our TEABoxes packages.' %}" alt="{% trans 'Get your tea delivered to your door regularly, with our TeaBoxes packages.' %}">{% trans 'TeaBoxes' %}</a>
    </li>
    {% endif %}

<!--
    <li>
      <a class="{% nav_selected request '^/tea-gifts/' %}" href="{% url tea_gifts %}" title="{% trans 'Give the gift of tea' %}" alt="{% trans 'Give the gift of tea' %}">{% trans 'TEAGifts' %}</a>
    </li>
-->

    <li>
      <a class="grey{% if page %}{% if page.get_root.slug == 'learn' %} selected{% endif %}{% else %} {% nav_selected request '^/(learn|blog)/' %}{% endif %} learn" href="/learn/" title="{% trans 'Learn about Chinese tea' %}" alt="{% trans 'Learn about Chinese tea' %}">{% trans 'Learn about tea' %}</a>
    </li>
    <li>
      <a class="grey {% if page %}{% if page.get_root.slug == 'about' %}selected{% endif %}{% else %}{% nav_selected request '^/about/' %}{% endif %} about" href="/about/" title="{% trans 'About Min River Tea' %}" alt="{% trans 'About Min River Tea' %}">{% trans 'About us' %}</a>
    </li>
  </ul>
</div>