{% load i18n %}

<h2>{% trans 'Your amazing Chinese tea wishlist!' %}</h2>

<p><img style="float: left; margin-right: 15px; position: relative; top: -10px;" src="{{ static_url }}images/gift.png"/>{% trans "Cool, you've made a wishlist! Below is a unique wishlist URL - you can send this URL to your family and friends, and they can purchase this basket on your behalf." %}</p>

<p>{% trans "Here's your unique wishlist URL:" %}</p>

<p class="url"><a href="{{ site_url }}{% url wishlist_url order.hashkey %}">{{ site_url }}{% url wishlist_url order.hashkey %}</a></p>

<p>{% trans "If somebody purchases this wishlist for you, then we'll notify you first to confirm your address, and then send you your tea!" %}</p>

	