
<ul id="right-nav">
  {% for item in nav_items %}
	<li>	
  	  <a class="{% if item.slug in request.path %}selected{% endif %}" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
		{% if item.slug in request.path %}
		  {% if item.get_children %}
			<ul class="subnav">
			  {% for page in item.get_children %}
				<li>
				  <a class="{% if page.slug in request.path %}selected{% endif %}" href="{{ page.get_absolute_url }}">{{ page.title }}</a>
				</li>
			  {% endfor %}
			</ul>
		  {% endif %}
		{% endif %}
    </li>
  {% endfor %}
</ul>

