{% load django_static i18n convert_weights %}

<form id="paypal" method="post" action="{{ paypal_submit_url }}">
    
    	<div id="checkout-button">
			<input type="submit" value="{% trans 'Confirm and pay' %}" next="" class="button green"/>
			<p class="checkout"><strong>{% trans "Next step" %}:</strong> <em>{% trans "pay securely via PayPal, using all major credit and debit cards or your linked Paypal account." %}</em></p>
			<img id="ppicon" src="{% staticfile '/images/002.gif' %}" class="paypal">
			
		</div>	
    

		<input type="hidden" name="cmd" value="_cart"> 
		<input type="hidden" name="upload" value="1"> 
		<input type="hidden" name="business" value="{{ paypal_receiver_email }}">
		<input type="hidden" name="currency_code" value="{{ currency.code }}">
		<input type="hidden" name="address_override" value="1">
		
		
		<input type="hidden" name="first_name" value="{{ order.owner.first_name }}">
		<input type="hidden" name="last_name" value="{{ order.owner.last_name }}">
		<input type="hidden" name="email" value="{{ order.owner.email }}">
		
		
		<input type="hidden" name="address2" value="{{ order.address.address_line_2 }}">
		<input type="hidden" name="address1" value="{{ order.address.house_name_number }}, {{ order.address.address_line_1 }}">		
		<input type="hidden" name="address2" value="{{ order.address.address_line_2 }}">
		<input type="hidden" name="city" value="{{ order.address.town_city }}">
		{% if order.address.province_state %}<input type="hidden" name="state" value="{{ order.address.province_state }}">{% endif %}
		<input type="hidden" name="country" value="{{ order.address.country }}">
		<input type="hidden" name="zip" value="{{ order.address.postcode }}">
		<input TYPE="hidden" NAME="return" value="{{ paypal_return_url }}">
		<input TYPE="hidden" NAME="cancel" value="{{ paypal_notify_url }}">
		<input TYPE="hidden" NAME="notify_url" value="{{ paypal_notify_url }}">
		<input type="hidden" id="id_no_shipping" value="1" name="no_shipping">
		<input type="hidden" id="id_charset" value="utf-8" name="charset">

        {% if LANGUAGE_CODE == 'de' %}
        <input type="hidden" id="id_lc" value="DE" name="lc">
        {% else %}
		<input type="hidden" id="id_lc" value="GB" name="lc">
        {% endif %}

        {% if discount %}
        <input type="hidden" name=" discount_amount_cart" value="{{ discount|floatformat:"2" }}" id="id_discount_amount" >
        {% endif %}

		<input type="hidden" name="invoice" value="TEA-00{{ order.id }}" id="id_invoice" >
		
		
		{% if postage_discount %}
		{% else %}
		<input type="hidden" name="item_name_1" value="{% trans 'Postage Standard Rate' %}"> 
		<input type="hidden" name="quantity_1" value="1">
		<input type="hidden" name="amount_1" value="{{ currency.postage_cost|floatformat:'2' }}">
		{% endif %}
		 
		 {% if postage_discount %}
	 		 {% for thing in order.items.all %}
				<input type="hidden" name="item_name_{{ forloop.counter }}" value="{{ thing.item.parent_product.name }} {{ thing.item.parent_product.category }} {% if thing.item.weight %}({% convert_weights request thing.item.weight %}{{ weight_unit }}){% endif %}"> 
				<input type="hidden" name="quantity_{{ forloop.counter }}" value="1">
				<input type="hidden" name="amount_{{ forloop.counter }}" value="{{ thing.item.price|floatformat:'2' }}"> 
			 {% endfor %}
		{% else %}
			 {% for thing in order.items.all %}
				<input type="hidden" name="item_name_{{ forloop.counter|add:"1" }}" value="{{ thing.item.parent_product.name }} {{ thing.item.parent_product.category }} {% if thing.item.weight %}({% convert_weights request thing.item.weight %}{{ weight_unit }}){% endif %}"> 
				<input type="hidden" name="quantity_{{ forloop.counter|add:"1" }}" value="{{ thing.quantity }}">
				<input type="hidden" name="amount_{{ forloop.counter|add:"1" }}" value="{{ thing.get_price|floatformat:'2' }}"> 
			 {% endfor %}
		{% endif %}

	</form> 
