{% load i18n thumbnail convert_weights %}


<script type="text/javascript">

    $(document).ready( function() {
        $('#products .product .text').each( function() {
           var thisHeight = $(this).height();
           $(this).css({'height': thisHeight, 'position': 'absolute'}); 
        }); 
    });

</script>

</script>

<div id="products" class="pure-u-1">
{% for x in products %}
    <div class="product pure-g b-pad r-pad">
        
        <a href="{{ x.get_absolute_url }}"><span class="link"></span></a> 
            
        <div class="image pure-u-8-24">
        {% thumbnail x.image "400x300" crop="center" as im %}
            <img class="pure-u-1" src="{{ im.url }}"/>
        {% endthumbnail %}
        
        {% if x.totm %}
            <div class="stamp">
                Tea of the month
            </div>
        {% endif %}
        
        </div>  
         
        {% url home as home_url %}               
        <div class="text pure-u-18-24 l-pad r-pad">
            <h3 class="pure-u-1"><a href="">{{ x.name|safe }}<span></span></a></h3>
                        
            <p class="pure-u-16-24 description">{{ x.description|safe }}</p> 
            
            <div class="buttons pure-u-10-24 t-pad">
                
                {% if x.price.stocks.available %}
                <span class="price pure-g">
                    
                    {% if x.price.weight %}
                        <span class="pure-u-6-24">{% convert_weights request x.price.weight %}{{ weight_unit }}</span>
                    {% endif %}
                    
                    {% if x.price.sale_price %}
                        <span class="strikethrough red small">
                            {{ currency.symbol }}{{ x.price.price|floatformat:"2" }}
                        </span>
                    {% endif %}
                    
                    <span class="pure-u-6-24">
                        <strong>{{ currency.symbol }}{{ x.price.get_price|floatformat:"2" }}</strong>
                    </span>
                    
                    <a href="{% url add_to_basket x.price.id %}" class="button green small">{% trans 'Add to basket' %}</a>
                    
                </span>
                {% else %}
                    <span class="pure-u-1 red">
                        {% trans 'This item is currently out of stock' %}
                    </span>
                {% endif %}
                
            </div>
                             
        </div>
        
        
        
        
    </div>
{% endfor %}
</div>