{% load thumbnail i18n convert_weights %}

{% for p in products %}

    <div class="info tea long">
        <a title="" href="{{ p.get_absolute_url }}"><span class="link"></span></a>	
    	{% thumbnail p.image "475x190" crop="center" as im %}
		<img alt="a picture of {{ p.name }}" title="{{ p.name }} - {% trans 'click to view more details' %}" class="" src="{{ im.url }}"/>
		{% endthumbnail %}		  
		 
		
		<div class="glass-text">
		  <div class="inner">
			
			<div class="pricebar"> 
			     
			     <h4>
		  			<a title="{{ p.name }} - {% trans 'find out more or order some now!' %}" href="{{ p.get_absolute_url }}">{{ p.name }}</a>
				</h4>
			     
			     <div class="price-weight">
    		        <span class="price">
    		            {{ currency.symbol }}{{ p.price.price|floatformat:"-2" }}
    		        </span>
    		        <span class="weight">    
    		          / {% if p.price.weight %}{% convert_weights request p.price.weight %}{{ weight_unit }}{% else %}{{ p.price.description }}{% endif %}
    		        </span>    		        
    			 </div>
    			 
    			 <p>{{ p.description }}</p>
    			 	{% if p.price.stocks.count < 0 %}
           	     		<span class="not-in-stock">
           	     			{% trans "Order now and we'll deliver this before" %} {{ p.get_preorder_date|date:"d M Y" }}
           	     		</span>
    			 	{% endif %}
				
					<a title="{% trans 'Add 1 x ' %} {{ p.name }} {% if p.price.weight %}({% convert_weights request p.price.weight %}{{ weight_unit }}){% endif %} {% trans 'to your basket' %}" class="button small" href="{% url add_to_basket p.price.id %}" class="" id="add_to_basket_{{ p.price.id }}"><span class="plus">+</span></a>
				
				<div class="in-basket">
    		      {% if p.basket_quantity %}<span class="num">{{ p.basket_quantity }}</span> {% trans 'already in basket' %}{% endif %}
    		     </div> 
		      </div>
			
		  </div>
	</div>
	
	{% if p.tag_text %}
      	<span class="tag" style="background: {% if p.tag_color %}{{ p.tag_color }}{% else %}#1f7dc5{% endif %};">
      	     <span class="tagtext">{{ p.tag_text }}</span>
      	</span>
      {% endif %}

</div>
{% endfor %}
