{% load i18n thumbnail convert_weights %}

{% for t in teas %}
  {% if t.price %}
    <div class="info tea long {% cycle '' 'grey' %}{% if t.quantity > 0 %} green{% endif %}">
        
        <a href="{{ t.get_absolute_url }}"><span class="link"></span></a>
        
        
        <div class="in-basket">
              
              <div class="tools{% if t.quantity < 1 %} hide{% endif %}">
                 <a class="plus" href="{% url add_to_basket_monthly t.single_price.id months %}">+</a>
                 <a class="minus" href="{% url reduce_quantity_monthly t.single_price.id %}">-</a>
              </div>
        
        {% if t.quantity > 0 %}              
              <span class="quantity">
                      <span class="num">{{ t.quantity }}</span> {% trans 'in your TeaBox!' %}
              </span>
              
        </div>
        {% else %}
        </div>
        <a class="button green small" id="{{ t.price.id }}" href="{% url add_to_basket_monthly t.single_price.id months %}">{% trans 'Add to TeaBox' %}</a>
        {% endif %}        
        
        <div class="image">
        {% thumbnail t.image thumb_small crop="center" as im %}
        <a class="" alt="{% blocktrans with t.name as name %}a picture of our {{ name }}{% endblocktrans %}" title="{{ t.name }}" href="{{ t.get_absolute_url }}">
        	<img alt="{{ t.description }}" src="{{ im.url }}"/>
        </a>
        {% endthumbnail %}
        </div>
        
        <div class="inner">        
            <div class="title">
                <h3><a href="{{ t.get_absolute_url }}">{{ t.name }}</a></h3>
            </div>
            
            <div class="price">
                {% if t.price.price %}{{ currency.symbol }}{{ t.price.price|floatformat:"-2" }}{% else %}{% if months %}{{ currency.symbol }}{{ t.price|floatformat:"2" }}{% endif %}{% endif %}
            </div>
            
            <div class="weight">
                {% if t.single_price.weight %}{% convert_weights request t.single_price.weight %}{{ weight_unit }}{% endif %}
            </div>
            
            
            
                       
        </div>
            
    </div>
  {% endif %}
{% endfor %}