{% load i18n thumbnail convert_weights %}

{% for t in teas %}
    <div class="info tea half {% cycle 'left' 'right' %}" >
    
        {% if t.tag_text %}
        <div class="tag" {% if t.tag_color %}style="background: {{  t.tag_color }};"{% endif %}>
            <div class="tagtext">
                {{ t.tag_text }}
            </div>
        </div>
        {% endif %}
            
        <a href="{{ t.get_absolute_url }}"><span class="link"></span></a>
        {% if months %}
            
            <a class="button green small addtocart" id="{{ t.price.id }}" href="{% url add_to_basket_monthly t.single_price.id months %}">{% trans 'Add to TeaBox' %}</a>
        {% else %}
        
            {% if t.price.stocks.preorder %}
                <a href="{% url add_to_basket t.price.id %}" class="button orange small addtocart"><span title="{% trans 'Order now and receive this on' %} {{ t.get_preorder_date|date:'d M Y' }}" id="add_to_basket_{{ t.price.id }}">{% trans 'Preorder now' %}</span></a>
            {% endif %} 
            
            
            {% if not t.in_stock and not t.price.stocks.preorder %}
                <a href="#" class="button green small notify" data-id="{{ t.id }}" data-name="{{ t.name }}">
                    {% trans "Notify me when it's available" %}</a>
            {% endif %}
           
              
            {% if t.price.stocks.available %}
            <a title="{% trans 'Add 1 x ' %} {{ t.name }} {% if t.price.weight %}({% convert_weights request t.price.weight %}{{ weight_unit }}){% endif %} {% trans 'to your basket' %}" href="{% url add_to_basket t.price.id %}" class="button green small addtocart" id="add_to_basket_{{ t.price.id }}"><span class="plus">{% trans 'Add to basket' %}</span></a>
            {% endif %}
        
        
        {% endif %}
        
        {% thumbnail t.image "240x180" crop="center" as im %}
        <a class="imagelink" alt="{% blocktrans with t.name as name %}a picture of our {{ name }}{% endblocktrans %}" title="{{ t.name }}" href="{{ t.get_absolute_url }}">
        	<img alt="{{ t.description }}" src="{{ im.url }}"/>
        </a>
        {% endthumbnail %}
            
        <div class="glass-text">
            <div class="inner">
                <div class="pricebar">
                    
                    {% if not t.in_stock and not t.price.stocks.preorder %}
            
                    <div class="oos-inner">
                        <h4>{% blocktrans with t.name as name %}{{ name }} is currently out of stock{% endblocktrans %}</h4>
                    </div>

                    {% else %}
                    
                    
                    <h3><a href="{{ t.get_absolute_url }}">{{ t.name }}</a></h3>
                    
                    <p>{{ t.description }}</p>
                    
                    <div class="price-weight">
                        <span class="price">
                            {% if t.price.sale_price %}
                            <span class="strikethrough red">{{ currency.symbol }}{{ t.price.price|floatformat:"-2" }}</span>
                            {% endif %}
                            {% if t.price.price %}
                                {{ currency.symbol }}{{ t.price.get_price|floatformat:"-2" }}
                            {% else %}
                                {% if months %}
                                    {{ currency.symbol }}{{ t.get_price|floatformat:"2" }}
                                {% endif %}
                            {% endif %}
                        </span> 
                        <span class="weight">
                            {% if t.price.weight %}
                                / {% convert_weights request t.price.weight %}{{ weight_unit }}
                            {% endif %}
                        </span>
                    </div>
                   
                    
                    {% if t.get_reviews.count > 0 %}
                    <div class="reviews">
                    
                        {% blocktrans count counter=t.get_reviews.count %}
                        {{ counter }} review
                        {% plural %}
                        {{ counter }} reviews
                        {% endblocktrans %}
                    </div> 
                    {% endif %} 
                    
                    {% endif %}
                    
                                      
                </div>                            
                </div>
        </div>
    </div>
{% endfor %}