{% load thumbnail i18n convert_weights %}

<div class="info tea {% cycle 'left' 'right' %}">
    <a href="{{ t.get_absolute_url }}"><span class="link"></span></a>
    {% thumbnail t.image thumb_medium crop="center" as im %}
	<a class="imagelink" alt="{% blocktrans with t.name as name %}a picture of our {{ name }}{% endblocktrans %}" title="{{ t.name }}" href="{{ t.get_absolute_url }}">
		<img alt="{{ t.description }}" src="{{ im.url }}"/>
	</a>
    {% endthumbnail %}
    <div class="glass-text">
        <div class="back"></div>
        <div class="inner">
            <div class="pricebar">
                <div class="price-weight">
                    <span class="price">{% if t.price.price %}{{ currency.symbol }}{{ t.price.price|floatformat:"-2" }}{% endif %}</span> 
                    <span class="weight">{% if t.price.weight %}/ {% convert_weights request t.price.weight %}{{ weight_unit }}{% endif %}</span>
                </div>
                <h4><a href="{{ t.get_absolute_url }}">{{ t.name }}</a></h4>
             </div>
         </div>
     </div>
</div>