{% load i18n %}

<div id="userbasket" {% if basket_quantity > 0 %}class="selected"{% endif %}>
    <div id="item"></div>
    <span class="basket"></span>
            
    <div id="quantity">
        {% blocktrans count basket_quantity as bq %}<span class="q">{{ bq }}</span> item{% plural %}<span class="q">{{ bq }}</span> items{% endblocktrans %} / {{ currency.symbol }}<span class="p">{{ basket_amount|floatformat:"2" }}</span>
    	{% if basket_quantity > 0 %}{% endif %}
    	{% if basket_quantity %}
    	   <a href="{% url basket %}" title="{% trans 'View your basket' %}" alt="{% trans 'View your basket' %}">{% trans 'Checkout now' %} &raquo;</a>
        {% endif %}
    </div>
</div>
