
<div id="sampler-form">

<h3>Success!</h3>

<p>We're going to send a Valentines Day sample of our amazing Jasmine Pearls tea to the address you provided. We really hope it makes someone's day!</p>

<div id="tweet" style="background-color: #f6f6f6; border-radius: 5px; padding: 15px 20px;">
	<h3 style="color: #F37679;float:left;margin-right:20px">Want to Tweet about this and tell your friends? &raquo;</h3>
	<a href="http://twitter.com/share" class="twitter-share-button" data-text="@minrivertea I just got a free tea sample for Valentines!" data-count="horizontal" data-via="minrivertea">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>

</div>