{% load django_static %}

		<div class="info email-signup">
			<h3>Want email updates?</h3>
			<p>We send news, information and offers to your inbox about twice a month - signup below.</p>
			<form action="{% url email_signup %}" type="post">
				<input type="text" id="id_email" name="email" title="Your email address" value="" class="clearMeFocus"/>
				<span>Read our <a href="/privacy/">Privacy</a> policy</span>
				<input type="submit" value="Submit" class="submit button"/>
			</form>
		</div>
		