{% load i18n %}


<div class="info email-signup" id="email-signup">	
	<img class="loading" src="{{ static_url }}images/loading.gif"/>
	<h3>{% trans 'News, information and offers' %}</h3>
	<form action="{% url email_signup %}" type="post">
		<input type="text" id="id_email" name="email" title="{% trans 'Your email address' %}" value="" class="clearMeFocus"/>
		<span>{% blocktrans %}Read our <a href="/privacy/">Privacy</a> policy{% endblocktrans %}</span>
		<input type="submit" value="{% trans 'Submit' %}" class="submit button"/>
	</form>
</div>
		
		
<script type="text/javascript">

	   $('#email-signup form').submit(function() {
	       $('#email-signup').css('opacity', '0.5');
	       $('img.loading').toggle();
	       $.ajax({  
    	     type: "POST",  
    	     data: $('#email-signup form').serialize(), 
    	     url: "{% url email_signup %}",  
    	     cache: false,  
   		     dataType: "html",  
    	     success: function(data, textStatus) {
    	     	$('#email-signup').html(data);
    	     	$('.loading').toggle();
    	     	$('#email-signup').css('opacity', '1');
    	     }
   		   }); 
		  return false;	
	    });


</script>