{% load thumbnail i18n convert_weights %}

{% for tea in teas %}
	{% thumbnail tea.image thumb_medium crop="center" as im %}
	<div class="info tea">
	   <img src="{{ im.url }}"/>
	   <a href="{{ tea.get_absolute_url }}"><span class="link"></span></a>
	   
	   <div class="glass-text">
	       <div class="inner">
	          <div class="pricebar">
	           <div class="price-weight">
	               <span class="price"><strong>{{ tea.price.currency.symbol }}{{ tea.price.price|floatformat:"-2" }}</strong></span>
	               <span class="weight"> / {% if tea.price.weight %}{% convert_weights request tea.price.weight %}{{ weight_unit }}{% else %}{{ tea.price.description }}{% endif %}</span>
	            </div>
        	    <h4><a href="{{ tea.get_absolute_url }}">{{ tea.name|safe }} &raquo;</a></h4>
	         </div>
	       </div>
	   </div>
	</div>
	{% endthumbnail %}
{% endfor %}