{% load thumbnail i18n convert_weights %}

{% for tea in teas %}
	{% thumbnail tea.image thumb_medium crop="center" as im %}
	<div class="info tea">
	   <img src="{{ im.url }}"/>
		<a href="{{ tea.get_absolute_url }}"><span class="link"></span></a>
	    <span class="price"><strong>{{ tea.price.currency.symbol }}{{ tea.price.price|floatformat:"-2" }}</strong> / {% if tea.price.weight %}{% convert_weights request tea.price.weight %}{{ weight_unit }}{% else %}{{ tea.price.description }}{% endif %}</span>
	    <h3><a href="{{ tea.get_absolute_url }}">{{ tea.name|safe }} &raquo;</a></h3>
	</div>
	{% endthumbnail %}
{% endfor %}