{% extends email_base_template %}
{% load i18n %}

{% block content %}

{% blocktrans with order.owner.first_name|capfirst as fn %}
<h1>Would you like to finish your order?</h1>
<p><strong>Hi {{ fn }},</strong><p>

<p>We noticed that you got halfway through an order yesterday on {{ site_name }}, but then didn't complete your purchase. Was there something wrong that we can help with?</p>

<p>If you want to finish your order, use this link to jump straight to the order confirmation page (no need to fill in your details again):</p>
 
<p><a href="{{ site_url }}{{ url }}">Click on this link to finish your order &raquo;</a></p>

<p>If you have any questions at all, just reply to this email and we'll do our best to resolve any problems as quickly as possible.</p>

{% endblocktrans %}
{% endblock %}
