{% extends email_base_template %}
{% load i18n %}

{% block content %}
{% blocktrans with order.owner.first_name|capfirst as fn and order.invoice_id as order_id %}
<h1>Order confirmation</h1>
<p><strong>Hi {{ fn }}</strong> - this is your order confirmation. Keep it for your records and just in case you need to contact us later about your order. Your order ID is: {{ order_id }}</p>{% endblocktrans %}
                                                                
<table id="details">
    {% for x in items %}
    <tr>
        <td>
            <strong>{{ x.quantity }} x {{ x.item.parent_product }} {% if x.weight %}({{ x.weight }}{{ weight_unit }}){% endif %}</strong><br/>{{ x.item.currency.symbol }}{{ x.item.price }} {% trans 'each' %}
        </td>
        <td>{{ x.item.currency.symbol }}{{ x.get_price }}</td>
    </tr>
    {% endfor %}
    
    
    <tr>
        <td>
            {% if postage_discount %}
                {% blocktrans %}There is no shipping charge with this order. {% endblocktrans %}
            {% else %}
                <strong>{% trans 'Postage' %}</strong>
            {% endif %}
        </td>
        <td>
            {% if postage_discount %}
                {{ order.get_currency.symbol }}0.00
            {% else %}
                {{ order.get_currency.symbol }}{{ order.get_currency.postage_cost|floatformat:"2" }}
            {% endif %}
        </td>
    </tr>
    
    {% if order.discount %}
    <tr>
        <td><strong>{% trans 'Discount' %}</strong></td>
        <td>-{{ order.get_currency.symbol }}{{ discount_value|floatformat:"2" }}</td>
    
    </tr>
    {% endif %}
   
    <tr>
        <td><strong>{% trans 'TOTAL' %}</strong></td>
        <td>{{ order.get_currency.symbol }}{{ total_price|floatformat:"2" }}</td>
    </tr>
</table>
                                    
<p>{% trans "Your order will be going in the post immediately! If you have any questions, just reply to this email and we'll usually respond within a few hours." %}</p>

{% endblock %}