{% extends email_base_template %}
{% load i18n %}

{% block content %}
{% blocktrans with order.owner.first_name|capfirst as fn %}
<h1>Please review your purchase at {{ site_name }}</h1>
<p><strong>Hi {{ fn }}</strong> - It will take only a couple of clicks and under a minute to let us know if we've done a good job with your recent order from {{ site_name }} - click the link below to start:</p>

<p><a href="{{ site_url }}{{ url }}">Click here to start &raquo;</a></p>

<p>Remember, if you're unhappy with absolutely anything you purchased from us, just reply to this email - we'll do our best to resolve any problems as quickly as possible.</p>
{% endblocktrans %}
{% endblock %}