html {
  border: none;
  margin: none;
  padding: none;	
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #EFF5F8;
}

/* sp is the 'super' div which keeps everything centered */
.sp {
  width: 1060px;
  margin: 0 auto;	
  position: relative;
}


/* typography */

h1 {
    color: #FF6569;
    font-size: 48px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0;
    padding-bottom: 0;
    text-shadow: 1px 1px 0 #FFFFFF;
}

h2 {
    color: #333333;
    font-size: 30px;
    letter-spacing: -1px;
    margin: 0 0 5px;
    padding-bottom: 0;
    text-shadow: 1px 1px 0px #FFFFFF;
    font-weight: normal;
}

h3 {
    color: #333;
    font-weight: normal;
    margin: 0 0 5px;
    font-size: 24px;
    text-shadow: 1px 1px 1px #fff;
}

h4 {
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-shadow: 1px 1px 1px #fff;
}

p {
    color: #333;
    font-size: 18px;
    line-height: 1.6em;
}

div.left p {
  margin: 5px 0 20px 0px;
  font-size: 15px;
  line-height: 1.8em;
  padding-right: 10px;
}

#left p {
  margin: 0 0 20px;
}



#mtw #left h3 {
    font-size: 20px;
    margin: 30px 0 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

div.left h4 {
    border: medium none;
    color: #BE373A;
    font-size: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
}



#right h4 {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0px 0 5px;
  letter-spacing: -0.5px;
}


a img {
  border: none;	
}

a img:hover {
  opacity: 0.8;	
}

a {
  text-decoration: none;	
}

a:link, a:visited {
  color: #237A2A;
}

a:hover, a:active {
  color: #FF6569;
}

ul {
  list-style-type: square;	
}

ul, ol {
    font-size: 18px;
    line-height: 1.6em;	
}

ol {
  font-weight: italic;	
  font-size: 12px;
}

.button, #comments div#comment-form input.submit-post {
	background-color: #f1f1f1; /* backup for older browsers */
    background: -moz-linear-gradient(100% 100% 90deg, #e6e6e6, #f1f1f1);  /* Firefox 3.6+ */ 
    /* Safari 4-5, Chrome 1-9 */ /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f1), to(#e6e6e6)); 
    background: -webkit-linear-gradient(#f1f1f1, #e6e6e6); /* Safari 5.1+, Chrome 10+ */
    background: -o-linear-gradient(#e6e6e6, #f1f1f1);   /* Opera 11.10+ */
    border: 1px solid #fff;
    box-shadow: 0 1px 1px #999, 0 1px 0px #f6f6f6;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px 15px;
    text-shadow: 0 1px 1px #fff;
    text-align: center;
    cursor: pointer;
}

.button:hover {
  box-shadow: 0 1px 4px #999;	
}

input.button, #comments div#comment-form input.submit-post {
  color: #237A2A;
  height: auto;	
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  box-shadow: 0 1px 1px #999;
}

input.button:hover {
  color: #FF6569;	
}

.button.green {
    background: #237A2A;
    background: -moz-linear-gradient(100% 100% 90deg, #237A2A, #399440) repeat scroll 0 0 transparent;
    /* Safari 4-5, Chrome 1-9 */ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#399440), to(#237A2A)); 
    /* Safari 5.1+, Chrome 10+ */ 
    background: -webkit-linear-gradient(#399440, #237A2A); 
    /* Opera 11.10+ */ 
    background: -o-linear-gradient(#237A2A, #399440); 
    border: 1px solid #1e6c21;
    text-shadow: none;
    box-shadow: none;
    border-top: ;
    color: #fff; 	
}

.button.green:hover, input.button.green:hover {
  box-shadow: 0 0px 4px #666;
  text-shadow: 0px 1px 1px #333;
  color: #fff;	
}

.underline {
  text-decoration: underline;	
}

/* typography */



/* header styles */

#header {
  float: left;
  height: auto;
  padding-top: 20px;
  width: 100%;
  background-color: #fff;
  border-bottom: 10px solid #e1ecf3;
}


#logo {	 
 width: 450px;
 height: 42px;
 background: url("/images/logo-admin.jpg") no-repeat scroll top left transparent;
 float: left;
 margin: 0px 0 15px 0px;
 position: relative;
}

#logo:hover {
  opacity: 0.8;	
}


#logo a {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;	
}

#logo a span {
  display: none;	
}


#navigation {
  float: left;
  margin: 0px 0px 10px -10px;	
  width: 100%;
  position: relative;
}

ul#nav {
    color: #EE6464;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul#nav li {
  float: left;
}

ul#nav li:not(:last-child) a {
  border-right: 2px dotted #e1e1e1;
}

ul#nav li a, ul#nav li a:link, ul#nav li a:visited  {
    display: block;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0px 16px;
    color: #237a2a;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    width: auto;
}

ul#nav li a.grey {
  color: #999;	
}

ul#nav li a:hover {
  text-decoration: underline;
  color: #FF6569;
}


ul#nav li a.selected:hover {
    color: #FF6569;	
}

ul#nav li a.selected {
    color: #333;
}

ul#nav li a.selected:before {
   content: " ";
   display: block;
   width: 0;
   height: 0;
   border-top: 25px solid #fff;     
   border-bottom: 0;
   border-left: 25px solid transparent;
   border-right: 25px solid transparent;
   position: absolute;
   bottom: -35px;
   left: 40%;
   margin-left: -13px;
   z-index: 2;
}

ul#nav li a.selected.learn:before, ul#nav li a.selected.about:before {
  bottom: -30px;	
}


/* right navigation styles */
ul#right-nav {
  list-style-type: square;
  color: #EE6464;
  padding: 0px;	
  margin: 0 0 30px 15px;
  float: left;
  width: 220px;
  text-transform: uppercase;
}

ul#right-nav li {
  font-size: 13px;	
  font-weight: bold;
}

ul#right-nav li a:link {
  padding: 5px 5px 5px 0px;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 0 #fff;
   
}

ul#right-nav li a.selected, ul#right-nav ul.subnav li a.selected {
  color: #333; 
  font-weight: bold; 	
}

ul#right-nav li a:hover {
  text-decoration: underline;	
}

ul#right-nav ul.subnav {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

ul#right-nav ul.subnav li a {
  font-size: 11px;
  padding: 3px;
  padding-left: 5px;
  margin: 0;
  border-bottom: 2px dotted #e1e1e1;
  width: 170px;
  font-weight: normal;
}

ul#right-nav ul.subnav li a.last {
  border-bottom: none;	
  margin-bottom: 2px;
}


ul#right-nav ul.subnav ul.subsubnav {
  list-style-type: none;
  padding-left: 10px;
  margin-left: 5px;	
  border-bottom: 2px dotted #e1e1e1;
}

ul#right-nav ul.subnav ul.subsubnav li a {
  font-weight: normal;	
  border-bottom: none;
}

ul#right-nav ul.subnav ul.subsubnav li a.selected {
  font-weight: bold;	
}

/* end rightnav styles */


/* content page styles */

#mtw {
  width:100%;
  float:left;
  margin: 20px 0 0 0;
}

#mtw #left {
    float: left;
    margin: 0 10px 20px 0px;
    width: 600px;
}

#mtw #right {
    float: right;
    padding: 0px;
    width: 260px;
}

p.introduction {
    color: #367298;
    font-size: 25px;
    margin: 10px 0 0;
    padding-bottom: 10px;
}

/* right-side boxes */

.info {
    background-color: #FFFFFF;
    border: 1px solid #E1E1E1;
    float: left;
    margin-bottom: 30px;
    padding: 15px;
    width: 230px;
    position: relative;
}

.info h3 {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 0 0 5px 0;
}

.info p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}


.info.email-signup, .info.tea, .info.bio, .info.photo {
  background-color: transparent;
  border: none;
  padding: 0 0px;
  width: 240px;	
}

.info.long {
  width: 334px;
  margin-right: 0;	
}

.info.long img {
  float: left;
  margin-right: 10px;	
}

.info.photo {
  margin-bottom: 30px;	
}

.info.email-signup input {
  width: 230px;	
  margin: 0;
}

.info.email-signup input.submit {
  width: 100px;
  height: auto;
  padding: 6px 8px 2px;
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0 0;
  float: right;	
}

.info.email-signup p {
  font-size: 14px;
  margin: 0 0 5px 0;	
}

.info.email-signup span {
  font-size: 12px;
  float: left;
  width: 150px;
  margin: 8px 0 0 5px;
  color: #666;	
}

.info.tea {
  margin-bottom: 40px;
  padding: 10px;
  background: #fff;
}

.info.tea span.link, span.link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;	
}

.info.tea:hover .text h3 a {
	color: #FF6569;
}

.info.tea .text {
  position: absolute;
  top: 170px;
  left: 0px;
  padding: 10px;
  background-color: #fff;
  width: 240px;
  margin-bottom: 0px;	
}

.info.tea .text h3 {
  margin: 0;
  float: right;	
}

.info.bio img {
  	float: left;
  	margin-right: 10px;
}

.info.blogs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;	
}

.info.blogs ul li {
  margin: 5px 0 5px;
  border-bottom: 2px dotted #e1e1e1;
  padding: 0 0 5px 0;
}

.info.blogs ul li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;	
}

.info.follow h3 {
  margin-bottom: 10px;	
}

.info.follow a {
  height: 32px;
  width: 32px;
  float: left;
  margin: 0 5px 0 0;
  display: block;
  background: url('/images/logo15.jpg') no-repeat 0 -86px;;	
}

.info.follow a:hover {
  opacity: 0.8;	
}

.info.follow a.tw {
  background-position: -32px -85px;	
}

.info.follow a.rss {
  background-position: -96px -85px;	
}

.info.follow a.fl {
  background-position: -64px -85px;	
}

.info.follow a.gp {
  background-position: -128px -85px;	
}




/* END RIGHT SIDE BOXES */



/* tea listing styles */


/* tea page styles */

.small {
  font-size: 0.8em;	
}





/* SHOPPING BASKET PAGE STYLES */

#checkout-button {
  position: absolute;
  bottom: 40px;
  right: 20px;
  float: right;
  width: 240px;
  margin: -100px 20px 0 0;	
}

#checkout-button a.button, #checkout-button input.button {
  font-size: 20px;	
  margin-top: 0px;
  float: right;
  padding-top: 13px;
  width: 240px;
  height: auto;
  font-family: Helvetica, sans-serif;
}

#checkout-button p {
  font-size: 16px;
  text-align: right;
  padding-right: 0px;	
}

/* these are styles for the 'submit button' like on the review form  */

div#submit-button {
    float: right;
    margin-top: 15px;
    padding-right: 0px;
    width: 220px;	
}

div.row {
    float: left;
    margin-bottom: 0px;
    padding: 0px;
    width: 600px;
}

div.row.wide {
    margin: 20px 0 20px 0;
    padding: 15px 20px 10px 20px;
    width: 760px;
}

div.row.wide ul li {
  color: #1A6D18;
  list-style-type: square;	
}

div.row-label {
  float: left;
  width: 100%;
  color: #d95b5e;
  font-size: 1.1em;
  margin-bottom: 0px;
}

div.row-label h3 {
    color: #19761C;
    font-weight: bold;
    margin: 0;
}

div.row-box {
  float: left;
  margin: 0px 0 10px 0px;	
  padding-top: 5px;
}

div.row-box table td {
  padding-bottom: 10px;	
}


div.row-box p {
  margin: 0;	
}



p.intro {
    font-size: 18px;
    margin: -10px 0 25px;
}

div.row-box p.intro {
  margin: 0px 0 25px 0;	
}





/* FORMS LAYOUT */

label {
    color: #333333;
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-left: 0px;
    float: left;
    width: 200px;
}

textarea {
  width: 380px;	
  padding: 10px 15px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  font: 16px arial,helvetica,clean,sans-serif;
  color: #999;
  margin: 0 0 20px 0;
}

ul.errorlist {
  list-style-type: none;
  color: red;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;	
}

input, div.row-box input {
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    color: #999;
    float: left;
    font: 16px arial,helvetica,clean,sans-serif;
    height: 20px;
    margin: 0 0 20px 0;
    padding: 10px 15px;
    width: 380px;
}

input:focus, div.row-box input:focus, textarea:focus {
  border: 1px solid #6acc75;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px #C1C1C1 inset;
}

div.row-box label {
    color: #555555;
    float: left;
    font-size: 14px;
    line-height: 1.2em;
    margin: 0 0px 3px 10px;
    text-align: left;
    width: 100%;
}

input.error, div.row-box input.error {
  border: 1px solid #c06b6b;
  box-shadow: inset 0 1px 9px #f2d4d4; 
  background-color: #faf5f5; 
  color: red; 
}

input.error:focus, div.row-box input.error:focus {
  box-shadow: none;
}

/* ADMIN SPECIFIC STYLES */

  	  ul.nav {margin-top: -95px;font-family: Helvetica, sans-serif; font-weight: bold; font-size: 12px;list-style-type: none;  padding: 0; width: 100%;float: left;}
  	  ul.nav li {float: left; margin-right: 50px;}
      table {font-family: helvetica,sans-serif;font-size: 12px;}
      tr.white td {background-color: #fff;}
      tr.new td {background-color: #DBF2DA;}
      td { padding:10px 10px; background-color: #f1f1f1;}
      td.id {font-weight: bold;}
      td ul {padding:0; margin:0;}
      td ul li {list-style-type:none; font-size: 12px; line-height: 1em;}
      thead td {font-weight: bold; background-color: #666; color: #fff;}
      tr.new td.trans {background-color: transparent;}
      td.trans a.button {font-size: 16px; padding: 10px 25px 8px}
      h3 {margin: 30px 0 20px 0;}
      div.small-box {background-color: #F1F1F1; float: left; margin: 20px 10px 0 0; padding: 15px 20px; width: 200px; -moz-border-radius: 10px;}
      div.small-box h3 {margin-top: 0px;}
      ul#stocks {padding: 0; margin: 0 0 30px 0; float: left; width: 100%; font-family: Helvetica, sans-serif;}
      ul#stocks li {float: left; position: relative; width: 120px; height: 120px; background-color: #fff; padding: 5px; list-style-type: none; font-size: 12px; line-height:1em; margin: 0 10px 10px 0;}
      ul#stocks li.red a {color: #fff;}
      ul#stocks li p {font-size: 11px;line-height: 1em; position: absolute; bottom: 0; left:0; background: #fff; width: 90%; padding: 5%; margin: 0; font-weight: bold;}
      ul#stocks li.red {background-color: red; font-weight: bold; color: red;}
      ul#stocks li.red p {background-color: red; color: #fff;}
        
      table input {width: 120px;}
      input.button {width: auto; float: left; padding:5px 15px 3px;}
      
      #create_send input, textarea {width: 600px;float:left;}
      #create_send input.button {float: left; margin-top: 20px; padding: 11px 20px 9px; font-size: 18px;}
      .email-example {background-color: #fff; padding: 20px 25px; border: 1px solid #e1e1e1; line-height: 1.6em; margin: 30px 0 20px 0;}
      #filters {
        width: 100%;
        float: left;
        margin: 10px 0; 
        font-size: 12px;
      }