
.sp {
  width: 1060px;   
}

#navigation {
  margin-top: 60px;   
}


/* ADMIN SPECIFIC STYLES */
h2 {
    margin: 20px 0 10px 0; 
}

  	  ul.nav {margin-top: -95px;font-family: Helvetica, sans-serif; font-weight: bold; font-size: 12px;list-style-type: none;  padding: 0; width: 100%;float: left;}
  	  ul.nav li {float: left; margin-right: 50px;}

table {
    font-size: 12px;
    float: left;
    width: 100%;
}

      tr.white td {background-color: #fff;}
      tr.new td {background: none;}
      td { padding:10px 10px; background-color: none;}
td.id {
  font-weight: bold;
  width: 50px;
}

table#orders tr td:first-child {
  width: 80px;   
}

td.items {
  width: 150px;   
}

table tr td:first-child {
  background: none;   
  width: 200px;
}


td.owner {
  width: 130px;   
}

td.value {
  width: 65px;   
}

td.paypal {
  width: 65px;   
}

td.status {
  width: 50px;   
}

td.label {
  width: 120px;   
}

td.trans {
  width: 180px;
}

td.trans .button {
  font-size: 13px;
  font-weight: bold;
  padding: 6px 10px;   
}

      td ul {padding:0; margin:0;}
      td ul li {list-style-type:none; font-size: 12px; line-height: 1em;}

table td {
   border-bottom: 1px dashed #d1d1d1;   
}


thead td {
    color: #333333;
    font-weight: bold;
}
      tr.new td.trans {background-color: transparent;}
      td.trans a.button {font-size: 16px; padding: 10px 25px 8px}
      div.small-box {background-color: #F1F1F1; float: left; margin: 20px 10px 0 0; padding: 15px 20px; width: 200px; -moz-border-radius: 10px;}
      div.small-box h3 {margin-top: 0px;}

        
table input {
  width: 50%; 
  height: auto;
  padding: 5px ;
}
      input.button {width: auto; float: left; padding:5px 15px 3px;}
      
      #create_send input, textarea {width: 600px;float:left;}
      #create_send input.button {float: left; margin-top: 20px; padding: 11px 20px 9px; font-size: 18px;}
      .email-example {background-color: #fff; padding: 20px 25px; border: 1px solid #e1e1e1; line-height: 1.6em; margin: 30px 0 20px 0;}

#filters {
    float: right;
    font-size: 12px;
    margin: 30px 0 10px;
    width: auto;
}