

ul#nav li a, ul#nav li a:link, ul#nav li a:visited {
  font-size: 15px;
  padding: 0 10px;   
}

h1 {
  font-size: 28px;   
}

h2 {
   font-size: 24px;   
}

a#harvest {
   font-size: 28px;   
}

div.info h3 {
  font-size: 18px;   
}

a.button {
  font-size: 16px;   
}

#checkout-button a.button, #checkout-button input.button {
  font-size: 26px;   
}

.info.email-signup span {
  width: 135px;   
}

#price-helper span.not-in-stock {
  font-size: 12px;
  font-weight: bold;   
}

#monthly div.more {
  font-size: 23px;   
}

.tea-top div.description p {
  font-size: 20px;   
}

.tea-top div.description p.small {
  font-size: 14px;   
}

#stocks span.not-in-stock, #price-helper .not-in-stock, #stocks {
   font-size: 12px;   
}

#special .right a {
  font-size:17px;
}

/* 2013 JASMINE SPECIAL */

#jasmine-special .four-teas {
    float: left;
    width: 655px;
    z-index: 30;
}

#jasmine-special .details {
    float: right;
    padding: 0;
    position: relative;
    text-align: right;
    top: 15px;
    width: 300px;
}

#jasmine-special .details h2 {
    color: #FF6569;
    font-size: 16px;
    letter-spacing: -0.3px;
    margin-bottom: 5px;
}

#jasmine-special .details p {
    color: #777777;
    font-size: 11px;
    margin-top: 0;
}

/* END JASMINE SPECIAL STYLES */

#delivery p, #payment p, #reviews p, #monthly p {
    color: #999999;
    float: left;
    font-size: 13px;
    margin: 5px 0 0;
    width: 100%;
}
