



.sp {
  margin-left: 10%;   
}

#tools {
  position: absolute;
  right: 0;
  top: 0;  
  width: 400px; 
}

#about p {
  width: 100%;   
}

#teas #price-helper {
  width: 100%; 
  font-size: 11px;  
}

#teas #price-helper div {
  width: 155px;   
}

#teas #price-helper div.stocks {
  width: 95px;   
}


/* THE CATEGORY PAGE */
.tea-promo {
  width: 700px;   
}

.tea-promo div.image {
  margin-right: 20px; 
  float: left;
  width: 240px;
  display:block;  
}

.tea-promo div.image img {
  float: left;   
}

.tea-promo div.text {
  width: 350px;
  float: left; 
  display: block;
  margin: 0;  
}

.tea-promo div.text h3, .tea-promo div.text p {
  float: none;
  width: 350px;   
}

#teas .tea-promo #price-helper {
  width: 350px;  
  float: none; 
}