


/* GLOBAL */

.sp {
  margin-left: 10%;   
}

#tools {
  position: absolute;
  right: 0;
  top: 0;  
  width: 400px; 
}

#currency {
  top: -30px;   
}

#about p {
  width: 100%;   
}

#teas #price-helper {
  width: 100%; 
  font-size: 11px;  
}

#teas #price-helper div {
  width: 155px;   
}

#teas #price-helper div.stocks {
  width: 95px;   
}


/* THE CATEGORY PAGE */
.tea-promo {
  width: 700px; 
  float: left;  
}

.tea-promo div.image {
  margin-right: 20px; 
  float: left;
  width: 240px;
  display:block;  
}

.tea-promo div.image img {
  float: left;   
}

.tea-promo div.text {
  width: 380px;
  float: left; 
  display: block;
  margin: 0;  
}

.tea-promo div.text h3, .tea-promo div.text p, #teas .tea-promo #price-helper {
  float: none;
  width: 380px;
  padding: 0;   
}

#teas .tea-promo #price-helper div {
  width: 120px;
  font-size: 13px;
  padding-top: 8px;    
}

#teas .tea-promo #price-helper div.price {
  width: 130px;   
}

#teas .tea-promo #price-helper div.stocks {
  width: 90px;   
}

/* TEA VIEW PAGE */

a.button.green {
  background-color: #237A2A;   
  color: #fff;
  width: 200px;
  font-size: 16px;
}

#recommended .info .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 240px;   
}

#currency {
  width: 70px;   
}

#currency a {
  height: 13px;   
}


/* BASKET PAGE */

#basket-full .basket-row.postage div, #basket-full .basket-row.discount div {
  height: 20px;   
}



