html {
  border: none;
  margin: none;
  padding: none;	
}

body {
  font-family: "Times New Roman",Georgia,"STKaiti",华文楷体,serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #EFF5F8;
}

/* sp is the 'super' div which keeps everything centered */
.sp {
  width: 960px;
  margin: 0 auto;	
  position: relative;
}


/* typography */

h1 {
    color: #FF6569;
    font-size: 48px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0;
    padding-bottom: 0;
    text-shadow: 1px 1px 0 #FFFFFF;
}

h2 {
    color: #333333;
    font-size: 30px;
    letter-spacing: -1px;
    margin: 0 0 5px;
    padding-bottom: 0;
    text-shadow: 1px 1px 0px #FFFFFF;
    font-weight: normal;
}

h3 {
    color: #333;
    font-weight: normal;
    margin: 0 0 5px;
    font-size: 24px;
    text-shadow: 1px 1px 1px #fff;
}

h4 {
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-shadow: 1px 1px 1px #fff;
}

p {
    color: #000;
    font-size: 16px;
    line-height: 1.6em;
}

div.left p {
  margin: 5px 0 20px 0px;
  font-size: 15px;
  line-height: 1.8em;
  padding-right: 10px;
}

#left p {
  margin: 0 0 20px;
}



#mtw #left h3 {
    font-size: 20px;
    margin: 30px 0 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

div.left h4 {
    border: medium none;
    color: #BE373A;
    font-size: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
}



#right h4 {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0px 0 5px;
  letter-spacing: -0.5px;
}


a img {
  border: none;	
}

a img:hover {
  opacity: 0.8;	
}

a {
  text-decoration: none;	
}

a:link, a:visited {
  color: #237A2A;
}

a:hover, a:active {
  color: #FF6569;
}

ul {
  list-style-type: square;	
}

ul, ol {
    font-size: 16px;
    line-height: 1.6em;	
}

ol {
  font-weight: italic;	
}

.button, #comments div#comment-form input.submit-post {
	background-color: #f1f1f1; /* backup for older browsers */
    background: -moz-linear-gradient(100% 100% 90deg, #e6e6e6, #f1f1f1);  /* Firefox 3.6+ */ 
    /* Safari 4-5, Chrome 1-9 */ /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f1), to(#e6e6e6)); 
    background: -webkit-linear-gradient(#f1f1f1, #e6e6e6); /* Safari 5.1+, Chrome 10+ */
    background: -o-linear-gradient(#e6e6e6, #f1f1f1);   /* Opera 11.10+ */
    border: 1px solid #fff;
    box-shadow: 0 1px 1px #999, 0 1px 0px #f6f6f6;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px 15px;
    text-shadow: 0 1px 1px #fff;
    text-align: center;
    cursor: pointer;
}

.button:hover {
  box-shadow: 0 1px 4px #999;	
}

input.button, #comments div#comment-form input.submit-post {
  color: #237A2A;
  height: auto;	
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  box-shadow: 0 1px 1px #999;
}

input.button:hover {
  color: #FF6569;	
}

.button.green {
    background: #237A2A;
    background: -moz-linear-gradient(100% 100% 90deg, #237A2A, #399440) repeat scroll 0 0 transparent;
    /* Safari 4-5, Chrome 1-9 */ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#399440), to(#237A2A)); 
    /* Safari 5.1+, Chrome 10+ */ 
    background: -webkit-linear-gradient(#399440, #237A2A); 
    /* Opera 11.10+ */ 
    background: -o-linear-gradient(#237A2A, #399440); 
    border: 1px solid #1e6c21;
    text-shadow: none;
    box-shadow: none;
    border-top: ;
    color: #fff; 	
}

.button.green:hover, input.button.green:hover {
  box-shadow: 0 0px 4px #666;
  text-shadow: 0px 1px 1px #333;
  color: #fff;	
}

.underline {
  text-decoration: underline;	
}

/* typography */



/* header styles */

#header {
  float: left;
  height: auto;
  padding-top: 0px;
  width: 100%;
  background-color: #fff;
  border-bottom: 10px solid #e1ecf3;
}

#header-messages {
    font-size: 12px;
    height: 30px;
    margin: 0 auto;
    width: 960px;
}

#header-messages div.hm {
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    background-color: #e1e1e1;
    width: auto;
    float: right;
    padding: 5px 20px 7px 20px;
    text-align: right;
    margin-right: 10px;
}

#logo {	 
 width: 390px;
 height: 60px;
 background: url("/static/images/logo15.jpg") no-repeat scroll top left transparent;
 float: left;
 margin: 15px 0 10px 0px;
 position: relative;
}

#logo:hover {
  opacity: 0.8;	
}

#logo a {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;	
}

#logo a span {
  display: none;	
}

#tools {
  position: absolute;
  right: 0;   
}

#language, #userbasket {
  float: right;
  margin-right: 10px;
  width: auto;
  padding: 7px 10px 6px;   
  background: #f1f1f1;
  border-radius: 0 0 4px 4px;
  color: #c1c1c1;
  font-size: 11px;
  font-family: Helvetica, Arial, sans-serif;  
}

#language a.selected {
  font-weight: bold;
  color: #333;   
}

#userbasket {
    color: #333333;
    font-weight: bold;
    height: 12px;
    position: relative;
    width: auto;
}

#userbasket.selected {
  height: 35px;
  font-size: 16px;   
}

#userbasket #quantity {
    bottom: 5px;
    float: left;
    text-align: center;
    width: auto;
}

#userbasket span.basket {
    background: url("/static/images/logo15.jpg") no-repeat scroll -273px -65px transparent;
    display: block;
    float: left;
    height: 18px;
    margin: 0 5px 0 0;
    position: relative;
    top: -4px;
    width: 23px;
}

#userbasket.selected span.basket {
    background: url("/static/images/logo15.jpg") no-repeat scroll -250px -65px transparent;
    top:-1px;
}

#userbasket a {
  font-weight: bold;   
}

#currency {
    background: none repeat scroll 0 0 #F1F1F1;
    border-radius: 0 0 4px 4px;
    color: #333333;
    float: right;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 55px;
    line-height: 1.8em;
    margin: 0 10px 0 0;
    padding: 5px 10px;
    position: relative;
    top: -40px;
    width: 50px;
}


#currency a {
	background: url('/static/images/logo15.jpg') no-repeat -168px -63px;
    color: #333;
    text-align: center;
    float: left;
    height: 15px;
    margin-bottom: 5px;
    width: 24px;
    opacity: 0.3;
    position: absolute;    
}

#currency a span {
  position: relative;
  right: -28px;   
}

#currency a.eu {background-position: -192px -63px;}

#currency a.us {background-position: -216px -63px;}

#currency a.strong {
  opacity: 1;	
}

#currency a:hover {
  opacity: 1;
}

#currency a.one {
  bottom: 0px; 
}

#currency a.two {
  bottom: 20px; 
}

#currency a.three {
  bottom: 40px; 
}

div#home-banner {
    float: right;
    margin: 45px 0px 0 0;
    text-align: right;
    width: 560px;
}


#navigation {
  float: left;
  margin: 0px 0px 10px -10px;	
  width: 100%;
  position: relative;
}

ul#nav {
    color: #EE6464;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul#nav li {
  float: left;
}

ul#nav li:not(:last-child) a {
  border-right: 1px dotted #e1e1e1;
}

ul#nav li a, ul#nav li a:link, ul#nav li a:visited  {
    display: block;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0px 13px;
    color: #237a2a;
    font-weight: bold;
    font-size: 13px;
    position: relative;
    width: auto;
}

ul#nav li a.grey {
  color: #999;	
}

ul#nav li a:hover {
  text-decoration: underline;
  color: #FF6569;
}


ul#nav li a.selected:hover {
    color: #FF6569;	
}

ul#nav li a.selected {
    color: #333;
}

ul#nav li a.selected:before {
   content: " ";
   display: block;
   width: 0;
   height: 0;
   border-top: 25px solid #fff;     
   border-bottom: 0;
   border-left: 25px solid transparent;
   border-right: 25px solid transparent;
   position: absolute;
   bottom: -25px;
   left: 40%;
   margin-left: -13px;
   z-index: 2;
}

/* SUBNAVIGATION STYLES */

#subnav {
  width: 100%;
  background-color: #E1ECF3;
  height: 45px;
  float: left;	
}

#subnav ul {
  list-style-type: none;
  margin: 0px 0 0 20px;
  padding: 0;	
}

#subnav li {
  float: left;
  margin-right: 40px;
  position: relative;	
}

#subnav li a:link, #subnav li a:visited   {
  font-size: 11px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #fff;	
  color: #666;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

#subnav li a:hover {
  color: #F37679;	
}

#subnav li a.selected   {
  color: #000;
  font-weight: bold;
}

#subnav li a.completed {
  color: #237A2A;   
}

#subnav li a.selected:before {
   content: " ";
   display: block;
   width: 0;
   height: 0;
   border-top: 25px solid #E1ECF3;     
   border-bottom: 0;
   border-left: 25px solid transparent;
   border-right: 25px solid transparent;
   position: absolute;
   bottom: -30px;
   left: 40%;
   margin-left: -13px;
   z-index: 2;
}


/* right navigation styles */
ul#right-nav {
  list-style-type: square;
  color: #EE6464;
  padding: 0px;	
  margin: 0 0 30px 15px;
  float: left;
  width: 220px;
  text-transform: uppercase;
}

ul#right-nav li {
  font-size: 13px;	
  font-weight: bold;
}

ul#right-nav li a:link {
  padding: 5px 5px 5px 0px;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 0 #fff;
   
}

ul#right-nav li a.selected, ul#right-nav ul.subnav li a.selected {
  color: #333; 
  font-weight: bold; 	
}

ul#right-nav li a:hover {
  text-decoration: underline;	
}

ul#right-nav ul.subnav {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

ul#right-nav ul.subnav li a {
  font-size: 11px;
  padding: 3px;
  padding-left: 5px;
  margin: 0;
  border-bottom: 2px dotted #e1e1e1;
  width: 170px;
  font-weight: normal;
}

ul#right-nav ul.subnav li a.last {
  border-bottom: none;	
  margin-bottom: 2px;
}


ul#right-nav ul.subnav ul.subsubnav {
  list-style-type: none;
  padding-left: 10px;
  margin-left: 5px;	
  border-bottom: 2px dotted #e1e1e1;
}

ul#right-nav ul.subnav ul.subsubnav li a {
  font-weight: normal;	
  border-bottom: none;
}

ul#right-nav ul.subnav ul.subsubnav li a.selected {
  font-weight: bold;	
}

/* end rightnav styles */


/* content page styles */

#mtw {
  width:100%;
  float:left;
  margin: 20px 0 0 0;
}

#mtw #left {
    float: left;
    margin: 0 10px 20px 0px;
    width: 600px;
    position: relative;
}

#mtw #right {
    float: right;
    padding: 0px;
    width: 260px;
}

p.introduction {
    color: #738693;
    font-size: 25px;
    margin: 10px 0 0;
    padding-bottom: 10px;
}

/* right-side boxes */

.info {
    background-color: #FFFFFF;
    border: 1px solid #E1E1E1;
    float: left;
    margin-bottom: 15px;
    padding: 15px;
    width: 230px;
    position: relative;
}

.info h3 {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0 0 5px 0;
}

.info span.price {
    color: #777777;
    float: left;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    margin: 6px 0 0 5px;
}

.info span.price strong {
  color: #333;   
}

.info p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}


.info.email-signup, .info.tea, .info.photo {
  background-color: transparent;
  border: none;
  padding: 0 0px;
  width: 240px;
}

.info.long {
  width: 334px;
  margin-right: 0;	
}

.info.long img {
  float: left;
  margin-right: 10px;	
}

.info.photo {
  margin-bottom: 30px;	
}

.info.email-signup input {
  width: 230px;	
  margin: 0;
}

.info.email-signup input.submit {
  width: 100px;
  height: auto;
  padding: 6px 8px 2px;
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0 0;
  float: right;	
}

.info.email-signup p {
  font-size: 14px;
  margin: 0 0 5px 0;	
}

.info.email-signup span {
  font-size: 12px;
  float: left;
  width: 150px;
  margin: 8px 0 0 5px;
  color: #666;	
}

.info.tea {
  margin-bottom: 40px;
  padding: 10px;
  background: #fff;
}

.info.tea span.link, span.link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;	
}

.info.tea:hover .text h3 a {
	color: #FF6569;
}

.info.tea .text {
  position: absolute;
  top: 170px;
  left: 0px;
  padding: 5px 10px;
  background-color: #fff;
  width: 240px;
  margin-bottom: 0px;	
}

.info.tea .text h3 {
  margin: 6px 0 3px;
  float: right;	
  font-size: 14px;
}

.info.bio img {
  	float: left;
  	margin-right: 10px;
}

.info.blogs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;	
}

.info.blogs ul li {
  margin: 5px 0 5px;
  border-bottom: 2px dotted #e1e1e1;
  padding: 0 0 5px 0;
}

.info.blogs ul li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;	
}

.info.follow h3 {
  margin-bottom: 10px;	
}

.info.follow a {
  height: 32px;
  width: 32px;
  float: left;
  margin: 0 5px 0 0;
  display: block;
  background: url('/static/images/logo15.jpg') no-repeat 0 -61px;;	
}

.info.follow a:hover {
  opacity: 0.8;	
}

.info.follow a.tw {
  background-position: -32px -61px;	
}

.info.follow a.rss {
  background-position: -96px -61px;	
}

.info.follow a.fl {
  background-position: -64px -61px;	
}

.info.follow a.gp {
  background-position: -128px -61px;	
}


/* ADD TO BASKET HELPER */


a.atb {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 30;
  overflow: hidden;
  height: 20px;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  padding-top: 9px;
  color: #888;
  display: none;   
}

a.atb strong {
  color: #555;
     
}

a.atb:hover {
  color: #237A2A;   
}

a.atb.large {
  width: auto;
  padding-right: 42px;   
}

a.atb.large:hover {
  width: auto; 
  padding-right: 42px;  
}

a.atb span {
  background: url('/static/images/logo15.jpg') top left no-repeat; 
  display: block;
  height: 35px;
  width: 30px; 
  position: absolute;
  top: 0;
  right: 0; 
}

a.atb.large span {
    background: url("/static/images/logo15.jpg") no-repeat scroll -354px -62px transparent;
    display: block;
    height: 29px;
    width: 32px;
}

a.atb.large:hover span {
   background-position: -389px -62px;   
}



/* END RIGHT SIDE BOXES */



/* tea listing styles */


/* tea page styles */

.small {
  font-size: 0.8em;	
}





/* SHOPPING BASKET PAGE STYLES */

#checkout-button {
    bottom: 40px;
    float: right;
}

#checkout-button a.button, #checkout-button input.button {
    float: right;
    font-family: Helvetica,sans-serif;
    font-size: 30px;
    height: auto;
    padding: 15px;
    width: 400px;
}

#checkout-button a.button span, #checkout-button input.button span {
  float: left;
  width: 100%;
  font-size: 13px;
  color: #fff;
  font-weight:normal;
  margin: 3px 0 0;   
}

#checkout-button a.button span strong, #checkout-button input.button span strong {
  color: #ffe400;
}


/* these are styles for the 'submit button' like on the review form  */

div#submit-button {
    float: right;
    margin-top: 15px;
    padding-right: 0px;
    width: 220px;	
}

div.row {
    float: left;
    margin-bottom: 0px;
    padding: 0px;
    width: 600px;
}

div.row.wide {
    margin: 20px 0 20px 0;
    padding: 15px 20px 10px 20px;
    width: 760px;
}

div.row.wide ul li {
  color: #1A6D18;
  list-style-type: square;	
}

div.row-label {
  float: left;
  width: 100%;
  color: #d95b5e;
  font-size: 1.1em;
  margin-bottom: 0px;
}

div.row-label h3 {
    color: #19761C;
    font-weight: bold;
    margin: 0;
}

div.row-box {
  float: left;
  margin: 0px 0 10px 0px;	
  padding-top: 5px;
}

div.row-box table td {
  padding-bottom: 10px;	
}


div.row-box p {
  margin: 0;	
}



p.intro {
    font-size: 18px;
    margin: -10px 0 25px;
}

div.row-box p.intro {
  margin: 0px 0 25px 0;	
}





/* FORMS LAYOUT */

label {
    color: #333333;
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-left: 0px;
    float: left;
    width: 200px;
}

textarea {
  width: 380px;	
  padding: 10px 15px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  font: 16px arial,helvetica,clean,sans-serif;
  color: #999;
  margin: 0 0 20px 0;
}

ul.errorlist {
  list-style-type: none;
  color: red;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;	
}

input, div.row-box input {
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    color: #999;
    float: left;
    font: 16px arial,helvetica,clean,sans-serif;
    margin: 0 0 15px 0;
    padding: 10px 15px;
    width: 460px;
}

textarea {
  width: 460px;   
}

input:focus, div.row-box input:focus, textarea:focus {
  border: 1px solid #6acc75;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px #C1C1C1 inset;
}

input#id_captcha_1 {
  width: 200px;
  margin-right: 15px;   
}

div.row-box label {
    color: #555555;
    float: left;
    font-size: 14px;
    line-height: 1.2em;
    margin: 0 0px 3px 10px;
    text-align: left;
    width: 100%;
}

input.error, div.row-box input.error {
  border: 1px solid #c06b6b;
  box-shadow: inset 0 1px 9px #f2d4d4; 
  background-color: #faf5f5; 
  color: red; 
}

input.error:focus, div.row-box input.error:focus {
  box-shadow: none;
}



/* About styles */

div.about-box {
    border-radius: 10px 10px 10px 10px;
    float: left;
    margin: 0 0 20px;
    width: 220px;
}


#right div.about-box h3 {
    font-weight: bold;
    text-align: left;
}



div.about-box img {
  float: left;
  margin-bottom: 20px;	
}

div.about-box a.promo {
  font-size: 0.9em;
  float: left;
  margin-top: 10px;	
}

div.about-box img.first {
    border-bottom: 5px solid #FFFFFF;
    left: -15px;
    margin-bottom: -5px;
    position: relative;
    top: -15px;
}



div.about-box h3 {
  margin: 0 0 5px 0px;
  color: #BE373A;
  font-weight: normal;
  font-size: 20px;
}


img.map {
  margin-left: 10px;
  margin-bottom: 5px;	
}

div.left p.caption, div.flatpage p.caption {
  font-size: 0.8em;
  padding-left: 10px;
  color: #000;
  
}


/* blog styles */

div#blog-left {
    float: left;
    margin-left: 20px;
    width: 520px;
}

div#blog-right {
    float: right;
    width: 220px;
    border-left: 1px solid #e1e1e1;
}

div#blog-right div.box {
    -moz-border-radius: 10px 10px 10px 10px;
    background-color: #FFEBEB;
    margin: 0 0 20px 20px;
    padding: 15px 15px 15px 15px;
    width: 200px;
    float: left;
}

div#blog-right div.box.clear {
  background-color: #fff;
  padding: 0;
  -moz-border-radius: 0px;	
}

div#blog-right div.box.clear h4 {
  margin: 0;
  font-size: 17px;
  color: #BE373A;	
  font-weight: bold;
  border-bottom: 0;
  padding-bottom: 0;
  font-family: Helvetica, Arial, sans-serif;
}

div#blog-right div.box.clear p {
  margin-top: 0;
  font-size: 13px;
  color: #000;	
}

div#blog-right div.box.clear p.link {
  margin-top: -10px;
  margin-left: 5px;
}

p.countries {
  text-align: right;
  font-size: 11px;
  width: 500px;
  float: right;	
  margin-bottom: 0;
  padding-right: 20px;
}

img.flag {
  position: relative;
  top: 4px;	
  margin-right: 3px;
}
div.about-box img.flag {
  top: 1px;	
}

div.right-image {
  float: left;
  margin-bottom: 20px;	
}

div.like {
  float: left;	
  margin-top: 10px;
  border-bottom: 3px dotted #e1e1e1;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

div.like.last {
  border-bottom: none;	
}

div.like div.image {
  float: left;
  margin-right: 10px;	
}

div#blog-right div.box.clear div.like p.description {
  color: #666;	
  line-height: 14px;
  font-size: 12px;
}

div.like a {
  font-size: 13px;	
}

div.like div.text {
  float: left;
  width: 160px;
}

#right div.like div.text p {
  line-height: 1.2em;
  font-size: 12px;
}


div.rss {
  float: left;
  width: 400px;
  margin-top: 10px;
}

ul.rss {
   float: right;
   list-style-type: none;
   width: 150px;
   overflow: hidden;
   position: relative;
   margin: 15px 0 0 0;
}


#right a.title {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 900;	
}

span.red {
  color: red;	
}

#mtw #left div.caption {
    font-size: 13px;
    font-style: italic;
    line-height: 1.6em;
    margin-bottom: 20px;
    padding: 10px;
    width: 600px;
}

#mtw #left div.caption.wide {
    width: 640px;
}

#mtw #left img.about {
    float: right;
    margin-left: 20px;
}

.did-you-know {
   position:relative;
   width:460px;
   padding: 15px;
   float: left;
   background:#fff;
   margin-top: 20px;
   border: 1px solid #e1e1e1;
   z-index: 3;
   border-radius: 5px;
}

#right .did-you-know {
  width: 190px;
  margin-top: 0px;
  padding: 10px;  	
}

#right .did-you-know p, .did-you-know-p {
  font-size: 11px;
  margin: 0;	
}

.did-you-know span.link {
  position:absolute;
  width:100%; 
  height:100%; 
  top:0; 
  left: 0; 
  z-index: 1;		
}

.did-you-know:hover {
  border: 1px solid #84c37d;
}

.did-you-know:hover:after {
  border-bottom: 15px solid #84c37d;	
}
   


/* this is the background of the arrow */
.did-you-know:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-bottom: 15px solid #e1e1e1;         
        border-top: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        top: -15px;
        left: 29px;
        z-index: 1;
        margin-left: ;
}

/* this is the foreground of the arrow */
.did-you-know:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-bottom: 15px solid #fff;     
        border-top: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        top: -14px;
        left: 30px;
        z-index: 2;
        margin-left: -1px;
}

#mtw #left div.did-you-know h3, div.did-you-know h3 {
    color: #439249;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    letter-spacing: -1px;
}

#mtw #left div.did-you-know h3 span.grey, div.did-you-know h3 span.grey {
  text-align: right;
  font-size: 14px;
  padding-left: 10px;	
}

#mtw #left div.did-you-know p {
    font-size: 16px;
    margin: 5px 0 0 0;
}

#mtw #left div.did-you-know img {
  float: left; 
  margin-right: 10px;
  position: relative;
  top: 8px;	
}


ul.rss {
  position: absolute;
  top: 0;
  right: 20px;	
}

ul.rss.opaque {
  background: #fff;
  width: 150px;
  padding: 10px 0 5px 20px;
}

ul.rss #google {
  width: 65px;
  float: left;
  margin-right: 10px;
}

ul.rss #facebook {
  width: 75px;
  float: left;	
  position: relative;
  top: -2px;
}

#comments {
  border-bottom: 3px dotted #e1e1e1;
  margin-bottom: 20px;
  float: left;	
  width: 100%;
}

#comments div#comment-form input.submit-post {
  float: right;
  margin-top: 10px;	
}

#mtw #left #comments h3 {
    float: left;
    font-size: 24px;
    position: relative;
}

#comments #comments-list {
    float: left;
    margin-top: 20px;
    width: 100%;
  background: #E1ECF3;
}

#comments #comments-list div.comment {
  border-bottom: 2px solid #EFF5F8;
  padding: 2%;
  float: left;	
  width: 96%;
}


#comments #comments-list div.comment p {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

#comments #comments-list div.comment p.top {
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;   
}

#comments div#comment-form #form {
  	float: left;
  	margin-top: 30px;
}

#comments div#comment-form label {
  width: 100px;	
}

#comments div#comment-form input.submit-preview {
  display: none;	
}

#mtw #left #comments div#comment-form p {
  margin: 0;	
}

button.prev {
    background: url("/images/prev-arrow.png") no-repeat scroll center top transparent;
    border: medium none;
    cursor: pointer;
    float: left;
    height: 45px;
    left: 10px;
    position: relative;
    top: -270px;
    width: 46px;
    z-index: 4;
}

button.prev:hover {	
  background: url('/images/prev-arrow.png') no-repeat scroll bottom transparent;
}

button.next {
    background: url("/images/next-arrow.png") no-repeat scroll center top transparent;
    border: medium none;
    cursor: pointer;
    float: right;
    height: 45px;
    left: -40px;
    position: relative;
    top: -270px;
    width: 46px;
    z-index: 4;
}

button.next:hover {
  	background: url("/images/next-arrow.png") no-repeat scroll bottom transparent;
}

#basket {
    float: left;
    width: 960px;
    position: relative;
    min-height: 300px;
    margin: 30px 0 30px 0;
    padding-bottom: 30px;
    border-bottom: 2px dotted #e1e1e1;
}	

/* FOOTER STYLES */

#footer {
    background-color: #fff;
    float: left;
    height: 300px;
    margin-top: 80px;
    padding: 40px 0 180px;
    width: 100%;
    border-top: 70px solid #E1ECF3;
    position: relative;
}

#footer .sp.thin {
  width: 960px;	
}

#footer p {
  font-size: 15px;
  margin-top: 0;
}

#footer p.copyright {
 float: left;
 width: 100%;
 margin: 30px 0 0 0;
 font-size: 13px;   
}

.footer-box {
  margin-right: 40px;
  margin-top: 0px;
  float: left;
  width: 260px;
}

.footer-box.learn input {
  width: 280px;   
}

.footer-box.learn input[type=submit] {
  width: 100px;
  margin-left: 5px;
  position: relative;
  top: -1px;   
}

.footer-box.about {
  margin-right: 0;
}

.footer-box.learn {
  width: 400px;
  margin-right: 0;   
}

#footer h4 {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
  margin-bottom: 0;
  color:#FF6569;
}

#footer ul {
  padding-left: 15px;
}

#footer ul li {
  color: #EE6464;
  margin-bottom: 5px;
  font-size: 15px;
  list-style-type: square;
}

#email-signup img.loading {
  position: absolute;
  top: 30%;
  left: 40%;
  display: none;	
}

/* END FOOTER STYLES */

a#harvest {
   position: absolute;
   top: -95px;
   font-size: 32px;
   text-shadow: 0 1px 1px #fff;
   letter-spacing: -1px;
   text-align: right;
   width: 100%;
   text-align: center;
   color: #59849f;   
}

a#harvest:hover {
 text-decoration: underline;
 color: #FF6569;   
}




