div#main-text-wide div#right {
  margin-top: 20px;	
}

div#bottom {
    border-top: 3px dotted #E1E1E1;
    float: left;
    margin-top: 20px;
    padding: 30px 0 30px 20px;
    width: 760px;
}

div.extra {
  margin: 10px 0 0 0px;
  float: left;
  width: 470px;	
}

div.extra h3 {
  margin-bottom: 0;	
  font-size: 16px;
}

div.extra ul {
  list-style-type: square;
  padding-left: 30px;
  padding-right: 30px;	
}

div.extra p {
  margin-top: 0;	
}

div#bottom div.right {
    border-left: 1px solid #E1E1E1;
    float: left;
    margin-left: 20px;
    padding: 30px 0 0 30px;
    width: 230px;
}

div#bottom div.right h3 {
  font-size: 15px;	
}

div#bottom div.right p {
  font-size: 13px;	
}

div#bottom div.right img.delivery {
  margin-bottom: 20px;	
}

div.more-info {
  float: left;
  width: 100px;	
}

span.more-info {
  color: #fff;
  font-size: 120px;
  font-weight: 600;
  letter-spacing: 0px;
  position: relative;
  top: 0px;
  left: 60px;	
}

div.tea-promo:hover span.more-info {
  color: #666;	
}

span.message {
  color: #333;
  font-size: 12px;
  letter-spacing: 0px;
  position: relative;
  left: 0px;
  float:right;
}

span.message img {
  position: relative;
  top: 2px;	
}

.tag {
	margin:0;
	padding:0;
	position:absolute;
	right:24px;
	bottom:-12px;
	list-style:none;
	}

.tag {
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#0089e0;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;	
	} 
	
.tag:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #0089e0 transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;		
	}


.tag:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
}
	
div.tea-promo .did-you-know {
  margin-top: -5px;
  width: auto;
  padding: 4px 8px;
  margin-right: 5px;
}

div.tea-promo .did-you-know h3 {
  font-size: 11px;
  margin: 0;
  color:#555;
  text-shadow: 0 1px 1px #fff;
}

div.tea-promo .did-you-know:hover:after {
  border-bottom-color: #84c37d;	
}

/* this is the background of the arrow */
div.tea-promo .did-you-know:after {
        border-bottom: 7px solid #e1e1e1;         
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        position: absolute;
        top: -7px;
        left: 14px;
}

/* this is the foreground of the arrow */
div.tea-promo .did-you-know:before {
        border-bottom: 7px solid hsla(0,0%,95%,1);     
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        position: absolute;
        top: -6px;
        left: 15px;
}

/* tea listing styles */

div#teas {
  margin-top: 30px;	
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 3px dotted #e1e1e1;
  float: left;
  width: 100%;
}

div.tea-promo {
    float: left;
    margin: 0 30px 20px 0px;
    padding: 20px;
    position: relative;
    width: 780px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid transparent;
}

div.tea-promo.last {
  margin-right: 0;	
}

div.tea-promo div.image {
    float: left;
    margin-right: 30px;
    width: 360px;
}


div.tea-promo:hover {
  box-shadow: 0 0px 8px #c1c1c1;
  border: 1px solid #b1b1b1;	
  cursor: pointer;
}

div.tea-promo div.text {
  width: 380px;
  float: left;	
}

div#main-text-wide div#left div.tea-promo div.text p {
  margin: 0 0 0 0;	
}

div.tea-promo span.link {
  position:absolute;
  width:100%; 
  height:100%; 
  top:0; 
  left: 0; 
  z-index: 1;	
}

div.tea-promo a.add-to-basket {
  background: url('/images/price-back-small.png') no-repeat top;
  width: 108px;
  height: 25px;
  position: relative;
  float:left;	
  margin-right: 10px;
  z-index: 2;
}

div.tea-promo a.more-details {
  background: url('/images/more-details.png') no-repeat top;
  width: 108px;
  height: 25px;
  position: relative;
  float:left;
    z-index: 2;	
}

div.tea-promo:hover a.more-details {
  background: url('/images/more-details.png') no-repeat center;
}

div.tea-promo:hover a.add-to-basket {
  background: url('/images/price-back-small.png') no-repeat center;	
}

div.tea-promo a.add-to-basket:hover {
  background: url('/images/price-back-small.png') no-repeat bottom;
}

div.tea-promo a.more-details:hover {
  background: url('/images/more-details.png') no-repeat bottom;
}


div.tea-promo h4 {
    border-bottom: medium none;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-top: 0;
}

div.tea-promo h4 a {
  color: #439249;
}

div.tea-promo:hover h4 a {
  text-decoration: underline;	
}


div.tea-promo p {
    color: #333333;
    font-size: 17px;
    margin: 0;
}



div.did-you-know {
  width: 500px;	
}

div.tea-promo p.reviews {
  color: #333;
  font-size: 13px;
}

p.price span {
    color: #439249;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -1px;
}

p.price span.coming-soon {
  color: #BE373A;	
}

p.subtitle {
  margin-bottom: 10px;
  float: left;
  width: 500px;	
}

div#banner p.quote {
    float: right;
    font-family: Georgia,serif;
    font-size: 16px;
    margin: 15px 50px 0;
    width: 360px;
}

p.subtitle span {
    background-color: #BE373A;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 6px 0 6px;
    padding: 4px 5px 2px;
}

span.reviews {
  display: block;
  float: right;
  font-size: 11px;
  font-weight: bold;
  color: #666;
  background-color: #f1f1f1;
  padding: 5px 8px;
  border-radius: 4px;
  text-shadow: 0 1px 1px #fff;
  border-width: 1px;
  border-color: #c1c1c1 #e1e1e1 #e1e1e1 #c1c1c1;
  border-style: solid;
}


a.more {
    bottom: 22px;
    float: left;
    margin-top: 5px;
    padding: 5px 10px;
    position: absolute;
    z-index: 10;
}


.category-desc {
  float: left;	
  width: 100%;
  border-bottom: 3px dotted #e1e1e1;
  padding-bottom: 20px;
}

#banner .category-desc p {
  font-size: 20px;	
  margin: 5px 0 0;
  color: #30A5C7;
}

#chooser {
  float: left;
  width: 100%;
  margin: -15px 50px 30px 0;
}

#chooser p {
  margin: 0;
  color: #F37679;
}

#chooser a {
  float: left;
  width: 130px;
  text-align: center;
  font-size: 16px;	
  margin-right: 0px;
  margin-left: 0px;
  padding: 6px 15px 5px;
  border: 1px solid #d1d1d1;
  position: relative; 
  color: #F37679;
        /* Firefox 3.6+ */ 
    background: -moz-linear-gradient(100% 100% 90deg, #f1f1f1, #fff); 
    
    /* Safari 4-5, Chrome 1-9 */ /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f1), to(#e6e6e6)); 
    
    /* Safari 5.1+, Chrome 10+ */ 
    background: -webkit-linear-gradient(#f1f1f1, #e6e6e6); 
    
    /* Opera 11.10+ */ 
    background: -o-linear-gradient(#e6e6e6, #f1f1f1);
}

#chooser a.selected {
  color: #000;
  font-weight: bold;
  border: 1px solid #c1c1c1;
  position: relative;
  background: #fff;
}

#chooser a:first-child {
  border-radius: 4px 0 0 4px;
  border-right: none;
}

#chooser a:last-child {
  border-radius: 0px 4px 4px 0;	
  border-left: none;
}

#chooser a:hover:before {
	    content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 15px solid #f1f1f1;     
        border-bottom: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        bottom: -15px;
        left: 60px;
        z-index: 2;
        margin-left: -1px;	
}

#chooser a:hover:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 15px solid #c1c1c1;         
        border-bottom: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        bottom: -16px;
        left: 59px;
        z-index: 1;
        margin-left: ;	
}

#chooser a.selected:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 15px solid #999;         
        border-bottom: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        bottom: -16px;
        left: 59px;
        z-index: 1;
        margin-left: ;	
}

#chooser a.selected:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 15px solid #fff;     
        border-bottom: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        bottom: -15px;
        left: 60px;
        z-index: 2;
        margin-left: -1px;	
}

