{% extends "base.html" %}
{% load django_static %}

{% block pagetitle %}Order (Step 1 of 3) - Your details{% endblock %}

{% block banner %}
	    	<div id="home-banner">
	    	<p class="logo-assist">{% if shopper %}Check{% else %}Provide{% endif %} your details</p>
	    	<div id="steps">
	    		<div class="step first selected">1. Your details</div>
	    		<div class="step">2. Confirm</div>
	    		<div class="step last">3. Pay with PayPal</div>
	    	</div>
			</div>
{% endblock %}

{% block extracss %}
<style type="text/css">
div#steps {
    float: right;
    width: auto;
}

div#steps div.step {
    background-color: #F1F1F1;
    border: 1px solid #FFFFFF;
    color: #D1D1D1;
    float: left;
    font-size: 14px;
    padding: 7px 20px;
    text-align: center;
    width: auto;
}

div#steps div.step.first {
  -moz-border-radius: 10px 0px 0px 10px;	
}

div#steps div.step.selected {
    background-color: #E1E1E1;
    color: #19761C;
}

div#steps div.step.last {
  -moz-border-radius: 0px 10px 10px 0px;	
}

input.checkbox {
    float: left;
    margin-bottom: 50px;
    margin-right: 12px;
    width: 20px;
}

p.checkbox {
  font-size: 12px;	
}

p.help-text {
    float: left;
    font-size: 0.7em;
    padding-left: 130px;
    position: relative;
    top: -8px;
    width: 300px;
}

p.help-text img {
  position: relative;
  top: 3px;	
}

div.address-container {
    float: left;
    width: 530px;
}

div.address-container p {
  font-size: 15px;
  margin: 10px 0px 20px 0;	
}

div.address {
    float: left;
    margin: 0 10px 10px 0;
    padding: 0px 20px;
    width: 215px;
    -moz-border-radius: 10px;
    font-size: 12px;
}

div.address h3 {
  font-size: 1.4em;	
  margin-bottom: 15px;
}

div.address a {
  font-size: 13px;	
}

div.address.first {
    margin-right: 0;
    width: 480px;
    font-size: 16px;
}

div.address.other {
  background: #fff;
  width: 500px;
  padding: 0;
  display: none;
}

div.address label {
  width: 500px;
  font-size: 14px;	
}

</style>

{% endblock %}

{% block content %}

<div id="featured-small"></div>

<div id="main-text-wide">


    <form method="post" action="">


	<div class="checkout-button">
		<input type="submit" value="" next="" class="button-confirm-address"/>
				{{ form.first_name.errors }}
		{{ form.last_name.errors }}
		{{ form.email.errors }}
		{{ form.non_field_errors }} 
		      {% for error in form.errors %} 	 
      			{{ error.error }}
		      {% endfor %}
		<p class="checkout"><strong>Next step:</strong> Confirm your order</p>

		<p class="checkbox"><input class="checkbox" checked type="checkbox" id="id_subscribed" name="subscribed"> We would like to keep you up to date occasionally about new teas, tea equipment or special offers - if you <strong>don't</strong> want to receive emails, uncheck this box.</p>


	</div>
	
	{% if shopper %}
		<div class="address-container">
		<div class="address first">
			<p><em>We've saved your details that you entered before - please check your name, email and delivery address are still all correct:</em></p>
			<div class="address first">{{ shopper.first_name }} {{ shopper.last_name }} ({{ shopper.email }}) - <a href="{% url not_you %}">not you?</a>
				
		{% for address in shopper.get_addresses %}
				{% if forloop.first %}
					<br/>
					{{ address.house_name_number }}<br/>
					{{ address.address_line_1 }}<br/>
					{{ address.address_line_2 }}<br/>
					{{ address.town_city }}<br/>
		 			{{ address.postcode }} - <a href="{% url not_you %}">Want to use a different address?</a>
		 			</div>
		 		{% else %}
		 			<div class="address other">
		 			{{ address.house_name_number }}, 
					{{ address.address_line_1 }}, 
					{{ address.address_line_2 }}, 
					{{ address.town_city }}, 
		 			{{ address.postcode }}
		 			</div>
		 		{% endif %}
		{% endfor %}
		</div>
		
		<div style="display:none;">
		<input type="text" name="first_name" id="id_first_name" value="{{ first_name }}"/>
    	<input type="text" name="last_name" id="id_last_name" value="{{ last_name }}"/>
    	<input type="text" name="email" id="id_email" value="{{ email }}"/>
      	<input id="id_house_name_number" type="text" name="house_name_number" maxlength="200" value="{{ house_name_number }}"/>
	  	<input id="id_address_line_1" type="text" name="address_line_1" maxlength="200" value="{{ address_line_1 }}"/> 
      	<input id="id_address_line_2" type="text" name="address_line_2" maxlength="200"  value="{{ address_line_2 }}"/>
      	<input id="id_town_city" type="text" name="town_city" maxlength="200" value="{{ town_city }}"/>
      	<input id="id_postcode" type="text" name="postcode" maxlength="200" value="{{ postcode }}" />
 		</div>
	{% else %}

	<div class="row">
		<div class="row-label">
			<h3>Your details</h3>
		</div>
    	<div class="row-box">
    	<p class="intro">Please give your name and email address - just in case we need to contact you about your order.</p>
    		<p><label for="id_first_name">First name</label><input type="text" name="first_name" id="id_first_name" value="{{ first_name }}"/></p>
    		<p><label for="id_last_name">Surname</label><input type="text" name="last_name" id="id_last_name" value="{{ last_name }}"/></p>
    		<p><label for="id_email">Email address</label><input type="text" name="email" id="id_email" value="{{ email }}"/></p>
    		<p class="help-text"><img src="{% staticfile '/images/lock.gif' %}"> We will never share your email address (<a target="_blank" title="Read our privacy policy (opens in a new window)" href="/privacy-policy/">Privacy Policy</a>)</p>	
    	</div>
    </div>
    
	
	<div class="row">
		<div class="row-label">
			<h3>Your address</h3>
		</div>
    	<div class="row-box">
    		<p class="intro">Please confirm which address we should send your tea to - make sure it's a valid UK address or we won't be able to post your tea!</p>

      <p>
      	<label for="id_house_name_number">House name number:</label>
      	<input id="id_house_name_number" type="text" name="house_name_number" maxlength="200" value="{{ house_name_number }}"/></p>
	  	{{ form.address_line_1.error }}
	  
	  <p>
	    <label for="id_address_line_1">Address line 1:</label>
	  	<input id="id_address_line_1" type="text" name="address_line_1" maxlength="200" value="{{ address_line_1 }}"/> </p>
      	{{ form.address_line_2.errors }}
      	
      <p>
      	<label for="id_address_line_2">Address line 2:</label>
      	<input id="id_address_line_2" type="text" name="address_line_2" maxlength="200"  value="{{ address_line_2 }}"/></p>
      	{{ form.town_city.errors }}
      
      <p>
      	<label for="id_town_city">Town city:</label>
      	<input id="id_town_city" type="text" name="town_city" maxlength="200" value="{{ town_city }}"/> </p>
      	{{ form.postcode.errors }}
      	
      <p>
      	<label for="id_postcode">Postcode:</label>
      	<input id="id_postcode" type="text" name="postcode" maxlength="200" value="{{ postcode }}" /> </p>
 	
 	</div> 
	</div>

	{% endif %}
	
	
</form>

</div>
{% endblock %}
