{% extends base_template %}
{% load thumbnail i18n convert_links %}

{% block aboutselected %}selected{% endblock %}

{% block metadescription %}{{ page.meta_description }}{% endblock %}

{% block pagetitle %}{% if page.meta_title %}{{ page.meta_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}

{% block canonical %}<link rel="canonical" href="http://www.minrivertea.com{{ page.get_absolute_url }}" />{% endblock %}

{% block extrajs %}
<script>
$(function() {
$(".scroll").scrollable({ circular: true }).click(function() {
	$(this).data("scrollable").next();		
});
});

$(function() { 
	$('.hoverbox').hover(
		function() {
			$('div', this).animate({top: '100px',}, 200);
		},
		function() {
			$('div', this).animate({top: '145px',}, 200);
		}
	);	  
});

</script>

{% endblock %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{{ static_url }}css/pages.css">
<style type="text/css">

h1 {
  margin-bottom: 20px;   
}

div.top {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin-bottom: 30px;
    padding: 10px;
    width: 100%;
}

.white {
    float: left;
    padding: 10px 0 0;
    width: 670px;
}

.white p {
  margin: 0 0 0px 0;
}

.white p.nihao {
  font-size: 22px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

{% if page.feature_image %}
h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  margin-bottom: 0px;
  background-color: #fff;
  padding: 15px 25px 10px ;
}
{% endif %}


span.review {
  color: #333;	
}


div.about-right img.top {
    margin-top: -100px;
    position: relative;
    border: none;
}


/* position and dimensions of the navigator */
.navi {
	margin-left:328px;
	width:200px;
	height:20px;
}


/* items inside navigator */
.navi a {
	width:8px;
	height:8px;
	float:left;
	margin:3px;
	background:url(../img/scrollable/arrow/navigator.png) 0 0 no-repeat;
	display:block;
	font-size:1px;
}

/* mouseover state */
.navi a:hover {
	background-position:0 -8px;      
}

/* active state (current page state) */
.navi a.active {
	background-position:0 -16px;     
}

ul.rss {
    left: auto;
    right: 0;
    top: 0;
    width: 290px;
}

ul.rss #facebook {
  width: 280px;   
  background-color: #e1ecf3;
  padding: 10px 10px 3px 15px;
  top: -4px;
}

ul.rss #facebook p {
    color: #333;
    float: left;
    font-family: Helvetica,sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px 1px #FFFFFF;
    margin: 0 10px 0 0;
    position: relative;
    top: 5px;
}



</style>


{% endblock %}

{% block content %}


{% include 'shop/snippets/page_sub_nav.html' %}


<div id="mtw">
  <div class="sp">
	<h1>{{ page.title }}</h1>
  	
  			<div class="top">
		
			<img title="{% trans 'This is me, Chris West, owner of the Min River Tea Farm' %}" src="{{ static_url }}images/chris.jpg" style="float:left;margin-right: 30px;">
			
			<div class="white">
				<p class="nihao">{% trans "We sell exceptional quality Chinese teas, direct from China" %}</p>
				
				<p>{% blocktrans %}I moved to China in 2007 and instantly fell in love with tea. Tea in China is a way of life, a daily comfort and an exquisite treat - I want to share that with friends and family and with you as well.</p><br/><p>Because we're based in China full time, we can be immensely selective about the teas we sell - it's why <a class="underline" href="/teas/">our teas</a> simply taste better. {% endblocktrans %}</p>
				
				<p>{% blocktrans %}<strong>Chris West, founder</strong> (<a href="mailto:chris@minrivertea.com">chris@minrivertea.com</a>){% endblocktrans %}</p>
				
	 		</div>
	 	</div>


	<div id="right">
		{% include 'shop/boxes/follow.html' %}
		{% include 'shop/boxes/email.html' %}
		{% for t in teas %}
		  {% include 'shop/snippets/product_small.html' %}
		{% endfor %}	
	</div>

	<div id="left">
		{{ page.content|convert_links|safe }}
	</div>

  	    {% if ga_is_on %} 
		<ul class="rss {% if page.feature_image %}opaque{% endif %}">
	    	<li id="facebook">
	    	    <p>{% trans "If you like us, please 'Like' us!" %} &raquo;</p>
			    <div id="fb-root"></div>
			    <script src="http://connect.facebook.net/en_US/all.js#appId=234100573279411&amp;xfbml=1"></script>
			    <fb:like href="http://www.facebook.com/minrivertea" send="false" layout="button_count" width="80" show_faces="true" font="">
			    </fb:like>
			</li>
		</ul>
		{% endif %}		
  </div>
</div>


{% endblock %}
