{% extends "base.html" %}
{% load django_static thumbnail %}

{% block aboutselected %}selected{% endblock %}

{% block metadescription %}{{ page.meta_description }}{% endblock %}

{% block pagetitle %}{% if page.meta_title %}{{ page.meta_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}

{% block canonical %}<link rel="canonical" href="http://www.minrivertea.com{{ page.get_absolute_url }}" />{% endblock %}

{% block extrajs %}
<script>
$(function() {
$(".scroll").scrollable({ circular: true }).click(function() {
	$(this).data("scrollable").next();		
});
});

$(function() { 
	$('.hoverbox').hover(
		function() {
			$('div', this).animate({top: '100px',}, 200);
		},
		function() {
			$('div', this).animate({top: '145px',}, 200);
		}
	);	  
});

</script>

{% endblock %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% staticfile '/css/pages.css' %}">
<style type="text/css">

div.top {
  float: left;
  width: 100%;
  margin-bottom: 30px;	
}

.white {
  background-color: #fff;
  padding: 20px 25px;
  float: left;	
  width: 668px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #e1e1e1;
  position: relative;
}

.white p {
  font-size: 18px;	
  margin: 0 0 10px 0;
}

.white p.nihao {
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.white ul {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  margin: 0;	
  padding: 0;
}

/* this is the background of the arrow */
.white:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-bottom: 20px solid transparent;         
        border-left: 0;
        border-top: 20px solid transparent;
        border-right: 20px solid #d1d1d1;
        position: absolute;
        top: 20px;
        left: -21px;
        z-index: 1;
        margin-left: ;
}

/* this is the foreground of the arrow */
.white:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-right: 20px solid #fff;     
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 0;
        position: absolute;
        top: 20px;
        left: -19px;
        z-index: 2;
        margin-left: -1px;
}

{% if page.feature_image %}
h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  margin-bottom: 0px;
  background-color: #fff;
  padding: 15px 25px 10px ;
}
{% endif %}


span.review {
  color: #333;	
}


div.about-right img.top {
    margin-top: -100px;
    position: relative;
    border: none;
}


/* position and dimensions of the navigator */
.navi {
	margin-left:328px;
	width:200px;
	height:20px;
}


/* items inside navigator */
.navi a {
	width:8px;
	height:8px;
	float:left;
	margin:3px;
	background:url(../img/scrollable/arrow/navigator.png) 0 0 no-repeat;
	display:block;
	font-size:1px;
}

/* mouseover state */
.navi a:hover {
	background-position:0 -8px;      
}

/* active state (current page state) */
.navi a.active {
	background-position:0 -16px;     
}




ul.rss {
   width: 280px;   
}

ul.rss #facebook {
  width: 270px;   
  background-color: #e1ecf3;
  padding: 10px 10px 3px 15px;
  top: -4px;
}

ul.rss #facebook p {
    color: #333;
    float: left;
    font-family: Helvetica,sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px 1px #FFFFFF;
    margin: 0 10px 0 0;
    position: relative;
    top: 5px;
}



</style>


{% endblock %}

{% block content %}


{% include 'shop/snippets/page_sub_nav.html' %}


<div id="mtw">
  <div class="sp">
  	{% if page.feature_image %}
		{% thumbnail page.feature_image "960" crop="" as im %}
		  <img src="{{ im.url }}" style="margin-bottom: 30px;"/>
		{% endthumbnail %}
		<h1>{{ page.title }}</h1>
  	{% else %}
  		<h1>{{ page.title }}</h1>
  	{% endif %}
  	
  			<div class="top">
		
			<img title="This is me, Chris West, owner of the Min River Tea Farm" src="{% staticfile '/images/chris.jpg' %}" style="float:left;margin-right: 30px;">
			
			<div class="white">
				<p class="nihao">We sell exceptional quality Chinese teas with 'no-added-nonsense'.</p>
				
				<p>I moved to China in 2007 and instantly fell in love with tea. Tea in China is a way of life, a daily comfort and an exquisite treat - I want to share that with friends and family and with you as well. <strong>Because we're based in China full time,</strong> we can be immensely selective about the teas we sell - it's why our teas simply taste better.</p>
				
				<p><strong>Chris West, founder</strong> (<a href="mailto:chris@minrivertea.com">chris@minrivertea.com</a>)</p>
				
	 		</div>
	 	</div>


	<div id="right">
		{% include 'shop/boxes/follow.html' %}
		{% include 'shop/boxes/email.html' %}
		{% include 'shop/boxes/tea.html' %}		
	</div>

	<div id="left">
	    
		{{ page.content|safe }}
	
  	    {% if ga_is_on %} 
		<ul class="rss {% if page.feature_image %}opaque{% endif %}">
	    	<li id="facebook">
	    	    <p>If you like us, please 'Like' us! &raquo;</p>
			    <div id="fb-root"></div>
			    <script src="http://connect.facebook.net/en_US/all.js#appId=234100573279411&amp;xfbml=1"></script>
			    <fb:like href="http://www.facebook.com/minrivertea" send="false" layout="button_count" width="80" show_faces="true" font="">
			    </fb:like>
			</li>
		</ul>
		{% endif %}

	
	
	</div>

		
  </div>
</div>


{% endblock %}
