{% extends base_template %}
{% load thumbnail i18n %}

{% block metadescription %}{{ page.meta_description }}{% endblock %}

{% block pagetitle %}{% if page.meta_title %}{{ page.meta_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}

{% block canonical %}<link rel="canonical" href="{{ site_url }}{{ page.get_absolute_url }}" />{% endblock %}

{% block extrajs %}
<script>
$(function() {
$(".scroll").scrollable({ circular: true }).click(function() {
	$(this).data("scrollable").next();		
});
});

$(function() { 
	$('.hoverbox').hover(
		function() {
			$('div', this).animate({top: '100px',}, 200);
		},
		function() {
			$('div', this).animate({top: '145px',}, 200);
		}
	);	  
});
</script>

{% endblock %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{{ static_url }}css/pages.css">
<style type="text/css">

h1 {
}

p.introduction {
  margin-bottom: 0;
  padding-bottom: 0;   
}

h2 {
  font-size: 25px;
}


#left ul {
  margin: 0;
  padding: 0;
  list-style-type: none;   
}

#left ul#blog {
  padding: 10px 15px;
  background: #eff6f8;
  float: left;
  width: 100%;
  margin-bottom: 20px;   
}

#left ul li {
  width: 100%;
  float: left;
  margin: 0; 
  border-bottom: 1px dashed #e1e1e1;
  padding: 20px 0; 
}

#left ul li:first-child {
  padding-top: 5px;   
}

#left ul li p {
  margin-bottom: 0;
  font-size: 13px;  
} 

#left ul li p a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: -0.2px;
  margin-bottom: 10px;   
}

#left ul#blog li p a {
  color: #257592;
}

#left ul#blog li {
  border-bottom: 1px dashed #aecfd8;   
}

#left ul#blog li p.meta {
  font-size: 11px;
  color: #4d7c89;   
}

#left ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;   
}

#left ul li img {
  float: right;
  margin: 0 0px 0px 15px;   
}

#left ul#blog li.more {
  font-weight: bold;
  text-align: right;
  margin-bottom: 10px;
  border-bottom: none;
}

#left ul li.more a {
  padding-right: 20px;
}

</style>



{% endblock %}

{% block content %}




<div id="mtw">
  <div class="sp">
  
    <h1>Learn about tea</h1>
  	
  	
  	<div id="right"> 
  	     {% include 'shop/boxes/brewing.html' %}
  	     {% include 'shop/boxes/tea.html' %}   
  	</div>
  	    
  	<div id="left">
  	
  	<p class="introduction">{% trans 'Appreciate your fine Chinese tea more with our guides to <a href="/how-to-brew-chinese-tea/">brewing</a> and tasting your tea, as well as information about the <a href="/about-chinese-tea/">growing, history and culture of tea</a> drinking in China.' %}</p>
  	
            <ul id="blog">
                {% for x in latestblogs %}
                <li>
                  {% if x.promo_image %}
                    {% thumbnail x.promo_image "150x90" crop="center" as im %}
                        <img src="{{ im.url }}" />
                    {% endthumbnail %}
                  {% endif %}
                  <p {% if x.promo_image %}class="hasimage"{% endif %}>
                    <a href="{{ x.get_absolute_url }}">{{ x.title }} &raquo;</a><br/>
                    {{ x.summary }}
                  </p>
                  <p class="meta">
                    By {{ x.blogger }} | {{ x.date_added|date:"D d M Y" }}
                  </p>
                </li>
                {% endfor %}
                <li class="more"><a href="{% url blog_home %}">{% trans 'Read more from our blog' %}&raquo;</a></li>
            </ul>
            
            <h3>Articles and information</h3> 
            <ul>
                
                {% for x in pages %}
                  <li>
                  {% if x.promo_image %}
                    {% thumbnail x.promo_image "150x90" crop="center" as im %}
                        <img src="{{ im.url }}" />
                    {% endthumbnail %}
                  {% endif %}
                  <p {% if x.promo_image %}class="hasimage"{% endif %}>
                    <a href="{{ x.get_absolute_url }}">{{ x.title }} &raquo;</a><br/>
                    {{ x.content|safe|striptags|truncatewords:"50" }}
                  </p>
                </li>
                {% endfor %}
                
            </ul>
	
	   </div> <!-- END DIV LEFT -->

		
  </div>
</div>


{% endblock %}
