{% extends base_template %}
{% load django_static thumbnail %}

{% block aboutselected %}selected{% endblock %}

{% block metadescription %}{{ page.meta_description }}{% endblock %}

{% block pagetitle %}{% if page.meta_title %}{{ page.meta_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}

{% block canonical %}<link rel="canonical" href="http://www.minrivertea.com{{ page.get_absolute_url }}" />{% endblock %}

{% block extrajs %}
<script>
$(function() {
$(".scroll").scrollable({ circular: true }).click(function() {
	$(this).data("scrollable").next();		
});
});

$(function() { 
	$('.hoverbox').hover(
		function() {
			$('div', this).animate({top: '100px',}, 200);
		},
		function() {
			$('div', this).animate({top: '145px',}, 200);
		}
	);	  
});

function reSize() {
    var size = 0
    var spacer = 50
    $('.column_1').each( function(index) {
    	if (index < 1) {
    	    size = $(this).height() + spacer;
    	} else {
	        $(this).css('top', size);
	        newSize = size + $(this).height() + spacer;
	        size = newSize;
    	}
    });
    var size = 0
    $('.column_2').each( function(index) {
    	if (index < 1) {
    	    size = $(this).height() + spacer;
    	} else {
	        $(this).css('top', size);
	        newSize = size + $(this).height() + spacer;
	        size = newSize;
    	}
    });	
    var size = 0
    $('.column_3').each( function(index) {
    	if (index < 1) {
    	    size = $(this).height() + spacer;
    	} else {
	        $(this).css('top', size);
	        newSize = size + $(this).height() + spacer;
	        size = newSize;
    	}
    });		
}

$(document).ready( function() {
	reSize();
});

</script>

{% endblock %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% staticfile '/css/pages.css' %}">
<style type="text/css">

div#mtw div#left {
  border-left: none;
  width: 100%;	
  padding-left: 0;
  height: 900px;
  position: relative;
}

h2 {
  font-size: 25px;
}

.block {
  float: left;
  position: absolute;
  width: 250px;
  height: auto;
  background-color: #fff;
  padding: 15px 20px;
  margin: 0 20px 20px 0;
  border: 1px solid #e1e1e1;	
}

.block.column_2 {
  left: 310px;	
}

.block.column_3 {
  left: 620px;	
  margin-right: 0;
}

.block h4 {
  margin: 0;
  color: #237A2A;
  font-size: 18px;
  font-family: Helvetica, sans-serif;	
}

.block h4.hover {
  position: absolute;
  top: 20px;
  background-color: #fff;
  padding: 5px 10px;	
  max-width: 200px;
}

.block a.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 10;	
}

.block:hover {
  border: 1px solid #7CBA80;
  background-color: #F3F9F2;
}

.block img {
  float:left;
  position: relative;
  left: -5px;
}

#left .block p {
  font-size: 15px;
  margin: 0;	
}

.block h4.promo {
    background-color: #F1F1F1;
    bottom: 20px;
    font-size: 15px;
    left: 22px;
    padding: 6px 8px 4px;
    position: absolute;
}

</style>


{% endblock %}

{% block content %}

{% include 'shop/snippets/page_sub_nav.html' %}

<div id="mtw">
  <div class="sp">
  		<h1>{{ page.title }}</h1>


	<div id="left">
	    
		{% for p in page.get_children %}
		<div class="block column_{% cycle '1' '2' '3' %} " >
			<a href="{% url page p.slug %}" class="link"></a>
			{% if p.promo_image %}
				{% thumbnail p.promo_image "260" crop="" as im %}
					<img src="{{ im.url }}"/>
				{% endthumbnail %}
			{% endif %}
			<h4 {% if p.promo_image %}class="promo"{% endif %}><a href="{% url page p.slug %}">{{ p.title }}</a></h4>
			<p>{{ p.meta_description }}</p>
		</div>
		{% endfor %}
	
	</div>

		
  </div>
</div>


{% endblock %}
