{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block pagetitle %}Your basket ({{ basket_quantity }}){% endblock %}
{% block metadescription %}Your basket - shop on www.minrivertea.com and get the best prices and great tasting authentic Chinese teas delivered direct to your door.{% endblock %}

{% block banner %}
	<h1>Your basket ({{ basket_quantity }} item{{ basket_quantity|pluralize }})</h1>
{% endblock %}


{% block extracss %}
<style type="text/css">
#items {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 7%;	
}

#items li {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#items li:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;	
}

.title {
  font-weight: bold;	
}

.details {
  color: #000;	
}


</style>
{% endblock %}



{% block content %}

<ul id="items">
{% for thing in basket_items %}
	<li>
		<span class="title">{{ thing.item.parent_product.name }}</span> ({{ thing.item.weight|floatformat }}{{ thing.item.weight_unit }})<br/>
		<span class="details">{{ thing.item.price_unit }}{{ thing.item.price }}</span>
		<a class="remove" href="{% url remove_from_basket thing.item.id %}">Remove from basket</a>
	</li>
{% endfor %}
</ul>




	<br clear="all"/>
	  	<div id="start-checkout-button">		
		
		<p class="checkout">
			<strong>Next step</strong>: your details. 
			<em>No login or registration required to purchase.</em>
		</p>
		<a href="{% url order_step_one %}"></a>
	</div>

			
  </div>
  

{% endblock %}
