{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block pagetitle %}Chinese tea delivered to your door in the UK{% endblock %}

{% block metadescription %}We sell great quality Chinese tea and deliver it to your home in the UK. Our Chinese teas are organic, hand-picked and sourced directly from farms in China.{% endblock %}


{% block extracss %}
<style type="text/css">
ul#teas {
  list-style-type: none;
  margin: 0;
  padding: 0;	
}

#teas .image {
  float: left;
  width: 90px;
  margin-right: 10px;	
}

#teas .text {
  float: left;
  width: auto;	
}

</style>
{% endblock %}

{% block banner %}
<p>Fine Chinese teas, direct from China to your door. </p>
{% endblock %}


{% block content %}

	<ul id="teas">
	{% for tea in teas %}
		<li>
			<div class="image">
			{% thumbnail tea.image "90x60" crop="center" as im %}
				<img src="{{ im.url }}"/>
			{% endthumbnail %}
			</div>
			<div class="text">
				<p><a href="">{{ tea.name }}</a><br/>{{ tea.description }}</p>
			</div>
		</li>
	{% endfor %}
	</ul>

	<div id="choices">
		<a href="{% url teas %}">Browse all teas</a>
		<a href="/about-us/">About us</a>
		<a href="">Our tea blog</a>
	</div>






{% endblock %}
