{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block pagetitle %}Chinese tea delivered to your door in the UK{% endblock %}

{% block metadescription %}We sell great quality Chinese tea and deliver it to your home in the UK. Our Chinese teas are organic, hand-picked and sourced directly from farms in China.{% endblock %}


{% block extracss %}
<style type="text/css">


</style>
{% endblock %}

{% block banner %}
<p>Fine Chinese teas, direct from China to your door. </p>
{% endblock %}


{% block content %}










{% endblock %}
