{% extends base_template %}
{% load thumbnail i18n convert_weights %}

{% block pagetitle %}{% trans 'Exceptional Chinese tea delivered to your door' %}{% endblock %}

{% block metadescription %}{% trans 'We sell exceptional Chinese teas and deliver them to your home. Our teas are authentic, hand-picked and traditionally made in our home in China.' %}{% endblock %}


{% block extrajs %}
<script type="text/javascript">



</script>
{% endblock %}

{% block extracss %}
<style type="text/css">

h2 {
  font-size: 15px;
  margin: 0;   
}

#sale {
  margin: 5px 0 0;   
}

#experts {
  position: relative;   
}

#experts p {
  margin: 5px 0;   
}
</style>
{% endblock %}


{% block content %}


    <div class="image-promo">
        <img src="{{ static_url }}images/mobile/mobile-promo.jpg" />
    </div>

<div class="sp">
    
    <div id="sale">
    <h2 class="">{% trans '<span class="red">Big stock clearance!</span> Get up to 50% off on selected teas' %} - <a href="{% url sale %}">{% trans 'see all sale items here' %} &raquo;</a></h2>
    </div>
    
    <div class="hr"></div>
    

	<div id="teas">
	          
        {% include 'shop/snippets/products_long.html' %}        
        
        <h2 class="banner">{% trans 'Check out our bestsellers' %} <a href="{% url finder _('teas') %}">{% trans 'or see our full range of teas' %} &raquo;</a></h2>
        
    </div>
	<!-- END TEAS LIST -->
	
	<div class="hr clear"></div>
</div>


<div class="image-promo">
    <img src="{{ static_url }}images/mobile/mobile-experts.jpg" />
</div>    

<div class="sp">
    <div id="experts">
        <a href="{% url finder _('about') %}"><span class="link"></span></a>
        <p>{% blocktrans %}We're one of the only Western tea companies actually based near farms and tea growing areas in China - we really believe you can taste the difference - {% endblocktrans %}</a>
    </div>
    
    
    <div class="hr"></div>
    
    
	
	<div id="teaware">
	   
	   {% with teaware as teas %}
	       {% include 'shop/snippets/products_long.html' %}  
	   {% endwith %}	   

	</div>

    
    	


</div>
	
{% endblock %}
