{% extends base_template %}
{% load thumbnail %}

{% block pagetitle %}{{ tea.name }}{% endblock %}

{% block extrajs %}
<script>

</script>

{% endblock %}

{% block extracss %}

<style type="text/css">

h1.title {
  text-align: center; 
  border-bottom: none;
  margin: 0;
  padding: 0;  
}

#prices {
  float: left;
  width: 100%;
  margin: 10px 0;
  border-top: 1px dashed #e1e1e1;   
}

#prices .price {
  border-bottom: 1px dashed #e1e1e1;
  padding: 15px 0;   
}

#prices div.price .button {
  float: right;
  top: -6px;   
}

#prices .price span {
  letter-spacing: -0.5px;   
}

#prices .price span.amount {
  font-weight: bold;
  color: #333;
}

#prices .price span.weight {
  font-weight: ;
  color: #777;
}

</style>
{% endblock %}


{% block content %}

<div class="image-promo">
	{% thumbnail tea.image thumb_large crop="center" as im_large %}
		<img src="{{ im_large.url }}" />
	{% endthumbnail %}
</div>

<div class="sp">		
	
	<h1 class="title">{{ tea.name }}</h1>	
    
    <div id="prices">
    	
    	{% if tea.coming_soon %}
    	 	<div class="coming-soon">
    		</div>
    	{% else %}
    		{% for price in prices %}
    			<div class="price">
    			<span class="amount">{{ currency.symbol }}{{ price.price|floatformat }}</span>
    			/ 
    			<span class="weight">{{ price.weight|floatformat }}{{ weight_unit }}</span>
    		  
    		    <a class="button" href="{% url add_to_basket price.id %}">
    		    Add to basket
    			</a>
    			</div>
    		{% endfor %}
    	{% endif %}
    </div>
    
    <div class="description">{{ tea.body_text|safe }}</div>

    
    
    	           	
    <ul id="choices">
    	<li><a href="">View customer reviews ({{ reviews.count }})</a></li>
    	<li><a href="">More photos of this tea</a></li>
    	<li><a href="">Brewing guides</a></li>
    </ul> 
    
</div>	

{% endblock %}
