{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block metadescription %}{% if tea.meta_description %}{{ tea.meta_description|safe }}{% else %}{{ tea.name }} - {{ tea.description|safe }}{% endif %}{% endblock %}
{% block pagetitle %}{{ tea.meta_title }}{% endblock %}

{% block extrajs %}
<script>

</script>

{% endblock %}

{% block extracss %}

<style type="text/css">
#main-image {
  float: left;
  width: 100%;
  margin-bottom: 10px;	
}

#main-image img {
  margin-left: 7%;	
}

.description {
  margin-left: 7%;
  float: left;
  width: 93%;	
}

#prices {
  width: 93%;
  float: left;
  margin-left: 7%;	
}

#prices a {
  width: 90%;
  background-color: #e2eede;
  padding: 10px 12px;	
  margin-bottom: 10px;
  float: left;
}

#prices a .button {
  float: right;
  margin-right: 10px;
  font-weight: bold;
  color: #000;
  font-size: 11px;	
}

</style>
{% endblock %}

{% block banner %}
<h1>{{ tea.name }} Chinese tea</h1>
{% endblock %}

{% block content %}


<div id="main-image">
	{% thumbnail tea.image "280x210" crop="center" as im %}
		<img src="{{ im.url }}"/>
	{% endthumbnail %}
</div>
		
<div class="description">{{ tea.body_text|safe }}</div>


<div id="prices">
	{% if tea.coming_soon %}
	 	<div class="coming-soon">
		</div>
	{% else %}
		{% for price in prices %}
			<a href="">
				<span class="price"> {{ price.price_unit}}{{ price.price|floatformat }}</span>
				/{{ price.weight|floatformat }}{{ price.weight_unit }}
				<span class="button">Add to basket</span>
			</a>
		{% endfor %}
	{% endif %}
</div>

	           	
  



	<div id="left">
		{% if reviews %}
			<h2>Customer reviews for this tea ({{ reviews.count }})</h2>
			<ul class="reviews">
			{% for review in reviews %}
				<li><em>"{{ review.short_text }}"</em> <br/><span>{{ review.first_name }} {{ review.last_name }}</span></li>
			{% endfor %}
			</ul>
		{% endif %}  

	
		<h2>More information about this tea</h2>
		{{ tea.long_description|safe }}

	
	

{% endblock %}
