{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block metadescription %}{{ category.meta_description }}{% endblock %}

{% block pagetitle %}{{ category.long_title }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% staticfile '/css/teas.css' %}"/>

<style type="text/css">
div.tea-promo {
  width: 260px;
  background-color: #fff;
  box-shadow: 0 2px 3px #999;
  padding: 15px 15px;
  height: 350px;
  border-radius: 5px;		
}

div.tea-promo div.text {
  width: auto;	
  margin-top: 15px;
}

div.tea-promo div.text p {
  font-size: 13px;	
  margin-bottom: 5px;
}

div.tea-promo div.text p.price span {
  font-weight: bold;
  font-size: 14px;	
}

img.tea-promo {
  border-radius: 3px;	
}

</style>
{% endblock %}

{% block content %}


<div id="banner">
  <div class="super">
  <p class="quote">&ldquo;<em>The tea is simply delicious, a world apart from any other green tea I have drunk.</em>&rdquo;
  <span class="red">James Parsons</span>
  </p>
	<h1>{{ category.long_title }}</h1>
    {{ category.short_description|safe }}	
  </div>
</div>
		
<div id="main-text-wide">
  <div class="super">

	<!--
	<div id="chooser">
		<ul>
			<li>Showing:</li>
			{% for c in categories %}
			<li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
	-->

	<div id="teas">
		{% include "shop/snippets/products.html" %}
	</div>
		
	<div id="right">	
		<div class="info">
			<img src="{% staticfile '/images/tea-view-right.png' %}"/>
		</div>
	</div>
	
	<div id="left">
		<div class="did-you-know">
			<a href="/about/personal-tea-shopping/"><span class="link"></span></a>
			<h3>Don't see what you were looking for?</h3>
			<p>We offer a personal tea shopping service from our base in China, so we can get just about anything you need - get in touch with us now!</p>
		</div>
		<br clear="all"/>

	</div>
		
	
  </div>
</div>


{% endblock %}
