{% extends base_template %}
{% load i18n %}

{% block extracss %}
<style type="text/css">


form input {
  width: 430px;	
}

form textarea {
  float: left;	
  width: 600px;
}

form input.button {
  float: left; 
  font-size: 16px;	
  width: 300px;	
}


div#mtw div#left p.help-text {
    color: #333333;
    float: left;
    font-size: 13px;
    margin-left: 0;
    width: 100%;
}

div#mtw div#left p.help-text.red {
  color: red;   
}

div.message {
    background-color: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 10px 10px 10px 10px;
    margin: 0 0 10px;
    padding: 20px 25px;
}

div#mtw div#left div.message h3 {
  margin: 0 0 10px 0;	
  color: #237A2A;
}

div#mtw div#left div.message p {
  margin: 0;	
}

div.top {
  float: left;
  width: 100%;
  margin-bottom: 30px;	
}

.white {
  background-color: #fff;
  padding: 20px 25px;
  float: left;	
  width: 650px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #e1e1e1;
  position: relative;
}

.white p {
  font-size: 16px;	
  margin: 0 0 10px 0;
}

.white p.nihao {
  font-size: 30px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;	
}

.white ul {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  margin: 0;	
  padding: 0;
}

/* this is the background of the arrow */
.white:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-bottom: 20px solid transparent;         
        border-left: 0;
        border-top: 20px solid transparent;
        border-right: 20px solid #d1d1d1;
        position: absolute;
        top: 20px;
        left: -21px;
        z-index: 1;
        margin-left: ;
}

/* this is the foreground of the arrow */
.white:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-right: 20px solid #fff;     
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 0;
        position: absolute;
        top: 20px;
        left: -19px;
        z-index: 2;
        margin-left: -1px;
}

#form form {
  width: 100%;	
}

#form {
  position: relative;
  width: 100%;	
}

img#loading-contact {
  display: none;
  position: absolute;
  left: 295px;
  top: 50px;	
}

</style>
{% endblock %}

{% block metadescription %}{% trans 'Contact the Min River Tea Farm - how you can get in touch with us.' %}{% endblock %}

{% block pagetitle%}{% trans 'Contact us' %}{% endblock %}



{% block content %}


  <div class="sp">	
    <h1>{% trans 'Contact us' %}</h1>			
	
	<p class="introduction">
	<strong>Nǐ hǎo {% blocktrans %}(that's <em>hello</em> in Chinese!){% endblocktrans %}</strong>
				{% trans "If you have questions about tea or about our service, please get in touch and we will do our best to help. The best way to get in touch is to send us an email at <a href='mailto:mail@minrivertea.com'>mail@minrivertea.com</a> - you'll always get a quick response." %}</p>
			
			<div id="form">	
				
				<img id="loading-contact" src="{{ static_url }}images/loading.gif"/>
				<form action="{% url contact_form_submit %}" method="post" id="contact-form">
					<p>{% trans "Use our online contact form to send us a message. We respond to all messages within 12 hours." %}</p>			
					<textarea id="id_your_message" name="your_message" title="{% trans 'Write your message here...' %}" class="clearMeFocus{% if form.your_message.errors %} error{% endif %}" cols="40" rows="10"></textarea>
					<input type="text" name="your_name" id="id_your_name" class="clearMeFocus{% if form.your_name.errors %} error{% endif %}" title="{% trans 'Your name' %}" value=""/>
					<input type="text" name="your_email" id="id_your_email" class="clearMeFocus{% if form.your_email.errors %} error{% endif %}" title="{% trans 'Your email address' %}" value=""/>
					<br clear="all"/>
					<p class="help-text {% if form.captcha.errors %} red{% endif %}">{% trans "Sorry, please fill in the captcha - it stops spam." %}</p>
					{{ form.captcha }}
					<p class="help-text">
						<img src="{{ static_url }}images/lock.gif"> 
						{% trans "We will never share, sell or spam your email address" %} (<a target="_blank" title="{% trans 'Read our privacy policy (opens in a new window)' %}" href="/privacy/">{% trans 'Privacy' %}</a>)
					</p>	
					<input class="button green" value="{% trans 'Submit' %}" type="submit"/>		
				</form>
			</div>
</div>



		

    {% endblock %}
