{% extends "base.html" %}

{% block pagetitle %}Order Complete{% endblock %}

{% block banner %}
	    	<div id="home-banner">
	    	<p class="logo-assist">Order complete</p>
			
			</div>
{% endblock %}

{% block content %}

<div id="featured-small"></div>

<div id="main-text-wide">


<p class="introduction">Congratulations! Your order has been received and we've sent you an email confirming the details.</p>

<p>Please note, we must confirm payment is received before we can ship any orders. If there is a problem with your order, we will contact you immediately to resolve this. Many thanks for your patience.</p>






</div>
{% endblock %}
