{% load staticfiles %}

<div id="affiliate">
  <div class="sp">
    
    <div class="text">   
        <h2>{% trans 'The answer is: none at all.' %}</h2>
        <p>{% trans "Good tea comes from clean environments, professional tea masters and experience. We don't believe in mysticism, just good, clean tea." %}</p>
        <p>{% trans "Min River Tea is one of the only tea companies actually based here in China - it means we can offer direct access to the best teas and farms, and we don't put up with any nonsense." %}</p>
    </div>
    
    <img class="image" src="{% static 'images/feature7.jpg' %}" />
  
  </div>
</div>
