{% extends "base.html" %}
{% load thumbnail %}

{% block meta-description %}{{ entry.summary }}{% endblock %}
{% block pagetitle %}{{ entry.title }}{% endblock %}


{% block banner %}
	    	<div id="home-banner">
	    	<h2 class="logo-assist">The Min River blog</h2>
	    	<p class="normal">All the news about Chinese tea and what's up at the Min River Tea Farm</p>
			</div>
{% endblock %}

{% block extracss %}
<style type="text/css">

div#entry-content h3 {
  font-size: 2em;	
}

div#entry-content h4 {
  border-bottom: none;
  font-weight: bold;
  font-family: "helveticaneue","helvetica neue","helveticaneueroman","helveticaneue-roman","helvetica neue roman","helvetica","arial",'texgyreherosregular',"tahoma","geneva",sans-serif;
  margin-bottom: 5px;	
}

div#entry-content p {
  margin-top: 0px;	
}

div#entry-content ul {
    color: #666666;
    font-size: 15px;
    line-height: 1.5em;	
}

div#entry-content p.date {
  font-size: 14px;
  color: #666;
  margin: 0;
  padding-left: 5px;	
}

div#entry-content img {
  float: right;
  margin: 20px 0 30px 30px;	
}

div.like {
  float: left;	
  margin-top: 10px;
}

div.like div.image {
  float: left;
  margin-right: 10px;	
}

div#blog-right div.box.clear div.like p.description {
  color: #666;	
  line-height: 14px;
  font-size: 12px;
}

div.like a {
  font-size: 13px;	
}

div.like div.text {
  float: left;
  width: 140px;
}

</style>
{% endblock %}


{% block content %}

<div id="featured-small"></div>

  <div id="main-text-wide">

	<div id="blog-right">
		{% include "blog/snippets/blog-right.html" %}
	</div>

	<div id="blog-left">

		<div id="entry-content">
		<p class="normal"><a href="{% url blog_home %}">&laquo; blog home</a></p>
			<h3>{{ entry.title }}</h3>
			
			<p class="date"><em>{{ entry.date_added|date:"D d M Y" }}</em></p>
			<img src="{% thumbnail entry.promo_image 250x250 %}">
			<p>{{ entry.content|safe }}</p>

				{% if entry.get_next_by_date_added %}
				<p>Next entry: <a href="{% url blog_entry entry.get_next_by_date_added %}">{{ entry.get_next_by_date_added.title }} &raquo;</a>
				<br />
				{% endif %}
				{% if entry.get_previous_by_date_added %}
				Previous entry: <a href="{% url blog_entry entry.get_previous_by_date_added %}">{{ entry.get_previous_by_date_added.title }} &raquo;</a></p>
				{% endif %}
		</div>
	</div>

  </div>

{% endblock %}


