{% extends base_template %}
{% load thumbnail django_static comments %}

{% block metadescription %}{{ entry.summary|safe }}{% endblock %}
{% block pagetitle %}{{ entry.title }}{% endblock %}


{% block extrajs %}
<script>
$(function() {

// enable circular scrollables with a click handler
$(".scroll").scrollable({ circular: true }).click(function() {
	$(this).data("scrollable").next();		
});
});
</script>
{% endblock %}

{% block extracss %}
<style type="text/css">

div#mtw {
  margin-top: 30px;	
}

#right {
  margin-top: 30px;	
}

ul.rss {
  top: 60px;
  right: 0px;
  width: 180px;	
}

div#entry-content h3 {
  font-size: 2em;	
}

div#entry-content h4 {
  border-bottom: none;
  font-weight: bold;
  margin-bottom: 5px;	
}

div#entry-content p.date {
  font-size: 14px;
  color: #666;
  margin: 0;
  padding-left: 5px;	
}

div#entry-content img {
  float: right;
  margin: 10px 0 30px 30px;	
  border-radius: 10px;
}

div#right p.mail {
	float: left;
	height: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 2px dotted #e1e1e1;
    padding-bottom: 10px;
}

div#right p.mail.last {
  border-bottom: none;	
}

div.next-previous {
    float: left;
    margin-bottom: 30px;
    padding: 0 0;
    width: 100%;
}

div.other-entry {
  float: left;
  margin: 0 0 10px 0;
  font-size: 14px;
  position: relative;
}

div.other-entry a {

  font-weight: bold;	
}

div#mtw div#left div.other-entry p {
  margin-bottom: 0;	
}

div.other-entry span.link {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}



div.other-entry:hover {
  background-color: #f1f1f1;	
}

div.other-entry:hover a {
  text-decoration: underline;
}

div.other-entry:hover p {
  color: #333;	
}

div#entry-content img.tweet {
    border-radius: 0 0 0 0;
    float: left;
    margin-left: 10px;
    position: relative;
    top: 8px;
}

img.tweets {
  margin: -70px 0 10px 0;	
}

div#right h3.touch {
  margin: 5px 0 10px;
  border-bottom: 2px dotted #e1e1e1;
  padding-bottom: 5px;	
}

div#right ul.follow  {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline;	
}

div#right ul.follow li {
  float: left;	
  margin-right: 10px;
}

div#right li.twitter {
  float: left;
  width: 130px;	
  margin-right: 0;
}

div.info.wide input {
  float: left;
  width: 350px;	
}

div.info.wide input.button {
    font-size: 16px;
    left: 10px;
    padding: 7px 15px 5px;
    position: relative;
    top: -2px;
    width: 140px;
}

</style>
{% endblock %}


{% block content %}



<div id="mtw">
  <div class="sp">		
		<h1>{{ entry.title }}</h1>
	<p class="subtitle"><a href="{% url blog_home %}">&laquo; back to blog home</a> | {{ entry.date_added|date:"D d M Y" }}</p>	

	<div id="right">
		{% include "blog/snippets/blog-right.html" %}
	</div>

	<div id="left">

			
			{{ entry.content|safe }}

					
			<div class="next-previous">
			
		
			
			<div id="comments">
			{% get_comment_list for entry as comment_list %}
				{% if comment_list %}
				{% get_comment_count for entry as comment_count %}
				<h3>Comments on this post ({{ comment_count }})</h3>
				<br clear="all"/>
				<div id="comments-list">
					{% for comment in comment_list %}
						<div class="comment">
							<p>
								<strong>
									{% if comment.user_url %}<a href="{{ comment.user_url }}">{{ comment.user_name }}</a>
									{% else %}{{ comment.user_name }}{% endif %}
									 said...
								</strong> 
								<span class="small">({{ comment.submit_date|date:"D d M Y" }})</span></p>
							<p>{{ comment.comment }}</p>
						</div>
					{% endfor %}
				</div>
				{% endif %}
				{% if entry.comments_closed %}
				    <p><strong><em>Comments are closed for this entry.</em></strong></p>
				{% else %}
				<div id="comment-form">
				<h3>Add your comment</h3>
				<br clear="all"/>
					<div id="form">
					{% render_comment_form for entry %}
					</div>
				</div>
				{% endif %}
			</div>
				
	</div>
		
		<ul class="rss {% if page.feature_image %}opaque{% endif %}">
			<li id="google">
				<g:plusone></g:plusone>
				<script type="text/javascript">
				  (function() {
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = 'https://apis.google.com/js/plusone.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>
			</li>
	    	<li id="facebook">
			    <div id="fb-root"></div>
			    <script src="http://connect.facebook.net/en_US/all.js#appId=234100573279411&amp;xfbml=1"></script>
			    <fb:like href="http://www.minrivertea.com/blog/{{ entry.slug }}" send="false" layout="button_count" width="80" show_faces="true" font="">
			    </fb:like>
			</li>
		</ul>
  </div>
</div>

{% endblock %}


