{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block meta-description %}{{ entry.summary }}{% endblock %}
{% block pagetitle %}{{ entry.title }}{% endblock %}


{% block extracss %}
<style type="text/css">
div#main-text-wide div#right {
  margin-top: 30px;	
}

div#entry-content h3 {
  font-size: 2em;	
}

div#entry-content h4 {
  border-bottom: none;
  font-weight: bold;
  font-family: "helveticaneue","helvetica neue","helveticaneueroman","helveticaneue-roman","helvetica neue roman","helvetica","arial",'texgyreherosregular',"tahoma","geneva",sans-serif;
  margin-bottom: 5px;	
}

div#entry-content p {
  margin-top: 0px;	
}

div#entry-content p.date {
  font-size: 14px;
  color: #666;
  margin: 0;
  padding-left: 5px;	
}

div#entry-content img {
  float: right;
  margin: 10px 0 30px 30px;	
  border-radius: 10px;
}

div#right p.mail {
	float: left;
	height: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 2px dotted #e1e1e1;
    padding-bottom: 10px;
}

div#right p.mail.last {
  border-bottom: none;	
}

</style>
{% endblock %}


{% block content %}

<div id="featured-small"></div>

  <div id="main-text-wide">
<div class="rss">
<a href="/feeds/latest/">Get the RSS feed <img class="rss" src="{% staticfile '/images/rss-small.png' %}"></a>
<a title="Checkout photos of our tea and more on flickr" target="_blank" href="http://www.flickr.com/photos/62180582@N04/"><img src="{% staticfile '/images/flickr.png' %}"></a>
<a title="Tweet this blog entry to your friends" target="_blank" href="http://twitter.com/home?status=http%3A%2F%2Fwww.minrivertea.com%2Fblog%2F{{ entry.slug }}"><img src="{% staticfile '/images/twitter-small.png' %}"></a>
</div>
		
			<h2 class="fontface">{{ entry.title }}</h2>
			<p class="subtitle"><em>{{ entry.date_added|date:"D d M Y" }}</em> <span class="small"><a href="{% url blog_home %}">&laquo; back to blog home</a></span></p>

	<div id="right">
		{% include "blog/snippets/blog-right.html" %}
	</div>

	<div id="left">

		<div id="entry-content">
				{% thumbnail entry.promo_image "250x250" crop="center" as im %}	
				<img src="{{ im.url }}">
				{% endthumbnail %}
			
			<p>{{ entry.content|safe }}</p>

				{% if entry.get_next_by_date_added %}
				<p>Next entry: <a href="{% url blog_entry entry.get_next_by_date_added %}">{{ entry.get_next_by_date_added.title }} &raquo;</a>
				<br />
				{% endif %}
				{% if entry.get_previous_by_date_added %}
				Previous entry: <a href="{% url blog_entry entry.get_previous_by_date_added %}">{{ entry.get_previous_by_date_added.title }} &raquo;</a></p>
				{% endif %}
		</div>
	</div>

  </div>

{% endblock %}


