{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block pagetitle %}Our Chinese tea blog{% endblock %}
{% block metadescription %}A blog about Chinese tea - news, tea photos, tea reviews, articles and updates from tea farms in China, from the best tea retailer in the UK.{% endblock %}


{% block extracss %}
<style type="text/css">

div.entry-list {
    float: left;
    width: 660px;
}

div.entry-list h2 {
  font-weight: ;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;	
}

div.entry {
    background-color: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    float: left;
    margin-bottom: 20px;
    padding: 20px 25px;
    position: relative;
    width: 630px;
}

div.entry span.read-more a {
	
}

div#main-text-wide div#left div.entry h3 {
  font-weight: 900;
}

div#right ul.follow  {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline;	
}

div#right ul.follow li {
  float: left;	
  margin-right: 10px;
}

div#right li.twitter {
  float: left;
  width: 130px;	
  margin-right: 0;
}

div#right div.info.tea {
  padding: 0;
  width: 220px;	
  border: none;
  background: none;
  position: relative;
}

div#right div.info.tea img {
  border: 10px solid #fff;	
}

div#right div.info.tea p {
  margin-top: 10px;
  font-weight: normal;	
  padding: 10px 20px;
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  width: 200px;
  display: none;
  background-color: #fff;
}

div#right div.info.tea p:hover {
  cursor: pointer;	
}

div#right div.info.tea:hover p {
  display: block;	
}


div.entry.last {
  border-bottom: none;	
}

div.entry div.image {
  float: right;
  margin: 5px 0 0 20px;	
  border: 5px solid #fff;
  box-shadow: 0 1px 3px #999;
}

div.entry div.text {
  float: left;
  width: 460px;	
}

div.entry div.text.long {
  width: 600px;	
}

div.entry div.text h3 {
  margin-bottom: 5px;	
}

div#main-text-wide div#left div.entry div.text p {
  margin: 0px;
  line-height: 1.9em;	
  padding-bottom: 10px;
}

div.entry div.text span.entry-meta {
    color: #666666;
    float: left;
    font-size: 13px;
    margin-top: 14px;
}

a.see-more {
  float: right;
  font-size: 13px;	
}

h3.title {
  font-size: 2em;
  margin-bottom: 20px;	
}

div.like {
  float: left;	
  margin-top: 10px;
}

div.like div.image {
  float: left;
  margin-right: 10px;	
}

div#blog-right div.box.clear div.like p.description {
  color: #666;	
  line-height: 14px;
  font-size: 12px;
}

div.like a {
  font-size: 13px;	
}

div.like div.text {
  float: left;
  width: 140px;
}

img.tweets {
  margin: -70px 0 10px 0;	
}

#next-previous {
  width: 100%;
  float: left;
  margin: 20px 0;	
  font-size: 20px;
  text-align: center;
}

.next {
  float: right;

  border-radius: 5px;	
}

.previous {
  float: left;
  border-radius: 5px;		
}

</style>
{% endblock %}




{% block content %}




<div id="main-text-wide">
  <div class="super">

	
    <h1>The Min River Farm Chinese tea blog</h1>
    <p class="introduction">News, photos and tea tips from the Min River Tea Farm in China</p>	
	

	<div id="right">
		
		{% include "blog/snippets/blog-right.html" %}
	</div>

	<div id="left">
		{% if entries.has_previous %}
			<div id="next-previous">
			<div class="next">
			{% if entries.has_previous %}
	            <a href="?page={{ entries.previous_page_number }}">Get newer entries &raquo;</a>
	        {% endif %}
	        </div>
	Showing entries {{ entries.start_index }} - {{ entries.end_index }}
			<div class="previous">
	        {% if entries.has_next %}
	            <a href="?page={{ entries.next_page_number }}">&laquo; Get older entries</a>
	        {% endif %}
	        </div>
		</div>
		{% endif %}
			
 		<div class="entry-list">
			{% include "blog/snippets/entry-list.html" %}
		</div>
		
		<div id="next-previous">
			<div class="next">
			{% if entries.has_previous %}
	            <a href="?page={{ entries.previous_page_number }}">Get newer entries &raquo;</a>
	        {% endif %}
	        </div>
	
			<div class="previous">
	        {% if entries.has_next %}
	            <a href="?page={{ entries.next_page_number }}">&laquo; Get older entries</a>
	        {% endif %}
	        </div>
		</div>
	</div>
  </div>
</div>


{% endblock %}