{% extends base_template %}
{% load thumbnail i18n  %}

{% block pagetitle %}{% trans 'Our Chinese tea blog' %}{% endblock %}
{% block metadescription %}{% trans 'A blog about Chinese tea - news, tea photos, tea reviews, articles and updates from tea farms in China, from the best tea retailer in the UK.' %}{% endblock %}


{% block extracss %}
<style type="text/css">


.entry h3 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.2px;
    margin: 5px 0 10px;
    text-decoration: none;
}

.entry {
    border-bottom: 1px dashed #E1E1E1;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.entry.social {
  background: #f6f6f6;
  padding: 30px 0;
  margin: -20px 0 20px 0; 
  text-align: center;   
}

.entry.social input[type="email"] {
  background: #fff;
  width: 50%;
  float: left;
  margin-left: 18%;
}

.entry.social input[type="submit"] {
 width: 10%;
 font-size: 13px;
}

.entry:hover h2 a {
  text-decoration: underline;
  color: #FF6569;   
}


.entry span.read-more a {
	
}

.entry.last {
  border-bottom: none;	
}

.entry .image {
    border-radius: 50%;
    height: 180px;
    margin: 0 auto 20px;
    background: #f1f1f1;
    overflow: hidden;
    width: 180px;
    text-align: center;
}

.entry .text {
}

.entry .text.long {
  width: 100%;	
}


.entry div.text p {
  margin: 0px;
  font-size: 13px;
  line-height: 2.1em;
}

.entry p.entry-meta {
    color: #666666;
    font-size: 11px;
    margin: 0 0 10px 0;
}

a.see-more {
  float: right;
  font-size: 13px;	
}

h3.title {
  font-size: 2em;
  margin-bottom: 20px;	
}

div.like {
  float: left;	
  margin-top: 10px;
}

div.like div.image {
  float: left;
  margin-right: 10px;	
}

div#blog-right div.box.clear div.like p.description {
  color: #666;	
  line-height: 14px;
  font-size: 12px;
}

div.like a {
  font-size: 13px;	
}

div.like div.text {
  float: left;
  width: 140px;
}

img.tweets {
  margin: -70px 0 10px 0;	
}

#next-previous {
  width: 100%;
  float: left;
  margin: 0px 0 20px;	
  font-size: 15px;
  text-align: center;
}

.previous, .next {
    background: none repeat scroll 0 0 #f1f1f1;
    border-radius: 5px;
    float: left;
    font-size: 15px;
    padding: 5px 10px;
}

.next {
  float: right;
}

.next a, .previous a {
  text-decoration: none;   
}

</style>
{% endblock %}




{% block content %}

<div class="sp">
	
			
	{% if entries.has_previous %}
		<div id="next-previous">
		<div class="next">
		{% if entries.has_previous %}
            <a href="?page={{ entries.previous_page_number }}">{% trans 'Get newer entries' %} &raquo;</a>
        {% endif %}
        </div>
{% trans 'Showing entries' %} {{ entries.start_index }} - {{ entries.end_index }}
		<div class="previous">
        {% if entries.has_next %}
            <a href="?page={{ entries.next_page_number }}">&laquo; {% trans 'Get older entries' %}</a>
        {% endif %}
        </div>
	</div>
	{% endif %}
			
    <div class="entry-list pure-g l-pad r-pad text-center">
		{% include "blog/snippets/entry-list.html" %}
	</div>
		
	<div id="next-previous pure-u-1">
		<div class="next">
		{% if entries.has_previous %}
            <a href="?page={{ entries.previous_page_number }}">{% trans 'Get newer entries' %} &raquo;</a>
        {% endif %}
        </div>

		<div class="previous">
        {% if entries.has_next %}
            <a href="?page={{ entries.next_page_number }}">&laquo; {% trans 'Get older entries' %}</a>
        {% endif %}
        </div>
	</div>
		
		
	</div>


</div>


{% endblock %}