{% extends "base.html" %}
{% load thumbnail django_static %}

{% block extracss %}
  <style type="text/css">
  	  div#logo {background: url("{% staticfile '/images/logo-admin.jpg' %}") no-repeat scroll 0 0 transparent; width: 630px; height: 100px;}
  	  #navigation {display: none }
  	  #footer {display:none;}
  	  .super {width: 1060px;}
  	  #banner ul {position: absolute; right: 0; top: -100px;font-family: Helvetica, sans-serif; font-weight: bold; font-size: 12px;list-style-type: none; margin: 0; padding: 0;}
  	  #banner ul li {float: left; margin-right: 50px;}
      table {font-family: helvetica,sans-serif;font-size: 12px;}
      tr.white td {background-color: #fff;}
      tr.new td {background-color: #DBF2DA;}
      td { padding:10px 10px; background-color: #f1f1f1;}
      td.id {font-weight: bold;}
      td ul {padding:0; margin:0;}
      td ul li {list-style-type:none; font-size: 12px; line-height: 1em;}
      thead td {font-weight: bold; background-color: #666; color: #fff;}
      tr.new td.trans {background-color: transparent;}
      td.trans a.button {font-size: 16px; padding: 10px 25px 8px}
      h3 {margin: 30px 0 20px 0;}
      div.small-box {background-color: #F1F1F1; float: left; margin: 20px 10px 0 0; padding: 15px 20px; width: 200px; -moz-border-radius: 10px;}
      div.small-box h3 {margin-top: 0px;}
      ul#stocks {padding: 0; margin: 0 0 30px 0; float: left; width: 100%; font-family: Helvetica, sans-serif;}
      ul#stocks li {float: left; width: 200px; background-color: #f1f1f1; padding: 10px 15px; list-style-type: none; font-size: 12px; border: 1px solid #fff;}
      ul#stocks li.red {color: red;}
      input {width: 120px;}
      input.button {width: auto; float: left; padding:5px 15px 3px;}
  </style>
{% endblock %}

{% block pagetitle %}Admin Stuff{% endblock %}

{% block ga %}{% endblock %}

{% block content %}

<div id="banner">
  <div class="super">
    <ul>
    	<li><a href="/admin/">Login to admin interface</a></li>
    	<li><a href="/">Back to site</a></li>
    </ul>
  </div>
</div>

<div id="main-text-wide">
  <div class="super">

<h3>Recent orders ({{ orders.count }})</h3>
	{% if orders %}
	<table id="orders-table">
		<thead>
			<tr>
			<td>Order ID</td>
			<td>Owner</td>
			<td>Items</td>
			<td>Value</td>
			<td>Status</td>
			</tr>
		</thead>
	{% for order in orders %}
		<tr id="{{ order.id }}" class="{% cycle '' 'white' %} {% ifequal order.status 'paid' %}new{% endifequal %}">
			<td class="id" valign="top">
				<a href="{% url admin_order order.id %}">{{ order }}</a><br/>
				<span style="font-weight: normal">{{ order.date_paid|date:"d M y" }}</span>
				{% if order.wishlist_payee %}
				<br/><br/>
				<span style="text-transform: uppercase;font-size: 10px; color: red;">WISHLIST PAID BY:</span><br/>
				<span style="font-weight:normal;color:red; font-size: 10px;">{{ order.wishlist_payee }}</span>
				
				{% endif %}
			</td>
			<td class="owner" valign="top">
				<a href="{% url admin_shopper order.owner.id %}">{{ order.owner }}</a><br/>
				<strong>{{ order.owner.first_name }} {{ order.owner.last_name }}</strong><br/>
				{% if order.address.house_name_number %}{{ order.address.house_name_number }}<br/>{% endif %}
				{% if order.address.address_line_1 %}{{ order.address.address_line_1 }}<br/>{% endif %}
				{% if order.address.address_line_2 %}{{ order.address.address_line_2 }}<br/>{% endif %}
				{% if order.address.town_city %}{{ order.address.town_city }}<br/>{% endif %}
				{{ order.address.postcode }}<br/>
				{{ order.address.country|upper }}</br>
			</td>
			<td class="items" valign="top">
				<ul>
				{% for item in order.get_items %}
					<li>{{ item }}</li>
				{% endfor %}
				</ul>
			</td>
			<td class="value" valign="top">
 				{{ order.get_amount }}
			</td>
			<td class="status" valign="top">
				<strong>{{ order.status }}</strong><br/>
				{% if order.status == 'shipped' %}
				  {% if order.review_email_sent %}
				     review email sent
				  {% else %}
				    {% if order.ready_to_send_review %}
   				     <a href="{% url send_review_email order.id %}">Send review email</a>
   				    {% endif %}
				  {% endif %}
				{% endif %}
				<br/>
				{% if order.sampler_email_sent %}
					{% if order.sampler_sent %}
					sampler sent
					{% else %}
					sampler email sent
					{% endif %}
				{% else %}
				  {% if order.ready_to_send_sampler_email %}
					<a href="{% url send_sampler_email order.id %}">Send sampler email</a>
				  {% endif %}
				{% endif %}
			</td>
			<td class="trans" width="80px">
				{% if order.status == 'paid' %}
					<a title="Click to confirm this order has been sent (doesn't trigger any emails or anything sinister)" class="button" href="{% url ship_it order.id %}">Ship it!</a>		
				{% endif %}
				{% if order.status == 'shipped' and not order.postage_cost %}
					<form id="postage_{{ order.id }}" action="{% url postage_cost_update order.id %}" method="post">
						<label>What was the postage cost?</label><input type="text" name="cost" id="id_cost"/>
						<input type="hidden" name="order" id="id_order" value="{{ order.id }}"/>
						<input type="submit" value="Save" class="button"/>
					</form>
				{% endif %}
				{% if order.postage_cost %}
				{{ order.postage_cost }}
				{% endif %}
			</td>
		</tr>
	{% endfor %}
	</table>
	{% else %}
	<p><em>No orders in the last 30 days</em></p>
	{% endif %}

<h3>Stocks</h3>
<ul id="stocks">
{% for i in stocks %}
	<li class="{% if i.available_stock < 3 %}red{% endif %}"><strong>{{ i.available_stock }}</strong> x {{ i }} </li>
{% endfor %}
</ul>

<h3>Unconfirmed orders</h3>
<table id="unconfirmed-orders">
	<thead>
		<tr>
			<td>Order ID</td>
			<td>Email address</td>
			<td>Items</td>
			<td></td>
		</tr>
	</thead>
	{% for order in unconfirmed_orders %}
	<tr>
		<td>{{ order.invoice_id }}</td>
		<td>{{ order.owner.email }}</td>
		<td>
			<ul>
			{% for item in order.items.all %}
				<li>{{ item }}</li>
			{% endfor %}
			</ul>
		</td>
		<td><a href="{% url send_reminder_email order.id %}">Send reminder email</a></td>
	</tr>
	{% endfor %}	

</table>


<h3>Giveaways ({{ orders.count }})</h3>
	<table id="orders-table">
		<thead>
			<tr>
			<td>Order ID</td>
			<td>Items</td>
			<td>Notes</td>
			<td>Date given</td>
			<td>Value</td>
			</tr>
		</thead>
	{% for order in giveaways %}
		<tr>
			<td><a href="{% url admin_order order.id %}">{{ order }}</a></td>
			<td>
				<ul>
				{% for item in order.get_items %}
					<li>{{ item }}</li>
				{% endfor %}
				</ul>
			</td>
			<td>{{ order.notes }}</td>
			<td>{{ order.date_paid }}</td>

			<td>
				{{ order.get_amount }}
			</td>
		</tr>
	{% empty %}
		<p>No current paid orders</p>
	{% endfor %}
	</table>


  </div>
</div>
{% endblock %}
