{% extends base_template %}
{% load thumbnail i18n convert_weights %}

{% block pagetitle %}{% trans 'Your basket' %} ({{ basket_quantity }}){% endblock %}
{% block metadescription %}{% trans 'Your basket - shop on www.minrivertea.com and get the best prices and great tasting authentic Chinese teas delivered direct to your door.' %}{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$("#link").click( function() {
	$("#form form").toggle();
	$(this).toggle();
	$('#message').toggle();
});

$(document).ready( function() {
	$('a#wishlist').fancybox({
    	'autoDimensions':true,
    });
});
</script>
<script type="application/javascript" src="{{ static_url }}js/lightbox/jquery.fancybox-1.3.4.pack.js"></script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ static_url }}/css/fancybox/jquery.fancybox-1.3.4.css" />
<style type="text/css">

#basket {
  margin-bottom: 60px;   
}

div#basket-full {
  width: 100%;
  float: left;
  margin: 0 0 20px 0;	
}

div#basket-full img {
    box-shadow: 0 1px 2px #999999;
}

.basket-row {
    border-bottom: 2px dotted #e1e1e1;
    float: left;
    height: auto;
    margin-bottom: 0px;
    padding: 15px 0;
    width: 100%;
    position: relative;
}

#basket-full .basket-row.postage, #basket-full .basket-row.discount {
  min-height: 20px;   
}

#basket-full .basket-row.postage div.long {
  width: 460px;
  float: left;
  height: 20px;   
}

div.basket-row:first-child {
  padding-top: 0px;	
}

div.basket-row.postage div.tea-weight, div.basket-row.postage div.tea-total {
  padding-top: 0;	
}

.strikethrough {
  text-decoration: line-through;	
}

.tea-name {
  float: left;
  width: 80px;	
}

.tea-weight {
  float: left;
  width: 380px;
}

.tea-weight a {
  text-decoration: none;  
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold; 
}

.tea-weight ul {
  padding: 0 0 0 10px;
}

.tea-price {
  float: left;
  width: 10px;
}

.tea-quantity {
    float: left;
    text-align: center;
    width: 160px;
}

.tea-total {
    float: left;
    text-align: right;
    width: 250px;
}

.tea-total.monthly, .tools.monthly, .tea-quantity.monthly {
  padding-top: 35px;   
}

.tea-total.monthly ul, .tools ul, .tea-weight ul, .tea-quantity ul {
  padding: 0;
  margin: 0;
  list-style-type: none;   
}

.tea-weight ul {
  padding: 0 0 0 10px;   
}

.tools.monthly ul li {
  float: left;
  width: 100%;   
}

.tools .remove {
    font-family: Helvetica,Arial sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0 3px 0 0;
    position: relative;
    top: 2px;
}

.tools {
  float: left;
  margin: 0 0 0 10px; 
  width: 60px;  
}

#totals {
    color: #666666;
    float: right;
    font-size: 35px;
    letter-spacing: -1px;
    padding-top: 15px;
    text-align: right;
}

.label {
  float: left;
  width: 100px;
  margin-top: 10px;	
}

.total {
  color: #1A6D18;
  text-align: right;
  margin-top: 10px;
  float: right;
  width: 200px;
  padding-right: 80px;
}

#checkout-button {
  margin-right: 50px;   
}

a.plus, a.minus, a.remove {
  display: block;
  float: left;
  color: #a1a1a1;
  text-decoration: none;	
}

a.plus:hover, a.minus:hover, a.remove:hover {
  color: #FF6569;   
}

.basket-row.discount span#link {
  font-weight: bold;
  color: #439249;
  font-family: Helvetica, Arial, sans-serif;	
}

div.basket-row.discount span#link:hover {
  cursor: pointer;
  color: #F37679;	
}

div.basket-row.discount form {
    display: none;	
    float: left;
    margin: 0;
}

div.basket-row.discount form input {
  margin: 0;   
}

div.basket-row.discount form label {
  float: left;
  width: 520px;
  margin: 0;	
}

div.discount input.button {
    border-radius: 0 4px 4px 0;
    font-size: 15px;
    left: -3px;
    padding: 11px;
    position: relative;
    top: -1px;
    width: 160px;
}

div.discount span.red {
  padding-bottom: 10px;	
}

#mtw #wishlist-full {
  display: none;	
  position: absolute;
  top: 0;
  left: 0;
  height: 0px;
  width: 0px;
}

#wishlist-full h2 {
  color: #F37679;	
  font-size: 40px;
}

#wishlist-full .block {
    border-right: 1px solid #E1E1E1;
    float: left;
    margin: 20px 20px 30px 0;
    padding-right: 20px;
    width: 220px;
}

#wishlist-full div.block.last {
    border-right: none;
    margin-right: 0;
}

input#id_discount_code {
  width: 325px;	
}

#basket-full .coming-soon {
    float: left;
    color: red;
    font-size: 13px;
    height: auto;
    width: 600px;
}

.coming-soon:after {
   content: " ";
   display: block;
   width: 0;
   height: 0;
   border-top: 12px solid transparent;     
   border-left: 0;
   border-bottom: 12px solid transparent;
   border-right: 12px solid #fff;
   position: absolute;
   top: 5px;
   left: -12px;
   z-index: 2;
}



#sub-basket {
    width: 900px;
    background-color: #f3f6f7;
    border: 1px solid #d9ebde;
    border-top: 1px solid #f1f1f1;
    padding: 10px 30px;
    float: left;
    position: relative;
    top: -40px;
    border-radius: 0 0 5px 5px;
}

#sub-basket p {
  margin: 0;
  text-shadow: 1px 1px 1px #fff;
  font-size: 20px;
  color: #5d8ea6;   
}

</style>
{% endblock %}


{% block currency %}
	{% include 'shop/snippets/currency.html' %}
{% endblock %}


{% block content %}

<div id="subnav">
   <div class="sp">
       <ul>
    		<li>
    			<a class="selected" href="{% url basket %}">1. {% trans 'Your basket' %} &raquo;</a>
    		</li>
    		<li>
    			<a class="" href="{% url order_step_one %}">2. {% trans 'Your details' %} &raquo;</a>
    		</li>
    		<li>
    			<a href="">3. {% trans 'Confirm and pay' %} &raquo;</a>
    		</li>
    		<li>
    			<a href="">4. {% trans 'Get your tea!' %}</a>
    		</li>
    	</ul>
    </div>
</div>

<div id="mtw">
  <div class="sp">
  	<h1>{% blocktrans count basket_quantity as counter %}Your basket ({{ basket_quantity }} item){% plural %}Your basket ({{ basket_quantity }} items){% endblocktrans %}</h1>

{% if basket_items or monthly_items %}

  <div id="basket">
    <div id="basket-full"> 
	{% for thing in basket_items %}
	  <div class="basket-row">
	  
		<div class="tea-name">
			{% thumbnail thing.item.parent_product.image thumb_small crop="center" as im %}
			<img src="{{ im.url }}"/>
			{% endthumbnail %}
			<br/>
		</div>
		<div class="tea-weight">
		  <a title="{{ thing.item.parent_product.description }}" href="{{ thing.item.parent_product.get_absolute_url }}">
		      <strong>{% if thing.monthly_order %}Monthly TeaBox{% else %}{{ thing.item.parent_product.name }}{% endif %}</strong>
		  </a>
		  {% if thing.monthly_order %}
		      <br/>
		      {{ thing.item.parent_product.name }} {% if thing.item.weight %}({% convert_weights request thing.item.weight %}{{ weight_unit }}){% endif %}<br/>
		  {% else %}
		      {% if thing.item.weight %}({% convert_weights request thing.item.weight %}{{ weight_unit }}) {% endif %}<br/>
		      {{ currency.symbol }}{{ thing.item.price }} {% trans 'each' %}<br/>
		  {% endif %}
	   </div>
	   <div class="tea-quantity">
		  x {{ thing.quantity }}
		</div>
		<div class="tea-total">
		  {{ currency.symbol }}{{ thing.get_price }}
		</div>
		<div class="tools">
		    <ul>
		     <li>
		      <a class="remove" title="{% trans 'Remove from basket' %}" alt="{% trans 'Remove from basket' %}" href="{% url remove_from_basket thing.id %}">X</a>
		      <a class="plus" href="{% url increase_quantity thing.item.id %}">&#x25B2;</a>
		      {% ifequal thing.quantity 1 %}{% else %} <a class="minus" href="{% url reduce_quantity thing.item.id %}">&#x25BC;</a>{% endifequal %}
		     </li>
		    </ul>
		</div>
		{% if thing.item.stocks.count == 0 or thing.item.stocks == None %}
	    	<div class="coming-soon">{% blocktrans with thing.item.parent_product.get_preorder_date|date:"d M Y" as pod %}<strong>NOTE:</strong> this item is a pre-order and will be delivered separately on <strong>{{ pod }}</strong>{% endblocktrans %}</div>
	    {% endif %}
		
	  </div>
	{% endfor %}
	
    {% if monthly_items %}
	<div class="basket-row">
	    <div class="tea-name">
	       <img src="" />
	    </div>
	    <div class="tea-weight">
    	    <h3>{% trans 'Monthly Box' %}</h3>
            <ul>
                {% for x in monthly_items %}
	               <li>
	                   <a href="{% url tea_view x.item.parent_product.slug %}">
	                       {{ x.item.parent_product }}
	                   </a> 
	                   ({% convert_weights request x.item.weight %}{{ weight_unit }}) 
	               </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tea-quantity monthly">
            <ul>
                {% for x in monthly_items %}
                    <li>{{ x.months }} {% trans 'months' %}</li>
            {% endfor %}
           </ul>
        </div>
        <div class="tea-total monthly">
           <ul>
            {% for x in monthly_items %}
                <li>{{ currency.symbol }}{{ x.get_price|floatformat:"-2" }}
                
                </li>
            {% endfor %}
           </ul>
        </div>
        <div class="tools monthly">
            <ul>
            {% for x in monthly_items %}
                <li>
                    <a title="{% trans 'Remove from basket' %}" alt="{% trans 'Remove from basket' %}" class="remove" href="{% url remove_from_basket x.id %}">X</a>
                    <a class="plus" href="{% url increase_quantity x.id %}">&#x25B2;</a>
                    {% ifequal x.quantity 1 %}{% else %} <a class="minus" href="{% url reduce_quantity x.id %}">&#x25BC;</a>{% endifequal %}
                </li>
            {% endfor %}
            </ul>
        </div>
	</div>
	{% endif %}
	
	
	{% if postage_discount %}
	  <div class="basket-row postage">
		<div class="long">
		      <em><span class="strikethrough">{% trans 'Postage' %}</span></em>
              <span class="small"><em>{% blocktrans with currency.symbol as symbol and currency.postage_discount_threshold as pdt %} | Your order is over {{ symbol }}{{ pdt }}, so there's no postage charge!{% endblocktrans %}</em></span>
        </div>  
        <div class="tea-quantity">&nbsp;</div>    
        <div class="tea-total strikethrough">{{ currency.symbol }}{{ currency.postage_cost|floatformat:"-2" }}</div>
	  </div>
	{% else %}
	  <div class="basket-row postage">
		<div class="long">
		  <em>
		      {% trans 'Postage' %} | 
		      {% trans 'Delivered in 1-3 days' %} | {% trans 'Shipped from the UK' %}</em>
		</div>
		<div class="tea-quantity">&nbsp;</div>
		<div class="tea-total">{{ currency.symbol }}{{ currency.postage_cost|floatformat:"-2" }}</div>
	  </div>
	{% endif %}
	
	<div class="basket-row discount">
	  {% if code %}
	  	<div class="tea-name">&nbsp;</div>
	  	<div class="tea-weight">{% blocktrans %}You have entered a discount code worth {{ percent|floatformat }}% off!{% endblocktrans %}</div>
	  	<div class="tea-quantity">&nbsp;</div>
	  	<div class="tea-total"><span class="red">-{{ currency.symbol }}{{ value|floatformat:"-2" }}</span></div>
	  {% else %}
	    {% if discount_message %}<span id="message" class="red">{{ discount_message }} - </span>{% endif %}
	  	<span id="link">{% trans 'Got a discount code?' %}</span>
	  	<div id="form">
			  	<form action="." method="post">
				<input type="text" name="discount_code" id="id_discount_code" class="clearMeFocus" title="{% trans 'Enter discount code here' %}"/>
				<input type="submit" class="button" value="{% trans 'Apply discount' %}" id="submit"/>
				</form>
		</div>
	  {% endif %}
	</div>

	<div id="totals">
		<div class="label">{% trans 'Total' %}:</div><div class="total">{{ currency.symbol }}{{ total_price|floatformat:"-2" }}</div>
	</div>
    </div> <!-- ENDS basket-full div -->

	<br clear="all"/>
	  	<div id="checkout-button">		
		<a class="button green" href="{% url order_step_one %}">
		  {% trans 'Start checkout now' %} &raquo;
		  <span><strong>{% trans 'Next step' %}:</strong> {% trans 'Your details (no login or registration required)' %}</span>
		</a>
	</div>
	
  </div>
  
  
  <div id="right">
   	<div class="info">
      <h3 class="small"><img src="{{ static_url }}images/lock.gif"> {% trans 'Safe and secure payment' %}</h3>
      	<p>{% trans 'We accept all major credit and debit cards through Paypal' %}</p>
      	<div style="margin: 10px 0 0 0;background-image: url('{{ static_url }}images/logo15.jpg');background-position: 0px -94px; height: 60px; width: 240px;"></div>
      </div>  	
  	<div class="info">
  		<h3>
  	 	  <img style="float:right; margin-left: 5px; position:relative; top: -8px; left: 4px;" src="{{ static_url }}images/gift.png"/>
  				{% trans 'Create a wishlist from your basket' %}
  		</h3>
  		<p>{% trans 'A wishlist saves your basket so that other people can buy it for you as a gift.' %}</p>
  		<p><a style="font-weight: bold; font-family: Helvetica, Arial, sans-serif" id="wishlist" href="#wishlist-full">{% trans 'How does it work?' %}</a></p>
  		<div id="wishlist-full" style="width: 800px; padding: 30px;">
  			<h2>{% trans 'How to make a Wishlist' %}</h2>
  			   <div class="block">
  				 <h3>1. {% trans 'Choose the teas you want' %}</h3>
  				 <p>{% trans 'Choose the teas and other products that you want to have - add them to your basket as normal, and go through the checkout.' %}</p>
  			   </div>
  			   <div class="block">
  				 <h3>2. {% trans 'We give you a unique URL' %}</h3>
  				 <p>{% trans "At the final stage of the order, click the 'Create Wishlist' link, and we'll give you a unique URL. Share it with friends and relatives." %}</p>
  			   </div>
  			   <div class="block last">
  				 <h3>3. {% trans 'Friends can buy items for you' %}</h3>
  				 <p>{% trans "Using your unique URL, friends and family can buy items from your wishlist for you. We'll deliver them direct to the address you provided." %}</p>
  			   </div>
			   <img src="{{ static_url }}images/wishlist-screenshot.jpg">
		</div>
  	</div>
 </div>
  	

	<div id="left">

		<h2>{% trans 'Buyer protection' %}</h2>
		<p>{% trans 'Your online safety is extremely important to us too. Your purchase has these guarantees:' %}</p>
		<ul>
		  <li><strong>{% trans "Returns policy" %}</strong> {% trans "we operate a 'no questions asked' returns policy. If you're not happy with your order, just get in touch." %}</li>
		  <li><strong>{% trans 'Safe payments' %}:</strong> {% trans 'payments are taken via Paypal. We never see your credit card details, and your online payment is secured by the highest standard industry technology.' %}</li>
		  <li><strong>{% trans 'Customer services' %}:</strong> {% trans 'if you need to contact us about anything, you can email us directly at' %} <a href="mailto:chris@minrivertea.com">chris@minrivertea.com</a>. </li>
		</ul>

	</div>

 

{% else %}
  <div id="basket">
	<p>{% trans "There's nothing in your basket - add something, quick! " %}<br/><a href="{% url teas %}">&raquo; {% trans 'Browse our selection of Chinese teas here.' %}</a></p>
  </div>
	<div class="did-you-know">
	<a href="/suggestions/"><span class="link"></span></a>
	<h3>{% trans 'Need some help choosing a tea?' %} <span class="grey">{% trans 'Let us help you' %} &raquo;</span></h3>
	</div>

{% endif %}

  </div>
</div>
{% endblock %}
