{% extends base_template %}
{% load thumbnail i18n convert_weights %}

{% block pagetitle %}{% trans 'Your basket' %} ({{ basket_quantity }}){% endblock %}
{% block metadescription %}{% trans 'Your basket - shop on {{ site_name }} and get the best prices and great tasting authentic Chinese teas delivered direct to your door.' %}{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$("#link").click( function() {
	$("#discount form").toggle();
	$(this).toggle();
	$('#message').toggle();
});

$('#cancel').click( function() {
   $('#discount form').toggle();
   $('#discount #link').toggle(); 
});

$(document).ready( function() {
	$('a#wishlist').fancybox({
    	'autoDimensions':true,
    });
});
</script>
<script type="application/javascript" src="{{ static_url }}js/lightbox/jquery.fancybox-1.3.4.pack.js"></script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ static_url }}/css/fancybox/jquery.fancybox-1.3.4.css" />
<style type="text/css">

#basket p.introduction {
  margin: 0;
  padding: 0;   
}

#tools  {
  display: none;   
}

#bottom {
  float: left;
  width: 100%;
  margin: 40px 0 0 0;   
}

#bottom .info {
  border-right: 1px dashed #e1e1e1;
  padding: 0 20px; 
  width: 209px  
}

#bottom .info:last-child {
  padding-right: 0;
  border-right: none;   
}

#bottom .info input {
  width: 100%;
  padding: 5px;
  font-size: 13px;   
}

.basket-row {
    float: left;
    height: auto;
    padding: 10px 0;
    border-bottom: 1px dashed #e1e1e1;
    width: 790px;
    position: relative;
    color: #555;
    font-size: 15px;
}

.basket-row:first-child {
  padding-top: 0;   
}

.basket-row:first-child .tea-weight {
  height: 55%;
}

.basket-row.totals {
  padding: 20px 0px;
  line-height: 1em;
  border-bottom: none;   
}

.basket-row div.long {
  width: 390px;
  float: left;
}

.basket-row.postage {
  border-bottom: 1px dashed #e1e1e1;
  padding-bottom: 10px;   
}

.basket-row.monthly h3 {
  float: left;
  width: 90%;
  font-size: 15px;
  font-weight: bold;   
  position: relative;
  top: 3px;
}

.basket-row.monthly > div {
  position: relative;
  left: 0;
}

.basket-row.monthly > div.tea-name {
  margin-bottom: 30px;   
}

.basket-row.postage div.tea-weight {
  padding-top: 0;	
}

.basket-row div {
  height: 50px;	
  font-size: 13px;
  float: left;
}

.basket-row.postage div {
  height: auto;   
}

.basket-row.discount div {
  height: auto;	
}

.basket-row ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;	
}

.tea-name {
  width: 50px;
  margin-right: 15px;	
}

.tea-weight {
  width: 280px;
}

.tea-weight a, .tea-weight h3, .name {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-transform: lowercase;
  letter-spacing: -0.5px; 
  margin: 0; 
}

.strikethrough {
  text-decoration: line-through;	
}

.basket-row .tea-total, .basket-row .tea-weight, .basket-row.postage .tea-total, .basket-row.totals .tea-total, .basket-row .weight, .basket-row .tools, .basket-row .tea-quantity {
  float: left;
  display: block;
  height: 30%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;   
}

.basket-row .tea-total {
  float: right;
  right: 5px;
  color: #333; 
  font-weight: bold;
  font-size: 13px;
  height: 15%;  
}

.basket-row .tea-weight {
  left: 65px;
  height: 40%;   
}

.basket-row .tools {
  right: 210px;
  height: 15%;   
}

.basket-row .tea-quantity {
  right: 350px;
  text-align: right;
  height:20%;
}

.basket-row.monthly .tea-name, .basket-row.monthly .tea-quantity, .basket-row.monthly .tea-weight, .basket-row.monthly .tools, .basket-row.monthly .tea-total {
  height: auto; 
}

.basket-row.totals div {
  height: auto;  
} 

.basket-row.totals .tea-total, .basket-row.totals .name {
  font-size: 18px;
  font-weight: bold;
  color: #333; 
  text-transform: none;  
}

.basket-row.monthly .tea-total {
  height: 15%;   
  right: 5px;
  left: auto;
}

.monthly .tea-total ul li {
  color: #333;
  text-align: right; 
  font-size: 13px;  
}

.monthly ul {
  padding: 0px;
  margin: 0;
  float: left;  
}

.monthly .tea-weight ul {
  padding: 0 0 0 20px;   
}

.monthly .tea-weight a, .monthly .tea-quantity li {
  font-size: 13px;
  letter-spacing: 0;
  font-weight: normal;	
}

.monthly .tea-weight a {
  color: #555;   
}

.monthly .tea-weight {
  width: 285px;
  height: 65%;	
}

.monthly .tea-quantity {
  margin-right: 38px;   
}

.tools a.remove {
  font-size: 11px;
}

.monthly .tools a.remove {
  top: -3px;
  position: relative;
}


#totals {
    color: #666666;
    float: right;
    font-size: 35px;
    letter-spacing: -1px;
    padding-top: 15px;
    text-align: right;
}

.label {
  float: left;
  width: 100px;
  margin-top: 10px;	
}

.total {
  color: #1A6D18;
  text-align: right;
  margin-top: 10px;
  float: right;
  width: 200px;
  padding-right: 80px;
}

#checkout-button {
  float: right;
  margin: 10px 0px 10px 0;
}

div.updown {
    float: left;
    height: auto;
    position: relative;
    top: -4px;
    width: 50px;
    margin: 0 10px 0 0;
}

.monthly div.updown {
  top: 0;  
} 

a.plus, a.minus {
  display: block;
  background: #e9e9e9;
  color: #2A8531;
  padding: 6px;
  float: left;
  text-decoration: none;	
  position: relative;
  height: 8px;
  width: 8px;
  margin: 0 3px 0px 0;
}

a.plus span, a.minus span {
    font-size: 15px;
    left: 6px;
    position: absolute;
    top: 2px;
}

.monthly a.plus span, .monthly a.minus span {
  top: -2px;   
}

a.minus span {
  left:8px;
}

a.plus:hover, a.minus:hover, a.remove:hover {
  color: #FF6569;   
}

#discount span#link {
  color: #2A8531;
  font-size: 13px;
}

#discount span#link:hover {
  cursor: pointer;
  text-decoration: underline;   
}

.basket-row.discount span#link:hover {
  cursor: pointer;
  color: #FF6569;	
}

#discount #cancel {
  font-size: 11px;   
}

#discount form {
    display: none;	
    float: left;
    margin: 0;
    width: 335px;
}

.basket-row.discount form input {
  margin: 0;   
}

.basket-row.discount form label {
  float: left;
  width: 520px;
  margin: 0;	
}

div#discount {
  float: left;
  width: 400px;
  margin-left: 70px;
  padding: 20px 0 10px;
}

#discount input.button {
    border-radius: 0 4px 4px 0;
    font-size: 13px;
    left: -3px;
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
    top: 0;
    width: 110px;
}

.basket-row.discount span.red {
  padding-bottom: 10px;	
}

#mtw #wishlist-full {
  display: none;	
  position: absolute;
  top: 0;
  left: 0;
  height: 0px;
  width: 0px;
}

#wishlist-full h2 {
  color: #F37679;	
  font-size: 40px;
}

#wishlist-full .block {
    border-right: 1px solid #E1E1E1;
    float: left;
    margin: 20px 20px 30px 0;
    padding-right: 20px;
    width: 220px;
}

#wishlist-full div.block.last {
    border-right: none;
    margin-right: 0;
}

#discount input#id_discount_code {
  width: 225px;
  padding: 5px;
  font-size: 13px;
  margin-bottom: 5px;	
}

.basket-row .preorder {
    background: none repeat scroll 0 0 #C30000;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    height: auto;
    letter-spacing: -0.3px;
    padding: 5px 5px 5px 10px;
    position: absolute;
    right: -140px;
    top: 5px;
    width: 100px;
}

.basket-row .preorder:before {
  content: " ";
  display: block;
  position: absolute;
  left: -10px;
  top:15px;
  border-color:  transparent #C30000 transparent -moz-use-text-color;
  border-style: solid solid solid none;
  border-width: 10px 10px 10px 0px;     
}

#sub-basket {
    width: 900px;
    background-color: #f3f6f7;
    border: 1px solid #d9ebde;
    border-top: 1px solid #f1f1f1;
    padding: 10px 30px;
    float: left;
    position: relative;
    top: -40px;
    border-radius: 0 0 5px 5px;
}

#sub-basket p {
  margin: 0;
  text-shadow: 1px 1px 1px #fff;
  font-size: 20px;
  color: #5d8ea6;   
}

</style>
{% endblock %}


{% block content %}

<div id="mtw">
  <div class="sp">
  	<h1>{% blocktrans count basket_quantity as counter %}Your basket ({{ basket_quantity }} item){% plural %}Your basket ({{ basket_quantity }} items){% endblocktrans %}</h1>
  	
  	<ul id="steps">
		<li>
			<a class="selected" href="{% url basket %}">1. {% trans 'Your basket' %} &raquo;</a>
		</li>
		<li>
			<a class="" href="{% url order_step_one %}">2. {% trans 'Your details' %} &raquo;</a>
		</li>
		<li>
			<a href="">3. {% trans 'Confirm and pay' %} &raquo;</a>
		</li>
		<li>
			<a href="">4. {% trans 'Tea time!' %}</a>
		</li>
	</ul>

{% if basket_items or monthly_items %}

  <div id="basket">
	{% for thing in basket_items %}
	  <div class="basket-row{% if thing.item.stocks.count == 0 or thing.item.stocks == None %} preorder{% endif %}">
	  
		<div class="tea-name">
			{% thumbnail thing.item.parent_product.image thumb_small crop="center" as im %}
			<img src="{{ im.url }}"/>
			{% endthumbnail %}
			<br/>
		</div>
		<div class="tea-weight">
		  <a title="{{ thing.item.parent_product.description }}" href="{{ thing.item.parent_product.get_absolute_url }}">
		      {% if thing.monthly_order %}Monthly TeaBox{% else %}{{ thing.item.parent_product.name }}{% endif %}
		  </a>
		      {% if thing.item.weight %}({% convert_weights request thing.item.weight %}{{ weight_unit }}) {% endif %}<br/>
		      {{ currency.symbol }}{{ thing.item.price|floatformat:"2" }} {% trans 'each' %}<br/>
	    </div>
        
        <div class="tea-quantity">
		  x {{ thing.quantity }}
        </div>
		<div class="tools">
          <div class="updown">
		      <a class="plus" href="{% url increase_quantity thing.id %}"><span>+</span></a>
		      {% ifequal thing.quantity 1 %}{% else %} <a class="minus" href="{% url reduce_quantity thing.id %}"><span>-</span></a>{% endifequal %}
		  </div>
		  <a class="remove" title="{% trans 'Remove from basket' %}" alt="{% trans 'Remove from basket' %}" href="{% url remove_from_basket thing.id %}">{% trans 'Remove' %}</a>
		</div>
		{% if thing.item.stocks.count == 0 or thing.item.stocks == None %}
	    	<div class="preorder">{% blocktrans with thing.item.parent_product.get_preorder_date|date:"d M Y" as pod %}This is a pre-order and will be sent separately on <strong>{{ pod }}</strong>{% endblocktrans %}</div>
	    {% endif %}
	    <div class="tea-total">
		  {{ currency.symbol }}{{ thing.get_price|floatformat:"2" }}
		</div>
		
	  </div>
	{% endfor %}
	
    {% if monthly_items %}
	<div class="basket-row monthly">
	    <div class="tea-name">
	       <img src="" />
	    </div>
	    
	    <h3><a href="{% url monthly_tea_box %}">{% trans 'Monthly Box' %}</a></h3>
	    
	    <div class="tea-weight">
            <ul>
                {% for x in monthly_items %}
	               <li>
	                   <a href="{{ x.item.parent_product.get_absolute_url }}">
	                       {{ x.item.parent_product }}
	                   </a> 
	               </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tea-quantity">
            <ul>
              {% for x in monthly_items %}
                <li>
                  	{{ x.months }} {% trans 'months' %} / 
                 	{% convert_weights request x.item.weight %}{{ weight_unit }}
                </li>
              {% endfor %}
            </ul>
        </div>
        <div class="tools">
            <ul>
            {% for x in monthly_items %}
                <li>
                    <div class="updown">
                    	<a class="plus" href="{% url increase_quantity x.id %}"><span>+</span></a>
                    {% ifequal x.quantity 1 %}{% else %} <a class="minus" href="{% url reduce_quantity x.id %}"><span>-</span></a>{% endifequal %}
                    </div>
                    <a title="{% trans 'Remove from basket' %}" alt="{% trans 'Remove from basket' %}" class="remove" href="{% url remove_from_basket x.id %}">Remove</a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="tea-total">
           <ul>
            {% for x in monthly_items %}
                <li>{{ currency.symbol }}{{ x.get_price|floatformat:"2" }}
                
                </li>
            {% endfor %}
           </ul>
        </div>

	</div>
	{% endif %}
	
	<div class="basket-row postage">
		<div class="tea-name">&nbsp;</div>
		
		{% if postage_discount %}
	  	<div class="long">
	  		<span class="strikethrough name">{% trans 'Postage' %}</span>
            <span class="small">{% blocktrans with currency.symbol as symbol and currency.postage_discount_threshold as pdt %}Your order is over {{ symbol }}{{ pdt }}, so there's no postage charge!{% endblocktrans %}</span>
        </div>  
        <div class="tea-total strikethrough">{{ currency.symbol }}{{ currency.postage_cost|floatformat:"2" }}</div>
		{% else %}
		<div class="long">
			<span class="name">{% trans 'Postage' %}</span><br/>
			<span class="">{% trans 'Delivered in 1-3 days' %} | {% trans 'Shipped from the UK' %}</span>
		</div>
		<div class="tea-total">{{ currency.symbol }}{{ currency.postage_cost|floatformat:"2" }}</div>
		{% endif %}
	</div>
	
	{% if code %}
	<div class="basket-row discount">
		<div class="tea-name">&nbsp;</div>
		  
		  	<div class="tea-weight">{% blocktrans %}You have entered a discount code worth {{ percent|floatformat }}% off!{% endblocktrans %}</div>
		  	<div class="tea-quantity">&nbsp;</div>
		  	<div class="tea-total"><span class="red">-{{ currency.symbol }}{{ value|floatformat:"-2" }}</span></div>
		  
		    {% if discount_message %}<span id="message" class="red">{{ discount_message }} - </span>{% endif %}
	</div>
    {% endif %}
	
	<div class="basket-row totals">
		<div class="tea-name">&nbsp;</div>
		<div class="long">
			<span class="name">{% trans 'Total' %}</span>
		</div>
		<div class="tea-total">
			{{ currency.symbol }}{{ total_price|floatformat:"2" }}
		</div>
	</div>

	<br clear="all"/>
	
    <div id="discount">
        <span id="link">{% trans 'Got a discount code?' %}</span>
        <form action="." method="post">
            <input type="text" name="discount_code" id="id_discount_code" class="clearMeFocus" title="{% trans 'Enter discount code here' %}"/>
            <input type="submit" class="button green" value="{% trans 'Apply discount' %}" id="submit"/>
            <a href="" id="cancel">{% trans 'Cancel' %}</a>
		</form>
	</div>
	
 	<div id="checkout-button">		
    	<a class="button green" href="{% url order_step_one %}">{% trans 'Start checkout now' %} &raquo;</a>
	</div>
	
</div>

<div id="bottom">
	
   	<div class="info">
      <h3>{% trans 'Safe and secure payment' %}</h3>
      	<p>{% trans 'We accept all major credit and debit cards through Paypal' %}</p>
      	<div style="margin: 10px 0 0 0;background-image: url('/static/images/logo16.jpg');background-position: 0px -33px; height: 52px; width: 202px;"></div>
    </div>  	
    
    <div class="info">
		<h3>{% trans "No Questions Asked" %}</h3>
		<p>{% url page _('contact-us') as contact_url %}{% blocktrans %}We operate a 'no questions asked' returns policy. If you're not happy, just return your tea and we'll refund your payment in full.</a>{% endblocktrans %}</p>
	</div>

    <div class="info">
        <h3>{% trans 'Customer services' %}</h3>
        <p>{% blocktrans %}If you have any questions, you can <a href="{{ contact_url }}">contact us</a> at any time and we'll do our best to answer your enquiry.{% endblocktrans %}</p>
	</div>

</div>

 

{% else %}
  <div id="basket">
	<p class="introduction">{% trans "There's nothing in your basket - add something, quick! " %} - <a href="{% url finder _('teas') %}">&raquo; {% trans 'Browse our selection of Chinese teas here.' %}</a></p>
  </div>
{% endif %}

  </div>
</div>
{% endblock %}
