{% extends base_template %}
{% load thumbnail django_statice %}

{% block pagetitle %}Your basket ({{ basket_quantity }}){% endblock %}
{% block metadescription %}Your basket - shop on www.minrivertea.com and get the best prices and great tasting authentic Chinese teas delivered direct to your door.{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$("#link").click( function() {
	$("#form form").toggle();
	$(this).toggle();
	$('#message').toggle();
});

$(document).ready( function() {
	$('a#wishlist').fancybox({
    	'autoDimensions':true,
    });
});
</script>
<script type="application/javascript" src="{% staticfile '/js/lightbox/jquery.fancybox-1.3.4.pack.js' %}"></script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% staticfile '/css/fancybox/jquery.fancybox-1.3.4.css' %}" />
<style type="text/css">

h1 {
  margin-bottom: 20px;	
}

div.row-box p.intro {
    margin: -10px 0 5px;
}

div#basket-full {
  width: 520px;
  float: left;	
}

div#basket-full img {
    box-shadow: 0 1px 2px #999999;
}

div.basket-row {
    border-bottom: 2px dotted #e1e1e1;
    float: left;
    height: auto;
    margin-bottom: 0px;
    padding: 15px 0 15px 10px;
    width: 100%;
    position: relative;
}

div.basket-row:first-child {
  padding-top: 0px;	
}

div.basket-row.postage div.tea-weight, div.basket-row.postage div.tea-total {
  padding-top: 0;	
}

.strikethrough {
  text-decoration: line-through;	
}

div.basket-head-row {
  height: 15px;
  float: left;
  margin: 20px 0 10px 0;
  padding: 0px 0px 5px 13px;
  font-size: 0.9em;
  color: #BE373A;
}

div.tea-name {
  float: left;
  width: 140px;	
}

div.tea-weight {
  float: left;
  width: 200px;	
  padding-top: 6px;
}

div.tea-price {
  float: left;
  width: 10px;
}

div.tea-quantity {
  float: left;
  width: 60px;	
  text-align: center;
  padding-top: 8px;
  font-size: 1.3em;
  font-weight: bold;  
}



div.tea-total {
  float: left;
  width: 110px;	
  text-align: center;
  font-size: 1.2em;
  padding-top: 8px;
  font-weight: bold;
}

div.tea-remove {
    float: left;
    padding-top: 18px;
    text-align: left;
    width: 30px;
}

div.tea-remove a {
    background: url("/images/delete.png") no-repeat scroll left top transparent;
    display: block;
    height: 14px;
    margin-top: 4px;
    width: 11px;
}

div.tea-remove a:hover {
  background: url({% staticfile '/images/delete.png' %}) no-repeat bottom left;
}

div#totals {
    color: #666666;
    float: right;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 20px;
    text-align: right;
    width: 250px;
}

div.label {
  float: left;
  width: 100px;
  margin-top: 10px;	
}

div.total {
  color: #1A6D18;
  text-align: right;
  margin-top: 10px;
  float: right;

}

div#extra-info {
  width: 500px;
  margin-top: 60px;	
}

div#extra-info div.box {
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 20px;
}

div#extra-info p {
  margin-top: 0;
  font-size: 13px;	
}

div#extra-info h3 {
  margin-bottom: 0px;
}

div.plus-minus {
  float: right;
  width: 35px;
  display: block;
  height: 15px;
}

div.plus-minus a {
 display: none	
}

div.basket-row:hover div.plus-minus a {
  display: block;	
}


a.plus {
  display: block;
  background: url('{% staticfile "/images/plus.png" %}') no-repeat top left;
  height: 14px;
  width: 15px;
  float: right;
  position: relative;
  top: 4px;	
}

a.plus:hover {
  background-position: bottom left;
}

a.minus {
  display: block;
  background: url('{% staticfile "/images/minus.png" %}') no-repeat top left;
  height: 14px;
  width: 15px;
  float: left;	
  position: relative;
  top: 4px;	
}

a.minus:hover {
  background-position: bottom left;
}

div.basket-row.discount {
   height: auto;
   width: 520px;
   padding-bottom: 15px; 	
}

div.basket-row.discount span#link {
  font-weight: bold;
  color: #439249;
  font-family: Helvetica, Arial, sans-serif;	
}

div.basket-row.discount span#link:hover {
  cursor: pointer;
  color: #F37679;	
}

div.basket-row.discount form {
    display: none;	
    float: left;
}
div.basket-row.discount form label {
  float: left;
  width: 520px;	
}

div.discount input.button {
    border-radius: 0 4px 4px 0;
    font-size: 15px;
    left: -3px;
    padding: 11px;
    position: relative;
    top: -1px;
    width: 160px;
}

div.discount span.red {
  padding-bottom: 10px;	
}

#mtw #wishlist-full {
  display: none;	
  position: absolute;
  top: 0;
  left: 0;
  height: 0px;
  width: 0px;
}

#wishlist-full h2 {
  color: #F37679;	
  font-size: 40px;
}

#wishlist-full .block {
    border-right: 1px solid #E1E1E1;
    float: left;
    margin: 20px 20px 30px 0;
    padding-right: 20px;
    width: 220px;
}

#wishlist-full div.block.last {
    border-right: none;
    margin-right: 0;
}

input#id_discount_code {
  width: 325px;	
}

.coming-soon {
  position: absolute;
  right: -240px;
  float: left;
  width: 200px;
  font-size: 13px;
  background-color: #F3F9F2;
  padding: 7px 12px;
  border: 1px solid #7CBA80;
}

.coming-soon:after {
   content: " ";
   display: block;
   width: 0;
   height: 0;
   border-top: 12px solid transparent;     
   border-left: 0;
   border-bottom: 12px solid transparent;
   border-right: 12px solid #F3F9F2;
   position: absolute;
   top: 15px;
   left: -12px;
   z-index: 2;
}

.coming-soon:before {
   content: " ";
   display: block;
   width: 0;
   height: 0;
   border-top: 12px solid transparent;     
   border-left: 0;
   border-bottom: 12px solid transparent;
   border-right: 12px solid #7CBA80;
   position: absolute;
   top: 15px;
   left: -13px;
   z-index: 2;
}

#sub-basket {
    width: 900px;
    background-color: #f3f6f7;
    border: 1px solid #d9ebde;
    border-top: 1px solid #f1f1f1;
    padding: 10px 30px;
    float: left;
    position: relative;
    top: -40px;
    border-radius: 0 0 5px 5px;
}

#sub-basket p {
  margin: 0;
  text-shadow: 1px 1px 1px #fff;
  font-size: 20px;
  color: #5d8ea6;   
}

</style>
{% endblock %}


{% block currency %}
	{% include 'shop/snippets/currency.html' %}
{% endblock %}


{% block content %}

<div id="mtw">
  <div class="sp">
  	<h1>Your basket ({{ basket_quantity }} item{{ basket_quantity|pluralize }})</h1>

{% if basket_items %}

  <div id="basket">
    <div id="basket-full"> 
	{% for thing in basket_items %}
	  <div class="basket-row">
	    {% if thing.item.parent_product.coming_soon %}
	    	<div class="coming-soon"><strong>Note:</strong> this product ({{ thing.item.parent_product }}) has been pre-ordered and will be delivered on <strong>{{ thing.item.parent_product.get_preorder_date|date:"d M Y" }}</strong></div>
	    {% endif %}
		<div class="tea-name">
			{% thumbnail thing.item.parent_product.image "120" crop="center" as im %}
			<img src="{{ im.url }}"/>
			{% endthumbnail %}
			<br/>
		</div>
		<div class="tea-weight">
			<a title="{{ thing.item.parent_product.description }}" href="{{ thing.item.parent_product.get_absolute_url }}"><strong>{{ thing.item.parent_product.name }}</strong></a>
			{% if not thing.item.weight %}{% else %}({{ thing.item.weight|floatformat }}{{ thing.item.weight_unit }}) {% endif %}<br/>
			{{ currency.symbol }}{{ thing.item.price }}<br/>
			<a title="Remove" alt="remove item from your basket" href="{% url remove_from_basket thing.item.id %}"><span class="small">Remove from basket</span></a>
		</div>
		<div class="tea-price">&nbsp;</div>
		<div class="tea-quantity">x {{ thing.quantity }} 
			<div class="plus-minus"><a class="plus" href="{% url increase_quantity thing.item.id %}"></a>{% ifequal thing.quantity 1 %}{% else %} <a class="minus" href="{% url reduce_quantity thing.item.id %}"></a>{% endifequal %}</div> </div>
		<div class="tea-total">{{ currency.symbol }}{{ thing.get_price }}</div>
		
	  </div>
	{% endfor %}
	
	{% if postage_discount %}
	  <div class="basket-row postage">
		<div class="tea-name strikethrough"><em>Postage <span class="small">(Standard)</span></em></div>
		<div class="tea-weight"><span class="small"><em>* Your order is over {{ currency.symbol }}{{ currency.postage_discount_threshold }}, so there's no postage charge!</em></span></div>
		<div class="tea-price">&nbsp;</div>
		<div class="tea-quantity">&nbsp;</div>
		<div class="tea-total strikethrough">{{ currency.symbol }}{{ currency.postage_cost|floatformat:"2" }}</div>
	  </div>
	{% else %}
	  <div class="basket-row postage">
		<div class="tea-name"><em>Postage <span class="small"><br/>(First Class)</span></em></div>
		<div class="tea-weight"><em>Delivered in 10 days<br/><span class="small">Shipped directly from China</span></em></div>
		<div class="tea-price">&nbsp;</div>
		<div class="tea-quantity">&nbsp;</div>
		<div class="tea-total">{{ currency.symbol }}{{ currency.postage_cost|floatformat:"2" }}</div>
	  </div>
	{% endif %}
	
	<div class="basket-row discount">
	  {% if code %}
	  	<div class="tea-name">&nbsp;</div>
	  	<div class="tea-weight">You have entered a discount code worth {{ percent|floatformat }}% off!</div>
	  	<div class="tea-price">&nbsp;</div>
	  	<div class="tea-quantity">&nbsp;</div>
	  	<div class="tea-total"><span class="red">-{{ currency.symbol }}{{ value|floatformat:"2" }}</span></div>
	  {% else %}
	    {% if discount_message %}<span id="message" class="red">{{ discount_message }} - </span>{% endif %}
	  	<span id="link">Got a discount code?</span>
	  	<div id="form">
			  	<form action="." method="post">
				<input type="text" name="discount_code" id="id_discount_code" class="clearMeFocus" title="Enter discount code here"/>
				<input type="submit" class="button" value="Apply discount" id="submit"/>
				</form>
		</div>
	  {% endif %}
	</div>

	<div id="totals">
		<div class="label">Total:</div><div class="total">{{ currency.symbol }}{{ total_price|floatformat:"2" }}</div>
	</div>
    </div> <!-- ENDS basket-full div -->

	<br clear="all"/>
	  	<div id="checkout-button">		
		
		<p class="checkout">
			<strong>Next step</strong>: your details. 
			<em>No login or registration required to purchase.</em>
		</p>
		<a class="button green" href="{% url order_step_one %}">Start checkout now &raquo;</a>
	</div>
	
  </div>
  
  
  <div id="right">
   	<div class="info">
      <h3 class="small"><img src="{% staticfile '/images/lock.gif' %}"> Safe and secure payment</h3>
      	<p>We accept all major credit and debit cards through Paypal</p>
      	<img src="{% staticfile '/images/cards.png' %}" style="margin: 0px 0;">
      </div>  	
  	<div class="info">
  		<h3>
  	 	  <img style="float:right; margin-left: 5px; position:relative; top: -8px; left: 4px;" src="{% staticfile '/images/gift.png' %}"/>
  				Create a wishlist from your basket
  		</h3>
  		<p>A wishlist saves your basket so that other people can buy it for you as a gift.</p>
  		<p><a style="font-weight: bold; font-family: Helvetica, Arial, sans-serif" id="wishlist" href="#wishlist-full">How does it work?</a></p>
  		<div id="wishlist-full" style="width: 800px; padding: 30px;">
  			<h2>How to make a Wishlist</h2>
  			   <div class="block">
  				 <h3>1. Choose the teas you want</h3>
  				 <p>Choose the teas and other products that you want to have - add them to your basket as normal, and go through the checkout.</p>
  			   </div>
  			   <div class="block">
  				 <h3>2. We give you a unique URL</h3>
  				 <p>At the final stage of the order, click the 'Create Wishlist' link, and we'll give you a unique URL. Share it with friends and relatives.</p>
  			   </div>
  			   <div class="block last">
  				 <h3>3. Friends can buy items for you</h3>
  				 <p>Using your unique URL, friends and family can buy items from your wishlist for you. We'll deliver them direct to the address you provided.</p>
  			   </div>
			   <img src="{% staticfile '/images/wishlist-screenshot.jpg' %}">
		</div>
  	</div>
 </div>
  	

	<div id="left">

		<h2>Buyer protection</h2>
		<p>Your online safety is extremely important to us too. Your purchase has these guarantees:</p>
		<ul>
		  <li><strong>Returns policy:</strong> we operate a 'no questions asked' returns policy. If you're not happy with your order, just get in touch.</li>
		  <li><strong>Safe payments:</strong> payments are taken via Paypal. We never see your credit card details, and your online payment is secured by the highest standard industry technology.</li>
		  <li><strong>Customer services:</strong> if you need to contact us about anything, you can email us directly at <a href="mailto:chris@minrivertea.com">chris@minrivertea.com</a>. </li>
		</ul>

	</div>

 

{% else %}
  <div id="basket">
	<p>There's nothing in your basket - add something, quick! <br/><a href="{% url teas %}">&raquo; Browse our selection of Chinese teas here.</a></p>
  </div>
	<div class="did-you-know">
	<a href="/suggestions/"><span class="link"></span></a>
	<h3>Need some help choosing a tea? <span class="grey">Let us help you &raquo;</span></h3>
	</div>

{% endif %}

  </div>
</div>
{% endblock %}
