{% extends "base.html" %}
{% load django_static comments %}

{% block extracss %}
<link rel="stylesheet" href="{% staticfile '/css/teas.css' %}"/>
<style type="text/css">

div.tea-promo.small {
  width: 250px;	
  margin-right: 15px;
}

div.tea-promo h3 {
  font-size: 28px;
  font-family: Helvetica, sans-serif;
  color: #237A2A;
  font-weight: bold;	
}

div.tea-promo p.help {
    float: left;
    font-size: 0.7em;
    position: relative;
    width: 140px;
}

div.tea-promo div.image {
  width: 250px;	
  float: left;
  display: block;
}

div.tea-promo div.text {
  width: 250px;
  margin-top: 15px;
}

div.text input {
  width: 280px;	
}

div.text .button {
  width: 150px;	
  margin: 0 0 0 15px;
  float: right;
}

.white {
  background-color: #fff;
  padding: 20px 25px;
  float: left;	
  width: 650px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #e1e1e1;
  position: relative;
}

.white p {
  font-size: 18px;	
  margin: 0 0 10px 0;
}

.white p.nihao {
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.white ul {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  margin: 0;	
  padding: 0;
}

/* this is the background of the arrow */
.white:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-bottom: 20px solid transparent;         
        border-left: 0;
        border-top: 20px solid transparent;
        border-right: 20px solid #d1d1d1;
        position: absolute;
        top: 20px;
        left: -21px;
        z-index: 1;
        margin-left: ;
}

/* this is the foreground of the arrow */
.white:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-right: 20px solid #fff;     
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 0;
        position: absolute;
        top: 20px;
        left: -19px;
        z-index: 2;
        margin-left: -1px;
}

#footer {
  margin-top: 50px;	
}


</style>
{% endblock %}

{% block metadescription %}Min River Tea is 1 year old on 1st March 2012 - here's how you can get involved in our birthday celebrations.{% endblock %}

{% block pagetitle%}It's our birthday!{% endblock %}



{% block content %}

<div id="banner">
	<div class="super">
		<h1>It's our birthday! Thank <span class="underline">you.</span></h1>
		<p class="introduction">We sold our first bag of tea on 1 March 2011 - it's been an amazing year and we offer a deep, heartfelt thanks to all of our customers and friends for their help and support!</p>
		
	</div>
</div>


<div id="main-text-wide">
  <div class="super">
  
  		<img src="{% staticfile '/images/christopher.jpg' %}" style="float:left;margin-right: 30px;"/>
		<div class="white">
		<p class="nihao"><span class="underline" style="color: #000;">What were you doing a year ago?</span> You can enter our birthday competition by <a href="http://www.minrivertea.com/blog/one-year-ago-birthday/">adding your comment to our blog post right here &raquo;</a></p>

		<p class="">Plus, there'll be some very special offers for the week of our birthday - if you want to get the news, <span class="underline">signup for our newsletter (below)</span> and you'll find out first.</p>
		</div>
  		
  </div>
</div>
		

    {% endblock %}
