{% extends base_template %}
{% load thumbnail nav_selected i18n %}

{% block metadescription %}{{ category.meta_description }}{% endblock %}

{% block pagetitle %}{{ category.long_title }}{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$('#types').click(function() {
	$('#subnav').toggle(300);
});

$('.pricebar a.button').click( function() {
  var thisButton = $(this)
  $.ajax({
  	url: thisButton.attr('href'),
	type: "GET",
   	dataType: 'json',
   	success: function(data) {
   		
   		/// increment the values in the header basket
        if ($('#userbasket').hasClass('selected')) {} else {
             $('#userbasket').addClass('selected'); 
             $('#userbasket #quantity').append('<a href="{% url basket %}" title="{% trans 'View your basket' %}" alt="{% trans 'View your basket' %}">{% trans 'Checkout now' %} &raquo;</a>'); 
        }
        $('#quantity .p').text(parseFloat(data.basket_quantity).toFixed(2));
        $('#quantity .q').html(parseInt($('#quantity .q').html(), 10)+1);
   		
   		
   		/// increment the values in the already in basket next to product
   		
   		if (thisButton.parent('.pricebar').find('.in-basket').length) {
	   		var curr = thisButton.parent('.pricebar').find('.in-basket .num');
   			curr.html(parseInt(curr.html(), 10)+1);
   		} else {
   		  	thisButton.parent('.pricebar').append('<div class="in-basket"><span class="num">1</span> {% trans "in basket" %}</div>');
   		}
   		  
   		
   	},
  });
  return false;
});


</script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{{ static_url }}css/teas.css"/>
<style type="text/css">


#price-helper {
    border-top: medium none;
    bottom: 15px;
    position: absolute;
    width: 430px;
}

#price-helper div {
  padding: 0 10px;   
}

#price-helper div:last-child a {
  position: relative;
  top: 9px;   
  z-index: 20;
}

#price-helper div.stocks {
  width: auto; 
  padding: 8px 15px 0 0; 
  font-size: 13px;
  letter-spacing: -0.5px;
  color: #777;
}

#price-helper div.stocks strong {
  color: #333; 
  font-size: 15px  
}

#price-helper div.price {
  width: auto;
  padding-top: 8px; 
  font-style: italic;  
}

#price-helper div.price a {
   z-index: 20;
   position: relative;  
   font-style: normal; 
}

#price-helper div:last-child {
  width: auto;   
}

div.info {
  margin-right: 20px;
  position: relative;	
}

div.info.photo {
  width: 350px;	
}

div.info.photo img {
  float: left;
  margin-right: 20px;	
}



div.info h3 {
  font-family: Helvetica, sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #18691e;
  text-transform: ;
  letter-spacing: -1px;	
  margin: 0;
}

{% if categories %}

#teas {
  border-bottom: none;	
}

.tea-promo div.image {
  margin: 0 0 10px 0;   
}

.tea-promo h3 {
  font-size: 14px;   
}

.tea-promo {
  margin: 0 15px 15px 0;   
  background: #fff;
  border: none;
  padding: 10px;
  width: 240px;
}

.section {
  float: left;
  width: 100%;
}

.section .intro {
    float: right;
    height: 212px;
    padding: 0;
    width: 440px;
}

.intro h2 {
  margin: 0 0 5px 0;
  color: #18691e;	
}

.intro p {
  margin: 0;	
}

span.price {
    color: #777777;
    float: left;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    margin: 0px 0 0 5px;
}

span.price .amount {
  color: #333;
  font-weight: bold;   
}

{% else %}

.tea-promo h3 {
  float: none;
}

{% endif %}



#special {
  float: left;	
  width: 920px;
  padding: 20px;
  box-shadow: 0 1px 3px #e1e1e1;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  margin: 0px 0 30px 0;
}

#special h2 {
    color: #18691e;
    font-family: Helvetica,sans-serif;
    font-size: 39px;
    font-weight: bold;
    letter-spacing: -2px;
    margin: 10px 0;
}

{% if category.slug == 'teaware' %}

#special h2 span {
  color: #999;   
}

#special h2 {
    color: #18691e;
    font-family: Helvetica,sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -2px;
    margin: 10px 0;
    position: relative;
    top: 60px;
}

{% endif %}

#special p {
  margin: 0;   
  font-size: 16px;
}

#special p.tea-desc {
  margin: 0 0 10px;	
}

#special img {
  float: left;
  margin-right: 10px;	
}

#special p.price {
  float: left;
  width: 410px;
  margin: 30px 0 0px;	
}

#special p.more {
  text-align: right;
  font-size: 15px;
  padding-right: 20px;	
}

#special .amount {
    color: #18691e;
    float: left;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -5px;
    margin-right: 10px;
}

#special .description {
  font-size: 12px;
  color: #666;
  width: 80px;
  position: relative;
  top: -5px;	
  float: left;
  line-height: 1.3em;
  margin: 0 20px 0 0;
}

#special .button {
    float: right;
    font-size: 22px;
    padding: 10px 26px 5px;
    position: relative;
    right: 10px;
    top: -10px;
}



</style>
{% endblock %}

{% block currency %}
	{% include 'shop/snippets/currency.html' %}
{% endblock %}

{% block content %}
		
<div id="mtw">
  <div class="sp">
  
    <h1>{{ category.name }}</h1>
    <p class="introduction">{{ category.short_description|striptags }}</p>
    
	<div id="teas">
		
			
		{% if category.slug == 'teaware' %}
		   {% include "shop/snippets/products_teaware.html" %}
		{% else %}
		   {% include "shop/snippets/products_normal.html" %}
		{% endif %}

  	     
	    
	     {% if categories %}
		    {% include "shop/snippets/products.html" %}
		 {% endif %}
		
	</div>	
	
  </div>
</div>


{% endblock %}
