{% extends base_template %}
{% load thumbnail nav_selected i18n %}

{% block metadescription %}{{ category.meta_description }}{% endblock %}

{% block pagetitle %}{{ category.long_title }}{% endblock %}

{% block extrajs %}
<script type="text/javascript">


$(".info .button span[title]").tooltip({
  offset: [-8, 2],   
});


$('#types').click(function() {
	$('#subnav').toggle(300);
});

$('.info.tea a.button').click( function() {
  var thisButton = $(this)
  
  thisButton.parent('.info.tea').css({'opacity':'0.5'});
  thisButton.parent('.info.tea').append('<img src="{{ static_url }}images/loading.gif" id="loading" />');

  
  $.ajax({
  	url: thisButton.attr('href'),
	type: "GET",
   	dataType: 'json',
   	success: function(data) {
   		
   		/// increment the values in the header basket
        if ($('#userbasket').hasClass('selected')) {} else {
             $('#userbasket').addClass('selected'); 
             $('#userbasket #quantity').append('<a href="{% url basket %}" title="{% trans 'View your basket' %}" alt="{% trans 'View your basket' %}">{% trans 'Checkout now' %} &raquo;</a>'); 
        }
        $('#quantity .p').text(parseFloat(data.basket_amount).toFixed(2));
        $('#quantity .q').html(parseInt($('#quantity .q').html(), 10)+1);
   		
   		
   		/// increment the values in the already in basket next to product
   		
   		if (thisButton.parent('.info.tea').find('.in-basket').length) {
	   		var curr = thisButton.parent('.info.tea').find('.in-basket .num');
   			curr.html(parseInt(curr.html(), 10)+1);
   		} else {
   		  	thisButton.parent('.info.tea').find('.pricebar').append('<div class="in-basket"><span class="num">1</span> {% trans "in basket" %}</div>');
   		}   
   		
   		thisButton.parent('.info.tea').find('#loading').remove();
   		thisButton.parent('.info.tea').css({'opacity':'1'});		
   	},
  });
  return false;
});


</script>
{% endblock %}

{% block extracss %}
<style type="text/css">

.category {
  float: left;
  width: 100%;   
  margin: 0 0 40px 0;
}

#teas {
  float: left;
  width: 100%;
  margin-top: 40px;   
}

#price-helper {
    border-top: medium none;
    bottom: 15px;
    position: absolute;
    width: 430px;
}

#price-helper div {
  padding: 0 10px;   
}

#price-helper div:last-child a {
  position: relative;
  top: 9px;   
  z-index: 20;
}

#price-helper div.stocks {
  width: auto; 
  padding: 8px 15px 0 0; 
  font-size: 13px;
  letter-spacing: -0.5px;
  color: #777;
}

#price-helper div.stocks strong {
  color: #333; 
  font-size: 15px  
}

#price-helper div.price {
  width: auto;
  padding-top: 8px; 
  font-style: italic;  
}

#price-helper div.price a {
   z-index: 20;
   position: relative;  
   font-style: normal; 
}

#price-helper div:last-child {
  width: auto;   
}

div.info {
  margin-right: 20px;
  position: relative;	
}

div.info.photo {
  width: 350px;	
}

div.info.photo img {
  float: left;
  margin-right: 20px;	
}

{% if categories %}


.info .glass-text .inner {
  height: 100%;   
}

.info.tea .glass-text .pricebar {
  text-align: left;   
}

.info.tea .glass-text p {
  font-size: 11px;   
}

.info.tea .glass-text .price-weight {
  position: absolute;
  bottom: 2px;
  left: 0;   
}

.category h2 {
  padding-bottom: 10px;
  margin: 20px 0 0px;
  color: #c1c1c1;
  text-align: center;
  float: right;
  width: 100%;
  font-size: 40px; 
}

.category p.introduction {
  color: #999;
  font-size: 15px;
  margin: 0 0 10px 0;
  width: 70%;
  margin-left: 15%;
  text-align: center;   
}

.info.tea.half {
    margin: 0 30px 20px 0;
    padding-top: 20px;
    width: 460px;
    border-bottom: none;
}

.info.tea {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px dashed #E1E1E1;
    float: left;
    margin: 0 15px 15px 0;
    position: relative;
    width: 240px;
}
 
{% endif %}


p.introduction, #left p.introduction {
  margin-bottom: 0;
  padding-bottom: 0;   
}

#santa {
  margin-bottom: 20px;   
}


</style>
{% endblock %}

{% block content %}
		
<div id="mtw">
  <div class="sp">
  
    {% if not categories %}
    <h1>{{ category.name }}</h1>
    <p class="introduction">{{ category.short_description|striptags }}</p>
    {% endif %}
    
    
	<div id="teas">
	{% if categories %}
        {% for c in categories %}
		    <div class="category">
                <h2><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></h2>
                <p class="introduction">{{ c.short_description|striptags }}</p>
                {% with c.products as teas %}
		          {% include 'shop/snippets/products_long.html' %}
		        {% endwith %}
            </div>
		{% endfor %}
    {% else %}
		
		{% if category.slug == _('teaware') %}
		  {% include 'shop/snippets/products_teaware.html' %}
		{% else %}
    		      {% with products as teas %}
    		          {% include 'shop/snippets/products_long.html' %}
    		      {% endwith %}
        {% endif %}
    {% endif %}
  	     
	    

		
	</div>	
	
  </div>
</div>


{% endblock %}
