{% extends base_template %}
{% load thumbnail i18n convert_weights %}

{% block pagetitle %}{% trans 'Exceptional Chinese tea delivered to your door' %}{% endblock %}

{% block metadescription %}{% trans 'We sell exceptional Chinese teas and deliver them to your home. Our teas are authentic, hand-picked and traditionally made in our home in China.' %}{% endblock %}


{% block extrajs %}
<script type="text/javascript">

$('.info.tea a.button').click( function() {
  var thisButton = $(this);
  thisButton.parent('.info.tea').css({'opacity':'0.5'});
  thisButton.parent('.info.tea').append('<img src="{{ static_url }}images/loading.gif" id="loading" />');

  $.ajax({
  	url: thisButton.attr('href'),
	type: "GET",
   	dataType: 'json',
   	success: function(data) {
   		
   		/// increment the values in the header basket
        if ($('#userbasket').hasClass('selected')) {} else {
             $('#userbasket').addClass('selected'); 
             $('#userbasket #quantity').append('<a href="{% url basket %}" title="{% trans 'View your basket' %}" alt="{% trans 'View your basket' %}">{% trans 'Checkout now' %} &raquo;</a>'); 
        }
        $('#quantity .p').text(parseFloat(data.basket_quantity).toFixed(2));
        $('#quantity .q').html(parseInt($('#quantity .q').html(), 10)+1);
   		
   		
   		/// increment the values in the already in basket next to product
   		
   		if (thisButton.parent('.info.tea').find('.in-basket').length) {
	   		var curr = thisButton.parent('.info.tea').find('.in-basket .num');
   			curr.html(parseInt(curr.html(), 10)+1);
   		} else {
   		  	thisButton.parent('.info.tea').find('.pricebar').append('<div class="in-basket"><span class="num">1</span> {% trans "in basket" %}</div>');
   		}   
   		
   		thisButton.parent('.info.tea').find('#loading').remove();
   		thisButton.parent('.info.tea').css({'opacity':'1'});		
   	},
  });
  return false;
});

</script>
{% endblock %}

{% block extracss %}
<style type="text/css">

#teas, #teaware, #about, #experts, #monthly, #brewing, #special {
  float: left;
  width: 100%;
  position: relative;
}

ul#nav li a.selected:before {
 display: none;   
}

h1 {
  font-size: 26px;
  margin: 15px 0 0px;
  float: left;
  width: 100%;
  color: #5f829a;
}

h2.banner {
  font-size: 24px;
  margin: 0 0 20px 0; 
  color: #555;
  float: left;
  width: 100%;  
  text-align: right;
}

#teas {
  margin: 0 0 ;
  border-bottom: none;	
  height: auto;
}

#teas h2 {
  text-align: right;   
}

#teas .info.tea.right:last-child, #teas .info.tea.left:last-child {
  margin-bottom: 0;
}

#benefits img {
  margin: 0;
}


#special {
  float: left;
  width: 100%;
  position: relative;
  background: url('{{ static_url }}images/homepage/special1.jpg') no-repeat top left;
  height: 325px;
}

#special:hover {
  opacity: 0.9;   
}

#special:hover .details h3, #special:hover .details a {
  color: #FF6569;   
}

#special .details {
    float: right;
    width: 30%;
    bottom: 10px;
    right: 10px;
    padding: 0;
    position: absolute;
    text-align: right;
}

#special .details h3 {
  font-size: 24px;
  font-weight: 100;
  margin: 10px 0 0;
  letter-spacing: -1px;
  text-shadow: none;
  color: #2a8531;
}

#special .details p {
  font-size: 13px;
  color: #666;
  float: right;
  margin: 5px 0 0;   
}

#special .details .price {
    color: #555555;
    position: absolute;
    top: -10px;
    right: 0px;
    font-size: 15px;
    float: right;
    font-weight: normal;
    letter-spacing: -0.5px;
}

#special .details .price .amount {
  color: #222;
  font-weight: bold;   
}

#experts {
  background: url('{{ static_url }}images/homepage/home-experts.jpg') no-repeat top left;  
  height: 279px;
}

#experts .glass-text, #monthly .glass-text {
  text-align: left;
  position: absolute;
  left: 20px;
  top: 20px; 
  width: 65%; 
  padding: 15px;  
}

#experts .glass-text:before, #monthly .glass-text:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-bottom: 20px solid transparent;     
        border-left: 0;
        border-top: 20px solid transparent;
        border-right: 20px solid #fff;
        position: absolute;
        top: 20px;
        left: -20px;
        z-index: 2;
        opacity: 0.8;
}

#experts .glass-text, #monthly .glass-text {
   right: 20px;
   bottom: 20px;
   top: auto;
   left: auto; 
   width: 50%;
   text-align: right; 
}

#experts .glass-text p, #monthly .glass-text p {
  color: #333;   
}

#experts .glass-text h2, #monthly .glass-text h2 {
  font-size: 24px;  
  margin: 0; 
}


#monthly .glass-text {
    width: 55%;
}

#monthly .button {
  position: absolute;
  bottom: 20px;
  right: 20px;   
}

.tag {
    left: 0px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-decoration: none;
    top: -3px;
    z-index: 0;
}

.tag {
  width: 300px;
  height: 13px; 
  -webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg); 
  -o-transform: rotate(-45deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  background: #1e70cb;
  display: block;
  position: absolute;
  top: 55px;
  left: -100px;
  padding: 10px;
}

.tagtext {
  position: absolute;
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

ul.rss {
    left: 180px;
    padding: 0;
    top: 60px;
    width: 80px;
}

#about {
  width: 96%;
  float: left;
  margin: 30px 0; 
  background: #fff;
  padding: 1.5% 2%;
  border-radius: 8px;  
}

#about .info.follow {
  border: none;
  background: none;
  padding: 0; 
  width: auto;
  margin: 10px 0 0 0;  
}

#about .info.follow h3 {
  float: left;
  position: relative;
  top: 8px;
  margin-right: 20px;
  font-size: 18px;
  color: #FF6569;
}

#about img {
  float: left;
  margin: 10px 0 0;   
}

#about #text {
  float: left;
  width: 450px;
  margin: 0 40px 0 0;  
}

#about h2 {
  margin: 0 0 10px 0; 
  float: left; 
  color: #5f829a; 
}

#about p {
  margin: 0 0 10px 0;
  float: left;
}

#teaware {
  float: left;
  width: 100%;
  margin: 0;   
}

#monthly {
  background: url('{{ static_url }}images/homepage/home-monthly.jpg') no-repeat top left;  
  height: 250px;
}


#brewing img {
  float: left;
  margin: 0 20px 0 0;   
}

#brewing h2 {
  font-size: 24px; 
  margin-top: 10px; 
} 

#brewing p {
  padding-right: 30px;
  margin-top: 0;   
}

#sale {
  float: left;
  width: 88%;
  padding:10px 2% 10px 10%;
  background: #fff;
  color: #999;
  border-radius:5px;
  font-family:Helvetica, Arial, sans-serif;
  font-size:14px;
  font-weight: bold;
  margin: 10px 0 20px 0;
  position: relative;
  display:none;
}

#sale .red {
  color: #fff;
  background:red;
  position: absolute;
  padding: 8px 10px;
  border-radius: 5px 0 0 5px;
  left: 0;
  top: 0;
  letter-spacing:-0.5px;
  font-size:18px;
  text-shadow: 0 1px 1px #bd0000;
}



</style>


<style type="text/css">

#jasmine-special {
  height: auto;
  float: left;
  width: 100%;
  position: relative;  background: none;   
}

.four-teas {
  float: left;
  width: 680px;
  z-index: 30;   
}

.four-teas div {
  width: 120px;
  float: left;
  margin: 0 0px 0px 0px;
  position: relative;   
}

.four-teas div h3 {
  width: 100%;
  text-align: center; 
  font-size: 13px;
  font-weight: bold; 
  margin: 0 0 5px 0; 
}

.four-teas div:hover h3 a {
  color: #FF6569;  
}

.four-teas div:hover img {
  opacity: 0.8;   
}

.four-teas div .price-weight {
    font-size: 13px;
    margin: 0;
    text-align: center;
    position: static;
}

#jasmine-special .details {
  width: 275px; 
    float: right;
    position: relative;
    top: 15px;
    padding: 0;
    text-align: right;  
}

#jasmine-special .details h2 {
  color: #FF6569;
  font-size: 18px;
  margin-bottom: 0;
  letter-spacing: -0.3px;   
}

#jasmine-special .details p {
  margin-top: 0; 
  color: #777;
  font-size: 13px;  
}

</style>
{% endblock %}


{% block content %}


<div class="sp">
    
    {% if request.user.is_superuser %}
        {% include 'shop/snippets/2013-jasmine-home-special.html' %}
        <div class="hr"></div>
    {% endif %}
    <div id="special">
        <a href="{{ special.get_absolute_url }}"><span class="link"></span></a>
        <div class="details">
           <h3>{{ special.name }}</h3> 
           <p>{{ special.description }}</p>
           <span class="price">
                <span class="amount">{{ currency.symbol }}{{ special.price.price|floatformat:"-2" }}</span>
	           / {% convert_weights request special.price.weight %}{{ weight_unit }}
	       </span>
	       </h3>
	    </div>
    </div>
    <!-- END OF SPECIAL -->
    
    <div class="hr"></div>

	<div id="teas">
        
        {% include 'shop/snippets/products_long.html' %}
        <h2 class="banner">{% trans 'Check out our bestsellers' %} <a href="{% url teas %}">{% trans 'or see our full range of teas' %} &raquo;</a></h2>
    </div>
	<!-- END TEAS LIST -->
	    
    <div id="experts">
        <a href="{% url page _('about') %}"><span class="link"></span></a>
        <div class="glass-text">
            <div class="back"></div>
            <div class="inner">
            <h2>{% trans 'Buy exceptional loose-leaf Chinese teas from the tea experts actually based in China!' %}</h2>
            <p>{% blocktrans %}We're one of the only Western tea companies actually based near farms and tea growing areas in China - we really believe you can taste the difference - {% endblocktrans %}</a>
            </div>
        </div>
    </div>
	
	<div class="hr"></div>
	
	<div id="teaware">
	   {% with teaware as teas %}
	       {% include 'shop/snippets/products_long.html' %}  
	   {% endwith %}
	   
	   <h2 class="banner">{% trans 'Enjoy your Chinese tea in style' %} - <a href="{% url teaware %}">{% trans 'see our full range of teaware' %} &raquo;</a></h2>
	</div>	

    <div class="hr"></div>

{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'en' %}	
	<div id="brewing">
	   <img src="{{ static_url }}images/jasmine-brew-3.jpg"/>
	   <h2>{% trans 'Looking for brewing instructions?' %}</h2>
	   {% blocktrans %}
	   <p>Need some <a href="/how-to-brew-chinese-tea/">brewing basics</a>? Or perhaps you're trying to find the secret to <a href="/how-to-brew-jasmine-pearls-tea/">the perfect Jasmine tea</a> - either way, we've got a full range of <a href="/brewing-guides/">detailed brewing guides for your tea</a> explaining everything you'll need to <a href="/preparing-your-tea-leaves/">prepare</a>, brew and <a href="/appreciating-your-chinese-tea/">appreciate your Chinese tea</a> to the full. That includes <a href="/what-kinds-of-cups-and-pots-do-i-need-to-use-for-chinese-tea/">what kind of cups and pots</a> you should be using, how to <a href="/water-temperature-and-quality/">get the right water temperature</a> for your tea, and the perennial question, <a href="/how-much-tea-should-i-use-to-brew-chinese-tea/">how much tea</a> you should be using for each brew. </p>
	   {% endblocktrans %}
	</div>
	
	<div class="hr"></div>
{% endif %}



	<div id="monthly">
	   <a href="{% url monthly_tea_box %}"><span class="link"></span></a>
	   <div class="glass-text">
	       <div class="back"></div>
	       <div class="inner">
    	       <h2>{% trans 'Your favourite teas delivered to your door every month' %}</h2>
    	       <p>{% blocktrans with price.weight as weight and price.weight_unit as weight_unit and tea.name as tea_name and monthly_discount_low|floatformat:"-2" as discount %}
    	       Get a monthly delivery of great teas direct to your home or office and save {{ discount }}% on the total cost (and postage is totally free too)! Click to start your monthly TeaBox!
    	       {% endblocktrans %}<br/>
    	       </p>
    	   </div>
        </div>
   	</div>	
	
	    {% if ga_is_on %}
		<ul class="rss {% if page.feature_image %}opaque{% endif %}">
	    	<li id="facebook">
			    <div id="fb-root"></div>
			    <script src="http://connect.facebook.net/en_US/all.js#appId=234100573279411&amp;xfbml=1"></script>
			    <fb:like href="http://www.facebook.com/minrivertea" send="false" layout="button_count" width="80" show_faces="false" font="">
			    </fb:like>
			</li>
		</ul>
        {% endif %}

</div>
	
{% endblock %}
