{% extends base_template %}
{% load thumbnail i18n convert_weights %}

{% block pagetitle %}{% trans 'Exceptional Chinese tea delivered to your door' %}{% endblock %}

{% block metadescription %}{% trans 'We sell exceptional Chinese teas and deliver them to your home. Our teas are authentic, hand-picked and traditionally made in our home in China.' %}{% endblock %}


{% block extrajs %}
<script type="text/javascript">

</script>
{% endblock %}

{% block extracss %}
<style type="text/css">

#header {
 border-bottom: ;   
}

ul#nav li a.selected:before {
 display: none;   
}

h1 {
  font-size: 30px;
  margin: 30px 0 0 0;
  float: left;
  width: 100%;
  color: #738693;   
}

#benefits {
  float: left;	
  position: relative;
  width: 100%;
  margin: 20px 0 0px;
}

#benefits a#more {
  font-size: 40px;
  float: right;	
  text-shadow: 1px 1px 0 #fff;
  margin: 0px 30px 0 0;
}

#benefits h2, #teaware h2 {
 color: #738693;
 margin: 20px 0 15px 10px;   
}

#benefits #teas {
  float: left;
  width: 960px;
  margin-top: 0px;
  border-bottom: none;	
  height: auto;
}


#benefits .info:hover {
  box-shadow: 0 1px 4px #d1d1d1;  
}

#benefits .first {
  width: 375px;
  height: 405px;
  position: relative;
}

#benefits .first p {
  color: #555;
  padding: 0 5px;
  font-size: 16px;
}

#benefits .first h3 {
  float: none;
  margin: 10px 0 0 5px;
  font-size: 20px;
}

#price-helper {
    background: none repeat scroll 0 0 transparent;
    color: #555555;
    float: right;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin: 5px 0 0;
    padding: 15px 5px 5px;
    text-align: right;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0px;
}

#price-helper div {
    border-right: 1px solid #E1ECF3;
    float: left;
    height: auto;
    padding: 0 10px;
    text-align: center;
    width: auto;
}

#price-helper div:last-child {
   border-right: none;  
   width: 135px; 
}

#price-helper div.stocks {
  width: auto;   
}

#price-helper div.postage-cost {
  width: auto;   
}

#price-helper div span {
    color: #59849F;
    float: left;
    font-size: 30px;
    font-weight: bold;
    left: -2px;
    position: relative;
    text-align: center;
    top: 0;
    width: auto;
}


#price-helper a {
  font-weight: bold;
}

.first #price-helper {
  font-size: 16px;
}

.first #price-helper div {
  width: auto;
  letter-spacing: -0.5px; 
  float: right;
  margin-right: 15px;  
}

.first #price-helper div.stocks {
  float: left;   
}

#benefits img {
  margin: 0;
}


#special {
  float: left;	
  width: 920px;
  padding: 10px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  margin: 20px 0 0px 0;
}

#special:hover {
   box-shadow: 0 1px 5px #d1d1d1;   
}

#special:hover #price a {
  color: #FF6569;   
}

#special #price {
  font-family: Helvetica, arial, sans-serif;
  color: #777;   
  letter-spacing: -1px;
  position: absolute;
  right: 30px;
  bottom: 18px;
  text-align: right;
  font-size: 20px;
  line-height: 1.2em;
}

#special #price span {
  font-weight: bold;
  color: #333;   
}

#special #price a {
  font-weight: bold;
  font-size: 18px; 
  letter-spacing: -0.5px;  
}

#special h2 {
    bottom: 18px;
    color: #999999;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: -0.5px;
    margin: 0;
    width: 350px;
    position: absolute;
    left: 30px;
    text-shadow: 0 1px 1px #FFFFFF;
}


#special img {
  float: left;
  margin-right: 20px;
}

#special #click {
    bottom: 30px;
    font-size: 18px;
    position: absolute;
    right: 20px;
    width: 240px;
    z-index: 40;
    opacity: 0;
}


.tag {
    left: 0px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-decoration: none;
    top: -3px;
    z-index: 0;
}

.tag {
  width: 300px;
  height: 13px; 
  -webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg); 
  -o-transform: rotate(-45deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  background: #1e70cb;
  display: block;
  position: absolute;
  top: 55px;
  left: -100px;
  padding: 10px;
}

.tagtext {
  position: absolute;
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

ul.rss {
    left: 400px;
    top: 38px;
    width: 80px;
}

#about {
  width: 100%;
  float: left;
  margin: 30px 0;   
}

#about .info.follow {
  border: none;
  background: none;
  padding: 0; 
  width: auto;
  margin: 10px 0 0 0;  
}

#about .info.follow h3 {
  float: left;
  position: relative;
  top: 8px;
  margin-right: 20px;
  font-size: 18px;
  color: #FF6569;
}

#about img {
  float: left;
  margin: 10px 0 0;   
}

#about #text {
  float: left;
  width: 490px;
  margin: 0 40px 0 0;  
}

#about h2 {
  margin: 0 0 10px 0; 
  float: left; 
  color: #738693; 
}

#about p {
  margin: 0 0 10px 0;
  float: left;
}

#teaware {
  margin: 30px 0 0 0;
  float: left;
  width: 100%;   
}



#monthly {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 3px dotted #E1E1E1;
    border-top: 3px dotted #E1E1E1;
    float: left;
    height: auto;
    margin: 30px 0 20px;
    padding: 20px 0;
    width: 100%;
}

#monthly .button {
  width: 145px;
  font-size: 15px;
  padding: 8px 20px;
  text-align: center;  
  margin: 5px 0; 
  top: 0;
  float: left;
}

#monthly h3 {
    background: none repeat scroll 0 0 #59849F;
    border-radius: 5px 0 0 5px;
    color: #fff;
    text-shadow: 0 1px 1px #333;
    float: left;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 32px;
    font-weight: bold;
    height: 45px;
    letter-spacing: -1.5px;
    margin: 0 40px 0 0;
    padding: 25px 0 10px;
    position: relative;
    text-align: center;
    width: 160px;
}

#monthly h3:before {
    border-color: transparent -moz-use-text-color transparent #59849F;
    border-style: solid none solid solid;
    border-width: 40px 0 40px 20px;
    content: " ";
    display: block;
    position: absolute;
    right: -20px;
    top: 0;
}

#monthly div {
    display: block;
    float: left;
    letter-spacing: -0.2px;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
    width: 450px;
}

#monthly div span {
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;   
  font-weight: bold;
  letter-spacing: -0.5px;
}

#monthly div.more {
    float: right;
    font-family: Helvetica,sans-serif;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 1em;
    margin: 10px 20px 0 0;
    text-align: right;
    width: 120px;
}

#monthly img {
  float: left;
  margin: 0;   
}

#brewing {
  float:left;
  background: #fff;
  width: 96%;
  padding: 2%;
  margin: 20px 0;
}

#brewing h2 {
  color: #738693; 
  margin: 10px 0 0;   
}

#brewing img {
  float: left;
  margin: 0 20px 0 0;   
}

#brewing p {
  padding-right: 30px;   
}


</style>
{% endblock %}


{% block content %}
  </div>
</div>

<div class="sp">

    <h1>{% trans 'Buy exceptional loose-leaf Chinese teas from the tea experts actually based in China!' %}</h1>
    
    {% include "shop/snippets/feb-2013.html" %}


	<div id="benefits">
	   <h2>{% trans 'Check out our bestsellers below' %} <a class="underline" href="{% url finder _('teas') %}">{% trans 'or see our full range of teas here' %} &raquo;</a></h2>
		<div id="teas">
			{% for t in teas %}
			    {% if forloop.first %}
			         <div class="info tea first">
    				    <a href="{{ t.get_absolute_url }}"><span class="link"></span></a>
    				    {% thumbnail t.image thumb_home_large crop="center" as im %}
    					<a alt="{% blocktrans with t.name as name %}a picture of our {{ name }} Chinese tea{% endblocktrans %}" title="{{ t.name }}" href="{{ t.get_absolute_url }}">
    						<img alt="{{ t.description }}" src="{{ im.url }}"/>
    					</a>
    				    {% endthumbnail %}
    				    <h3><a href="{{ t.get_absolute_url }}">{{ t.name }}</a> &raquo;</h3>
    				    <p>{{ t.description }}</p> 				       
 				        <div id="price-helper">
 				           <div class="stocks"><strong>{{ currency.symbol }}{{ t.price.price|floatformat:"-2" }}</strong> {% if t.price.weight %}/ {% convert_weights request t.price.weight %}{{ weight_unit }}{% endif %}</div>
 				           {% if t.stocks.count > 0 %}<div class="stocks"><strong>{{ t.stocks.count }}</strong> {% trans 'in stock now!' %}</div>{% endif %}
		                   <div><a href="{{ t.get_absolute_url }}">{% trans 'Click for more info' %} &raquo;</a></div>      
 				        </div>
    				</div>
			    
			    {% else %}
                     {% include 'shop/snippets/product_small.html' %}
				{% endif %}
			{% endfor %}
		</div>
	</div>	


	{% if request.user.is_superuser %}
	<div id="monthly">
	   <h3>
	       {% trans 'TeaBoxes' %}<br/>
	   </h3>
	   <div class="more">
	       <a href="{% url monthly_tea_box %}">Start your TeaBox &raquo;</a>
	   </div>
	   <div class="months">
	       {% blocktrans with price.weight as weight and price.weight_unit as weight_unit and tea.name as tea_name and monthly_discount_low|floatformat:"-2" as discount %}
	       <span>Your favourite tea delivered to your door every month</span><br/>
	       Get a monthly delivery of great teas direct to your home or office and save {{ discount }}% on the total cost (and postage is totally free too)!
	       {% endblocktrans %}
	   </div>
   	   <img src="{{ static_url }}images/homepage/home-monthly2.jpg" />
	</div>
	{% endif %}

{% if request.user.is_superuser %}	
	<div id="brewing">
	   <img src="{{ static_url }}images/jasmine-brew-3.jpg"/>
	   <h2>Looking for brewing instructions?</h2>
	   <p>Need some <a href="/tea-brewing-basics/">brewing basics</a>? Or perhaps you're trying to find the secret to <a href="/the-perfect-jasmine-tea/">the perfect Jasmine tea</a> - either way, we've got a full range of <a href="/brewing-guides/">detailed brewing guides for your tea</a> explaining everything you'll need to <a href="/preparing-your-tea-leaves/">prepare</a>, brew and <a href="/appreciating-tea-101/">appreciate your Chinese tea</a> to the full. That includes <a href="/what-kinds-of-cups-and-pots-do-i-need-to-use-for-chinese-tea/">what kind of cups and pots</a> you should be using, how to <a href="/chinese-tea-brewing-water-temperature/">get the right water temperature</a> for your tea, and the perennial question, <a href="/how-much-tea-should-i-use-to-brew-chinese-tea/">how much tea</a> you should be using for each brew. </p>
	</div>
{% endif %}	

	<div id="about">
	   <div id="text">
	   <h2>{% blocktrans %}A big <em>ni hao</em> from China!{% endblocktrans %}</h2>
	   <p>{% blocktrans %}We are one of the only tea companies actually based in China. Most of our competitors in the US/UK buy through large wholesalers and often have never visited a tea farm themselves! We're able to sell better teas at lower prices because we talk to farmers directly, in their language, and only buy from farms we've visited personally. {% endblocktrans %}<a href="/about/">{% trans 'Find out more about us' %} &raquo;</a></p>
       {% include 'shop/boxes/follow.html' %}
       </div>
       <img src="{{ static_url }}images/homepage/home-about.jpg" />
	</div>


	
	
	<div id="teaware">
	   <h2>{% trans 'The perfect way to enjoy your favourite pot of Chinese tea' %}</h2>
	       {% for t in teaware %}
	           {% include 'shop/snippets/product_small.html' %}  
	       {% endfor %}
	</div>

	
	    {% if ga_is_on %}
		<ul class="rss {% if page.feature_image %}opaque{% endif %}">
	    	<li id="facebook">
			    <div id="fb-root"></div>
			    <script src="http://connect.facebook.net/en_US/all.js#appId=234100573279411&amp;xfbml=1"></script>
			    <fb:like href="http://www.facebook.com/minrivertea" send="false" layout="button_count" width="80" show_faces="false" font="">
			    </fb:like>
			</li>
		</ul>
        {% endif %}

</div>
	



{% endblock %}
