{% extends base_template %}
{% load thumbnail i18n %}

{% block metadescription %}{% if product.meta_description %}{{ product.meta_description|safe }}{% else %}{{ product.name }} - {{ product.description|safe }}{% endif %}{% endblock %}
{% block pagetitle %}{% if not product.meta_title %}{{ product.name }}{% else %}{{ product.meta_title }}{% endif %}{% endblock %}

{% block canonical %}
    
    <link rel="canonical" href="{{ site_url }}{{ product.get_absolute_url }}" />


{% endblock %}

{% block extrajs %}
<script type="text/javascript">


    $('.info.tea').hover( function() {
        $('.rollover', this).animate({
           'left': '0', 
        }, 100); 
    }, function() {
        var h = ($('.rollover', this).width()+30);
        $('.rollover', this).animate({
           'left': '-'+h, 
        }, 100);   
    });

$('.info.tea a.button, .info.tea a.plus').bind('click', addToBasket);

function addToBasket() {
	  
	  var thisButton = $(this)
	  var idx = $(this).attr('id');

      thisButton.parent('.info.tea').append('<img id="loading" src="{{ static_url }}images/loading.gif"/>');

	  $.ajax({
	      url: thisButton.attr('href'),
	      type: "GET",
	      dataType: 'json',
	      success: function(data){
            
            /// INCREMENT HEADER 'BASKET' VALUES
            if ($('#userbasket').hasClass('selected')) {} else {
                $('#userbasket').addClass('selected');
                $('#userbasket #quantity').append('<a href="{% url basket %}" title="{% trans 'View your basket' %}" alt="{% trans 'View your basket' %}">{% trans 'Checkout now' %} &raquo;</a>'); 
            }
            $('#quantity .p').text(parseFloat(data.basket_value).toFixed(2));
            $('#quantity .q').html(parseInt($('#quantity .q').html(), 10)+1);
            
            /// INCREMENT MONTHLY SUBTOTAL
            $('#subtotal .amount .num').html(data.monthly_price);
            $('#subtotal .items .num').html(parseInt($('#subtotal .items .num').html(), 10)+1);
            
            /// INCREMENT THE 'ALREADY IN BASKET' VALUE NEXT TO PRODUCT
            thisButton.parent('.info.tea').addClass('green');
                        
            if (thisButton.parent('.tools').parent('.in-basket').find('.quantity').length) {
    	   	   var curr = thisButton.parent('.tools').parent('.in-basket').find('.num');
        	   curr.html(parseInt(curr.html(), 10)+1);
        	} else {
        	  	thisButton.parent('.info.tea').find('.in-basket').append(
        	  	'<span class="quantity"><span class="num">1</span> {% trans "in your TeaBox!" %}</span>');
        	}
        	
        	/// REMOVE THE 'ADD TO BASKET' BUTTON
        	thisButton.parent('.info.tea').find('.tools').removeClass('hide');
        	thisButton.parent('.info.tea').find('a.button').remove();
        	
        	
        	$('#loading').remove();

		  } /// END SUCCESS FUNCTION
	  });
	  return false;
}

function changeMonths() {
   $('#choose-months a.changemonths').click( function() {
       $('#products').html('<img id="loading" src="{{ static_url }}images/loading.gif"/>');
       var obj = $(this);
       $.ajax({
         url: obj.attr('href'),
         type: 'GET',
         dataType: 'json',
         success: function(data) {
            $('a.changemonths').removeClass('selected');
            obj.addClass('selected');
            $('#products').html(data.html);
            $('#userbasket #quantity .p').html(data.basket_amount);
            $('#subtotal .amount .num').html(data.monthly_amount);
            $('#subtotal .items .months').html(data.months);
            $('#loading').remove();
            $('.info.tea a.button').bind('click', addToBasket);
         }
        
       }) 
       return false;  
   }); 
}

$(document).ready( function() {
    changeMonths();
});


</script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ static_url }}css/teas.css"/>
<style type="text/css">


.tea-top {
    float: left;
    margin: 15px 0 0px;
}

.tea-top .left {
  width: 500px;
  float: left;   
}


.tea-top .description {
  width: 600px;
  float: left;	
}

.tea-top div.description p {
  font-size: 20px;
  font-weight: 100;
  margin: 0 0 0px 0;
}

.loading {
    left: 240px;
    position: absolute;
    top: 160px;
    z-index: -1;
}

#monthly {
    background: none repeat scroll 0 0 transparent;
    float: left;
    height: auto;
    margin: 0px 0 30px 0;
    padding: 0;
    width: 100%;
    position:relative;
}

#choose-months {
    border-bottom: medium none;
    float: left;
    width: 100px;
    text-align: center;
    margin: 0 0 0 30px;
}

#subtotal {
    background: none repeat scroll 0 0 #e9f4e8;
    float: left;
    margin: 0 0 0 0px;
    padding: 15px 30px;
    text-align: center;
    width: auto;
    border-left: 1px solid #e6e6e6;
}

#choose-months h3, #subtotal h3 {
  font-size: 13px;
  color: #333;
  margin: 0px 0 5px ;   
}

#choose-months ul {
  float: left;
  list-style-type: none;
  margin: 0;  
  padding: 0;
}

#choose-months ul li {
  font-size: 13px;
  color: #59849F;
  float: left;
}

#choose-months ul li a {
    background: #f6f6f6;
    padding: 5px 10px;
    margin: 0 0px 0 0px;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: -0.2px;
    text-align: center;
    text-decoration: none;
    color: #777;
    position: relative;
    width: 80px;
    float: left;
    border-top: 1px solid #e6e6e6;
}

#choose-months ul li a .tick {
  display: none;   
}

#choose-months ul li:last-child a {
    border-right: none;
    margin-right: 0;
}

#choose-months ul li a:hover {
  color: #333;
  background: #e8ede7;   
}

#choose-months ul li a.selected {
  font-weight: bold;
  background: #e9f4e8;
  color: #333;
  font-size: 13px;  
  position: relative;
  left: 0px;
  border-left: 1px solid #f1f1f1;
}

#choose-months ul li a.selected:hover:before {
  border-color: #D30000 transparent -moz-use-text-color;   
}

#subtotal .amount {
  font-size: 30px;
  color: #18691E;   
}

#subtotal .items {
    color: #999999;
    font-size: 13px;
}

#monthly .info.tea {
    background: none repeat scroll 0 0 #F6F6F6;
    margin-bottom: 0;
    padding: 5px;
    width: 98%;
    font-size: 13px;
}

#monthly .info.tea:first-child {
  border-top: 1px dashed #e1e1e1;   
}

#monthly .info.tea:last-child {
  border-bottom: 1px dashed #e1e1e1;   
}

#monthly .info.tea:hover {
   opacity: 0.8;   
}

#monthly .info.tea.grey {
  background: #f9f9f9;   
}

#monthly .info.tea.green {
  background: #e9f4e8;   
}

#monthly .info.tea .image {
  float: left;
  width: 50px;
  height: 50px;
  margin: 0 10px 0 0;   
  overflow: hidden;
  background: #fff;
}

#monthly .info.tea .inner {
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 80px;
  margin: auto 0;
  height: 15px;   
}

#monthly .info.tea .price, #monthly .info.tea .title, #monthly .info.tea .weight, #monthly .info.tea .in-basket, #monthly .info.tea .tools  {
  float: left;
}

#monthly .info.tea .title {
  width: 250px;   
}

#monthly .info.tea .weight {
  width: 80px;
  color: #777;   
}

#monthly .info.tea .price {
  font-weight: bold;
  width: 80px;
}

#monthly .info.tea .in-basket {
    bottom: 0;
    color: #555555;
    font-size: 15px;
    font-weight: bold;
    height: 10px;
    letter-spacing: -0.5px;
    margin: auto 0;
    position: absolute;
    right: 20px;
    top: 0;
}

#monthly .info.tea a.button {
    bottom: 0;
    height: 11px;
    margin: auto 0;
    padding: 5px 10px;
    position: absolute;
    right: 20px;
    top: 0;
}


#monthly .info.tea .glass-text {
  float: left;
  height: auto;
  width: 400px;   
}

#monthly .info.tea .glass-text .inner {
  height: auto;   
}

#monthly .info.tea.long .glass-text .pricebar {
  height: auto;
  float: left;   
}

#monthly .info.tea h3 {
    float: left;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.5px;
    margin: 0;
    position: relative;
    width: 100%;
}



#products {
  width: 100%;
  float: left;
  padding: 0;
  margin: 20px 0 0;   
}

.info.tea p {
  font-size: 11px;   
}


.info.tea .in-basket .quantity, .info.tea .in-basket .tools {
  float: left;
}

#monthly .info.tea .in-basket .tools.hide {
  display: none;
}

#monthly .info.tea .in-basket .tools {
  float: right;
  margin-left: 10px;   
}

#monthly .info.tea .in-basket .tools a {
    background: none repeat scroll 0 0 #999;
    color: #fff;
    float: left;
    margin: 0 0 0 5px;
    padding: 4px 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: -5px;
    width: 12px;
    z-index: 30;
}

#monthly .info.tea .in-basket .tools a:hover {
  background: #2A8531;   
}

.pricebar {
  text-align: left; 
  padding: 5px 0;  
}

.pricebar p {
  float: left;  
} 

.pricebar .price-weight {
  position: absolute;
  bottom: 1px;
  left: 0;
  float: left;
  width: 100%;
}

#help {
    float: left;
    padding: 0 0 20px;
    width: 100%;
    margin: 0 0 30px 0;
}

#help div {
   float: left; 
   padding: 0 20px;  
}

#help div:first-child {
  padding-left: 0;   
}

#help div:last-child {
  padding-right: 0;
  border-right: none;   
}

#help div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;   
}


#help div ul li {
  margin: 0 20px 0 0; 
  font-size: 16px;
  letter-spacing: -0.5px;
  font-weight: normal;
  color: #555;
}

#help div ul li:first-child {
  color: #59849F;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 1px 1px #fff;
  border-bottom: 1px solid #E1ECF3;
  margin-bottom: 10px;
  font-family: Helvetica, arial, sans-serif;
}

.left {
  width: 700px;
  float: left;
}

</style>
{% endblock %}


{% block currency %}
	{% include 'shop/snippets/currency.html' %}
{% endblock %}


{% block content %}



<div id="mtw">
  <div class="sp">
		
	<h1>{% if product.long_name %}{{ product.long_name|safe }}{% else %}{{ product.name }}{% endif %}</h1>

	<div class="tea-top">
		<div class="description">{{ product.body_text|safe }}</div>
    	    	
    	<div id="choose-months">
    	   <ul>
    	       <li>
    	           <a href="{% url change_monthly_frequency 3 %}" class="changemonths{% if months == 3 %} selected{% endif %}">3 {% trans 'months' %}</a>
    	       </li>
    	       <li>
    	           <a title="{% trans 'Free postage' %}" href="{% url change_monthly_frequency 6 %}" class="changemonths{% if months == 6 %} selected{% endif %}">6 {% trans 'months' %}</a>
    	       </li>
    	       <li>
    	           <a title="{% trans 'Free postage' %}<br/>{{ monthly_discount_low|floatformat }}% {% trans 'discount' %}" href="{% url change_monthly_frequency 12 %}" class="changemonths{% if months == 12 %} selected{% endif %}">12 {% trans 'months' %}</a>
    	       </li>
    	   </ul>
    	</div>
    	
    	<div id="subtotal">
    	   <h3>{% trans 'Your TeaBox subtotal is' %}</h3>
    	   <div class="amount">{{ currency.symbol }}<span class="num">{{ monthly_price|floatformat:"2" }}</span></div>
    	   <div class="items"><span class="num">{{ total_quantity }}</span> {% trans 'items' %} / <span class="months">{{ months }}</span> {% trans 'months' %}</div>    	   
    	</div>
    	
	</div><!-- end top product info div -->
								
	<div id="monthly">	   
	   
	   <div id="products">
	       {% with products as teas %}
	           {% include 'shop/snippets/products_monthly.html' %}
	       {% endwith %}
	   </div>
	</div>
	
	
	
	<div id="right">
	   {% include 'shop/boxes/follow.html' %}
       {% include 'shop/boxes/who.html' %}
	</div>
	
	<div id="left">
	   <a id="guide"></a>
	   {{ product.long_description|safe }}
	</div>




	{% if ga_is_on %}
    <ul class="rss">
		<li id="google">
			<div class="g-plusone" data-size="medium"></div>
			<!-- Place this tag after the last +1 button tag. -->
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
		</li>
		<li id="twitter">
		      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site_url }}{{ product.get_absolute_url }}" data-text="If you like tea, try some @minrivertea {{ product.name }}" data-size="small">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		
		</li>
    	<li id="facebook">
		    <div id="fb-root"></div>
		    <script src="http://connect.facebook.net/en_US/all.js#appId=234100573279411&amp;xfbml=1"></script>
		    <fb:like href="{{ site_url }}{{ product.get_absolute_url }}" send="false" layout="button_count" width="80" show_faces="true" font="">
		    </fb:like>
		</li>
		<li id="pinterest">
		  {% thumbnail tea.image thumb_large crop="" as im %}
		  <a data-pin-config="beside" href="http://pinterest.com/pin/create/button/?url={{ site_url }}{{ product.get_absolute_url }}&media={{ site_url }}{{ im.url }}&description={{ product.description }}" data-pin-do="buttonPin" ><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
		  {% endthumbnail %}
		</li>
	</ul>
	{% else %}
	<ul class="rss"><li><img src="{{ static_url }}images/debug_social.jpg" /></li></ul>
	{% endif %}


</div>
</div>
{% endblock %}
