{% extends "base.html" %}

{% block pagetitle %}Order Complete{% endblock %}


{% block extracss %}
<style type="text/css">


</style>
{% endblock %}

{% block content %}

<div id="main-text-wide">
  <div class="super">

    <h1>Order complete!</h1>
    <p class="introduction">We've received your order and we'll send your tea immediately. We've also sent you an email confirming the details. Thank you and we really hope you enjoy your tea!</p>


<p>Please note, we must confirm payment is received before we can ship any orders. If there is a problem with your order, we will contact you immediately to resolve this. Many thanks for your patience.</p>


<p>If for any reason you need to contact us about your order, email us at <a href="mailto:chris@minrivertea.com">chris@minrivertea.com</a>. We try to respond to emails as soon as possible, but sometimes because of time zone differences, we might take slightly longer. Thanks for your patience!</p>


  </div>
</div>
{% endblock %}
