{% extends "base.html" %}

{% block pagetitle %}Order Complete{% endblock %}

{% block banner %}
	    	<div id="home-banner">
	    	<h2 class="logo-assist">Order complete</h2>
	    	<p class="normal">Congratulations! Your order has been received and we've sent you an email confirming the details.</p>
			
			</div>
{% endblock %}

{% block extracss %}
<style type="text/css">
p {margin-top: 0; margin-bottom: 5px;}
div.row { width: 500px; margin-right: 30px;}
div.row-box input {width: 300px; float: left;}
div.row-box p.intro {margin: -10px 0 20px;}
div.row-box input.twitter-submit {float: left;border: none;width:124px; height:41px;margin: 0px 0px 20px 10px;background:url('/images/twitter-submit.png') no-repeat top left}
div.row-box input.twitter-submit:hover {background: url('/images/twitter-submit.png') no-repeat bottom left; cursor: pointer;}
div.row-box img {float: left; margin-right: 10px; margin-top: -10px;}

</style>
{% endblock %}

{% block content %}

<div id="featured-small"></div>

<div id="main-text-wide">

{% ifequal order None %}

<p class="introduction">You've come through to the 'Completed Order' page, but we don't think you've made an order yet. Try returning to the homepage, and if you think there's been a problem, just get in touch - <a href="mailto:mail@minrivertea.com">mail@minrivertea.com</a>

{% else %}

	{% ifequal shopper.twitter_username None %}
		<form method="post" action="">
		<div class="row">
			<div class="row-label">
				<h3>Want updates on your order via twitter?</h3>
			</div>
				
    		<div class="row-box">
		    	<p class="intro">Enter your twitter username below, and we'll tweet you when your order is confirmed and shipped.</p>
				<input type="text" id="id_twitter_username" name="twitter_username">
				<input type="submit" value="" next="" class="twitter-submit"/>
			</div>		
		</div>
	{% else %}
	<div class="row">
			<div class="row-label">
			<h3>Twitter updates</h3>
			</div>
			<div class="row-box">
			<img src="/images/twitter-small.png"/>
			<p class="intro">We've stored your twitter name as <a href="">@{{ shopper.twitter_username }}</a></p>
			<p class="intro">If you don't want to receive twitter updates when your order is shipped, <a href="{% url turn_off_twitter shopper.id %}">click here to turn off twitter updates.</a></p>
			</div>
	</div>
	
	
	{% endifequal %}

<p>Your order ID is: <strong>{{ order }}</strong></p>
<p><span class="small">* Please note, we must confirm payment is received before we can ship any orders. If there is a problem with your order, we will contact you immediately to resolve this. Many thanks for your patience.</span></p>

{% endifequal %}




</div>
{% endblock %}
