{% extends base_template %}
{% load i18n %}

{% block pagetitle %}{% trans 'Order Complete' %}{% endblock %}


{% block extracss %}
<style type="text/css">


#tweetit {
  background: #fff;
  float: right; 
  width: 300px;
  margin: 20px 0 30px 30px;
  box-shadow: 0 1px 3px #e1e1e1;
  padding: 20px; 
  border-radius: 8px;
}

#tweetit p {
 margin: 0 0 10px 0;   
}

#tweetit .image {
 margin: 20px 0 0;   
}

#tweetit .image p {
  float: left;
  margin: 0 10px 0 0;
  color: #FF6569;
}

.order-details {
    float: left;
    margin: 20px 30px 20px 0;
}

.notices {
  float: right;
  width: 340px;   
}


</style>
{% endblock %}

{% block content %}

<div class="sp">

    <div class="pure-u-18-24">

    <p class="introduction"><strong>Your order is complete! Please check your email inbox for confirmation. </strong> We'll put your order in the post immediately and <a href="mailto:chris@minrivertea.com">feel free to contact us</a> anytime with questions or problems.</p>
    
    <p class="introduction"><strong>Don't close this page yet!</strong> We need to ask a favor because it will really mean a lot to us. We're going to throw a handful of free samples in with your order anyway and in return, could you send out a little tweet or shout out on Facebook? Just click any (or all!) of these buttons and we'll be eternally grateful:</p>
    
    <div class="pure-u-1-4">
        
        <div class="fb-like" data-href="http://www.minrivertea.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        
    </div>
    
    <div class="pure-u-1-4">
        <a href="https://twitter.com/intent/tweet?screen_name=minrivertea&text=Just%20placed%20my%20order!" class="twitter-mention-button" data-size="large" data-related="minrivertea">Tweet to @minrivertea</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    
    </div>

    

    

</div>
{% endblock %}
