{% extends base_template %}
{% load thumbnail nav_selected convert_links i18n %}

{% block aboutselected %}selected{% endblock %}

{% block metadescription %}{{ page.meta_description }}{% endblock %}

{% block pagetitle %}{% if page.meta_title %}{{ page.meta_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}

{% block canonical %}<link rel="canonical" href="{{ site_url }}{{ page.get_absolute_url }}" />{% endblock %}

{% block extrajs %}
<script>
$(function() {
$(".scroll").scrollable({ circular: true }).click(function() {
	$(this).data("scrollable").next();		
});
});

$(function() { 
	$('.hoverbox').hover(
		function() {
			$('div', this).animate({top: '100px',}, 200);
		},
		function() {
			$('div', this).animate({top: '145px',}, 200);
		}
	);	  
});

</script>

{% endblock %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{{ static_url }}css/pages.css">

<style type="text/css">

#special {
  position: relative;
  background: url('{{ static_url }}images/homepage/2014-xmas-banner.jpg') no-repeat left 0px rgba(0, 0, 0, 0);
  height: 300px;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   border-bottom: none;
}

#special .title {
  position: absolute;
  bottom: 10px;
  font-size: 40px;
  font-weight: 100;
  left: 30px;
  right: 0;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;   
}


#special .text {
  position: absolute;
  padding: 15px;
  text-align: center;
  bottom: 80px;
  z-index: 10;
  cursor: pointer;
  width: 100px;   
}

#special .text:hover .back {
  opacity: 0.7;   
}

#special .text:hover:before {
  opacity: 0.7;
}

#special .text:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;     
        border-bottom: 0;
        border-top: 15px solid #fff;
        border-right: 15px solid transparent;
        position: absolute;
        bottom: -15px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 2;
        opacity: 0.8;    
}

#special .text.left {
  left: 30px;
}

#special .text.middle {
    left: 190px;
    margin: 0 auto;
    width: 120px;
}

#special .text.right {
    left: 370px;
    width: 200px;
}

#special .text h3, #special .text p {
  position: relative;
  z-index: 2; 
  margin: 0;  
}

#special .text p {
  font-size: 13px;  
} 

#special .text h3 {
  font-size: 25px;
  color: #b3860b;
  text-transform: uppercase; 
}

#special .text.right h3 {
  font-size: 15px;   
}

#special .text h3 a {
  text-decoration:none;   
}

#special .text .back {
  opacity: 0.8;
  position: absolute;
  background: #fff;
  height: 100%;
  width: 100%;
  top:0;
  left: 0; 
  z-index: 0;  
}

</style>

{% endblock %}

{% block content %}

<div class="sp pure-g">

    <div id="left" class="pure-u-18-24 r-pad">
        
        <h1>{{ page.title }}</h1>
        
		{{ page.content|convert_links|safe }}
	
	</div>

	<div id="right" class="pure-u-6-24 l-pad r-pad">
		{% include 'shop/boxes/who.html' %}
		{% include 'shop/boxes/tea.html' %}
		{% include 'shop/boxes/follow.html' %}
	</div>

	
	
		{% if ga_is_on %}
		<ul class="rss">
			<li id="google">
				<g:plusone></g:plusone>
				<script type="text/javascript">
				  (function() {
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = 'https://apis.google.com/js/plusone.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>
			</li>
	    	<li id="facebook">
			    <div id="fb-root"></div>
			    <script src="http://connect.facebook.net/en_US/all.js#appId=234100573279411&amp;xfbml=1"></script>
			    <fb:like href="{{ site_url }}{{ page.get_absolute_url }}" send="false" layout="button_count" width="80" show_faces="true" font="">
			    </fb:like>
			</li>
		</ul>
		{% endif %}

		
  </div>
</div>


{% endblock %}
