{% extends "base.html" %}
{% load django_static thumbnail %}

{% block aboutselected %}selected{% endblock %}

{% block metadescription %}{{ page.meta_description }}{% endblock %}

{% block pagetitle %}{% if page.meta_title %}{{ page.meta_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}

{% block extrajs %}
<script>
$(function() {
$(".scroll").scrollable({ circular: true }).click(function() {
	$(this).data("scrollable").next();		
});
});

$(function() { 
	$('.hoverbox').hover(
		function() {
			$('div', this).animate({top: '100px',}, 200);
		},
		function() {
			$('div', this).animate({top: '145px',}, 200);
		}
	);	  
});

</script>

{% endblock %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% staticfile '/css/pages.css' %}">
{% endblock %}

{% block content %}



<div id="main-text-wide">
  <div class="super">
  	{% if page.feature_image %}
		{% thumbnail page.feature_image "960" crop="" as im %}
		  <img src="{{ im.url }}" style="margin-bottom: 30px;"/>
		{% endthumbnail %}
		<h1 class="{% if page.feature_image %}fimage{% endif %}">{{ page.title }}</h1>
  	{% else %}
  		<h1>{{ page.title }}</h1>
  	{% endif %}

 
  
	<div id="right">	
	  		  {% include 'shop/snippets/page_navigation.html' %}
	  		  {% if '/about/' in request.path %}
	  		    {% include 'shop/snippets/about_right.html' %}
	  		  {% endif %}
	  		  {% if '/learn/' in request.path %}
	  		    {% include 'shop/snippets/learn_right.html' %}
	  		  {% endif %}
	</div>

	<div id="left">
	    
		{{ page.content|safe }}
	
	
		{% if '/learn/' in request.path %}
			{% if page.get_products_mentioned %}
			<div id="promo">
				<h3>Chinese teas mentioned on this page:</h3>
				{% for p in page.get_products_mentioned %}
					<div>
						{% thumbnail p.image "170x120" crop="center" as im %}
							<a href="{{ p.get_absolute_url }}"><img src="{{ im.url }}"/></a>
						{% endthumbnail %}
						<h4><a href="{{ p.get_absolute_url }}">{{ p }}</a></h4>
						<p>{{ p.super_short_description }}</p>
					</div>
				{% endfor %}
			</div>
			{% endif %}
		{% endif %}
	
	
	</div>

		
  </div>
</div>


{% endblock %}
