{% extends base_template %}
{% load thumbnail nav_selected convert_links i18n %}

{% block aboutselected %}selected{% endblock %}

{% block metadescription %}{{ page.meta_description }}{% endblock %}

{% block pagetitle %}{% if page.meta_title %}{{ page.meta_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}

{% block canonical %}<link rel="canonical" href="http://www.minrivertea.com{{ page.get_absolute_url }}" />{% endblock %}

{% block extrajs %}
<script>
$(function() {
$(".scroll").scrollable({ circular: true }).click(function() {
	$(this).data("scrollable").next();		
});
});

$(function() { 
	$('.hoverbox').hover(
		function() {
			$('div', this).animate({top: '100px',}, 200);
		},
		function() {
			$('div', this).animate({top: '145px',}, 200);
		}
	);	  
});

</script>

{% endblock %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{{ static_url }}css/pages.css">
<style type="text/css">
{% if page.get_breadcrumb|length < 2 %}
ul.rss {
  top: 55px;   
}
{% endif %}
</style>
{% endblock %}

{% block content %}


	{% include 'shop/snippets/page_sub_nav.html' %}


<div id="mtw">
  <div class="sp">

        {% if page.get_breadcrumb|length > 1 %}
        <div id="breadcrumb">
        {% for item in page.get_breadcrumb %}
            {% if forloop.last %}{{ item.title }}{% else %}<a href="{% url page item.slug %}">{{ item.title }}</a> &raquo; {% endif %} 
        {% endfor %}
        </div>
        {% endif %}

	<div id="right">
		{% if nav_tree.two %}
            <div class="info links">
                <h4>{% trans 'Also in this section:' %}</h4>
                <ul>
                {% for x in nav_tree.two %}
                    <li>
                        <a href="{% url page x.slug %}" class="{% nav_selected request x.slug %}">{{ x.title }}</a>
                        {% if nav_tree.three %}
                            <ul class="subnav">
                                {% for y in nav_tree.three %}
                                {% if x == y.parent %}
                                    <li><a href="{% url page y.slug %}" class="{% nav_selected request y.slug %}">{{ y.title }}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
		
		{% include 'shop/boxes/who.html' %}
		{% include 'shop/boxes/tea.html' %}
		{% include 'shop/boxes/follow.html' %}
	</div>

	<div id="left">
        
        
        <h1>{{ page.title }}</h1>

        
		{{ page.content|convert_links|safe }}
	
	</div>
	
		{% if ga_is_on %}
		<ul class="rss">
			<li id="google">
				<g:plusone></g:plusone>
				<script type="text/javascript">
				  (function() {
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = 'https://apis.google.com/js/plusone.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>
			</li>
	    	<li id="facebook">
			    <div id="fb-root"></div>
			    <script src="http://connect.facebook.net/en_US/all.js#appId=234100573279411&amp;xfbml=1"></script>
			    <fb:like href="http://www.minrivertea.com{{ page.get_absolute_url }}" send="false" layout="button_count" width="80" show_faces="true" font="">
			    </fb:like>
			</li>
		</ul>
		{% endif %}

		
  </div>
</div>


{% endblock %}
