{% extends base_template %}
{% load django_static i18n %}

{% block extracss %}
<style type="text/css">
</style>
{% endblock %}


{% block pagetitle%}{% trans 'Thanks for your review!' %}{% endblock %}



{% block content %}

<div id="mtw">
  <div class="super">	
    <h1>{% trans 'Thanks for submitting your review!' %}</h1>
    <p class="introduction">{% trans 'It means a lot to us, and we read every single one.' %}</p>
	<p>{% trans 'We may decide to publish your review on our website, to help others choose their tea with confidence.' %}</p>
	
  </div>
</div>
				

    {% endblock %}
