{% extends base_template %}
{% load thumbnail i18n %}

{% block metadescription %}{% trans 'Reviews and testimonials about our Chinese tea from our happy customers!' %}{% endblock %}

{% block extracss %}
<style type="text/css">

#mtw #left {
 margin-top: 20px;
 width: 100%;   
}

.review {
 float: left;
 width: 100%;
 margin: 0 0 10px 0;    
}

.image {
 float: left;
 background: #fff;
 padding: 10px;
 margin: 0 20px 0 0;
 box-shadow: 0 1px 3px #e1e1e1;   
}

.name {
 font-family: Helvetica, sans-serif;
 font-weight: bold;
 font-size: 16px;   
}


</style>

{% endblock %}


{% block pagetitle %}{% trans 'What customers say about minrivertea.com' %}{% endblock %}

{% block content %}


<div id="mtw">
  <div class="sp">
  
  	<h1>{% trans 'What our customers are saying about minrivertea.com' %}</h1>

	<div id="left">
		{% for review in reviews %}
		  <div class="review">
    		  <div class="image">
	   	       {% thumbnail review.product.image "180x120" crop="center" as im %}
	   	       <img src="{{ im.url }}">
	   	       {% endthumbnail %}
		      </div>
		      <p>{{ review.short_text }}<br/>
		          <span class="name">{{ review.first_name }} {% if review.url %}from <a title="{% trans 'Read the full review here' %}" href="{{ review.url }}">{{ review.show_url }}</a>{% else %}{% if review.last_name %}{{ review.last_name }}{% endif %}{% endif %} {% trans 'talking about our' %}
		          <a href="{{ review.product.get_absoluteurl }}">{{ review.product }}</a></span>
		      </p>
		   </div>
		{% endfor %}
	
	</div>

  </div>
</div>
{% endblock %}

