{% extends base_template %}
{% load thumbnail i18n %}

{% block metadescription %}{% trans 'Read reviews and testimonials from our happy customers!' %}{% endblock %}

{% block extracss %}
<style type="text/css">


.review p {
 margin: 0;
 font-size: 0.8em;    
}

.review p strong {
  font-size: 15px;   
}


</style>

{% endblock %}


{% block pagetitle %}{% trans 'What customers say about minrivertea.com' %}{% endblock %}

{% block content %}


<div class="sp">
  
  	<h1>{% trans 'What our customers are saying about minrivertea.com' %}</h1>


    <div id="reviews" class="pure-u-18-24">
    {% for r in reviews %}
		  {% if r.lang == 'en' %}
		  <div class="review pure-g">		      
		      
		      <div class="text pure-u-1">
		      
		      <p>
		          <strong>{{ r.first_name|title }} {{ r.last_name|title }} bought <a href="{{ r.product.get_absolute_url }}">{{ r.product }}</a> and said... </strong> <br/>
		          
		          &ldquo;{{ r.short_text }} &rdquo;
		          
		          
		          {% if r.url %}
		              <br/>
		              <a href="{{ r.url }}">Read the full review on {{ r.show_url }}</a>
		          {% endif %}
		          
		          
		          
		          
		      </p>
		      
		      </div>
		   </div>
		   <div class="hr"></div>
		   {% endif %}
		{% endfor %}
    </div>
	

</div>
{% endblock %}

