{% extends "base.html" %}
{% load thumbnail django_static %}

{% block metadescription %}Reviews and testimonials about our Chinese tea from our happy customers!{% endblock %}

{% block extracss %}
<style type="text/css">

#mtw #left {
 margin-top: 20px;
 width: 100%;   
}

.review {
 float: left;
 width: 100%;
 margin: 0 0 10px 0;    
}

.image {
 float: left;
 background: #fff;
 padding: 10px;
 margin: 0 20px 0 0;
 box-shadow: 0 1px 3px #e1e1e1;   
}

.name {
 font-family: Helvetica, sans-serif;
 font-weight: bold;
 font-size: 16px;   
}


</style>

{% endblock %}


{% block pagetitle %}What our customers say about the Min River Tea Farm{% endblock %}

{% block content %}


<div id="mtw">
  <div class="sp">
  
  	<h1>What our customers are saying</h1>

	<div id="left">
		{% for review in reviews %}
		  <div class="review">
    		  <div class="image">
	   	       {% thumbnail review.product.image "180x120" crop="center" as im %}
	   	       <img src="{{ im.url }}">
	   	       {% endthumbnail %}
		      </div>
		      <p>{{ review.short_text }}<br/>
		          <span class="name">{{ review.first_name }} {% if review.url %}from <a title="Read the full review here" href="{{ review.url }}">{{ review.show_url }}</a>{% else %}{% if review.last_name %}{{ review.last_name }}{% endif %}{% endif %} talking about our  
		          <a href="{% url tea_view review.product.slug %}">{{ review.product }}</a></span>
		      </p>
		   </div>
		{% endfor %}
	<div class="did-you-know">
	<a href="/teas/jasmine-pearls/"><span class="link"></span></a>
	<h3>Looking for a birthday gift?</h3>
	<p>Our Jasmine Pearls tea makes a great present for friends and relatives. It has a beautiful and memorable fragrance, and the distinct flavour agrees with all different tastes.</p>
	</div>
	
	</div>
	
	<div id="right">
		<div class="user-photos">
			{% for p in photos %}
				<div class="a-user-photo">
					<div class="photo">
						{% thumbnail p.photo "90x90" crop="center" as im %}
						<img title="{{ p.shopper.first_name }} drinks {{ p.related_product.name }} tea" src="{{ im.url }}">
						{% endthumbnail %}
					</div>
				</div>
			{% endfor %}
			<br clear="all"/>
			<p>* <em>Want to see your photo here? <a href="mailto:chris@minrivertea.com">Send us a picture</a> of you drinking tea, and we'll donate £1 to <a href="http://www.mind.org.uk">Mind UK</a> for every photo we receive.</em></p>
		</div>
	</div>
  </div>
</div>
{% endblock %}

