{% extends base_template %}
{% load thumbnail django_static i18n convert_weights %}

{% block metadescription %}{% if tea.meta_description %}{{ tea.meta_description|safe }}{% else %}{{ tea.name }} - {{ tea.description|safe }}{% endif %}{% endblock %}
{% block pagetitle %}{% if not tea.meta_title %}{{ tea.name }}{% else %}{{ tea.meta_title }}{% endif %}{% endblock %}

{% block canonical %}
    
    <link rel="canonical" href="http://www.minrivertea.com{{ tea.get_absolute_url }}" />


{% endblock %}


{% block extrajs %}
<script>
$(function() {

$(".scrollable").scrollable();

$(".items img").click(function() {

	if ($(this).hasClass("active")) { return; }
	var url = $(this).attr("alt");
	var wrap = $("#image_wrap").fadeTo("medium", 0.2);

	var img = new Image();
    
	img.onload = function() {
		wrap.fadeTo("fast", 1);
		wrap.find("img").attr("src", url);	
	};

	img.src = url;

	$(".items img").removeClass("active");
	$(this).addClass("active");

}).filter(":first").click();
});

function addToBasket(idx) {
   $('a#add_to_basket_' + idx).click( function() {
   	  $('#price_' + idx).css('opacity', '0.5');
   	  $('#price_' + idx + ' .message').replaceWith('<div class="message"></div>').toggle();
   	  $('#price_' + idx + ' div.message').fadeIn(200);
   	  $.ajax({
   	      url: '/basket/add/' + idx,
   	      type: "GET",
   	      data: "xhr=true&id=" + idx,
   	      dataType: 'json',
   	      success: function(data){

    		$("#basket-number").replaceWith('<span id="basket-number">(' + data.quantity + ')</span>');
    		$('.description').css('opacity', '0.4').delay(3900).queue(function() {$(this).css('opacity', '1')});
            $('#price_' + idx + ' .message').append(data.item).delay(4800).fadeOut(1200);
            $('#price_' + idx).css('opacity', '1');
  		  }
   	  })
   	  return false;
   });	
}

$(document).ready( function() {
    addToBasket({{ price.id }});
    addToBasket({{ big_price.id }});
});


</script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% staticfile '/css/teas.css' %}"/>
<style type="text/css">

#mtw #left {
  background: #fff;
  border: 10px solid #E1ECF3;
  padding: 55px 15px 15px;
  width: 910px;
  position: relative;   
}

#mtw #left h2 {
  background: #E1ECF3;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 930px; 
  font-family: Helvetica, Arial, sans-serif;  
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -1px;
}

h1 {
  font-size: 40px;	
  margin-bottom: 10px;
}

h1 span {
  font-size: 30px;
  color: #999;
  margin-left: 10px;	
}

div.product-photos-small {
    float: left;
    margin: 0px 0 0px 15px;
    text-align: right;
    width: 50px;
}

.tea-top .left {
    float: left;
    height: auto;
    margin-right: 30px;
    width: 565px;
}

.tea-top div.main-image div.product-photos-small img {
    float: left;
    margin: 0 0px 10px 0;
    opacity: 0.6;
}

.tea-top div.main-image div.product-photos-small img:last-child {
  margin-right: 0;	
}

.tea-top div.main-image div.product-photos-small img:hover {
  cursor: pointer;
  opacity: 0.8;	
  box-shadow: 0 1px 3px #999;
}

.tea-top div.main-image div.product-photos-small img.active {
  opacity: 1;	
}

div.product-photos-small p {
    float: left;
    font-size: 13px;
    line-height: 1.3em;
    margin-top: 20px;
    text-align: right;
    width: 100px;
}

.tea-top {
    float: left;
    margin: 10px 0 30px;
    padding-bottom: 10px;
}

.tea-top .description {
  width: 365px;
  float: right;	
}

.tea-top div.description p {
  font-size: 20px;
  color: #333;	
  margin: 0 0 10px 0;
  text-shadow: 2px 2px 0 #fff;
}

.tea-top div.description p.small {
  font-size: 16px;	
}

.tea-top div.main-image {
    float: left;
    width: 565px;
}

.tea-top div#prices {
    float: right;
    width: 365px;
    margin: 15px 0 0;
}

.tea-top .price {
    float: left;
    margin: 0;
    position: relative;
    width: 360px;
}

.tea-top #original {
  float: left;
  width: 360px;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 13px; 
  margin: 0 0 30px 0;
}

.tea-top #original span {
    background: none repeat scroll 0 0 red;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: -0.5px;
    padding: 5px 10px;
    text-decoration: normal;
    text-shadow: 0 1px 1px #555;
}

.price.big {
  float: left;
  margin: 10px 0 0 0; 
  width: 225px;  
}

a.button {
    float: right;
    font-size: 18px;
    margin: 0;
    position: relative;
    width: 170px;
    top: -5px;
    padding: 11px 20px 9px;
    text-align: right;
}

.price.big a.button {
   float: left;
}



.tea-top div.tea-description {
  float: left;
  width: 330px;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.price-text {
    color: #EE6464;
    float: left;
    font-size: 28px;
    font-weight: bold;
    height: 23px;
    letter-spacing: -1px;
    margin: 0;
    position: relative;
    top: -4px;
    width: 200px;
}

div.message {
    background-color: #FFFFFF;
    border: 1px solid #C1C1C1;
    border-radius: 5px 5px 5px 5px;
    display: none;
    height: auto;
    padding: 15px;
    position: absolute;
    right: 0;
    top: -135px;
    width: 260px;
    z-index: 10;
}

div.message:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 15px solid #d1d1d1;         
        border-bottom: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        bottom: -15px;
        right: 25px;
        z-index: 1;
        margin-left: ;
}

.message:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 15px solid #fff;     
        border-bottom: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        bottom: -14px;
        right: 25px;
        z-index: 2;
        margin-left: -1px;
}

div.message p {
  margin: 0;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2em;
}

div.message p a {
  font-size: 20px;
  line-height: 1em;	
  color: #f37679;
  font-family: Helvetica, Arial, sans-serif;
}

div.message p span.tick {
  color: #237A2A;
  font-size: 30px;   
}

div.message p a:hover {
  text-decoration: underline;	
}

div.message img {
  float: left;
  margin-right: 5px;
  margin-bottom: 15px;	
}

table.details {
    margin-top: 10px;
}

table.details tr {
  padding-bottom: 10px;	
}

table.details td {
  padding: 15px;	
  background-color: #fff;
}

table.details td a {
  font-size: 12px;	
}

table.details td.left {
  padding-right: 10px;
  background-color: #E1ECF3;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

span.name {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;   
}

.amount {
    color: #237A2A;
    float: left;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 1em;
    margin: 0 0 10px;
    position: relative;
    text-shadow: 1px 1px 0 #FFFFFF;
}

.price.big .amount {
   font-size: 35px;
   margin: 5px 0 15px;   
}

.price-description {
    color: #555555;
    float: left;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    left: 5px;
    line-height: 1em;
    margin: 0 0 0 5px;
    position: relative;
    width: 90px;
}

.price-description span {
  color: #666;
}

.price.big .price-description {
  margin: 5px 0 15px 10px;
     
}


div.fb-recommend {
  margin-top: 20px;
  float: left;	
}

#facebook, #google {
  float: left;
  width: 80px;
}

#google {
  margin-bottom: 10px;
}

.loading {
    left: 240px;
    position: absolute;
    top: 160px;
    z-index: -1;
}

#recommended {
  float: left;
  width: 100%;
  margin: 0px 0 0 0;   
}

#recommended h3 {
  font-size: 24px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:bold;  
  margin: 0 0 20px 0; 
  color: #FF6569;
}

#recommended .text .price {
  width: auto;
  color: #777;
  font-weight: normal;
  margin-left: 0;   
}

#recommended .price strong {
  color: #333;   
}

#recommended .info {
  margin: 0 15px 20px 0;   
  height: 235px;
  width: 225px;
  background: #fff;
  border: 10px solid #E1ECF3;
}

#recommended .info.trans {
  margin: 0 15px 19px 0;
  padding: 0px;   
  width: auto;
  height: 160px;
  border-color: #fff;
}

#recommended .info .text {
   width: 230px;
   background: #fff;
   padding: 3px 5px 0;
   float: left;
   position: absolute;
   bottom: 0;
}

#recommended .info .text h3 {
  text-align: right;
  color: #6a9bba;
  font-size: 13px;
  margin: 6px 0 0 0;
}

#image_wrap {
    display: block;
    height: 331px;
    width: 500px;
    float: left;
}


#long-description, #brew {
  float: left;
  width: 300px;  
  margin: 0 30px 0 0; 
}

#long-description p, #brew p, #map p {
  font-size: 13px; 
  margin: 0 0 20px 0;  
}

#long-description h3, #brew h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;   
}

#map {
  float: left;
  width: 255px;
  margin: 0 30px 0 0;
  position: relative;  
} 

#map img {
  float: left;
  margin: 0 0 15px 0;   
}

#map h3 {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;   
}

#shipping {
  width: 300px; 
  background: transparent;
  border: none;
  padding: 0;
  margin: 10px 0 0 0;  
}

#shipping img {
  float: left; 
  margin: 0 0 25px 0;  
}

#shipping #shipping-amount {
    color: #999999;
    float: left;
    font-size: 40px;
    left: 12px;
    line-height: 1em;
    padding: 0;
    position: relative;
    text-shadow: 1px 1px 0 #FFFFFF;
    top: -2px;
}


#monthly {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 3px dotted #E1E1E1;
    border-top: 3px dotted #E1E1E1;
    float: left;
    height: auto;
    margin: 30px 0 20px;
    padding: 20px 0;
    width: 100%;
}

#monthly .button {
  width: 145px;
  font-size: 15px;
  padding: 8px 20px;
  text-align: center;  
  margin: 5px 0; 
  top: 0;
  float: left;
}

#monthly h3 {
    background: none repeat scroll 0 0 #59849F;
    border-radius: 5px 0 0 5px;
    color: #fff;
    text-shadow: 0 1px 1px #333;
    float: left;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 32px;
    font-weight: bold;
    height: 45px;
    letter-spacing: -1.5px;
    margin: 0 40px 0 0;
    padding: 25px 0 10px;
    position: relative;
    text-align: center;
    width: 135px;
}

#monthly h3:before {
    border-color: transparent -moz-use-text-color transparent #59849F;
    border-style: solid none solid solid;
    border-width: 40px 0 40px 20px;
    content: " ";
    display: block;
    position: absolute;
    right: -20px;
    top: 0;
}

#monthly div {
  display: block;
  float: left;
  width: 480px;
  margin: 0 30px 0 0;
  font-size: 14px; 
  padding: 15px 0 0;  
}

#monthly div span {
  font-size: 17px;
  font-family: Helvetica, Arial, sans-serif;   
  font-weight: bold;
  letter-spacing: -0.5px;
}

#monthly div.price {
  width: 180px; 
  margin: 0;
  padding-top: 10px;  
}

#monthly div.price span {
  font-size: 26px;
  color: #237A2A;
}

#monthly div.price a.add-more {
  font-size: 13px;
  float: right;
  margin: 5px 0 0 0;
}

#monthly div.price span.grey {
    color: #777777;
    font-size: 13px;
    font-weight: normal;
}

</style>
{% endblock %}


{% block currency %}
	{% include 'shop/snippets/currency.html' %}
{% endblock %}


{% block content %}


{% if tea.category.parent_category.slug == 'teas' %}
    {% include 'shop/snippets/teas_sub_nav.html' %}
{% endif %}


<div id="mtw">
  <div class="sp">
		
	<h1>{% if tea.long_name %}{{ tea.long_name|safe }}{% else %}{{ tea.name }}{% endif %}</h1>

	<div class="tea-top">
		<div class="left">
		<div class="main-image">
			<img class="loading" src="{% staticfile '/images/loading.gif' %}"/>
			<div id="image_wrap">	
				<img src="{% staticfile '/images/blank.gif' %}" width="500px" height="331px" /> 
			</div>
		
		    <div class="product-photos-small">
			<div class="scrollable">   
			   <div class="items">
  			    <div>
  			        {% thumbnail tea.image thumb_small crop="center" as im %}
  			    		{% thumbnail tea.image thumb_large crop="center" as im_large %}
						<img class="product-small" alt="{{ im_large.url }}" title="{{ tea.description }}" src="{{ im.url }}"/></a>
						{% endthumbnail %}
					{% endthumbnail %}
					
					{% if tea.image_2 %}
  			    	{% thumbnail tea.image_2 thumb_small crop="center" as im %}
  			    		{% thumbnail tea.image_2 thumb_large crop="center" as im_large %}
						<img class="product-small" alt="{{ im_large.url }}" title="{{ tea.image_2_caption }}" src="{{ im.url }}"/></a>
						{% endthumbnail %}
					{% endthumbnail %}
					{% endif %}
					
					{% if tea.image_3 %}
					{% thumbnail tea.image_3 thumb_small crop="center" as im %}
  			    		{% thumbnail tea.image_3 thumb_large crop="center" as im_large %}
						<img class="product-small" alt="{{ im_large.url }}" title="{{ tea.image_3_caption }}" src="{{ im.url }}"/></a>
						{% endthumbnail %}
					{% endthumbnail %}
					{% endif %}
					
					{% if tea.image_4 %}
					{% thumbnail tea.image_4 thumb_small crop="center" as im %}
  			    		{% thumbnail tea.image_4 thumb_large crop="center" as im_large %}
						<img class="product-small" alt="{{ im_large.url }}" title="{{ tea.image_4_caption }}" src="{{ im.url }}"/></a>
						{% endthumbnail %}
					{% endthumbnail %}
					{% endif %}
					
					{% if tea.image_5 %}
					{% thumbnail tea.image_5 thumb_small crop="center" as im %}
  			    		{% thumbnail tea.image_5 thumb_large crop="center" as im_large %}
						<img class="product-small" alt="{{ im_large.url }}" title="{{ tea.image_5_caption }}" src="{{ im.url }}"/></a>
						{% endthumbnail %}
					{% endthumbnail %}
					{% endif %}
      			</div>
      		  </div>
      		</div>
		</div><!-- end product photos small -->
		</div><!-- end main image div -->
		</div>
		
		<div class="description">{{ tea.body_text|safe }}</div>
		
		<div id="prices">
	 	{% if tea.is_active %}
		      <div id="price_{{ price.id }}" class="price">
		      	<div class="message"></div>
		      	{% if price.is_sale_price %}
		      	   <div id="original"><span>On Sale Now!</span> Was <strong>{{ currency.symbol }}{{ price.old_price|floatformat:"2" }}</strong>, save <strong>{{ currency.symbol }}{{ price.get_saving }}</strong></div>
		      	{% endif %}
		    	<span class="amount">{{ currency.symbol }}{{ price.price|floatformat:"-2" }}</span> 
		    	     <span class="price-description">/ {% if price.weight %}{% convert_weights request price.weight %}{{ weight_unit }}{% else %}{{ price.description }}{% endif %}<br/>
		    	</span>
				<a title="{% trans 'Add 1 x ' %} {{ tea.name }} {% if price.weight %}({% convert_weights request price.weight %}{{ weight_unit }}){% endif %} to your basket" href="{% url add_to_basket price.id %}" class="button green" id="add_to_basket_{{ price.id }}"><span class="basket"></span>{% trans 'Add 1 to basket' %}</a>
              </div>

		      <div id="price-helper"> 
		        {% if tea.stocks.count > 0 %}
		          <div class="stocks">{% blocktrans with tea.stocks.count as tsc %}<strong>{{ tsc }}</strong> in stock{% endblocktrans %}</div>
		          <div class="postage-cost">{% blocktrans with currency.symbol as sym and currency.postage_cost as pc and currency.postage_discount_threshold as pdt %}<strong>{{ sym }}{{ pc }}</strong> shipping, free over <strong>{{ sym }}{{ pdt }}</strong>{% endblocktrans %}</div>       
        	    {% else %}
       	          <span class="not-in-stock">{% trans 'Pre-order now and get this on' %} <strong>{{ tea.get_preorder_date|date:"d M Y" }}</strong></span>
        	      <br/>{% trans "We're restocking, so delivery will take longer than usual." %}</a>
			   {% endif %}
		      </div>

		      
		      
		      
		      
		{% else %}
    		  <div id="price-helper">        
            	<span class="not-in-stock">{% trans 'This tea is not currently available for sale.' %}</span>
    		  </div>	
		{% endif %}
		
		</div>
	</div><!-- end top product info div -->
		

	
	{% if tea.map_image %}
    <div id="map">  
              {% thumbnail tea.map_image "255x120" crop="center" as im %}
                <img src="{{ im.url }}"/>
              {% endthumbnail %}
              {% if tea.map_caption %}<p>{{ tea.map_caption|safe }}</p>{% endif %}
                    
          {% if tea.farm_image %}
              {% thumbnail tea.farm_image "255x120" crop="center" as im %}
                  <img src="{{ im.url }}"/>
              {% endthumbnail %}
              {% if tea.farm_caption %}<p>{{ tea.farm_caption|safe }}</p>{% endif %}
          {% endif %}
    </div>
	{% endif  %}
	
	<div id="long-description">
	   <h3>{% trans 'More about this product' %}</h3>
	   {{ tea.long_description|safe }}
	</div>
	
	<div id="brew">
	   {{ tea.extra_info|safe }}
	</div>
	
	<div id="shipping" class="info">
	   <img src="{% staticfile '/images/free-delivery.png' %}"/>
	   <span id="shipping-amount">{{ currency.symbol }}{{ currency.postage_discount_threshold }}</span>
	</div>
	
	
	<br clear="all"/>
	
	{% if request.user.is_superuser %}
	   {% if monthly_price %}
	   <div id="monthly">
    	   <h3>
    	       {% trans 'TeaBox' %}<br/>
    	   </h3>
    	   <div class="months">
    	       {% url monthly_tea_box as url %}
    	       {% blocktrans with price.weight as weight and price.weight_unit as weight_unit and tea.name as tea_name %}
    	       <span>Get {{ weight }}{{ weight_unit }} of {{ tea_name }} delivered to your door every month</span><br/>
    	       Save time and money with a monthly delivery of tea direct to your home or office. We'll even throw in a 10% discount plus a free teapot and cups!
    	       <strong><a href="{{ url }}">Find out more &raquo;</a></strong>
    	       {% endblocktrans %}
    	   </div>
    
    	   <div class="price">
    	       <span>{{ currency.symbol }}{{ monthly_price|floatformat:"2" }} <span class="grey">/ {% trans '12 months' %}</span></span>
    	       <a href="{% url add_to_basket_monthly price.id 12 %}" class="button green">{% trans 'Add to your TeaBox' %}</a><br/>
    	       <a href="{% url monthly_tea_box %}" class="add-more">{% trans 'More teas for your TeaBox' %} &raquo;</a>
    	   </div>
	  </div>
	  {% endif %}
	{% endif %}
	
	<div id="recommended">
	   <h3>{% trans 'Also recommended...' %}</h3>
	   {% for x in recommended %}
		  <div class="info trans">
		      <a href="{{ x.get_absolute_url }}"><span class="link"></span></a>
		      {% thumbnail x.image thumb_medium crop="center" as im %}
		      <img src="{{ im.url }}"/>
		      {% endthumbnail %}
		      <div class="text">
		          <span class="price">
		              <strong>{{ currency.symbol }}{{ x.price.price|floatformat:"2" }}</strong>
		              {% if x.price.weight %} / {% convert_weights request x.price.weight %}{{ weight_unit }}{% endif %}
		          </span> 
    		      <h3><a href="{{ x.get_absolute_url }}">{{ x.name }} &raquo;</a></h3>
		      </div>
		  </div>
	   {% endfor %}
	</div>

	
	{% if region == 'CN' %}
	{% else %}
	{% if ga_is_on %}
    <ul class="rss">
		<li id="google">
			<g:plusone></g:plusone>
			<script type="text/javascript">
			  (function() {
			    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			    po.src = 'https://apis.google.com/js/plusone.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			  })();
			</script>
		</li>
    	<li id="facebook">
		    <div id="fb-root"></div>
		    <script src="http://connect.facebook.net/en_US/all.js#appId=234100573279411&amp;xfbml=1"></script>
		    <fb:like href="http://www.minrivertea.com/teas/{{ tea.slug }}" send="false" layout="button_count" width="80" show_faces="true" font="">
		    </fb:like>
		</li>
	</ul>
	{% endif %}
	{% endif %}


</div>
</div>
{% endblock %}
