{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block metadescription %}{{ tea.name }} - {{ tea.description }}{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% staticfile '/js/prototype.js' %}"></script>
<script type="text/javascript" src="/js/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="{% staticfile '/js/lightbox.js' %}"></script>
{% endblock %}

{% block extracss %}

<link rel="stylesheet" href="{% slimfile '/css/lightbox.css' %}" type="text/css" media="screen" />

<style type="text/css">
  img.leaves {
    float: left;
    margin-right: 30px;	
  }
</style>
{% endblock %}


{% block pagetitle %}{{ site_name }}: {{ tea_lover.first_name }} {{ tea_lover.last_name }} - Tea Lover{% endblock %}


{% block content %}

<div id="mtw">
  <div class="sp">
	<img class="leaves" src="{% staticfile '/images/leaves-large.png' %}">
	<h1>Genuine Chinese Tea Lover</h1>
	<p>This certifies that {{ tea_lover.first_name }} {{ tea_lover.last_name }} is a bona fide tea lover.</p>


</div>
</div>
{% endblock %}
