{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block metadescription %}{{ tea.name }} - {{ tea.description }}{% endblock %}
{% block pagetitle %}{{ tea.meta_title }}{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% staticfile '/js/prototype.js' %}"></script>
<script type="text/javascript" src="/js/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="{% staticfile '/js/lightbox.js' %}"></script>
{% endblock %}

{% block extracss %}

<link rel="stylesheet" href="{% slimfile '/css/lightbox.css' %}" type="text/css" media="screen" />

<style type="text/css">
div.more-info {
  padding-left: 0px;
  margin-bottom: 15px;
  padding-top: 15px;	
  border-top: 1px solid #e1e1e1;
  margin-top: 15px;
}

#home-banner p.normal {
    font-size: 15px;
    width: 500px;
}

h3.more-info {
    margin-bottom:10px;
    margin-top: -3px;
    padding-bottom: 0;
}

div.right-links h3.more-info {
  margin-bottom: 15px;	
  float: left;
  width: 220px;
}


div.other-teas {
    float: left;
    margin: 0 0 10px 10px;
    width: 500px;
}

div.other-tea {
    border-bottom: 1px solid white;
    color: #666666;
    float: left;
    font-size: 0.9em;
    margin-bottom: 20px;
    padding-bottom: 15px;
    width: 460px;
}

div.other-tea.last {
  border-bottom: none;	
}

div.other-tea div.image {
  float: left;
  margin-right: 15px;
}

div.other-tea div.text {
  margin-top: 2px;	
}

div.other-teas h3 {
  font-size: 1.5em;
  text-shadow: 1px 1px #fff;
  margin-bottom: 20px;
}

div.product-photos-small {
    float: left;
    margin: 0 0 15px 0;
    width: 240px;
    text-align: right;
}

div.product-photos-small img {
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 0 10px 0 0;
}

div.product-photos-small p {
    float: left;
    font-size: 13px;
    line-height: 1.3em;
    margin-top: 20px;
    text-align: right;
    width: 100px;
}

div.right-links {
  padding-top: 0px;	
  float: left;
}

div.right-links ul {
    margin: 0 0 0 0;
    padding-left: 15px;
}

div.right-links ul li {
    color: #666666;
    font-size: 13px;
    list-style-type: square;
    margin-bottom: 10px;
    padding-left: 0;
}

div.tea-top {
    float: left;
    margin-top: 10px;
    padding-bottom: 30px;
}

div.image-top {
  height: 5px;
  margin-bottom: 30px;
}

div.tea-top div.main-image {
  width: 500px;
  float: left;
  margin-right: 30px;	
}

div.tea-top div.prices {
    border-top: 2px dotted #E1E1E1;
    float: left;
    margin-bottom: 0px;
    padding-top: 0px;
    width: 270px;
}

div.tea-top div.tea-description {
  float: left;
  width: 270px;
  margin-top: 0px;
  margin-bottom: 10px;
}

div.tea-top div.tea-description p {
  font-size: 13px;	
  margin-top: 0;
}

div.message {
    background-color: #FFFFFF;
    border: medium none;
    float: left;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: 0;
    padding: 3px 0 0;
    width: 70px;
}

div.message p {
  line-height: 1.5em;	
}

div.message a {
  color: #EE6464;	
}

div.message img {
    float: left;
    margin-right: 3px;
    position: relative;
    top: 2px;
}

div.message p {
  font-size: 13px;
  margin: 0; 
  color: #19761C;	
}

table.details {
    color: #333;
    font-size: 13px;
    margin-top: 10px;
    width: 490px;
}

table.details tr {
  padding-bottom: 10px;	
}

table.details td {
  padding: 15px;	
  background-color: #f1f1f1;
}

table.details td a {
  font-size: 12px;	
}

table.details td.left {
  padding-right: 10px;
  font-family:"helveticaneue","helvetica neue","helveticaneueroman","helveticaneue-roman","helvetica neue roman","helvetica","arial",'texgyreherosregular',"tahoma","geneva",sans-serif;	
  background-color: #e1e1e1;
}

ul.reviews {
    color: #666666;
    font-size: 12px;
    list-style-type: none;
    margin-bottom: 30px;
    padding-left: 0;
}

ul.reviews li {
  font-size: 14px;	
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 15px;
  margin-bottom: 20px;
  line-height: 1.6em;
} 

ul.reviews li span {
  color: #BE373A;	
}

h3.small {
  font-size: 15px;	
}

div.product-photos-small p.helper {
    background: url("/images/helper.png") no-repeat scroll left top transparent;
    color: #f1f1f1;
    float: left;
    font-family: Helvetica;
    font-size: 10px;
    height: 7px;
    margin: 0 0 0 30px;
    padding: 15px 8px;
    text-align: left;
    width: 130px;
}

p.price {
    color: #19761C;
    float: left;
    font-family: "helveticaneue","helvetica neue","helveticaneueroman","helveticaneue-roman","helvetica neue roman","helvetica","arial",'texgyreherosregular',"tahoma","geneva",sans-serif;
    font-size: 32px;
    font-weight: bold;
    height: 50px;
    letter-spacing: -1px;
    margin: 0 10px 0 0;
    width: 70px;
}

p.price span.grey {
  color: #999;
  font-weight: 100;	
}

p.price-description {
  font-size: 10px;
  color: #666;
  float: left;
  width: 190px;	
  margin: 9px 0 10px 0;
}

div.facts {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F6F6F6;
    border-color: #F1F1F1 #E1E1E1 #E1E1E1 #F1F1F1;
    border-radius: 10px 10px 10px 10px;
    border-right: 1px solid #E1E1E1;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 20px;
    padding: 15px 15px 15px 20px;
}

div.facts ul {
  list-style-type: square;
  font-size: 13px;
  margin-bottom: 5px;
  margin-top: 5px;	
  padding-left: 15px;
}

div.facts h3 {
  color: #19761C;
  font-size: 18px;	
} 

div.fb-recommend {
  margin-top: 20px;
  float: left;	
}

</style>
{% endblock %}



{% block content %}

<div id="featured-small"></div>



<div id="main-text-wide">
<div class="rss">
Share this page with friends
<a title="Share this tea on facebook" target="_blank" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.minrivertea.com%2Fteas%2F{{ tea.slug }}"><img src="{% staticfile '/images/facebook.png' %}"></a>
<a title="Tweet this tea to your friends" target="_blank" href="http://twitter.com/home?status=http%3A%2F%2Fwww.minrivertea.com%2Fteas%2F{{ tea.slug }}"><img src="{% staticfile '/images/twitter-small.png' %}"></a>
<a title="Checkout photos of this tea and more on flickr" target="_blank" href="http://www.flickr.com/photos/62180582@N04/"><img src="{% staticfile '/images/flickr.png' %}"></a>
</div>
	<h2 class="fontface">{{ tea.name }} tea</h2>
	    		<p class="subtitle">{{ tea.super_short_description }}</p>

	
	<div class="tea-top">
		<div class="main-image">	 
			{% thumbnail tea.image "500x331" crop="center" as im %}
			<img class="product-photo-main" 
				alt="a picture of {{ tea.name }}" 
				title="{{ tea.description }}" 
				src="{{ im.url }}"/>
			{% endthumbnail %}
		</div>
		
		<div class="tea-description">
			{{ tea.body_text|safe }}
		</div>
		<div class="product-photos-small">
			{% if tea.image_2 %}
				{% thumbnail tea.image_2 "550x550" as im %}
				<a href="{{ im.url }}" rel="lightbox[tea]" title="{{ tea.image_2_caption }}">
				{% endthumbnail %}
				{% thumbnail tea.image_2 "50x50" crop="center" as im %}
				<img class="product-small" alt="a picture of {{ tea.name }}" title="{{ tea.image_2_caption }}" src="{{ im.url }}"/>
				{% endthumbnail %}
				</a>
			{% endif %}
			
			{% if tea.image_3 %}
				{% thumbnail tea.image_3 "550x550" as im %}
				<a href="{{ im.url }}" rel="lightbox[tea]" title="{{ tea.image_3_caption }}">
				{% endthumbnail %}
				{% thumbnail tea.image_3 "50x50" crop="center" as im %}
				<img class="product-small" alt="a picture of {{ tea.name }}" title="{{ tea.image_3_caption }}" src="{{ im.url }}"/>
				{% endthumbnail %}
				</a>
			{% endif %}
			{% if tea.image_4 %}
				{% thumbnail tea.image_4 "550x550" as im %}
				<a href="{{ im.url }}" rel="lightbox[tea]" title="{{ tea.image_4_caption }}">
				{% endthumbnail %}
				{% thumbnail tea.image_4 "50x50" crop="center" as im %}
				<img class="product-small" alt="a picture of {{ tea.name }}" title="{{ tea.image_4_caption }}" src="{{ im.url }}"/>
				{% endthumbnail %}
				</a>
			{% endif %}
			{% if tea.image_5 %}
				{% thumbnail tea.image_5 "550x550" as im %}
				<a href="{{ im.url }}" rel="lightbox[tea]" title="{{ tea.image_5_caption }}">
				{% endthumbnail %}
				{% thumbnail tea.image_5 "50x50" crop="center" as im %}
				<img class="product-small" alt="a picture of {{ tea.name }}" title="{{ tea.image_5_caption }}" src="{{ im.url }}"/>
				{% endthumbnail %}
				</a>
			{% endif %}

		</div>
		
		<div class="prices">
		    {% for price in prices %}
		    	<p class="price">{{ price.price_unit }}{{ price.price|floatformat }} <span class="grey">/</span></p> 
		    	<p class="price-description">{{ price.weight|floatformat }}{{ price.weight_unit }} resealable foil bag of premium loose-leaf Chinese  tea. 1-2 days delivery.</p>
		    {% endfor %}
		
			{% for price in prices %}
				<a title="Add 1 {{ tea.name }} ({{ price.weight|floatformat }}{{ price.weight_unit }}) to your basket" href="{% url add_to_basket price.id %}">
				<div class="price{% if forloop.first %} first{% endif %}">  
            	</div>
            	</a>
           	{% endfor %}
           	
           	{% if message %}
	  			<div class="message">
	  				<img src="{% staticfile '/images/tick.png' %}">
					<p>Added!</p>
					<p><a href="{% url basket %}">Checkout &raquo;</a></p>
				</div>
	  		{% endif %}
		</div>
		


	</div>
	
	<div class="image-top"></div>
<br clear="all"/>
	<div id="right"> 
		{% if reviews %}
	<h3>Customer reviews for this tea</h3>
		<ul class="reviews">
		{% for review in reviews %}
			<li><em>"{{ review.short_text }}"</em> <span>{{ review.owner.first_name }} {{ review.owner.last_name }}</span></li>
		{% endfor %}
		</ul>
	{% endif %}          	
           	<div class="info">
           	<img src="{% staticfile '/images/free-delivery.png' %}">
           	</div>
           	

           	  <div class="info">
           	  <h3 class="small">Delivered to your door by Amazon</h3>
           		
           		<p>We offer fast and reliable delivery in 1-2 days through Amazon - <a href="/postage-and-packaging/">find out more &raquo;</a></p> 
           		<img src="{% staticfile '/images/amazon.png' %}" style="margin: 5px 0;"> 
   		
           	  </div>

           	
           	<div class="info">
           	
           	<h3 class="small"><img src="{% staticfile '/images/lock.gif' %}"> Safe and secure payment</h3>
           	<p>We accept all major credit and debit cards through Paypal</p>
           	<img src="{% staticfile '/images/cards.png' %}" style="margin: 0px 0;">
           	
           	</div>
           	

           	
           	<div class="info">
			<h3 class="small">Take a look at our other teas</h3>
				{% for other in others %}
			 		<p class="mail">
			 			<a href="{% url tea_view other.slug %}"><span class="link"></span></a>
			 				{% thumbnail other.image "60x45" crop="center" as im%}
			 				<img class="mail-icon" src="{{ im.url }}" />
			 				{% endthumbnail %}
			 			<a class="title" href="{% url tea_view other.slug %}" title="{{ other.name }} - another one of our great Chinese teas">{{ other.name }}</a>
			 			<br/>{{ other.super_short_description }}
			 		</p>
			 	{% endfor %}
			</div>
           	
      	</div>
           	
  



	<div id="left">


	
		
	{{ tea.long_description|safe }}
	
	<div class="fb-recommend">
	<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=102598969829350&amp;xfbml=1"></script><fb:like href="{{ tea.get_absolute_url }}" send="false" width="450" show_faces="false" action="recommend" font=""></fb:like>
	</div>
	</div>
	

	
	
			
						 


</div>
{% endblock %}
