{% extends "base.html" %}
{% load thumbnail %}

{% block metadescription %}We sell three types of Chinese tea - Iron Buddha (green, oolong), The Big Red (red, oolong) and Jasmine Pearls (green, scented). Each has been specially selected for its unique taste and quality. Each can be delivered to your door in just a few days.{% endblock %}


{% block pagetitle %}choose your Chinese tea{% endblock %}

{% block banner %}
	    	<div id="home-banner">
	    	<h2 class="logo-assist">Choose your tea</h2>
	    	<p class="normal">We offer a simple selection of three great tasting, authentic Chinese teas.</p>
			</div>
{% endblock %}

{% block content %}

<div id="featured-small"></div>

<div id="main-text-wide">

<p class="introduction">Buying Chinese tea is easy - we've got red, green and scented teas to suit your taste, so sit back and imagine that beautiful aroma tickling your senses! </p>



{% include "shop/snippets/products.html" %}









</div>
{% endblock %}
