{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block metadescription %}We sell three types of Chinese tea - Iron Buddha (green, oolong), The Big Red (red, oolong) and Jasmine Pearls (green, scented). Each has been specially selected for its unique taste and quality. Each can be delivered to your door in just a few days.{% endblock %}

{% block pagetitle %}choose your Chinese tea{% endblock %}

{% block extracss %}
<style type="text/css">

div#main-text-wide div#left, div#main-text-wide div#right {
  margin-top: 20px;	
}

div#bottom {
    border-top: 3px dotted #E1E1E1;
    float: left;
    margin-top: 20px;
    padding: 30px 0 30px 20px;
    width: 760px;
}

div.extra {
  margin: 10px 0 0 0px;
  float: left;
  width: 470px;	
}

div.extra h3 {
  margin-bottom: 0;	
  font-size: 16px;
}

div.extra ul {
  list-style-type: square;
  padding-left: 30px;
  padding-right: 30px;	
}

div.extra p {
  margin-top: 0;	
}

div#bottom div.right {
    border-left: 1px solid #E1E1E1;
    float: left;
    margin-left: 20px;
    padding: 30px 0 0 30px;
    width: 230px;
}

div#bottom div.right h3 {
  font-size: 15px;	
}

div#bottom div.right p {
  font-size: 13px;	
}

div#bottom div.right img.delivery {
  margin-bottom: 20px;	
}

p.subtitle {
  margin-bottom: 0px;	
}

div.more-info {
  float: left;
  width: 100px;	
}

span.more-info {
  color: #fff;
  font-size: 120px;
  font-weight: 600;
  letter-spacing: 0px;
  position: relative;
  top: 0px;
  left: 60px;	
}

div.tea-promo:hover span.more-info {
  color: #666;	
}

span.message {
  color: #333;
  font-size: 12px;
  letter-spacing: 0px;
  position: relative;
  left: 0px;
  float:right;
}

span.message img {
  position: relative;
  top: 2px;	
}

</style>
{% endblock %}

{% block content %}

<div id="featured-small"></div>

<div id="main-text-wide">



			<h2 class="fontface">Our teas</h2>
		<p class="subtitle">Fresh, authentic and traditionally made Chinese teas.</p>

<div id="right">

		
		<div class="info">
           	<h3 class="">Delivered fast to your door</h3>
           	<p>We offer fast and reliable delivery through Amazon - 
           	<a href="/postage-and-packaging/">find out more &raquo;</a>
           	</p> 
           	<img src="{% staticfile '/images/amazon.png' %}" style="margin: 5px 0;">
        </div>
           	
        <div class="info">   	
           	<h3 class="small"><img src="{% staticfile '/images/lock.gif' %}"> Safe and secure payment</h3>
           	<p>We accept all major credit and debit cards through Paypal</p>
           	<img src="{% staticfile '/images/cards.png' %}" style="margin: 0px 0;">
      	</div>
      	
      	<div class="info">
			<img class="delivery" src="{% staticfile '/images/free-delivery.png' %}">
		</div>
	</div>
		
	<div id="left">

	{% include "shop/snippets/products.html" %}
	
		<ul>
			<li>
				<h3><a href="/about/personal-tea-shopping/">Personal tea shopping &raquo;</a></h3>
				<p>Looking for something special? We're based in China, so we can find almost any Chinese tea for you.</p>
			</li>
			<li>
				<h3><a href="/learn/tea-basics/">A simple introduction to Chinese tea &raquo;</a></h3>
				<p>If you're new to Chinese tea, we've produced a simple guide to Chinese tea just for you.</p>
			</li>
			<li>
				<h3><a href="/about/our-teas/">Traditional, handmade, authentic teas &raquo;</a></h3>
				<p>All of our teas are premium quality, traditionally made Chinese teas. Find out what makes the difference between our teas and your average supermarket teabag. </p>
			</li>
		</ul>
	</div>
		
	

</div>



</div>
{% endblock %}
