{% load thumbnail %}
{% load django_static %}


			<h3>Who are we?</h3>
			<p>The Min River Tea Farm sells high quality Chinese teas, delivered direct to your door. This is our company blog, for updates about our products and the tea world in general.</p>


			<h3>We also like...</h3>
			{% for like in welikes %}
			  <div class="like{% if forloop.last %} last{% endif %}">
			  	<div class="image">
			  		{% thumbnail like.image "50x50" crop="center" as im %}
			  		<img src="{{ im.url }}">
			  		{% endthumbnail %}
			  	</div>
				<div class="text">
				  <a href="{{ like.url }}">{{ like.title }}</a>
			 	 <p class="description">{{ like.description }}</p>
			  	</div>
			  </div>
			{% endfor %}
