{% load thumbnail %}

  {% for thing in entries.object_list.all %}
  <div class="entry{% if forloop.last %} last{% endif %}">
    <h2>
  		<a alt="{{ thing.title }}" title="{{ thing.title }}" href="{% url blog_entry thing.slug %}">{{ thing.title }}</a>
  	</h2>
	<div class="image">
		{% thumbnail thing.promo_image "120x120" crop="center" as im %}
		<img src="{{ im.url }}"/>
		{% endthumbnail %}
  	</div>
  	<div class="text">
  		
  		<p>{{ thing.summary|urlize }}</p>
  		<span class="entry-meta">{{ thing.date_added|date:"d M Y" }} | <span class="read-more"><a alt="read more link" title="Read more about {{ thing.title }}" href="{% url blog_entry thing.slug %}">READ FULL POST &raquo;</span></a></span>
  		</p>
	</div> 
  </div>
  {% endfor %}