{% load nav_selected %}

<html>
<head>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta content="en-gb" http-equiv="Content-Language" />
	<meta content="{% block metadescription %}{% endblock %}" name="description" />

	
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	
	<title>{% block pagetitle %}{% endblock %} | {{ site_url }}</title>
	<link rel="shortcut icon" href="{{ static_url }}images/favicon.ico" type="image/x-icon">
	
	<link rel="stylesheet" href="{{ static_url }}css/pure-grids-combo.0.5.0.css">
	<link rel="stylesheet" href="{{ static_url }}css/styles.css" />
	<link rel="stylesheet" href="{{ static_url }}css/admin.css" />

	    
	<script src="{{ static_url }}js/jquery-1.8.2.min.js"></script>

	{% block extracss %}{% endblock %}
	

</head>



<body>	 
 	 	
<div id="header">
	<div class="sp">
        <div id="navigation">
            <ul id="nav">
                <li><a class="{% nav_selected request '^/admin-stuff/$' %}" href="{% url admin_home %}">Admin Home</a></li>
                <li><a class="{% nav_selected request '^/admin-stuff/orders/' %}" href="{% url admin_orders %}">Orders</a></li>
                <li><a class="{% nav_selected request '^/admin-stuff/stats/' %}" href="{% url admin_stats %}">Stats</a></li>
                <li><a class="{% nav_selected request '^/admin-stuff/stocks/' %}" href="{% url admin_stocks %}">Stocks</a></li>
            </ul>
        </div>
        
        <div class="hr pure-u-1"></div>
        
	</div>
</div>
<!-- end header -->

<div id="mtw">
  <div class="sp">
	{% block content %}{% endblock %}
  </div>
</div>

{% block extrajs %}{% endblock %}

</body>

</html>
