{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block pagetitle %}Chinese tea delivered to your door in the UK{% endblock %}

{% block metadescription %}We sell great quality Chinese tea and deliver it to your home in the UK. Our oolong and green teas are organic, sourced directly from farms in China, and hand-picked. {% endblock %}


{% block extracss %}
<style type="text/css">

body {
  background-color: #fff;	
}

div#header {
  background-color: #fff;
  border: none;	
  padding-top: 0;
  display: none;
}

div#footer {
  display: none;
}

.button {
  float: none;	
}

.social {
    float: left;
    list-style-type: none;
    margin: 20px 0 0;
    padding-left: 350px;
    width: 700px;
}

.social .twitter {
  float: left;
  width: 90px;	
}

.gplus { 	
	float: left;
}

.facebook {
  float: left;
  width: 90px;
}

div#feature {
    height: 670px;
    float: left;
    width: 100%;
    background: url("{% staticfile '/images/nomonkeys.jpg' %}") no-repeat #fff;
    background-position: 150px 100px;
    margin: 0px 0 0;
    padding-bottom: 0px;
}

div#feature div.top {
    float: left;
    margin: 20px 0 0;
}

div#feature div.top h1 {
    color: #FF6569;
    font-size: 50px;
    font-weight: normal;
    margin: 20px 0 10px;
    text-align: right;
    width: 960px;
}

#feature .top h1 span {
  color: #FF6569;	
}

div#feature div.top p {
  text-align: left;
  margin: 40px 0 0;	
  float: right;
  padding: 0 0 0 0px;
  color: #333;
  font-size: 20px;
  text-align: right;
  width: 350px;
}

div#feature div.top p strong {
  font-size: 22px;	
}

#feature a.link {
  font-size: 45px;	
}



</style>
{% endblock %}

{% block content %}
  </div>
</div>

<div id="feature">
  <div class="super">
  
  <div class="social">
			<div class="twitter">
				<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.minrivertea.com/nomonkeys" data-count="horizontal" data-via="minrivertea">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
			</div>
			
			<div class="facebook">
				<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=261736307186739&amp;xfbml=1"></script><fb:like href="http://www.facebook.com/minrivertea" send="false" layout="button_count" width="80" show_faces="false" font=""></fb:like>
			</div>
			<div class="gplus">				
				<!-- Place this tag where you want the +1 button to render -->
				<g:plusone size="medium"></g:plusone>
				<!-- Place this render call where appropriate -->
				<script type="text/javascript">
				  (function() {
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = 'https://apis.google.com/js/plusone.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>
			</div>
	</div>
  
	<div class="top">
		<h1><span>No monkeys were used in the picking of your tea</h1>
		
		<p><strong>But don't let that ruin your cuppa.</strong><br/>See, sometimes tea companies would have you believe that  Chinese tea is only good if it's picked by monkeys, costs more than gold, or is grown in panda dung (seriously, <a href="">check this out</a>). <br/><br/>We're not like that. We sell real tea, made by real people, for real people. Natural and traditionally-made Chinese teas, direct from China, with no added nonsense.<br/><br/>
		<a class="link" href="http://www.minrivertea.com">minrivertea.com &raquo;</a>
		</p>
		
	</div>
	
  </div>
</div>



</div>





{% endblock %}
