<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}Min River Tea{% endblock %}</title>
{% block css %}
{% block extracss %}
{% endblock %}
{% endblock %}
</head>
<body>



<div id="main">
{% block main %}
{% endblock %}
</div>  


<br/>
<br/><br/><br/>
<div id="footer">
	{#Date: {% now "jS F Y H:i" %}<br /> #}
&copy; {% if THIS_FOOTER_YEAR %}{{ THIS_FOOTER_YEAR }}{% else %}{% now "Y" %}{% endif %} {% if SITE_NAME %}{{ SITE_NAME }}{% else %}Minrivertea.com{% endif %}
</div>

</body>
</html>
