
         	
         	<table id="orders-table">
         		<thead>
         			<tr>
         			<td>Order ID</td>
         			<td>Owner</td>
         			<td>Items</td>
         			<td>Value</td>
         			<td>Status</td>
         			<td>Postage</td>
         			</tr>
         		</thead>
            	{% for x in orders %}
            	   {% with x.order as order %}
            	   {% include 'my_admin/snippets/table_row.html' %}
            	   {% endwith %}
            	{% endfor %}
            	</table>
