
<tr id="{{ order.id }}" class="{% cycle '' 'white' %} {% ifequal order.status 'paid' %}new{% endifequal %}">
	<td class="id" valign="top">
		<a href="{% url admin_order order.id %}">{{ order }}</a><br/>
		<span style="font-weight: normal">{{ order.date_paid|date:"d M y" }}</span>
		{% if order.wishlist_payee %}
		<br/><br/>
		<span style="text-transform: uppercase;font-size: 10px; color: red;">WISHLIST PAID BY:</span><br/>
		<span style="font-weight:normal;color:red; font-size: 10px;">{{ order.wishlist_payee }}</span>
		{% endif %}
	</td>
	<td class="owner" valign="top">
		<a href="{% url admin_shopper order.owner.id %}">{{ order.owner }}</a><br/>
		{% with order.address as address %}
		{% include 'shop/snippets/address.html' %}
		{% endwith %}
		{% if x.repeat_order %}
		      <br/><span class="red"><strong>
		      {% if x.repeat_order_first %}
		          First in a repeat order
		      {% else %}
		          {% if x.repeat_order_last %}
		              Last in a repeat order
		          {% else %}
		              Part of a repeat order
		          {% endif %}
		      {% endif %}
		      {% if x.shipping_due_date %}
		      due on {{ x.shipping_due_date|date:"d M Y" }}
		      {% endif %}
		      </strong></span>
		{% endif %}
	</td>
	<td class="items" valign="top">
		<ul>
		{% for item in x.get_items %}
			<li>   
			   <a href="{% url admin_product item.unique_product.parent_product.id %}">{{ item.unique_product }}</a>
			 </li>
		{% endfor %}
		</ul>
		{% if x.is_preorder %}
            <span class="red"><strong>This is a preorder.</strong></span>
        {% endif %}
	</td>
	<td class="value" valign="top">
			{{ order.get_amount|floatformat:"2" }} {{ order.get_currency.code }}
	</td>
	<td class="trans" width="180px" valign="top">
		{% if x.postage_cost == None %}
			<form id="postage_{{ order.id }}" action="{% url update_package x.id %}" method="post">
				<label>Postage cost?</label><input type="text" name="postage_cost" id="id_postage_cost"/>
                <select type="hidden" name="currency" id="id_currency">
                    <option>GBP</option>
                    <option>USD</option>
                    <option>EUR</option>
                    <option>RMB</option>
                </select>
				<input type="submit" style="float: right; margin-right: 20px;" value="Save" class="button"/>
			</form>
		{% else %}
		    {{ x.postage_cost }} {{ x.postage_currency.code }}
		{% endif %}
	</td>
	<td valign="top">
	     {% if order.get_paypal_ipn %}
	     {{ order.get_paypal_ipn.mc_fee }} {{ order.get_currency.code }}
	     {% endif %}
	</td>
	<td class="status" valign="top">
		<strong>{{ order.status }}</strong><br/>
		{% if order.status == 'shipped' %}
		  {% if order.review_email_sent %}
		     review email sent
		  {% else %}
		    {% if order.ready_to_send_review %}
			     <a href="{% url send_review_email order.id %}">Send review email</a>
			    {% endif %}
		  {% endif %}
		{% endif %}
		<br/>
		{% if order.sampler_email_sent %}
			{% if order.sampler_sent %}
			sampler sent
			{% else %}
			sampler email sent
			{% endif %}
		{% else %}
		  {% if order.ready_to_send_sampler_email %}
			<a href="{% url send_sampler_email order.id %}">Send sampler email</a>
		  {% endif %}
		{% endif %}
	</td>
</tr>

