{% extends base_template %}
{% load i18n %}

{% block title %}There was a problem posting your comment{% endblock %}

{% block content %}
<div id="mtw">
  <div class="sp">
  
      <h1>There was a problem posting your comment</h1>

   <div id="left">
  
  {% load comments %}
  <form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}

    {% for field in form %}
      {% if field.is_hidden %}
        <div>{{ field }}</div>
      {% else %}
        {% if field.errors %}{{ field.errors }}{% endif %}
        <p
          {% if field.errors %} class="error"{% endif %}
          {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
          {{ field.label_tag }} {{ field }}
        </p>
      {% endif %}
    {% endfor %}
    <p class="submit">
    <input type="submit" name="submit" class="button" value="{% trans "Post" %}" />
    </p>
  </form>
</div>
</div>
{% endblock %}
