{% ifequal request.path "/learn/tea-basics/" %}Learn the essential knowledge about Chinese tea, including where it comes from, how to brew it, and how it is made.{% endifequal %}

{% if "/tea-basics/what-is-chinese-tea/" in request.path %}All tea is made from the Cameilia Sinises plant - Chinese tea is any tea grown and processed in the traditional Chinese way. Find out more here.{% endif %}

{% if "/tea-basics/how-is-chinese-tea-made/" in request.path %}Chinese tea is made according to traditional and ancient methods - read our short guide and photo gallery about how Chinese tea is made.{% endif %}

{% if "/tea-basics/faqs/" in request.path %}FAQs about Chinese tea drinking, buying, preparation and varieties.{% endif %}

{% ifequal request.path "/learn/brewing-chinese-tea/" %}Short and simple guides and photos of how to brew Chinese teas, including oolong tie guan yin, da hong pao and jasmine tea.{% endifequal %}

{% if "/brewing-chinese-tea/green-tea/" in request.path %}How to brew Chinese green teas, including tie guan yin, oolong, and jasmine scented teas.{% endif %}

{% if "/brewing-chinese-tea/red-tea/" in request.path %}How to brew Chinese red teas, including da hong pao, and dark oolong teas.{% endif %}

{% ifequal request.path "/learn/where-our-tea-comes-from/" %}Maps and information about where our oolong tie guan yin, da hong pao and jasmine teas are grown and produced in the Fujian Province.{% endifequal %}

{% if "/where-our-tea-comes-from/iron-buddha/" in request.path %}A short and simple guide to where our oolong Iron Buddha (tie guan yin) tea is grown and made in Anxi County, China.{% endif %}

{% if "/where-our-tea-comes-from/da-hong-pao/" in request.path %}A short and simple guide to where our oolong The Big Red (Da Hong Pao) tea is grown and made in Wuyi Mountain, China.{% endif %}

{% if "/where-our-tea-comes-from/jasmine-pearls/" in request.path %}A short and simple guide to where our scented Jasmine Pearls (mo li hua long zhu) tea is grown and made in Fuzhou, China.{% endif %}

{% if "/weights-and-sizes/" in request.path %}A simple guide to tea weights and sizes, and how much tea you need to brew the perfect cup of Chinese tea.{% endif %}

{% if "/varieties-of-tea/" in request.path %}A short and simple guide to the different varieties of Chinese tea, including oolong, yan cha, scented, green and red teas.{% endif %}