{% load thumbnail %}
{% load django_static %}

		
		<div class="about-box">	
			<p class="quote"><em>&ldquo;My eyes are well and truly opened. The Iron Buddha tea you've sent me is something quite different from Chinese teas I've drunk in the past.&rdquo;</em><br/><span class="review">Brad Robinson, UK</span></p>

		</div>
		
		<div class="about-box">
		  <div class="social">
		  	<h3>Keep in touch</h3>
		    <p>Check out our tea photos on Flickr, or keep in touch on Twitter:</p>
			<a href="http://www.flickr.com/photos/62180582@N04/" title="See lots of our beautiful tea related photos on Flickr.com"><img src="{% staticfile '/images/flickr.png' %}"></a>
			<a href="http://twitter.com/minrivertea" title="Chat with us about tea on Twitter"><img src="{% staticfile '/images/twitter.png' %}"></a>
	      </div>
		</div>
		

		
	