{% extends "base.html" %}
{% load django_static %}

{% block pagetitle %}{{ flatpage.title }}{% endblock %}

{% block banner %}
	    	<div id="home-banner">
	    	<h2 class="logo-assist">{{ flatpage.title }}</h2>
	    	<p class="normal">{% block subtitle %}{% endblock %}</p>
			</div>
{% endblock %}

{% block extracss %}
<style type="text/css">

div.tea {
  float: left;
  width: 220px;	
  margin-bottom: 15px;
}

div.tea div.tea-image {
  float: left;
  margin-right: 10px;	
}

div.tea div.tea-image img {
  border-radius: 5px;	
  margin-bottom: 0px;
}

div.tea div.tea-text {
  float: left;
  width: 130px;
  font-size: 13px;
  color:#666;
}

</style>
{% endblock %}

{% block content %}

<div id="featured-small"></div>

<div id="main-text-wide">

	{% block bannerimage %}{% endblock %}

	<div class="flatpage">

	<div id="right">
		
  		{% block right %}
  			{% include 'flatpages/about_right.html' %}
  		{% endblock %}
  		
	</div>

	<div id="left">
		{{ flatpage.content }}		
	</div>
	
</div>






</div>
{% endblock %}
