{% load nav_selected %}


<ul id="right-nav">
  <li><a class="{% nav_selected request '/learn/tea-basics/' %}" href="/learn/tea-basics/">Tea basics</a>
    {% if "tea-basics" in request.path %}
	<ul class="subnav">
   	  <li><a class="{% nav_selected request '/learn/tea-basics/what-is-chinese-tea/' %}" href="/learn/tea-basics/what-is-chinese-tea/">
  		What is Chinese tea?</a>
  	  </li>
  	  <li><a class="{% nav_selected request '/learn/tea-basics/how-is-tea-made/' %}" href="/learn/tea-basics/how-is-tea-made/">
  		How is tea made?</a>
  	  </li>
  	  <li><a class="{% nav_selected request '/learn/tea-basics/faqs/' %} last" href="/learn/tea-basics/faqs/">
  		FAQs</a>
  	  </li>
  	</ul>
	{% endif %}
  </li>		  
  <li><a class="{% nav_selected request '/learn/brewing-tea/' %}" href="/learn/how-to-brew-chinese-tea/">How to brew tea</a>
    {% if "how-to-brew-chinese-tea" in request.path %}
      <ul class="subnav">
   	    <li><a class="{% nav_selected request '/learn/how-to-brew-chinese-tea/green-tea/' %}" href="/learn/how-to-brew-chinese-tea/green-tea/">
  		  Green tea</a>
  	    </li>
  	    <li><a class="{% nav_selected request '/learn/how-to-brew-chinese-tea/red-tea/' %} last" href="/learn/how-to-brew-chinese-tea/red-tea/">
  		  Red tea</a>
  	    </li>
  	  </ul>
    {% endif %}
  </li>
  <li><a class="{% nav_selected request '/learn/where-our-tea-comes-from/' %}" href="/learn/where-our-tea-comes-from/">Where our tea comes from</a>
    {% if "where-our-tea-comes-from" in request.path %}
      <ul class="subnav">
   	    <li><a class="{% nav_selected request '/learn/where-our-tea-comes-from/iron-buddha/' %}" href="/learn/where-our-tea-comes-from/iron-buddha/">
  		  Iron Buddha</a>
  	    </li>
  	    <li><a class="{% nav_selected request '/learn/where-our-tea-comes-from/the-big-red/' %} last" href="/learn/where-our-tea-comes-from/the-big-red/">
  		  The Big Red</a>
  	    </li>
  	    <li><a class="{% nav_selected request '/learn/where-our-tea-comes-from/jasmine-pearls/' %} last" href="/learn/where-our-tea-comes-from/jamsine-pearls/">
  		  Jasmine Pearls</a>
  	    </li>
  	  </ul>
    {% endif %}
  
  
  </li>
  <li><a class="{% nav_selected request '/learn/weights-and-sizes/' %}" href="/learn/weights-and-sizes/">Weights and sizes</a></li>
  <li><a class="{% nav_selected request '/learn/varieties-of-tea/' %}" href="/learn/varieties-of-tea/">Varieties of tea</a></li>
</ul>
