{% extends "base.html" %}

{% block pagetitle %}{{ flatpage.title }}{% endblock %}

{% block banner %}
	    	<div id="home-banner">
	    	<h2 class="logo-assist">{{ flatpage.title }}</h2>
			</div>
{% endblock %}

{% block extracss %}
<style type="text/css">
 #home-banner h2.logo-assist {

}

</style>
{% endblock %}

{% block content %}

<div id="featured-small"></div>

<div id="main-text-wide">


<div class="flatpage">

	<div id="right">
		<div class="about-box">
			<h3>Learn about tea</h3>
			<p>There's no big ceremony required. Let us make it easy for you:</p>
			<ul>
			{% include 'shop/snippets/learn_pages_list.html' %}
			</ul>
		</div>
	</div>
	
	<div id="left">
	{{ flatpage.content }}
	</div>
</div>






</div>
{% endblock %}
