{% extends base_template %}
{% load thumbnail %}
{% load django_static %}

{% block metadescription %}{% if tea.meta_description %}{{ tea.meta_description|safe }}{% else %}{{ tea.name }} - {{ tea.description|safe }}{% endif %}{% endblock %}
{% block pagetitle %}{% if not tea.meta_title %}{{ tea.name }}{% else %}{{ tea.meta_title }}{% endif %}{% endblock %}

{% block extrajs %}
<script>
$(function() {

$(".scrollable").scrollable();

$(".items img").click(function() {

	if ($(this).hasClass("active")) { return; }
	var url = $(this).attr("alt");
	var wrap = $("#image_wrap").fadeTo("medium", 0.2);

	var img = new Image();
    
	img.onload = function() {
		wrap.fadeTo("fast", 1);
		wrap.find("img").attr("src", url);	
	};

	img.src = url;

	$(".items img").removeClass("active");
	$(this).addClass("active");

}).filter(":first").click();
});


function notifyFormSubmit() {
	$('#notify-form').submit( function() {
		$('#coming-soon').css('opacity', '0.5');
    	$.ajax({  
        	type: "POST",  
        	data: $('#notify-form').serialize(),  
        	url: "{% url tea_view tea.slug %}",  
        	cache: false,  
        	dataType: "html",  
        	success: function(html, textStatus) {  
        	    $('#coming-soon').html(html);
        	    $('#coming-soon').css('opacity', '1'); 
        	},   
        });  
        return false;
	});
}

function addToBasket(idx) {
   $('a#add_to_basket_' + idx).click( function() {
   	  $('#price_' + idx).css('opacity', '0.5');
   	  $('#price_' + idx + ' .message').replaceWith('<div class="message"></div>').toggle();
   	  $('#price_' + idx + ' div.message').fadeIn(200);
   	  $.ajax({
   	      url: '/basket/add/' + idx,
   	      type: "GET",
   	      data: "xhr=true&id=" + idx,
   	      dataType: 'json',
   	      success: function(data){
    		$("#basket-number").replaceWith('<span id="basket-number">(' + data.quantity + ')</span>');
    		$('.description').css('opacity', '0.4').delay(3900).queue(function() {$(this).css('opacity', '1')});
            $('#price_' + idx + ' .message').append(data.item).delay(3800).fadeOut(1200);
            $('#price_' + idx).css('opacity', '1');
  		  }
   	  })
   	  return false;
   });	
}

$(document).ready( function() {
    {% for price in prices %}
    addToBasket({{ price.id }});
    {% endfor %}
    notifyFormSubmit();
});


</script>
{% endblock %}

{% block extracss %}
<style type="text/css">

#mtw #left {
  background: #fff;
  border: 10px solid #E1ECF3;
  padding: 55px 15px 15px;
  width: 910px;
  position: relative;   
}

#mtw #left h2 {
  background: #E1ECF3;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 930px; 
  font-family: Helvetica, Arial, sans-serif;  
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -1px;
}

h1 {
  font-size: 40px;	
  margin-bottom: 10px;
}

h1 span {
  font-size: 30px;
  color: #999;
  margin-left: 10px;	
}

div.product-photos-small {
    float: left;
    margin: 0px 0 0px 15px;
    text-align: right;
    width: 60px;
}

.tea-top .left {
  float: left;
  width: 500px;
  margin-right: 30px;	
  height: auto;
}

.tea-top div.main-image div.product-photos-small img {
    float: left;
    margin: 0 0px 10px 0;
    opacity: 0.6;
}

.tea-top div.main-image div.product-photos-small img:last-child {
  margin-right: 0;	
}

.tea-top div.main-image div.product-photos-small img:hover {
  cursor: pointer;
  opacity: 0.8;	
  box-shadow: 0 1px 3px #999;
}

.tea-top div.main-image div.product-photos-small img.active {
  opacity: 1;	
}

div.product-photos-small p {
    float: left;
    font-size: 13px;
    line-height: 1.3em;
    margin-top: 20px;
    text-align: right;
    width: 100px;
}

.tea-top {
    float: left;
    margin: 10px 0 30px;
    padding-bottom: 10px;
}

.tea-top .description {
  width: 360px;
  float: right;	
}

.tea-top div.description p {
  font-size: 20px;
  color: #333;	
  margin: 0 0 10px 0;
  text-shadow: 2px 2px 0 #fff;
}

.tea-top div.description p.small {
  font-size: 16px;	
}

.tea-top div.main-image {
    float: left;
    margin-right: 20px;
    padding: 0px 10px 10px 0;
    width: 600px;
}

.tea-top div#prices {
    float: right;
    width: 360px;
    margin: 15px 0 0;
}

.tea-top div#prices div.price {
    float: left;
    margin: 0;
    position: relative;
}

.tea-top a.button {
    float: right;
    font-size: 18px;
    margin: 0;
    position: relative;
    width: 140px;
    top: -5px;
    padding: 11px 20px 9px;
}



.tea-top div.tea-description {
  float: left;
  width: 330px;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.price-text {
    color: #EE6464;
    float: left;
    font-size: 28px;
    font-weight: bold;
    height: 23px;
    letter-spacing: -1px;
    margin: 0;
    position: relative;
    top: -4px;
    width: 200px;
}

div.message {
    background-color: #FFFFFF;
    border: 1px solid #C1C1C1;
    border-radius: 5px 5px 5px 5px;
    display: none;
    height: auto;
    padding: 15px;
    position: absolute;
    right: 0;
    top: -135px;
    width: 260px;
    z-index: 10;
}

div.message:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 15px solid #d1d1d1;         
        border-bottom: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        bottom: -15px;
        right: 25px;
        z-index: 1;
        margin-left: ;
}

.message:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 15px solid #fff;     
        border-bottom: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        position: absolute;
        bottom: -14px;
        right: 25px;
        z-index: 2;
        margin-left: -1px;
}

div.message p {
  margin: 0;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2em;
  color:  ;	
}

div.message p a {
  font-size: 20px;
  line-height: 1em;	
  color: #f37679;
  font-family: Helvetica, Arial, sans-serif;
}

div.message p a:hover {
  text-decoration: underline;	
}

div.message img {
  float: left;
  margin-right: 5px;
  margin-bottom: 15px;	
}

table.details {
    margin-top: 10px;
}

table.details tr {
  padding-bottom: 10px;	
}

table.details td {
  padding: 15px;	
  background-color: #fff;
}

table.details td a {
  font-size: 12px;	
}

table.details td.left {
  padding-right: 10px;
  background-color: #E1ECF3;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

ul.reviews {
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 0;
    margin-bottom: 20px;
}

ul.reviews li {
    margin-bottom: 20px;
    padding-bottom: 15px;
}

ul.reviews li span {
  color: #BE373A;	
}

h3.small {
  font-size: 15px;	
}

p.price {
    color: #237A2A;
    float: left;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 1em;
    margin: 0 0 10px 0;
    position: relative;
    text-shadow: 1px 1px 0 #FFFFFF;
}

p.price span.grey {
  color: #555;
  font-weight: bold;
  font-size: 20px;
  text-shadow: none;
}

p.price-description {
    color: #333333;
    float: left;
    font-size: 12px;
    line-height: 1.2em;
    margin: 0 0 0 5px;
    width: 90px;
    position: relative;
}


div.fb-recommend {
  margin-top: 20px;
  float: left;	
}

#coming-soon {
    float: left;
    height: 85px;
    width: 400px;
}

#coming-soon p {
  font-size: 12px;
  margin: 0 0 10px 0;
}

#coming-soon p.message {
    color: #333;
    font-size: 20px;
}

#coming-soon p.message strong {
  color: #F37679;	
}

#coming-soon span {
  font-size: 22px;
  color: #EE6464;
}

#coming-soon span.green {
  color: #1C7600;
  line-height: 1.6em;
  font-size: 20px;
}

#coming-soon input {
  float: left;
  width: 250px;	
}

#coming-soon input.button {
    font-weight: bold;
    font-size: 15px;
    height: 41px;
    padding: 7px;
    width: 110px;
    position: relative;
    left: -3px;
    border-left: none;
    border-radius: 0 4px 4px 0;
}

#coming-soon input.button:hover {
  cursor: pointer;	
  background-color: #359318; 
}

#facebook, #google {
  float: left;
  width: 80px;
}

#google {
  margin-bottom: 10px;
}

#price-helper {
    float: right;
    height: 25px;
    margin: 15px 0px 0 0px;
    text-align: right;
    font-family: Helvetica,Arial,sans-serif;
    color: #333;
    font-size: 13px;
}

#price-helper a {
  font-size: 13px;	
  font-weight: bold;
}

#price-helper .not-in-stock {
  font-size: 16px;
  color: #FF6569;	
}

.loading {
    left: 240px;
    position: absolute;
    top: 160px;
    z-index: -1;
}

#extras {
  width: 100%;
  float:left;
  margin-bottom: 30px;   
}

#extras .info {
  margin: 0 15px 20px 0;   
  height: 235px;
  width: 225px;
  background: #fff;
  border: 10px solid #E1ECF3;
}

#extras .info.long {
  width: 515px; 
  overflow: hidden;  
}

#extras .info.trans, #extras .info.map {
  margin: 0 0px 19px 0;
  padding: 0px;   
  width: auto;
  height: 265px;
  border-color: #fff;
}

#extras .info.trans:hover, #extras .info.map:hover {
  box-shadow: 0 1px 3px #e1e1e1;   
}

#extras .info.trans:hover h3 a, #extras .info.map:hover h3 a {
  text-decoration: underline;
  color: #FF6569;   
}

#extras .info.map {
  margin: 0 15px 20px 0; 
  width: 255px;  
}

#extras .info h3 {
  position: absolute;
  bottom: -5px;
  left: 0px;  
  width: 235px;
  padding: 10px 10px 0px 20px;
  background: #E1ECF3; 
  text-align: right;
  color: #6a9bba;
}

#extras .info.trans h3 {
   width: 340px; 
   background: #fff;  
}

#extras .info.map h3 {
  background-color: #fff;   
}

#extras .info.long h3 {
   width: 520px;   
}

#image_wrap {
    display: block;
    height: 331px;
    width: 500px;
    float: left;
}   



</style>
{% endblock %}

{% block content %}



<div id="mtw">
  <div class="sp">
	
	<h1>{% if tea.long_name %}{{ tea.long_name|safe }}{% else %}{{ tea.name }}{% endif %}</h1>

	<div class="tea-top">
		<div class="left">
		<div class="main-image">
			<img class="loading" src="{% staticfile '/images/loading.gif' %}"/>
			<div id="image_wrap">	
				<img src="http://static.flowplayer.org/tools/img/blank.gif" width="500x331" height="auto" /> 
			</div>
		
		    <div class="product-photos-small">
			<div class="scrollable">   
			   <div class="items">
  			    <div>
  			        {% thumbnail tea.image "50x50" crop="center" as im %}
  			    		{% thumbnail tea.image "500x331" crop="center" as im_large %}
						<img class="product-small" alt="{{ im_large.url }}" title="{{ tea.description }}" src="{{ im.url }}"/></a>
						{% endthumbnail %}
					{% endthumbnail %}
					
					{% if tea.image_2 %}
  			    	{% thumbnail tea.image_2 "50x50" crop="center" as im %}
  			    		{% thumbnail tea.image_2 "500x331" crop="center" as im_large %}
						<img class="product-small" alt="{{ im_large.url }}" title="{{ tea.image_2_caption }}" src="{{ im.url }}"/></a>
						{% endthumbnail %}
					{% endthumbnail %}
					{% endif %}
					
					{% if tea.image_3 %}
					{% thumbnail tea.image_3 "50x50" crop="center" as im %}
  			    		{% thumbnail tea.image_3 "500x331" crop="center" as im_large %}
						<img class="product-small" alt="{{ im_large.url }}" title="{{ tea.image_3_caption }}" src="{{ im.url }}"/></a>
						{% endthumbnail %}
					{% endthumbnail %}
					{% endif %}
					
					{% if tea.image_4 %}
					{% thumbnail tea.image_4 "50x50" crop="center" as im %}
  			    		{% thumbnail tea.image_4 "500x331" crop="center" as im_large %}
						<img class="product-small" alt="{{ im_large.url }}" title="{{ tea.image_4_caption }}" src="{{ im.url }}"/></a>
						{% endthumbnail %}
					{% endthumbnail %}
					{% endif %}
					
					{% if tea.image_5 %}
					{% thumbnail tea.image_5 "50x50" crop="center" as im %}
  			    		{% thumbnail tea.image_5 "500x331" crop="center" as im_large %}
						<img class="product-small" alt="{{ im_large.url }}" title="{{ tea.image_5_caption }}" src="{{ im.url }}"/></a>
						{% endthumbnail %}
					{% endthumbnail %}
					{% endif %}
      			</div>
      		  </div>
      		</div>
		</div><!-- end product photos small -->
		</div><!-- end main image div -->
		</div>
		
		<div class="description">{{ tea.body_text|safe }}</div>
		
		<div id="prices">
	 	{% if tea.is_active %}
			{% for price in prices %}
		      <div id="price_{{ price.id }}" class="price">
		      	<div class="message"></div>
		    	<p class="price">{{ currency.symbol }}{{ price.price|floatformat }}</p> 
		    	<p class="price-description">{{ price.description }}</p>
				<a title="Add 1x {{ tea.name }} ({{ price.weight|floatformat }}{{ price.weight_unit }}) to your basket" href="{% url add_to_basket price.id %}" class="button green" id="add_to_basket_{{ price.id }}">Add to basket +</a>
              </div>
           	{% endfor %}

		  <div id="price-helper">        
           		 <strong>{{ currency.symbol }}{{ currency.postage_cost }} shipping per order, FREE over {{ currency.symbol }}{{ currency.postage_discount_threshold }}</strong><br/>
			     <a href="/shipping-china/">Find out more about shipping &raquo;</a>
		  </div>
		  
		{% else %}
		  <div id="price-helper">        
        	<span class="not-in-stock">This tea is not currently available for sale. Sorry!</span>
		  </div>	
		{% endif %}
		
		</div>
		

	</div><!-- end top product info div -->
	
	<div id="extras">
	   {% if tea.extra_info %}
	      <div class="info">
		      {{ tea.extra_info|safe }}
		  </div>
	   {% endif %}
		
	   {% if tea.map_image %}
	   <div class="info map">  
	      <a href="{{ tea.map_page.get_absolute_url }}"><span class="link"></span></a>
	      {% thumbnail tea.map_image "255x237" crop="center" as im %}
	          <img src="{{ im.url }}"/>
	      {% endthumbnail %}
	      <h3><a href="{{ tea.map_page.get_absolute_url }}">Where is {{ tea.name }} grown?</a></h3>
	   </div>
	   {% else %}
	   <div class="info">
	       <h3>Shipping in China</h3>
		  <p><strong>We ship everywhere in China.</strong> All orders are shipped using Express Delivery services for a flat fee of {{ currency.symbol }}{{ currency.postage_cost }} regardless of how many items you order. If you order more than {{ currency.symbol }}{{ currency.postage_discount_threshold }} then it's free!</p>
	   </div>
	   {% endif %}
		  		
		{% for t in tea.recommended.all %}
		 {% if forloop.counter == 1 %}
		  <div class="info trans">
		      <a href="{% url tea_view t.slug %}"><span class="link"></span></a>
		      {% thumbnail t.image "360x260" crop="center" as im %}
		      <img src="{{ im.url }}"/>
		      {% endthumbnail %}
		      <h3><a href="{% url tea_view t.slug %}">{{ t.name }} &raquo;</a></h3>
		  </div>
		  {% endif %}
		{% endfor %}

        {% if review %}
    	   <div class="info long">
		  <p>"{{ review.short_text }}"<br/><strong>{{ review.first_name }} {{ review.last_name }}</strong><br/><a href="/reviews/">Read more customer reviews &raquo;</a></p>
	   	   <h3>Our customers say...</h3>
		   </div>
        {% endif %}

		{% for t in tea.recommended.all %}
		 {% if forloop.counter == 2 %}
		  <div class="info trans">
		      <a href="{% url tea_view t.slug %}"><span class="link"></span></a>
		      {% thumbnail t.image "360x260" crop="center" as im %}
		      <img src="{{ im.url }}"/>
		      {% endthumbnail %}
		      <h3><a href="{% url tea_view t.slug %}">{{ t.name }} &raquo;</a></h3>
		  </div>
		  {% endif %}
		{% endfor %}
	</div>
		   	   {{ tea.long_description|safe }}
	
			  


</div>
</div>
{% endblock %}
